Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:examples, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:examples: any of: examples/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(codeowners): replace @flux423 with @bluefly
  CODEOWNERS
Due: none

feat(ci): add automated documentation generation
  .gitlab-ci.yml
  .gitlab/ci/docs-generation.yml
Due: validate:ossa:security

fix: remove non-existent version:examples from prebuild
  package.json
Due: none

feat: add version:examples script to sync example apiVersions
  package.json
  scripts/version-examples.ts
Due: none

feat: complete release automation for solo developer
  .gitlab-ci.yml
  .gitlab/ci/auto-release.yml
Due: validate:ossa:security

chore: bump version to 0.3.0
  package-lock.json
  package.json
Due: none

fix: simplify CODEOWNERS to solo developer
  CODEOWNERS
Due: none

feat(schema): unified agent platform - OSSA + Duo + A2A + MCP
  .gitlab/ci/validate-no-hardcoded-models.yml
  CODEOWNERS
  IMPLEMENTATION-SUMMARY.md
  QUICK-REFERENCE.md
  docs/UNIFIED-AGENT-PLATFORM.md
  examples/unified/security-scanner.ossa.yaml
  scripts/generate-agent.sh
  scripts/migrate-to-unified-llm.sh
  spec/v0.3.0/UNIFIED-SCHEMA.md
  spec/v0.3.0/schemas/agent-unified.yaml
  spec/v0.3.0/schemas/capabilities.yaml
  spec/v0.3.0/schemas/functions.yaml
  spec/v0.3.0/schemas/runtime.yaml
  spec/v0.3.0/schemas/unified-llm.yaml
Due: docs:sync:agent, drupal:sync:agent, validate:examples, validate:ossa:security

chore(ci): automate OSSA spec, version, and wiki sync
  .gitlab-ci.yml
  .gitlab/AUTOMATION-QUICKREF.md
  .gitlab/ci/scheduled-sync.yml
  .gitlab/ci/webhook-sync.yml
  AUTOMATION-SUMMARY.md
  AUTOMATION.md
  SETUP-INSTRUCTIONS.md
  scripts/review-app.sh
  scripts/setup-automation.sh
  website/package-lock.json
  wiki/Local-Development.md
Due: validate:ossa:security

feat(blog): add unified task schema whitepaper
  website/components/Logo.tsx
  website/content/blog/2025-12-07-unified-task-schema-whitepaper.md
  website/lib/version.ts
  website/lib/versions.json
  website/public/examples.json
Due: none

feat(testing): add Playwright E2E and visual regression testing
  .gitignore
  .gitlab-ci-playwright.yml
  .gitlab-ci-visual.yml
  package-lock.json
  package.json
  playwright.config.ts
  tests/README.md
  tests/e2e/ecosystem-interactions.spec.ts
  tests/visual/ecosystem.spec.ts
  website/package.json
Due: validate:ossa:security

fix: simplify root CODEOWNERS to match .gitlab/CODEOWNERS
  CODEOWNERS
Due: none

feat(schema): add AgentTest schema
  .gitlab/CODEOWNERS
  docs/spec/v0.3.0/testing.md
  spec/v0.3.0/agent-test.schema.json
Due: docs:sync:agent, drupal:sync:agent

chore: version updates and Discord features
  website/app/specification/page.tsx
Due: none

fix: restore generate-examples-index.js and package-lock
  website/scripts/generate-examples-index.js
Due: none
