Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, validate:scripts-version, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:version-sync:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - npm ci --legacy-peer-deps
  - echo "Checking version consistency..."
  - npx tsx scripts/sync-versions.ts --check
  allow_failure: false

validate:scripts-version:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  before_script:
  - npm ci --legacy-peer-deps
  script:
  ...

validate:ossa:security:
  validate

update agents
  .gitlab-ci.yml
  .gitlab/agents/compliance-auditor/manifest.ossa.yaml
  .gitlab/agents/config-validator/manifest.ossa.yaml
  .gitlab/agents/cost-analyzer/manifest.ossa.yaml
  .gitlab/agents/db-migrator/manifest.ossa.yaml
  .gitlab/agents/monitoring-agent/manifest.ossa.yaml
  .gitlab/agents/performance-optimizer/manifest.ossa.yaml
  .gitlab/agents/rollback-coordinator/manifest.ossa.yaml
  .gitlab/agents/security-scanner/manifest.ossa.yaml
  .releaserc.json
Due: validate:ossa:security

update website
  website/app/design-guide/page.tsx
  website/app/docs/[[...slug]]/page.tsx
  website/app/page.tsx
  website/app/schema/page.tsx
  website/components/layout/Header.tsx
  website/content/blog/Why-Formal-Standards-Matter-Now.md
  website/content/blog/gitlab-kubernetes-agent-ecosystem.md
  website/content/blog/welcome-to-ossa.md
  website/styles/_variables.scss
  website/tailwind.config.ts
Due: none

fix: resolve 84 ESLint warnings for cleaner codebase
  src/cli/commands/export.command.ts
  src/cli/commands/import.command.ts
  src/cli/commands/validate.command.ts
  src/di-container.ts
  src/services/generation.service.ts
  src/services/migration.service.ts
  src/services/validation.service.ts
  src/services/validators/openai.validator.ts
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: validate:ossa:security

update validate
  .gitlab-ci.yml
  openapi/gitlab-orchestrator.openapi.yaml
  src/cli/commands/generate.command.ts
  src/services/migration.service.ts
  src/services/validation.service.ts
  src/services/validators/anthropic.validator.ts
  src/services/validators/autogen.validator.ts
  src/services/validators/crewai.validator.ts
  src/services/validators/cursor.validator.ts
  src/services/validators/langchain.validator.ts
  src/services/validators/langflow.validator.ts
  src/services/validators/langgraph.validator.ts
  src/services/validators/llamaindex.validator.ts
  src/services/validators/openai.validator.ts
  src/services/validators/vercel-ai.validator.ts
  website/AUDIT_REPORT.md
Due: validate:ossa:security

update validators
  scripts/schemas/package.schema.ts
  src/services/migration.service.ts
  src/services/validation.service.ts
  src/services/validators/anthropic.validator.ts
  src/services/validators/autogen.validator.ts
  src/services/validators/crewai.validator.ts
  src/services/validators/cursor.validator.ts
  src/services/validators/langchain.validator.ts
  src/services/validators/langflow.validator.ts
  src/services/validators/langgraph.validator.ts
  src/services/validators/llamaindex.validator.ts
  src/services/validators/openai.validator.ts
  src/services/validators/vercel-ai.validator.ts
Due: validate:scripts-version

clean package and files
  .gitlab-ci.yml
  .gitlab/agents/rollback-coordinator/manifest.ossa.yaml
  docs/OSSA-COMPLIANT-BADGE.md
  docs/README.md
  docs/VERSIONING.md
  docs/agent-openapi-spec.yml
  docs/getting-started.md
  docs/migration/general-agent-schema.yml
  docs/migration/migration-manifest.json
  docs/openapi-extensions.md
  package.json
  src/services/validation.service.ts
Due: validate:version-sync, validate:scripts-version, validate:ossa:security

Update wiki sync
  website/scripts/merge-docs-to-wiki.ts
  website/scripts/sync-wiki.ts
  website/scripts/upload-wiki.ts
Due: none

Fix syntax in wiki sync
  website/scripts/upload-wiki.ts
Due: none

fix: resolve DI container circular dependency and TypeScript errors
  .gitlab-ci.yml
  package.json
  src/cli/commands/init.command.ts
  src/cli/commands/migrate.command.ts
  src/cli/commands/schema.command.ts
  src/cli/commands/validate.command.ts
  src/services/generation.service.ts
  src/services/migration.service.ts
  src/services/validation.service.ts
  website/public/examples.json
Due: validate:version-sync, validate:scripts-version, validate:ossa:security

style: apply prettier formatting to modified files
  src/cli/commands/schema.command.ts
  src/cli/commands/validate.command.ts
  src/services/generation.service.ts
  src/services/migration.service.ts
Due: none

fix: sync website version to 0.2.5-RC and fix GitLab CI lint error
  examples/bridges/.gitlab-ci.yml
  website/lib/version.ts
  website/package.json
Due: validate:ossa:security

fix: update version references in documentation
  website/content/docs/00-HOME.md
Due: none

fix: resolve merge conflict markers in 00-HOME.md
  website/content/docs/00-HOME.md
Due: none

fix: restore rollback-coordinator OSSA agent manifest (was overwritten with CI config)
  .gitlab/agents/rollback-coordinator/manifest.ossa.yaml
Due: validate:ossa:security

fix: sync package-lock.json with package.json changes
  package-lock.json
Due: none

fix(ci): exclude DI container from coverage to meet 75% function threshold
  jest.config.ts
Due: none

feat: enterprise release automation strategy
  .gitlab-ci.yml
  .gitlab/release-automation/IMPLEMENTATION_ROADMAP.md
  .gitlab/release-automation/QUICK_REFERENCE.md
  .gitlab/release-automation/START_HERE.md
  .gitlab/release-automation/gitlab-ci-release.yml
  .gitlab/release-automation/scripts/increment-dev-tag.ts
  .gitlab/release-automation/scripts/release-buttons.ts
  .gitlab/release-automation/setup.sh
  .gitlab/release-automation/webhooks/milestone-handler.ts
  DEPLOYMENT_CHECKLIST.md
  ENTERPRISE_RELEASE_STRATEGY.md
  MR_DESCRIPTION.md
  RELEASE_AUTOMATION_SUMMARY.md
  STATUS_REPORT.md
  openapi/release-automation.openapi.yaml
  package-lock.json
  package.json
  scripts/setup-branch-protection.sh
  src/services/release-automation/base-crud.service.ts
  src/services/release-automation/index.ts
  src/services/release-automation/merge-request.service.ts
  src/services/release-automation/milestone.service.ts
  src/services/release-automation/release.service.ts
  src/services/release-automation/schemas/release.schema.ts
  src/services/release-automation/tag.service.ts
  src/services/release-automation/webhook.service.ts
Due: validate:version-sync, validate:scripts-version, validate:ossa:security

fix: comment out GitLab agent component references until published
  bin/ossa
  bin/ossa-validate-all
  bin/ossa-version
  package-lock.json
  package.json
Due: validate:version-sync, validate:scripts-version

feat: enterprise release automation strategy
  .gitlab-ci.yml
  DEPLOYMENT_CHECKLIST.md
  ENTERPRISE_RELEASE_STRATEGY.md
  MR_DESCRIPTION.md
  RELEASE_AUTOMATION_SUMMARY.md
  STATUS_REPORT.md
  openapi/release-automation.openapi.yaml
  package-lock.json
Due: validate:ossa:security

Duo Workflow: Resolve issue #19
  CHANGELOG.md
  README.md
  docs/issue-19-completion-summary.md
  docs/issue-19-validation.md
  examples/openai/basic-agent.ossa.yaml
  examples/openai/multi-tool-agent.ossa.json
  tests/integration/cli/run.test.ts
  tests/unit/cli/commands/run.command.test.ts
  tests/unit/services/runtime/openai.adapter.test.ts
  website/content/docs/adapters/openai-adapter.md
  website/content/docs/cli/run-command.md
  website/content/docs/getting-started/running-agents.md
Due: validate:version-sync, validate:ossa:security

fix: skip OpenAI adapter tests pending proper mock setup
  tests/unit/services/runtime/openai.adapter.test.ts
Due: none

fix: simplify OpenAI adapter tests with real API integration
  tests/unit/services/runtime/openai.adapter.test.ts
Due: none

feat: prepare spec/v0.2.6-dev structure
  .version.json
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  spec/v0.2.6-dev/CHANGELOG.md
  spec/v0.2.6-dev/README.md
  spec/v0.2.6-dev/migrations/v0.2.2-to-v0.2.3.md
  spec/v0.2.6-dev/ossa-0.2.6-dev.schema.json
  spec/v0.2.6-dev/ossa-0.2.6-dev.yaml
  spec/v0.2.6/README.md
  spec/v0.2.6/migrations/v0.2.5-RC-to-v0.2.6.md
  spec/v0.2.6/ossa-0.2.6.schema.json
  spec/v0.2.6/ossa-0.2.6.yaml
  website/content/docs/00-HOME.md
  website/content/docs/AIFlow-Framework-Integration-with-OSSA.md
  website/content/docs/examples/AIFlow-Framework-Integration-with-OSSA.md
  website/content/docs/for-audiences/Students-Researchers.md
  website/content/docs/getting-started.md
  website/content/docs/getting-started/Installation.md
  website/content/docs/integrations/aiflow.md
  website/content/docs/migration-guides/anthropic-mcp-to-ossa.md
  website/content/docs/migration-guides/crewai-to-ossa.md
  website/content/docs/migration-guides/drupal-eca-to-ossa.md
  website/content/docs/migration-guides/langchain-to-ossa.md
  website/content/docs/openapi-extensions/index.md
  website/content/docs/ossa-compliant-badge.md
  website/content/docs/pre-release/index.md
  website/content/docs/versioning.md
Due: validate:version-sync, validate:scripts-version, validate:ossa:security

docs: GitHub mirroring deployment guide
  .gitlab/docs/README.md
  README.md
  website/content/docs/deployment/github-mirroring.md
Due: validate:version-sync

feat: implement ossa run command with OpenAI adapter
  .gitlab-ci.yml
  .gitlab/CREATE-ISSUE.md
  .gitlab/ISSUE-BIN-ENHANCEMENT.md
  .gitlab/docs/README.md
  .gitlab/release-automation/scripts/increment-dev-tag.ts
  .gitlab/release-automation/scripts/release-buttons.ts
  .gitlab/release-automation/webhooks/milestone-handler.ts
  .kiro/specs/agent-buildkit-templates/design.md
  .kiro/specs/agent-buildkit-templates/requirements.md
  .version.json
  CHANGELOG.md
  DEPLOYMENT_CHECKLIST.md
  ENTERPRISE_RELEASE_STRATEGY.md
  MR_DESCRIPTION.md
  README.md
  RELEASE_AUTOMATION_SUMMARY.md
  STATUS_REPORT.md
  examples/openai/basic-agent.ossa.yaml
  examples/openai/multi-tool-agent.ossa.json
  openapi/release-automation.openapi.yaml
  package-lock.json
  scripts/auto-rebase-mrs.ts
  scripts/configure-gitlab-branch-protection.ts
  scripts/create-issue-helper.ts
  scripts/create-milestone-issue.ts
  scripts/rebase-all-mrs.sh
  spec/v0.2.6/ossa-0.2.6.schema.json
  src/cli/commands/release.command.ts
  src/cli/index.ts
  src/repositories/schema.repository.ts
  tests/integration/cli/run.test.ts
  tests/unit/cli/commands/run.command.test.ts
  tests/unit/services/runtime/openai.adapter.test.ts
  website/content/docs/adapters/openai-adapter.md
  website/content/docs/cli/run-command.md
  website/content/docs/getting-started/running-agents.md
Due: validate:version-sync, validate:scripts-version, validate:ossa:security

docs: Automation Audit & Roadmap
  docs/operations/automation-roadmap.md
Due: none

chore: Add GitHub automation and sync tools
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/dependabot-comment.yml
  scripts/batch-dependabot.sh
  scripts/sync-wiki.sh
Due: validate:scripts-version, validate:ossa:security

docs: GitHub Sync Strategy & Automation
  .github/workflows/pr-comment.yml
  README.md
  docs/operations/github-sync-strategy.md
  scripts/sync-github-pr.sh
Due: validate:version-sync, validate:scripts-version, validate:ossa:security

docs: Update CHANGELOG and README for v0.2.6
  CHANGELOG.md
Due: none

feat(spec): Define AgentGraph resource type specification
  spec/v0.2.7/core/agentgraph.md
  spec/v0.2.7/resources/agentgraph.yaml
Due: validate:version-sync, validate:ossa:security

fix(version): Sync all version references to match package.json
  package.json
  scripts/sync-version.js
Due: validate:version-sync, validate:scripts-version

feat(spec): Prepare spec/v0.2.6-dev development structure
  spec/v0.2.6-dev/CHANGELOG.md
  spec/v0.2.6-dev/README.md
  spec/v0.2.6-dev/migrations/v0.2.3-to-v0.2.4.md
  spec/v0.2.6-dev/ossa-0.2.5.schema.json
  spec/v0.2.6-dev/ossa-0.2.5.yaml
Due: validate:version-sync, validate:ossa:security

docs(deployment): GitHub Mirroring Deployment Guide
  docs/deployment/github-mirror.md
Due: none

fix(ci): Install tsx globally for increment-dev-tag job
  .gitlab-ci.yml
Due: validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  validate:scripts-version: any of: package.json, scripts/**/*, bin/validate-ossa*.ts
  validate:ossa:security: any of: **/*.yml, **/*.yaml
