Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix: Properly import AgentsMdService in DI container
  json
  src/di-container.ts
Due: none

test: Skip outdated Anthropic adapter tests
  json
  tests/unit/adapters/anthropic.test.ts
Due: none

feat: enhance TypeScript SDK validator with enum and JSON schema validation
  json
  src/adapters/gitlab/external-agent-generator.ts
  src/sdks/typescript/manifest.ts
  src/sdks/typescript/validator.ts
  tests/integration/enhanced-validator.test.ts
  tests/integration/gitlab-duo/external-agent-generator.test.ts
  tests/integration/gitlab-duo/flow-generator.test.ts
  tests/integration/migration-engine.test.ts
  tests/integration/npm-export.integration.test.ts
  tests/unit/sdks/typescript/validator.test.ts
  tests/unit/services/migration.service.test.ts
Due: none

feat(sdk): add fluent builder API for programmatic manifest creation
  json
  src/cli/commands/capability/create.command.ts
  src/cli/commands/capability/index.ts
  src/cli/commands/manifest/diff.command.ts
  src/cli/commands/manifest/explain.command.ts
  src/cli/commands/manifest/index.ts
  src/cli/commands/tool/create.command.ts
  src/cli/commands/tool/index.ts
  src/cli/commands/tool/list.command.ts
  src/cli/commands/tool/validate.command.ts
  src/cli/index.ts
  src/cli/wizard/steps/05-tools.ts
  src/sdks/typescript/builders/autonomy.builder.ts
  src/sdks/typescript/builders/index.ts
  src/sdks/typescript/builders/llm.builder.ts
  src/sdks/typescript/builders/manifest.builder.ts
  src/sdks/typescript/builders/safety.builder.ts
  src/sdks/typescript/builders/tool.builder.ts
  src/sdks/typescript/constants.ts
  src/sdks/typescript/index.ts
  src/services/wizard/prompts.ts
  src/services/wizard/wizard.service.ts
  src/types/index.ts
  src/types/tool.ts
  tests/unit/cli/tool-commands.test.ts
  tests/unit/sdks/typescript/builders/autonomy.builder.test.ts
  tests/unit/sdks/typescript/builders/llm.builder.test.ts
  tests/unit/sdks/typescript/builders/manifest.builder.test.ts
  tests/unit/sdks/typescript/builders/safety.builder.test.ts
  tests/unit/sdks/typescript/builders/tool.builder.test.ts
Due: none

test: add comprehensive v0.4 tool type tests for wizard
  tests/unit/cli/wizard.test.ts
Due: none

feat: Revolutionary A2A (Agent-to-Agent) Communication System
  README.md
  src/adapters/a2a/a2a-protocol.ts
  src/adapters/a2a/a2a-tool.ts
  src/adapters/a2a/agent-mesh.ts
  src/adapters/a2a/delegation.ts
  src/adapters/a2a/index.ts
  src/adapters/a2a/mcp-integration.ts
  src/adapters/a2a/swarm-orchestration.ts
  tests/a2a/a2a-delegation.test.ts
  tests/a2a/a2a-mesh.test.ts
  tests/a2a/a2a-swarm.test.ts
  tests/a2a/mcp-integration.test.ts
Due: agent:mcp-server-builder

feat(audit): implement full schema validation with Ajv
  src/adapters/a2a/__tests__/mcp-integration.spec.ts
  src/adapters/a2a/mcp-transport.ts
  src/services/audit.ts
  tests/unit/audit.test.ts
Due: agent:mcp-server-builder

fix: resolve TypeScript compilation and test infrastructure issues
  json
  src/adapters/a2a/mcp-transport.ts
  src/cli/commands/agent/discover-type.command.ts
  src/di-container.ts
  src/services/audit.ts
  src/version.ts
Due: agent:mcp-server-builder

fix: resolve remaining test failures, improve pass rate to 98.4%
  json
  src/repositories/schema.repository.ts
  src/services/validators/a2a.validator.ts
  src/services/validators/autogen.validator.ts
  src/services/validators/crewai.validator.ts
  src/services/validators/kagent.validator.ts
  src/services/validators/langchain.validator.ts
  src/services/validators/langgraph.validator.ts
  src/services/validators/mcp.validator.ts
  src/version.ts
  tests/a2a/a2a-delegation.test.ts
  tests/a2a/a2a-mesh.test.ts
  tests/a2a/a2a-swarm.test.ts
  tests/a2a/mcp-integration.test.ts
  tests/adapters/claude-code.test.ts
  tests/adapters/cursor.test.ts
  tests/adapters/warp.test.ts
Due: agent:mcp-server-builder

chore: remove test artifact file
  bluefly-openstandardagents-0.4.5.tgz
  json
  tmp-smoke-test/package.json
Due: none

fix: resolve A2A and adapter test failures, 98.5% pass rate
  bluefly-openstandardagents-0.4.5.tgz
  json
  tests/a2a/a2a-mesh.test.ts
  tests/a2a/a2a-swarm.test.ts
  tmp-smoke-test/package.json
Due: none

chore: ignore test artifacts in git
  .gitignore
Due: none

fix: improve test pass rate to 99.0% (1599/1615 passing)
  json
  package.json
  src/adapters/a2a/swarm-orchestration.ts
  src/adapters/claude-code/adapter.ts
  src/adapters/opentelemetry.adapter.ts
  src/version.ts
  tests/a2a/a2a-delegation.test.ts
  tests/a2a/a2a-swarm.test.ts
  tests/unit/adapters/opentelemetry.adapter.spec.ts
Due: validate:scripts-version, validate:adoption-blockers

fix: improve test pass rate to 99.3% (1604/1615 passing)
  json
  src/adapters/gitlab/external-agent-generator.ts
  tests/e2e/cli.smoke.spec.ts
  tests/e2e/schema-coverage.smoke.spec.ts
  tests/integration/cli/generate.test.ts
  tests/integration/schema-validation.test.ts
Due: none

fix: achieve 100% test pass rate (99/99 suites)
  .gitignore
  jest.config.ts
  json
  tests/a2a/mcp-integration.test.ts
  tests/e2e/npm-pack.smoke.spec.ts
  tests/integration/cli/export.test.ts
Due: agent:mcp-server-builder

fix: implement stub methods in openstandardagents
  examples/gitlab-agents/daily-code-scan/src/gitlab-client.ts
  examples/gitlab-agents/mr-reviewer/src/gitlab-client.ts
  examples/gitlab-agents/pipeline-auto-fix/src/gitlab-client.ts
  src/dev-cli/services/spec-generate.service.ts
  src/dev-cli/services/spec-validate.service.ts
  src/services/skills-pipeline/skills-research.service.ts
Due: conformance:examples, schema:validate-examples

docs: update README to reflect implemented features
  README.md
Due: none

feat(skills-pipeline): implement real research, hardened generator, export publish flow, and honest adapter status
  README.md
  lefthook.yml
  src/adapters/base/adapter.interface.ts
  src/adapters/claude-code/adapter.ts
  src/adapters/crewai/adapter.ts
  src/adapters/cursor/adapter.ts
  src/adapters/drupal/adapter.ts
  src/adapters/drupal/generator.ts
  src/adapters/drupal/manifest-exporter.ts
  src/adapters/gitlab-duo/adapter.ts
  src/adapters/langchain/adapter.ts
  src/adapters/mcp/adapter.ts
  src/adapters/mcp/converter.ts
  src/adapters/npm/adapter.ts
  src/adapters/registry/platform-registry.ts
  src/adapters/warp/adapter.ts
  src/cli/commands/export.command.ts
  src/services/export/anthropic/anthropic-exporter.ts
  src/services/skills-pipeline/skills-export.service.ts
  src/services/skills-pipeline/skills-generator.service.ts
  src/services/skills-pipeline/skills-research.service.ts
  tests/services/skills-pipeline/skills-export.service.test.ts
  tests/services/skills-pipeline/skills-research.service.test.ts
Due: agent:mcp-server-builder, validate:yaml, ossa:validate:security, validate:ossa:security
