Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(skill-registry): remove runtime from test manifest (not in v0.3.4)
  src/cli/commands/wizard.command.ts
Due: none

fix(skill-registry): remove duplicate tools and runtime properties
  src/cli/commands/wizard.command.ts
  src/services/skill-registry.service.test.ts
Due: none

fix(skill-registry): fix tool structure to match v0.3.4 schema
  src/cli/commands/wizard.command.ts
  src/services/skill-registry.service.test.ts
Due: none

fix(schema): move knowledge sources and code compliance to extensions
  spec/v0.3.5/ossa-0.3.5.schema.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

fix(schema): move knowledge sources and code compliance to spec properties
  spec/v0.3.5/ossa-0.3.5.schema.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

fix(example): add missing type property to tools in react-performance-expert
  examples/ossa-templates/11-react-performance-expert.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(tests): move skill-registry test to tests/ directory and fix import path
  tests/unit/services/skill-registry.service.test.ts
Due: none

fix: resolve validation errors and test failures
  examples/ossa-templates/11-react-performance-expert.ossa.yaml
  tests/unit/services/skill-registry.service.test.ts
Due: agent:ossa-validator, validate:yaml, validate:ossa, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix: quote YAML label values and fix test context filtering
  examples/ossa-templates/11-react-performance-expert.ossa.yaml
  tests/unit/services/skill-registry.service.test.ts
Due: agent:ossa-validator, validate:yaml, validate:ossa, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(test): clear registry in context filtering test
  tests/unit/services/skill-registry.service.test.ts
Due: none

fix(skill-registry): properly parse contexts from manifest labels in register()
  src/services/skill-registry.service.ts
Due: none

feat(agents): create team of 5 specialized completion agents
  .agents/workers/agent-optimizer-v035/manifest.ossa.yaml
  .agents/workers/branch-cleanup-agent/manifest.ossa.yaml
  .agents/workers/code-quality-fixer/manifest.ossa.yaml
  .agents/workers/documentation-updater/manifest.ossa.yaml
  .agents/workers/skills-completer/manifest.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate:security, validate:ossa:security

feat(agents): optimize 6 agents to 100% v0.3.5 utilization
  .agents/bot-ossa-validator.ossa.yaml
  .agents/spec-healer/manifest.ossa.yaml
  .agents/workers/drupal-migration-intelligence/agent.ossa.yaml
  .agents/workers/drupal-module-developer/agent.ossa.yaml
  .agents/workers/drupal-security-compliance/agent.ossa.yaml
  .agents/workers/security-healer/manifest.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate:security, validate:ossa:security

feat(agents): optimize mr-agent-router to 100% v0.3.5
  .agents/workflows/mr-agent-router.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate:security, validate:ossa:security
