Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix: correct v0.3.x schema export paths
  package.json
Due: validate:scripts-version, validate:adoption-blockers

fix: update all tests to use v0.4.1 schema and fix npm registry routing
  .npmrc
  tests/integration/agents-md-validation.test.ts
  tests/integration/migration-engine.test.ts
  tests/unit/cli/validate.test.ts
  tests/unit/schema/agents-md-extension.test.ts
  tests/unit/services/version-detection.service.spec.ts
  tests/unit/task-schema.test.ts
  tests/unit/utils/yaml-parser.test.ts
  tests/unit/workflow-schema.test.ts
Due: none

fix: add missing cli-table3 dependency for v0.4.2
  .version.json
  package.json
Due: ossa:validate-versions, validate:scripts-version, validate:adoption-blockers

fix: add all missing dependencies and validation tool for v0.4.2
  .npmrc.publish
  CHANGELOG.md
  bluefly-openstandardagents-0.4.2.tgz
  bluefly-openstandardagents-0.4.3.tgz
  package-lock.json
  package.json
  tools/validate-dependencies.ts
Due: validate:scripts-version, validate:changelog, validate:adoption-blockers

docs: fix migration guide and schema references to v0.4
  README.md
Due: none

ci: add pre-commit dependency validation (bypassing for now - 1 test failing)
  lefthook.yml
  package-lock.json
  package.json
  tools/validate-dependencies.ts
Due: validate:yaml, validate:scripts-version, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

docs: use v0.4.x for version-agnostic docs
  README.md
Due: none

fix: v0.4.3 - Add .version.json to package + comprehensive validation
  .version.json
  CHANGELOG.md
  bluefly-openstandardagents-0.4.2.tgz
  bluefly-openstandardagents-0.4.3.tgz
  package.json
  tools/validate-package.ts
Due: ossa:validate-versions, validate:scripts-version, validate:changelog, validate:adoption-blockers

feat: production-grade improvements (Phase 1 & 2)
  .gitlab-ci-multinode.yml
  PRODUCTION_GRADE_QUICK_REF.md
  PRODUCTION_READINESS_PLAN.md
  docs/PRODUCTION_GRADE_MIGRATION.md
  examples/knowledge-graph/drupal-agent-with-kg.ossa.yaml
  jest.config.ts
  package-lock.json
  package.json
  spec/extensions/knowledge-graph/knowledge-graph.schema.json
  src/errors/index.ts
  src/utils/logger.ts
  stryker.config.json
  tests/unit/errors/api-network-errors.test.ts
  tests/unit/errors/base-error.test.ts
  tests/unit/errors/error-helpers.test.ts
  tests/unit/errors/registry-errors.test.ts
  tests/unit/errors/validation-errors.test.ts
  tests/unit/utils/logger.test.ts
  tsconfig.json
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, validate:yaml, validate:ossa, post-review:docs-sync, bot:wiki-sync, conformance:examples, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

feat: add Prometheus metrics and observability (Phase 3)
  package-lock.json
  package.json
  src/observability/index.ts
  src/observability/metrics.ts
  src/observability/middleware.ts
Due: validate:scripts-version, validate:adoption-blockers

feat: add LangChain ecosystem integration plan
  LANGCHAIN_ECOSYSTEM_INTEGRATION_PLAN.md
Due: none

docs: comprehensive codebase audit report
  COMPREHENSIVE_CODEBASE_AUDIT.md
Due: none

refactor: replace all console.log with structured logger in wizard module
  src/cli/wizard/data/taxonomy.ts
  src/cli/wizard/interactive-wizard.ts
  src/cli/wizard/steps/10-review.ts
  src/cli/wizard/steps/12-agents-folder.ts
  src/cli/wizard/steps/15-cost-estimation.ts
  src/cli/wizard/steps/16-best-practices.ts
  src/cli/wizard/ui/console.ts
  src/cli/wizard/ui/wizard-ui.ts
Due: none

fix: Add experimental warnings to non-functional catalog commands
  src/cli/commands/catalog/pull.command.ts
  src/cli/commands/catalog/push.command.ts
  src/cli/commands/catalog/sync.command.ts
Due: none
