Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:examples, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:examples: any of: examples/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

feat(agent): implement architecture-healer agent
  examples/agents/architecture-healer-enterprise.yaml
Due: validate:examples, validate:ossa:security

feat(agent): implement spec-healer agent
  examples/agents/spec-healer-openapi.yaml
Due: validate:examples, validate:ossa:security

feat(agent): implement dependency-healer agent
  examples/agents/dependency-healer-npm.yaml
Due: validate:examples, validate:ossa:security

feat(extension): add Knowledge Sources extension
  examples/extensions/knowledge-sources.yaml
Due: validate:examples, validate:ossa:security

feat(schema): add activity_stream config to observability
  examples/observability/activity-stream-full.yaml
Due: validate:examples, validate:ossa:security

feat(adapter): add Drupal OSSA runtime adapter
  examples/adapters/drupal-eca-task.yaml
Due: validate:examples, validate:ossa:security

feat(adapter): add Symfony Messenger adapter
  examples/adapters/symfony-messenger-task.yaml
Due: validate:examples, validate:ossa:security

fix: remove README.md from CODEOWNERS
  .gitlab/CODEOWNERS
Due: none

fix: remove README.md from CODEOWNERS to unblock MRs
  .gitlab/CODEOWNERS
Due: none

fix: simplify CODEOWNERS to master approver only
  .gitlab/CODEOWNERS
Due: none

feat: enable GitLab Duo agent automation
  .gitlab/CODEOWNERS
  .gitlab/agents/AGENT_CATALOG.md
  .gitlab/agents/mr-reviewer/system-prompt.md
  .gitlab/duo_workflow.yml
Due: validate:ossa:security

fix: remove whitepaper from spec directory
  spec/whitepaper/unified-task-schema.md
Due: drupal:sync:agent

feat(ci): auto-close issues when MRs merge to release branches
  .gitlab/ci/release-automation.yml
Due: validate:ossa:security

fix(codeowners): simplify docs approval to @bluefly only
  CODEOWNERS
Due: none

fix(codeowners): replace @flux423 with @bluefly
  CODEOWNERS
Due: none
