Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, validate:scripts-version, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  validate:scripts-version: any of: package.json, scripts/**/*, bin/validate-ossa*.ts
  validate:ossa:security: any of: **/*.yml, **/*.yaml

chore: add automated validation and maintenance tools
  .gitlab-ci-validation.yml
  .husky/pre-commit
  package.json
  scripts/README.md
  scripts/fix-schema-formats.js
  scripts/validate-all.js
Due: validate:version-sync, validate:scripts-version, validate:ossa:security

Resolve "feat: create OSSA agents for major IDE and agent platforms"
  .agents/README.md
  .agents/claude/agent.ossa.yaml
  .agents/cody/agent.ossa.yaml
  .agents/copilot/agent.ossa.yaml
  .agents/cursor/agent.ossa.yaml
  .agents/jetbrains/agent.ossa.yaml
  .agents/kiro/agent.ossa.yaml
  .agents/vscode/agent.ossa.yaml
  .agents/windsurf/agent.ossa.yaml
  .gitlab/ci/agents.yml
  package-lock.json
  src/cli/commands/validate.command.ts
Due: validate:ossa:security

Logo & Visual Identity System
  docs/brand/visual-identity.md
Due: none

Brand Positioning & Value Proposition Framework
  docs/brand/positioning.md
Due: none

Competitive Comparison Matrix
  docs/comparison.md
Due: none

Release v0.2.6
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/dependabot-comment.yml
  .github/workflows/pr-comment.yml
  README.md
  docs/operations/automation-roadmap.md
  docs/operations/github-sync-strategy.md
  package.json
  scripts/batch-dependabot.sh
  scripts/sync-github-pr.sh
  scripts/sync-version.js
  scripts/sync-wiki.sh
  spec/v0.2.6-dev/migrations/v0.2.3-to-v0.2.4.md
  spec/v0.2.6-dev/ossa-0.2.5.schema.json
  spec/v0.2.6-dev/ossa-0.2.5.yaml
  spec/v0.2.7/core/agentgraph.md
  spec/v0.2.7/resources/agentgraph.yaml
Due: validate:version-sync, validate:scripts-version, validate:ossa:security

fix: Complete spec/v0.2.4 directory structure
  .gitlab/MERGE_TRAIN.md
  examples/anthropic/claude-assistant.ossa.json
  examples/autogen/multi-agent.ossa.json
  examples/crewai/research-team.ossa.json
  examples/cursor/code-review-agent.ossa.json
  examples/langchain/chain-agent.ossa.json
  examples/langflow/workflow-agent.ossa.json
  examples/langgraph/state-machine-agent.ossa.json
  examples/llamaindex/rag-agent.ossa.json
  examples/openai/multi-tool-agent.ossa.json
  examples/openai/swarm-agent.ossa.json
  examples/vercel/edge-agent.ossa.json
  spec/v0.2.4/.DS_Store
  spec/v0.2.4/ossa-0.2.4-dev.schema.json
  spec/v0.2.4/ossa-0.2.4.schema.json
  spec/v0.2.4/ossa-0.2.4.yaml
  tests/integration/schema-validation.test.ts
Due: validate:version-sync, validate:ossa:security

feat: website design system - header active states
  .gitlab-ci-validation.yml
  .gitlab/CREATE-ISSUE.md
  .gitlab/ISSUE-BIN-ENHANCEMENT.md
  .gitlab/docs/release-0.2.6-status.md
  .kiro/settings/mcp.json
  .kiro/specs/agent-buildkit-templates/design.md
  .kiro/specs/agent-buildkit-templates/requirements.md
  .kiro/specs/brand-identity-mvp/design.md
  .kiro/specs/brand-identity-mvp/requirements.md
  .kiro/specs/brand-identity-mvp/tasks.md
  .kiro/specs/kiro-ide-supercharger/README.md
  .kiro/specs/kiro-ide-supercharger/design.md
  .kiro/specs/kiro-ide-supercharger/requirements.md
  .kiro/specs/kiro-ide-supercharger/tasks.md
  .kiro/specs/scripts-migration-api-first/design.md
  .kiro/specs/scripts-migration-api-first/requirements.md
  .kiro/specs/scripts-migration-api-first/tasks.md
  .kiro/specs/website-brand-identity/design.md
  .kiro/specs/website-brand-identity/requirements.md
  .kiro/specs/website-brand-identity/tasks.md
  AUTOGENERATE_DOCS_PLAN.md
  DOCUMENTATION_AUDIT.md
  DOCUMENTATION_IMPLEMENTATION_GUIDE.md
  DOCUMENTATION_QUICK_START.md
  DOCUMENTATION_RESULTS.md
  DOCUMENTATION_TRANSFORMATION_SUMMARY.md
  docs/brand/positioning.md
  docs/brand/visual-identity.md
  docs/deployment/github-mirror.md
  docs/operations/gitlab-agents.md
  package-lock.json
  package.json
  scripts/manage-milestone-mrs.ts
  website/components/layout/Header.tsx
Due: validate:version-sync, validate:scripts-version, validate:ossa:security

feat(cli): Enhance OSSA CLI bin directory with utilities
  bin/ossa-dev
  bin/ossa-generate
  bin/ossa-health
Due: none

feat(github-sync): GitHub sync service implementation
  src/services/github-sync/github-client.ts
  src/services/github-sync/gitlab-client.ts
  src/services/github-sync/schemas.ts
  src/services/github-sync/sync.service.ts
  src/services/validation.service.ts
  tests/unit/github-sync.test.ts
Due: none

fix: sync all main commits into development
  docs/brand-guide/01-brand-overview.md
  docs/brand-guide/02-logo-usage.md
  docs/brand-guide/03-color-palette.md
  docs/brand-guide/04-typography.md
  docs/brand-guide/05-voice-and-tone.md
  docs/brand-guide/06-visual-elements.md
  docs/brand-guide/07-application-examples.md
  docs/brand-guide/README.md
  src/services/runtime/claude/types.ts
Due: none

feat: add brand guide and Claude runtime adapter
  docs/brand-guide/OssaLogo/OssA_Logo.svg
  docs/brand-guide/OssaLogo/brand.af
  package-lock.json
  package.json
  src/services/runtime/claude/capability-mapper.ts
  src/services/runtime/claude/claude-adapter.ts
  src/services/runtime/claude/manifest-parser.ts
Due: validate:version-sync, validate:scripts-version

fix: sync main into development
  CHANGELOG.md
  spec/v0.2.6-dev/CHANGELOG.md
  spec/v0.2.6-dev/README.md
Due: validate:version-sync

fix(ci): install git in release:preview job
  .gitlab-ci.yml
Due: validate:ossa:security

fix: Mobile responsive code blocks
  website/app/page.tsx
Due: none

fix: sync main into development
  website/app/page.tsx
Due: none

feat(schema): add Identity and ClaudeCodeExtension to OSSA v0.2.6
  spec/v0.2.6/ossa-0.2.6.schema.json
Due: validate:version-sync

fix: add .js extensions to ESM imports
  src/services/github-sync/github-client.ts
  src/services/github-sync/gitlab-client.ts
  src/services/github-sync/sync.service.ts
Due: none

feat: integrate GitHub sync CLI command
  openapi/github-sync.yaml
  package.json
  src/cli/commands/github-sync.command.ts
  src/cli/commands/sync.command.ts
  src/cli/index.ts
  tests/unit/github-sync.test.ts
  website/app/.DS_Store
  website/app/docs/.DS_Store
  website/app/page.tsx.bak
  website/app/page.tsx.bak2
  website/content/docs/Examples.md
  website/content/docs/OpenAPI-Extensions.md
  website/content/docs/core-concepts/Project-Structure.md
  website/content/docs/examples/Migration-Guides.md
  website/content/docs/for-audiences/Architects.md
  website/content/docs/for-audiences/Developers.md
  website/content/docs/for-audiences/Enterprises.md
  website/content/docs/getting-started/5-Minute-Overview.md
  website/content/docs/getting-started/First-Agent.md
  website/content/docs/getting-started/Hello-World.md
  website/content/docs/migration-guides/00-INDEX.md
  website/content/docs/migration-guides/README.md
Due: validate:version-sync, validate:scripts-version, validate:ossa:security

fix: sync main into development
  tests/unit/github-sync.test.ts
  website/content/docs/core-concepts/project-structure.md
  website/content/docs/examples.md
  website/content/docs/examples/migration-guides.md
  website/content/docs/for-audiences/architects.md
  website/content/docs/for-audiences/developers.md
  website/content/docs/for-audiences/enterprises.md
  website/content/docs/getting-started/5-minute-overview.md
  website/content/docs/getting-started/first-agent.md
  website/content/docs/getting-started/hello-world.md
  website/content/docs/migration-guides/00-index.md
  website/content/docs/migration-guides/readme.md
  website/content/docs/openapi-extensions.md
Due: none
