Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:ossa:manifests:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Validating OSSA manifests in ${CI_PROJECT_PATH}"
  ...

check:ossa:version:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA manifest versions"
  ...

estimate:ossa:cost:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Estimating OSSA agent costs"
  ...

check:ossa:safety:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA safety configurations"
  ...

validate:k8s-resources:
  stage: validate
  image: node:20-slim
  before_script:
  - npm install -g ts-node typescript js-yaml @types/js-yaml @types/node
  script:
  - echo "ðŸ” Validating Kubernetes resource limits..."
  - ts-node examples/bridges/k8s/validate-resources.ts examples/bridges/k8s/
  allow_failure: false

validate:agent-team:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - 'echo "üîç Validating extension development team configuration..."
  
    ossa validate .gitlab/agents/extension-development-team.ossa.yaml
  
    ossa validate .gitlab/agents/examples/*.ossa.yaml
  
    echo "‚úÖ Agent team configuration valid"
  
    '

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

fix(ci): add || true to validate:examples to handle xargs exit code
  package.json
Due: validate:scripts-version, validate:adoption-blockers

fix(ci): add missing summary stage for golden component
  .gitlab-ci.yml
  .version.json
  package.json
  src/repositories/schema.repository.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate-versions, validate:scripts-version, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

fix(ci): make GitHub sync non-blocking to not fail release jobs
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(release): remove github plugin and fix prerelease branch conflicts
  .releaserc.json
Due: none

fix(cli): workspace init path resolution bug
  .agents-workspace/registry/index.yaml
  README.md
  package.json
  src/cli/commands/workspace.command.ts
Due: validate:yaml, validate:scripts-version, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

docs: comprehensive audit for gitlab-agent_ossa enhancement
  GITLAB_AGENT_ENHANCEMENT_AUDIT.md
Due: none

revert: remove audit doc from project (belongs in wiki)
  GITLAB_AGENT_ENHANCEMENT_AUDIT.md
Due: none

fix(npm): disable GitLab registry for npmjs.org publishing
  .npmrc
Due: none

fix(cli): correct path concatenation in workspace init command
  src/cli/commands/workspace.command.ts
Due: none

update workspace and remove md file
  .agents-workspace/memory/version-management.md
  .agents-workspace/policies/security-tiers.yaml
  .agents-workspace/policies/tool-allowlist.yaml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

fix: update repository URLs to GitLab primary (GitHub mirror)
  .npmrc
  package.json
Due: validate:scripts-version, validate:adoption-blockers

fix: update DEMO.md link to GitLab URL for npm package
  README.md
  package-lock.json
  package.json
Due: validate:scripts-version, validate:adoption-blockers

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
