Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, validate:scripts-version, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  validate:scripts-version: any of: package.json, scripts/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

feat(schema): Make OSSA v0.2.8 schema comprehensive and enterprise-grade
  scripts/validate-schema.ts
  spec/v0.2.8/ossa-0.2.8.schema.json
Due: validate:version-sync, validate:scripts-version

fix(readme): Remove private GitLab repo reference
  README.md
Due: validate:version-sync

fix(ci): Disable agent jobs until AGENT_PLATFORM_GROUP is configured
  .gitlab/ci/agents.yml
Due: validate:ossa:security

hotfix: fix apiVersion + add branch policy
  .gitlab-ci.yml
  .gitlab/ci/branch-policy.yml
  examples/common_npm/agent-router.ossa.yaml
  examples/drupal/gitlab-ml-recommender.ossa.yaml
  examples/kagent/k8s-troubleshooter-v1.ossa.yaml
  examples/multi-agent/conditional-router.ossa.yaml
  examples/multi-agent/parallel-execution.ossa.yaml
  examples/multi-agent/sequential-pipeline.ossa.yaml
Due: validate:ossa:security

🚀 Release: development → main
  .gitlab-ci.yml
  .gitlab/ci/branch-policy.yml
  website/app/specification/page.tsx
  website/lib/versions.json
  website/public/examples.json
Due: validate:ossa:security

Release: Merge development to main (apiVersion fixes)
  .gitlab-ci.yml
  .gitlab/ci/agents.yml
  .gitlab/ci/branch-policy.yml
  examples/common_npm/agent-router.ossa.yaml
  examples/drupal/gitlab-ml-recommender.ossa.yaml
  examples/kagent/k8s-troubleshooter-v1.ossa.yaml
  examples/multi-agent/conditional-router.ossa.yaml
  examples/multi-agent/parallel-execution.ossa.yaml
  examples/multi-agent/sequential-pipeline.ossa.yaml
Due: validate:ossa:security

chore(ci): add merge train workflow support
  .gitlab-ci.yml
Due: validate:ossa:security

feat(ci): add automated draft release MR creation
  .gitlab-ci.yml
Due: validate:ossa:security

fix: update all apiVersions to v0.2.8 and include .agents in git
  .agents/.gitkeep
  .agents/IMPLEMENTATION.md
  .agents/README.old.md
  .agents/example-agent/manifest.ossa.yaml
  .agents/local-mesh-config.yaml
  .agents/workers/.DS_Store
  .gitignore
  .gitlab/agents/.DS_Store
  .gitlab/agents/compliance-auditor/manifest.ossa.yaml
  .gitlab/agents/config-validator/manifest.ossa.yaml
  .gitlab/agents/cost-analyzer/manifest.ossa.yaml
  .gitlab/agents/db-migrator/manifest.ossa.yaml
  .gitlab/agents/monitoring-agent/manifest.ossa.yaml
  .gitlab/agents/performance-optimizer/manifest.ossa.yaml
  .gitlab/agents/security-scanner/manifest.ossa.yaml
  .gitlab/agents/version-manager/manifest.ossa.yaml
  CODEOWNERS
  examples/drupal/ai_agents_ossa-module/.agents/example-agent/agent.ossa.yaml
Due: validate:ossa:security

fix: connect agent jobs to gitlab_components project
  .gitlab/ci/agents.yml
Due: validate:ossa:security

🚀 Release v0.2.8 (conflicts resolved)
  .agents/.gitkeep
  .agents/IMPLEMENTATION.md
  .agents/README.old.md
  .agents/example-agent/manifest.ossa.yaml
  .agents/local-mesh-config.yaml
  .gitignore
  .gitlab-ci.yml
  .gitlab/agents/compliance-auditor/manifest.ossa.yaml
  .gitlab/agents/config-validator/manifest.ossa.yaml
  .gitlab/agents/cost-analyzer/manifest.ossa.yaml
  .gitlab/agents/db-migrator/manifest.ossa.yaml
  .gitlab/agents/monitoring-agent/manifest.ossa.yaml
  .gitlab/agents/performance-optimizer/manifest.ossa.yaml
  .gitlab/agents/security-scanner/manifest.ossa.yaml
  .gitlab/agents/version-manager/manifest.ossa.yaml
  .gitlab/ci/agents.yml
  CODEOWNERS
  examples/drupal/ai_agents_ossa-module/.agents/example-agent/agent.ossa.yaml
Due: validate:ossa:security

fix(codeowners): add @flux423 as code owner for CI/CD files
  .gitlab-ci.yml
  CODEOWNERS
  jest.config.ts
  package-lock.json
  package.json
Due: validate:version-sync, validate:scripts-version, validate:ossa:security

feat(docs): implement llms.txt specification for LLM-friendly documentation
  .gitlab-ci.yml
  llms-ctx-full.txt
  llms-ctx.txt
  llms.txt
  scripts/generate-llms-ctx.sh
Due: validate:scripts-version, validate:ossa:security

fix(ci): add JUnit XML test reports for GitLab UI
  .agents/.DS_Store
  .gitlab-ci.yml
  eslint-report.json
  gl-code-quality-report.json
  package-lock.json
  scripts/eslint-to-codequality.cjs
Due: validate:scripts-version, validate:ossa:security

chore: sync main into development
  .agents/workers/.DS_Store
  .gitignore
  .gitlab/agents/.DS_Store
  .gitlab/ci/agents.yml
Due: validate:ossa:security
