Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

docs:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: gitlab-lib-ci
    AGENT_TASK: docs-sync
    SOURCE_BRANCH: $CI_COMMIT_BRANCH

deploy:infra:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: infra-prod
    AGENT_TASK: deploy
    ENVIRONMENT: production
    MANIFEST_PATH: infrastructure/

deploy:ml:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: ml-prod
    AGENT_TASK: deploy-model
    MODEL_PATH: models/

drupal:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: drupal-prod
    AGENT_TASK: sync-content
    CONTENT_TYPE: ossa-agents

validate:ossa:security:
  validate

🚀 Release v0.2.8
  .gitignore
  .gitlab-ci.yml
  .gitlab/BRANCH_PROTECTION.md
  package-lock.json
  website/content/docs/getting-started/5-minute-overview.md
  website/content/docs/migration-guides/anthropic-mcp-to-ossa.md
  website/content/docs/migration-guides/index.md
  website/content/docs/migration-guides/openai-to-ossa.md
  website/content/docs/migration-guides/readme.md
  website/lib/versions.json
  website/package.json
  website/playwright.config.ts
  website/public/llms-ctx-full.txt
  website/public/llms-ctx.txt
  website/public/llms.txt
  website/tests/e2e/homepage.spec.ts
  website/tests/e2e/specification.spec.ts
Due: validate:ossa:security

🚀 Release v0.2.8
  CHANGELOG.md
  README.md
  spec/v0.2.6-dev/ossa-0.2.6-dev.schema.json
Due: docs:sync:agent, drupal:sync:agent

RELEASE: v0.2.8
  .claude/settings.json
  .cursor/.DS_Store
  .cursor/browser/config.json
  .cursor/commands/ossa-debug.md
  .cursor/commands/ossa-generate.md
  .cursor/commands/ossa-migrate.md
  .cursor/commands/ossa-openapi.md
  .cursor/commands/ossa-refactor.md
  .cursor/commands/ossa-release.md
  .cursor/commands/ossa-schema.md
  .cursor/commands/ossa-test.md
  .cursor/commands/ossa-validate.md
  .cursor/environment.json
  .cursor/guardrails.json
  .cursor/hooks/context-filter.ts
  .cursor/hooks/post-edit.ts
  .cursor/hooks/pre-edit.ts
  .cursor/hooks/pre-terminal.ts
  .cursor/memory/version-management.md
  .cursor/plans/agent-directory-audit-and-consolidation-4fff0694.plan.md
  .cursor/plans/ossa-comprehensive-enhancement-issue-audit-plan.plan.md
  .cursor/plans/ossa-enterprise-transformation-plan-0ccaf09b.plan.md
  .cursor/plans/ossa-milestone-organization-and-v0-2-4-release-6dafa4ec.plan.md
  .cursor/plans/template-ossa-feature.md
  .cursor/plans/template-ossa-schema-update.md
  .cursor/rules/ossa-development.md
  .cursor/rules/problems.json
  .cursor/rules/typescript.md
  .cursor/scripts/validate-website.ts
  .cursor/settings.json
  .cursor/worktrees.json
  .gitlab/docs/development/VERSIONING.md
  scripts/lib/exec.ts
  scripts/lib/file-ops.ts
  scripts/lib/version.ts
  spec/v0.2.4/.DS_Store
Due: drupal:sync:agent

update conflict
  .gitlab-ci.yml
  CHANGELOG.md
Due: validate:ossa:security

feat: update release workflow documentation
  .gitlab-ci.yml
Due: validate:ossa:security

feat: GitHub mirror audit and management
  .github/workflows/close-prs.yml
  README.md
Due: docs:sync:agent, validate:ossa:security

feat(agents): Enterprise webhook-triggered OSSA agents
  .gitlab-ci.yml
  .gitlab/agents/issue-triage/manifest.ossa.yaml
  .gitlab/agents/mr-manager/manifest.ossa.yaml
  .gitlab/ci/agents.yml
  .gitlab/ci/webhook-agents.yml
Due: validate:ossa:security

fix(ci): enable manual agent triggers via pipeline variables
  .gitlab/ci/webhook-agents.yml
Due: validate:ossa:security

fix(ci): hardcode node:22-alpine image to avoid empty NODE_VERSION
  .gitlab/ci/webhook-agents.yml
Due: validate:ossa:security

feat: add automated MR manager agent
  .gitlab-ci.yml
  .gitlab/agents/mr-manager/manifest.ossa.yaml
Due: validate:ossa:security

Duo Workflow: Resolve issue #91
  README.md
  docs/extensions/agents-md.md
  examples/extensions/agents-md-advanced.yml
  examples/extensions/agents-md-basic.yml
  examples/extensions/agents-md-sync.yml
  spec/v0.2.8/ossa-0.2.8.schema.json
  src/cli/commands/agents-md.command.ts
  src/cli/index.ts
  src/di-container.ts
  src/services/agents-md/agents-md.service.ts
  src/types/index.ts
  tests/integration/cli/agents-md.command.test.ts
  tests/integration/extensions/cursor-agents-md.test.ts
  tests/unit/schema/agents-md-extension.test.ts
  tests/unit/services/agents-md/agents-md.service.test.ts
Due: docs:sync:agent, drupal:sync:agent, validate:ossa:security

Resolve "feat(extension): Add OpenAI agents.md Extension for Repository-Level Agent Guidance"
  .gitlab/ci/agents.yml
  examples/agents-md/code-agent.ossa.json
  examples/agents-md/monorepo-agent.ossa.yaml
  examples/extensions/agents-md-v1.yml
  spec/v0.2.9/ossa-0.2.9.schema.json
  tests/integration/agents-md-validation.test.ts
  tests/unit/agents-md-extension.test.ts
Due: drupal:sync:agent, validate:ossa:security

fix(ci): switch agent jobs from downstream triggers to local execution
  .gitlab/ci/agents.yml
Due: validate:ossa:security

feat(ci): Automate Main→Development Branch Sync Post-Release
  .gitlab-ci.yml
Due: validate:ossa:security

feat(ci): Enable GitLab Merge Trains for Protected Branches
  .gitlab-ci.yml
Due: validate:ossa:security

feat(ci): Create GitLab Releases with Changelog on npm Publish
  .gitlab-ci.yml
Due: validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
