Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix: remove final conflict markers from optimized-test-jobs.yml
  .gitlab/ci/optimized-test-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: resolve ALL conflict markers in .gitlab-ci.yml
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: remove validation jobs that reference deleted sync-versions.ts
  .gitlab/ci/validation-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: completely remove validate:version-sync and validate:docs-consistency jobs
  .gitlab/ci/validation-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

security: fix command injection vulnerabilities in npm view and manifest paths
  .gitlab/ci/release-promote.yml
  src/dev-cli/src/services/release-prep.service.ts
  tests/e2e/smoke.spec.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: add --passWithNoTests to test:coverage and handle missing e2e directory
  .gitlab/ci/optimized-test-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(workspace): add workspace audit command
  src/cli/commands/workspace.command.ts
Due: none

fix: remove quality:gates:full dependency from promote-rc-to-stable
  .gitlab/ci/release-promote.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: make test:lint truly non-blocking for v0.3.3 release
  .gitlab/ci/optimized-test-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(workspace): add workspace validate command
  src/cli/commands/workspace.command.ts
Due: none

duo
  .agents/workers/drupal-module-developer/agent.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate:security, validate:ossa:security

feat(workspace): add audit and validate commands
  src/cli/commands/workspace.command.ts
Due: none

feat(scaffold): add scaffold command for complete agent structure
  src/cli/commands/scaffold.command.ts
  src/cli/index.ts
Due: none

feat(standardize): add standardize command for auto-fixing manifest issues
  src/cli/commands/scaffold.command.ts
  src/cli/commands/standardize.command.ts
  src/cli/index.ts
Due: none

feat(compliance): add compliance command for checking compliance badges
  src/cli/commands/compliance.command.ts
  src/cli/index.ts
Due: none

duo
  .agents/workers/drupal-security-compliance/agent.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate:security, validate:ossa:security

fix: remove duplicate endpoint configurations (GitLab Duo MR !730)
  .agents/workers/drupal-module-developer/agent.ossa.yaml
  .agents/workers/drupal-security-compliance/agent.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate:security, validate:ossa:security
