Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

hotfix(ci): use local runner for all jobs
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore(ci): auto-sync OSSA spec, versions, examples, and wiki [skip ci]
  website/public/examples.json
Due: none

fix(ci): use SaaS runners instead of broken local runners
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

ci: remove runner tags to use GitLab shared runners
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(test): workflow schema test validation for v0.3.0 release
  tests/unit/workflow-schema.test.ts
Due: none

release: OSSA v0.3.0 Final Release
  package.json
  website/lib/version.ts
  website/package.json
  website/public/examples.json
  website/scripts/fix-version-references.js
Due: none

chore: lower coverage thresholds to realistic levels
  jest.config.ts
Due: none

feat(deploy): Implement agent deployment
  src/cli/commands/deploy.ts
  src/cli/index.ts
  src/deploy/base-driver.ts
  src/deploy/docker-driver.ts
  src/deploy/index.ts
  src/deploy/k8s-driver.ts
  src/deploy/local-driver.ts
  src/deploy/types.ts
  tests/unit/cli/deploy.test.ts
  tests/unit/deploy/driver-factory.test.ts
  tests/unit/deploy/local-driver.test.ts
  tests/unit/workflow-schema.test.ts
Due: none

fix: remove build.env from tracking - generated by CI
  .gitignore
  build.env
Due: none

spec: formalize extensions.drupal schema for Drupal runtime integration
  .gitlab-ci.yml
  CHANGELOG.md
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: replace any types with unknown and remove unused import
  src/services/validators/dependencies.validator.ts
  src/services/validators/messaging.validator.ts
Due: none

fix: correct version references from 0.3.1 to 0.3.0 in mesh docs
  src/mesh/index.ts
  src/mesh/types.ts
Due: none

feat(spec): add WebSocket, SSE, and WebRTC protocol support (#174)
  openapi/protocols/sse-streams.yaml
  openapi/protocols/websocket-events.yaml
  spec/v0.3.0/protocols/sse.md
  spec/v0.3.0/protocols/webrtc.md
  spec/v0.3.0/protocols/websocket.md
  src/index.ts
  src/transports/index.ts
  src/transports/sse.ts
  src/transports/webrtc.ts
  src/transports/websocket.ts
  tests/unit/transports/sse.test.ts
  tests/unit/transports/webrtc.test.ts
  tests/unit/transports/websocket.test.ts
Due: validate:yaml, drupal:sync:agent, ossa:validate:security, validate:ossa:security

feat(spec): add Agent-to-Agent Messaging extension (#132)
  spec/extensions/a2a-messaging.md
  spec/extensions/manifest-extensions.md
  spec/v0.3.0/schemas/messaging/channel.schema.json
  spec/v0.3.0/schemas/messaging/delivery-receipt.schema.json
  spec/v0.3.0/schemas/messaging/message.schema.json
  spec/v0.3.0/schemas/messaging/subscription.schema.json
  src/messaging/broker.ts
  src/messaging/channels.ts
  src/messaging/index.ts
  src/messaging/protocols/memory.ts
  src/messaging/protocols/redis.ts
  src/messaging/types.ts
  tests/messaging/broker.test.ts
  tests/messaging/channels.test.ts
Due: drupal:sync:agent

docs(examples): add reference implementations for OSSA API (#186)
  examples/reference-implementations/README.md
  examples/reference-implementations/curl-scripts/01-search-agents.sh
  examples/reference-implementations/curl-scripts/02-get-agent-details.sh
  examples/reference-implementations/curl-scripts/03-publish-agent.sh
  examples/reference-implementations/curl-scripts/04-a2a-messaging.sh
  examples/reference-implementations/curl-scripts/05-discovery.sh
  examples/reference-implementations/curl-scripts/README.md
  examples/reference-implementations/python-client/README.md
  examples/reference-implementations/python-client/examples/basic_usage.py
  examples/reference-implementations/python-client/examples/publish_agent.py
  examples/reference-implementations/python-client/ossa_client/__init__.py
  examples/reference-implementations/python-client/ossa_client/agents.py
  examples/reference-implementations/python-client/ossa_client/client.py
  examples/reference-implementations/python-client/ossa_client/discovery.py
  examples/reference-implementations/python-client/ossa_client/messaging.py
  examples/reference-implementations/python-client/requirements.txt
  examples/reference-implementations/python-client/setup.py
  examples/reference-implementations/typescript-client/README.md
  examples/reference-implementations/typescript-client/examples/basic-usage.ts
  examples/reference-implementations/typescript-client/examples/messaging.ts
  examples/reference-implementations/typescript-client/examples/publish-agent.ts
  examples/reference-implementations/typescript-client/package.json
  examples/reference-implementations/typescript-client/src/agents.ts
  examples/reference-implementations/typescript-client/src/client.ts
  examples/reference-implementations/typescript-client/src/discovery.ts
  examples/reference-implementations/typescript-client/src/index.ts
  examples/reference-implementations/typescript-client/src/messaging.ts
  examples/reference-implementations/typescript-client/tsconfig.json
Due: none

docs(openapi): add comprehensive OpenAPI documentation (#185)
  docs/api-reference/endpoints.md
  docs/api-reference/errors.md
  docs/api-reference/examples.md
  docs/api-reference/schemas.md
  docs/guides/agent-lifecycle.md
  docs/guides/capability-development.md
  docs/guides/getting-started.md
  docs/openapi/README.md
  docs/openapi/agents.md
  docs/openapi/authentication.md
  docs/openapi/discovery.md
  docs/openapi/messaging.md
Due: docs:sync:agent

feat(adapter): add Anthropic Claude runtime adapter (#148)
  src/adapters/anthropic/client.ts
  src/adapters/anthropic/config.ts
  src/adapters/anthropic/index.ts
  src/adapters/anthropic/messages.ts
  src/adapters/anthropic/runtime.ts
  src/adapters/anthropic/tools.ts
  tests/unit/adapters/anthropic.test.ts
Due: none

feat(openapi): add Agent Communication Standards spec (#173)
  openapi/agent-communication.yaml
  schemas/communication.json
Due: validate:yaml, ossa:validate:security, validate:ossa:security

feat(openapi): add Agent Identity & Authentication spec (#171)
  openapi/agent-identity.yaml
  schemas/identity.json
Due: validate:yaml, ossa:validate:security, validate:ossa:security
