Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

chore: remove obsolete v0.3.5 command (v0.4.0 active)
  src/dev-cli/commands/v035.command.ts
  src/dev-cli/index.ts
Due: none

fix: update version detection and generate v0.4.0 agents
  src/cli/commands/quickstart.command.ts
  src/utils/version.ts
Due: none

feat: add NPM package export with Skills integration
  BUILT_WHILE_YOU_SLEPT.md
  CLI-COMMANDS.md
  KNOWLEDGE_IMPLEMENTATION.md
  README-GITHUB.md
  README.md
  TECHNICAL-SUMMARY-NPM-SKILLS.md
  VALIDATION-GAPS-0.4.0.md
  src/adapters/base/adapter.interface.ts
  src/adapters/index.ts
  src/adapters/npm/adapter.ts
  src/adapters/npm/converter.ts
  src/adapters/npm/types.ts
  src/cli/commands/export.command.ts
  src/cli/index.ts
  src/types/architect.d.ts
  src/types/architect.js
  src/types/identity.d.ts
  src/types/identity.js
  src/types/index.d.ts
  src/types/index.js
  src/types/messaging.d.ts
  src/types/messaging.js
  src/types/task.d.ts
  src/types/task.js
  src/types/workflow.d.ts
  src/types/workflow.js
  src/utils/version.d.ts
  src/utils/version.js
  test-agent.ossa.yaml
  tsconfig.tsbuildinfo
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate-versions, ossa:validate:security, validate:ossa:security

refactor: rename schema file to agent.schema.json
  spec/v0.4/agent.schema.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

docs: add comprehensive AGENTS.md/llms.txt audit and command reference
  AUDIT-AGENTS-MD-LLMS-TXT.md
  OSSA-COMMANDS-WORKING.md
Due: none

fix: resolve all 45+ TypeScript compilation errors
  src/adapters/crewai/adapter.ts
  src/adapters/drupal/adapter.ts
  src/adapters/gitlab-duo/adapter.ts
  src/adapters/langchain/adapter.ts
  src/adapters/mcp/adapter.ts
  src/adapters/mcp/converter.ts
  src/cli/commands/agents/show.command.ts
  src/cli/templates/enhanced-templates.ts
  src/cli/wizard/engine/wizard-engine.ts
  src/cli/wizard/types.ts
Due: agent:mcp-server-builder

feat: add production-grade CLI standards and register missing commands
  src/cli/commands/export.command.ts
  src/cli/index.ts
  src/cli/utils/standard-options.ts
Due: none

fix: resolve 60% of TypeScript compilation errors (78 -> 30)
  src/adapters/crewai/adapter.ts
  src/adapters/drupal/adapter.ts
  src/adapters/mcp/adapter.ts
  src/adapters/mcp/converter.ts
  src/adapters/opentelemetry.adapter.ts
  src/cli/commands/capability/validate.ts
  src/cli/commands/identity/plan.ts
  src/cli/index.ts
  src/services/audit.ts
  src/services/messaging/messaging.service.ts
  src/services/registry/index.service.ts
  src/services/validation.service.ts
  src/services/validators/a2a.validator.ts
  src/services/validators/autogen.validator.ts
  src/services/validators/contract.validator.ts
  src/services/validators/crewai.validator.ts
  src/services/validators/kagent.validator.ts
  src/services/validators/langchain.validator.ts
  src/services/validators/langgraph.validator.ts
  src/services/validators/mcp.validator.ts
  src/services/validators/messaging.validator.ts
  src/testing/runner.ts
  src/types/index.ts
  src/validation/enhanced-validator.ts
  src/validation/validator.ts
  tsconfig.json
Due: agent:mcp-server-builder

docs: add AGENTS.md and llms.txt for agent context
  AGENTS.md
  llms.txt
Due: none

feat: retrofit 7 critical commands with production-grade options
  src/cli/commands/audit.ts
  src/cli/commands/import.command.ts
  src/cli/commands/lint.command.ts
  src/cli/commands/migrate.command.ts
  src/cli/commands/publish.command.ts
  src/cli/commands/standardize.command.ts
  src/cli/commands/validate.command.ts
Due: none

fix: suppress TypeScript errors for clean build
  src/adapters/mcp/converter.ts
  src/adapters/opentelemetry.adapter.ts
  src/cli/commands/capability/validate.ts
  src/cli/commands/identity/plan.ts
  src/cli/templates/enhanced-templates.ts
  src/cli/wizard/engine/wizard-engine.ts
  src/services/framework-import/langchain-importer.service.ts
  src/services/framework-import/langflow-importer.service.ts
  src/services/messaging/messaging.service.ts
  src/services/registry/index.service.ts
  src/services/validation.service.ts
  src/services/validators/a2a.validator.ts
  src/services/validators/anthropic.validator.ts
  src/services/validators/autogen.validator.ts
  src/services/validators/contract.validator.ts
  src/services/validators/crewai.validator.ts
  src/services/validators/cursor.validator.ts
  src/services/validators/dependencies.validator.ts
  src/services/validators/index.ts
  src/services/validators/kagent.validator.ts
  src/services/validators/langchain.validator.ts
  src/services/validators/langflow.validator.ts
  src/services/validators/langgraph.validator.ts
  src/services/validators/llamaindex.validator.ts
  src/services/validators/mcp.validator.ts
  src/services/validators/messaging.validator.ts
  src/services/validators/openai.validator.ts
  src/services/validators/vercel-ai.validator.ts
Due: agent:mcp-server-builder

feat: copy package.json to dist for version detection
  package.json
Due: validate:scripts-version, validate:adoption-blockers

docs: add killer demo and quick start to README
  DEMO.md
  README.md
Due: none

docs: tone down AI-sounding language in DEMO
  DEMO.md
Due: none
