Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, ossa:generate-schema, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

validate:yaml:
  stage: validate
  image: python:3.11-alpine
  before_script:
  - pip install yamllint --quiet
  script:
  - 'echo "üîç Validating YAML files..."
  
    yamllint -c .yamllint.yml . || true
  
    echo "‚úÖ YAML validation complete"
  
    '
  allow_failure: true

validate:ossa:
  stage: validate
  image: node:20-alpine
  before_script:
  - npm install -g @bluefly/openstandardagents
  script:
  ...

validate:gitlab-ci:
  stage: validate
  image: alpine:latest
  before_script:
  - apk add --no-cache curl jq
  script:
  ...

agent:ossa-validator:
  image: alpine:latest
  before_script:
  - apk add --no-cache curl jq
  variables:
    GIT_STRATEGY: none
  script:
  - invoke_agent "manifest-validator" "validate --strict"
  stage: agents
  allow_failure: true

agent:ci-fixer:
  image: alpine:latest
  before_script:
  - apk add --no-cache curl jq
  variables:
    GIT_STRATEGY: none
  script:
  - invoke_agent "pipeline-remediation" "validate"
  stage: agents
  allow_failure: true

agent:website-reviewer:
  image: alpine:latest
  before_script:
  - apk add --no-cache curl jq
  variables:
    GIT_STRATEGY: none
  script:
  - invoke_agent "merge-request-reviewer" "review --focus website"
  stage: agents
  allow_failure: true

post-review:docs-sync:
  stage: post-review
  image: node:20-alpine
  script:
  - 'echo "üìö Syncing documentation..."
  
    cd website
  
    npm ci --prefer-offline --no-audit
  
    npm run sync-wiki || true
  
    echo "‚úÖ Documentation sync complete"
  
    '
  when: manual
  allow_failure: true

bot:wiki-sync:
  stage: sync
  image: node:20
  script:
  - npm install
  - node scripts/bots/bot-wiki-sync.ts
  variables:
    SOURCE_DIR: website/content/docs
  allow_failure: true

content:validate-agents:
  stage: validate
  image: node:20-alpine
  script:
  - npm install -g ajv-cli
  ...

fix: add metrics endpoint to drupal-module-developer agent per Duo suggestion
  .agents/workers/drupal-module-developer/agent.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate:security, validate:ossa:security

fix: add metrics endpoint to all agent.ossa.yaml files per Duo suggestions
  .agents/workers/drupal-module-developer/agent.ossa.yaml
  .agents/workers/drupal-security-compliance/agent.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate:security, validate:ossa:security

fix(ci): use CI_DEPLOY_OSSA instead of GITLAB_PUSH_TOKEN
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): add manual publish step for v0.3.3 if tag exists but package not published
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): add dedicated job to publish v0.3.3 explicitly
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

docs: update README with latest features - dev CLI, observability adapters, Discord link
  README.md
Due: none

fix(release): update changelog title to Software Agents
  .releaserc.json
Due: none

fix: sync version references for v0.3.3 release
  CHANGELOG.md
  package.json
Due: none

chore: update package-lock.json after npm install
  package-lock.json
Due: none

fix: update package-lock.json with @semantic-release/github
  package-lock.json
Due: none

fix: sync version references to v0.3.3 for docs-consistency
  CHANGELOG.md
  package.json
Due: none

fix: Resolve pipeline e2e coverage failures
  .agents/workers/drupal-module-developer/agent.ossa.yaml
  .agents/workers/drupal-security-compliance/agent.ossa.yaml
  PIPELINE_FIX_SUMMARY.md
  jest.config.ts
  package.json
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate:security, validate:ossa:security

fix(ci): fix test:e2e and coverage threshold for v0.3.3 release
  jest.config.ts
  package.json
Due: none

fix(ci): use CI_DEPLOY_OSSA instead of GITLAB_PUSH_TOKEN in release-workflow
  .gitlab/ci/release-workflow.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): align quality:gates rules with test job rules
  .gitlab/ci/quality-gates.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  ossa:generate-schema: any of: spec/**/*.json
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ossa-validator: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
