Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:documentation, validate:agent-manifests, validate:llms-txt, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:documentation:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  tags: []
  variables:
    NODE_ENV: production
  before_script:
  - cd website
  - npm ci --prefer-offline --no-audit
  script:
  ...

validate:agent-manifests:
  stage: validate
  image: alpine:latest
  before_script:
  - apk add --no-cache bash curl jq yq
  script:
  ...

validate:llms-txt:
  stage: validate
  image: alpine:latest
  before_script:
  - apk add --no-cache curl
  script:
  ...

validate:yaml:
  stage: validate
  image: python:3.11-slim
  script:
  - pip install yamllint
  - yamllint -d relaxed .

validate:ossa:
  stage: validate
  image: node:20-slim
  script:
  - npm install -g @bluefly/ossa-cli
  - ossa validate --strict
  allow_failure: false

validate:gitlab-ci:
  stage: validate
  image: alpine:latest
  script:
  - apk add --no-cache curl jq
  ...

agent:ossa-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:drupal-standards:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:ci-fixer:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:config-auditor:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:recipe-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:theme-tester:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

docs:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: gitlab-lib-ci
    AGENT_TASK: docs-sync
    SOURCE_BRANCH: $CI_COMMIT_BRANCH

deploy:infra:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: infra-prod
    AGENT_TASK: deploy
    ENVIRONMENT: production
    MANIFEST_PATH: infrastructure/

content:validate-agents:
  stage: validate
  image: node:20-alpine
  script:
  - npm install -g ajv-cli
  ...

fix: tighten guardrails and pin platform-agents version
  .gitlab-ci.yml
  .gitlab/ci/guardrails.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: update agent-integration.yml to use canonical agent names
  .gitlab/ci/agent-integration.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: correct guardrails with proper git fetch and bot- detection
  .gitlab/ci/guardrails.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: Remove shell script files and update .gitignore
  .gitlab/runners/setup-autoscaler.sh.old
Due: none

fix: Block all shell script files in .gitignore
  .gitignore
Due: none

fix: Remove all shell script files from repository
  .gitlab/scripts/detect-version.sh
  infrastructure/k8s/gitlab-runner-setup.sh
Due: deploy:infra:agent

fix: Add all automation documentation files from framework website
  infrastructure/k8s/local-deploy.sh
  infrastructure/k8s/review-app-deploy.sh
  website/content/docs/automation/ci-integration.md
  website/content/docs/automation/dev-tag-automation.md
  website/content/docs/automation/enforcement-rules.md
  website/content/docs/automation/entry-requirements.md
  website/content/docs/automation/issue-lifecycle.md
  website/content/docs/automation/merge-train-configuration.md
  website/content/docs/automation/milestone-automation.md
  website/content/docs/automation/programmatic-api.md
  website/content/docs/automation/troubleshooting.md
Due: validate:documentation, deploy:infra:agent, bot:wiki-sync

fix: Add missing documentation files from framework website
  website/content/docs/cli-reference/ossa-providers.md
  website/content/docs/configuration/configuration-files.md
  website/content/docs/overview.md
  website/content/docs/related-pages.md
  website/content/docs/workflow-requirements.md
  website/dev.sh
Due: validate:documentation, bot:wiki-sync

chore(release): update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

chore(ci): auto-sync OSSA spec, versions, examples, and wiki [skip ci]
  build.env
  scripts/lib/versions.json
  website/content/docs/.wiki-sync-manifest.json
  website/content/docs/home.md
Due: validate:documentation, bot:wiki-sync

feat: add first-class citizen agent template to OSSA v0.3.3 examples
  spec/v0.3.3/examples/first-class-citizen-agent-template.yaml
Due: validate:yaml, drupal:sync:agent, schema:validate-examples, ossa:validate:security, validate:ossa:security

docs: add comprehensive restoration status report
  RESTORATION_STATUS.md
Due: none

chore: revert DRY generator implementation
  tests/results/junit.xml
Due: none

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:documentation: any of: website/content/docs/**/*.md, website/content/blog/**/*.md, website/public/llms.txt
  validate:agent-manifests: any of: .gitlab/agents/**/*.ossa.yaml
  validate:llms-txt: any of: website/public/llms.txt
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
