Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

feat: add 3 OSSA-native dev agent manifests
  examples/agents/security-audit-agent.ossa.yaml
  examples/drupal/drupal-contributor.ossa.yaml
  examples/gitlab-agents/gitlab-ci-agent.ossa.yaml
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, ossa:validate:security, validate:ossa:security

ci: disable code_quality on oracle arm64 runners
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

docs(research): add 2026 agentic ai ecosystem summary
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

chore: sync package-lock.json with package.json to fix npm ci
  package-lock.json
Due: none

fix: import cedar-wasm from nodejs path to fix esm extension error during npx discovery
  src/services/governance/cedar-validator.service.ts
Due: none

docs(research): add 2026 agentic ai protocol and security brief
  research-summary.tar.gz
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

docs(research): add 2026 agentic AI ecosystem report
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

fix(security): scrub secret-like examples
  .gitlab/release-automation/START_HERE.md
  docs/errors/ossa-100.md
  docs/exports/anthropic.md
  docs/guides/api-endpoints.md
  docs/openapi/README.md
  docs/openapi/agents.md
  docs/openapi/authentication.md
  docs/openapi/discovery.md
  docs/openapi/messaging.md
  examples/gitlab-agents/DEPLOYMENT.md
  examples/gitlab-agents/duo-comment-responder/README.md
  examples/gitlab-agents/mr-reviewer/README.md
  examples/gitlab-agents/pipeline-auto-fix/README.md
  examples/showcase/customer-support.ossa.yaml
  openapi/agent-identity.yaml
  spec/v0.4/agent.schema.json
  spec/v0.5/agent.schema.json
  src/adapters/gitlab/agent-generator.ts
  src/adapters/gitlab/package-generator.ts
  src/deployment-templates/DEPLOYMENT_BEST_PRACTICES.md
  src/deployment-templates/ENVIRONMENT_VARIABLES.md
  src/services/validation/README.md
  src/tools/docs/generate-api-docs.ts
  tests/unit/validation/enhanced-validator.test.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, validate:yaml, validate:ossa, post-review:docs-sync, bot:wiki-sync, conformance:examples, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, ossa:validate:security, validate:ossa:security

fix(security): harden yaml parsing
  package-lock.json
  src/api/routes/validate.router.ts
  src/cli/commands/agent-card.command.ts
  src/cli/commands/ensure-uuid.command.ts
  src/cli/commands/policy.command.ts
  src/cli/commands/sign.command.ts
  src/deployment-templates/render-templates.js
  src/mcp-server/index.ts
  src/services/mcp/bridge.service.ts
  src/services/workspace/workspace.service.ts
  src/utils/manifest-scanner.ts
Due: agent:mcp-server-builder

build(deps): sync lockfile metadata
  package-lock.json
Due: none

fix(release): align v0.5.0 examples docs and tests
  README.md
  examples/getting-started/01-minimal-agent.ossa.yaml
  examples/getting-started/02-agent-with-tools.ossa.yaml
  examples/getting-started/03-agent-with-safety.ossa.yaml
  examples/getting-started/04-agent-with-messaging.ossa.yaml
  examples/getting-started/05-workflow-composition.ossa.yaml
  examples/getting-started/README.md
  examples/getting-started/hello-world-complete.ossa.yaml
  llms.txt
  package.json
  tests/e2e/npm-pack.smoke.spec.ts
  tests/integration/agents-md-validation.test.ts
  tests/integration/cli/generate.test.ts
  tests/integration/platform-export.test.ts
  tests/integration/platform-import.test.ts
  tests/integration/release-surface.test.ts
  tests/integration/schema-validation.test.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, validate:scripts-version, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

fix(schema): align default schema paths with v0.5.0
  package.json
  src/cli/schema-driven/schema-loader.ts
  src/tools/validate-package.ts
  src/validation/validator.ts
  tests/integration/release-surface.test.ts
  tests/unit/schema/agents-md-extension.test.ts
  tests/unit/task-schema.test.ts
  tests/unit/workflow-schema.test.ts
Due: validate:scripts-version, validate:adoption-blockers

fix(examples): align release manifests with v0.5
  examples/drupal/content-moderator.ossa.yaml
  examples/drupal/drupal-contributor.ossa.yaml
  examples/pipeline-agent.ossa.yaml
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, ossa:validate:security, validate:ossa:security

feat(spec): add kind: Role manifest for IDE operator contexts
  examples/roles/drupal-developer.role.yaml
  examples/roles/platform-operator.role.yaml
  examples/roles/security-auditor.role.yaml
  spec/extensions/role-manifest.md
  spec/v0.5/agent.schema.json
  spec/v0.5/role.schema.json
  src/types/index.ts
  src/types/role.ts
Due: ossa:generate-schema, agent:ossa-validator, validate:yaml, conformance:examples, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

fix(security): scrub hardcoded credentials from docs, config, and source files
  .env.example
  .gitlab/infrastructure/orbstack/agent-chat.yaml
  .gitlab/templates/workflow/golden/template.yml
  config/messenger.yaml
  docs/advanced/observability.md
  docs/guides/messenger.md
  docs/guides/troubleshooting.md
  examples/export/langchain/production-agent-with-memory/README.md
  spec/v0.4/extensions/mcp/README.md
  spec/v0.5/extensions/mcp/README.md
  src/deployment-templates/ENVIRONMENT_VARIABLES.md
  src/messenger/README.md
  src/services/export/langchain/langchain-exporter.ts
  src/services/export/langchain/memory-generator.ts
  src/services/export/testing/test-generator.ts
Due: agent:ossa-validator, agent:mcp-server-builder, validate:yaml, post-review:docs-sync, bot:wiki-sync, conformance:examples, schema:validate-examples, ossa:validate:security, validate:ossa:security

docs(research): add 2026 agentic AI ecosystem summary
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

docs(research): add downloadable research archive
  research-summary.zip
Due: none

docs(research): add 2026 agent ecosystem protocol and security brief
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

chore: save uncommitted work
  .version.json
  CLAUDE.md
  package-lock.json
Due: ossa:validate-versions

Revert "merge: resolve package-lock conflict, keep remote"
  .version.json
  package-lock.json
Due: ossa:validate-versions

Revert "chore: save uncommitted work"
  .version.json
  CLAUDE.md
  package-lock.json
Due: ossa:validate-versions

feat: integrate @better-openclaw/core — 201 services, 44 skill packs, 21 presets
  package-lock.json
  package.json
  src/adapters/docker/index.ts
  src/adapters/docker/openclaw-bridge.ts
Due: validate:scripts-version, validate:adoption-blockers

feat: integrate proxy-agent, agent-browser, twig-drupal-filters, universal-user-agent
  package-lock.json
  package.json
  src/adapters/browser/browser-exporter.ts
  src/adapters/browser/browser-runner.ts
  src/adapters/browser/index.ts
  src/adapters/drupal/index.ts
  src/adapters/drupal/twig-renderer.ts
  src/utils/proxy-resolver.ts
  src/utils/user-agent.ts
Due: validate:scripts-version, validate:adoption-blockers

feat: wire proxy-agent and universal-user-agent into global fetch
  package.json
  src/cli/index.ts
  src/utils/http-client.ts
  src/utils/index.ts
  tsconfig.json
Due: validate:scripts-version, validate:adoption-blockers

feat(cognition): add CAOE cognition types, OpenAPI spec (cherry-pick 58524df96)
  .gitlab/tasks/close-milestone-task.ossa.yaml
  openapi/agent-cognition-sessions.yaml
  spec/v0.4/agent.schema.json
  src/types/cognition.zod.ts
  src/types/index.ts
  tests/types/cognition.zod.test.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, validate:yaml, validate:ossa, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

feat(cognition): add session, hypothesis, alignment gate JSON schema extensions (cherry-pick 60433a917)
  spec/extensions/cognition.schema.json
  spec/v0.5/agent.schema.json
  spec/v0.5/extensions/cognition/cognition.schema.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

feat(cognition): wire CAOE cognition types into release/v0.5.x exports + tests (Refs: CAOE)
  src/index.ts
  tests/unit/types/cognition.zod.spec.ts
Due: none

docs(research): add 2026 agentic AI protocols and security dossier
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

docs: add 2026 agentic AI ecosystem research summary
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

fix(mcp): wire ossa_validate + ossa_publish to DI services (cherry-pick from #444)
  src/mcp-server/__tests__/mcp-server.spec.ts
  src/mcp-server/index.ts
Due: agent:mcp-server-builder

fix: exclude sign.command.ts from build so release-automation dist is emitted
  tsconfig.json
Due: none
