Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:ossa:manifests:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Validating OSSA manifests in ${CI_PROJECT_PATH}"
  ...

check:ossa:version:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA manifest versions"
  ...

estimate:ossa:cost:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Estimating OSSA agent costs"
  ...

check:ossa:safety:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA safety configurations"
  ...

validate:k8s-resources:
  stage: validate
  image: node:20-slim
  before_script:
  - npm install -g ts-node typescript js-yaml @types/js-yaml @types/node
  script:
  - echo "ðŸ” Validating Kubernetes resource limits..."
  - ts-node examples/bridges/k8s/validate-resources.ts examples/bridges/k8s/
  allow_failure: false

validate:agent-team:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - 'echo "üîç Validating extension development team configuration..."
  
    ossa validate .gitlab/agents/extension-development-team.ossa.yaml
  
    ossa validate .gitlab/agents/examples/*.ossa.yaml
  
    echo "‚úÖ Agent team configuration valid"
  
    '

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

fix(hooks): fix __dirname ESM error in architecture-audit pre-push hook
  src/tools/validation/architecture-audit.ts
Due: validate:scripts-version

fix(hooks): correct architecture-audit DRY overlap map
  src/tools/validation/architecture-audit.ts
Due: validate:scripts-version

feat(api): add GET /api/v1/wizard/definitions endpoint
  openapi/ossa-api.openapi.yaml
  src/api/routes/wizard.router.ts
  src/services/wizard/wizard-state.service.ts
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

fix(v0.4.6): remove all internal URLs and paths from published package
  examples/gitlab-agents/DEPLOYMENT.md
  examples/gitlab-agents/duo-comment-responder/README.md
  examples/gitlab-agents/duo-comment-responder/webhook-config.json
  examples/gitlab-agents/k8s/deploy-all.yaml
  examples/gitlab-agents/mr-reviewer/README.md
  examples/gitlab-agents/mr-reviewer/webhook-config.json
  examples/gitlab-agents/pipeline-auto-fix/README.md
  examples/gitlab-agents/pipeline-auto-fix/src/workflow.ts
  examples/gitlab-agents/pipeline-auto-fix/webhook-config.json
  examples/infrastructure/token-rotation/openapi.yaml
  examples/kagent/ossa-kagent-anthropic.ossa.yaml
  examples/kagent/ossa-kagent-multi-tool.ossa.yaml
  examples/ossa-templates/11-react-performance-expert.ossa.yaml
  examples/ossa-templates/12-typescript-type-safety-expert.ossa.yaml
  examples/ossa-templates/13-accessibility-champion.ossa.yaml
  examples/ossa-templates/14-security-hardening-agent.ossa.yaml
  openapi/ossa-cli-enhancements.openapi.yaml
  openapi/release-automation.openapi.yaml
  package.json
  spec/ossa-audit-api.yaml
  src/cli/commands/skills.command.ts
  src/cli/commands/wizard-api-first.command.ts
  src/cli/commands/wizard-interactive.command.ts
  src/data/marketplace-skills-catalog.ts
  src/services/conformance/profile-loader.service.ts
  templates/agent-types/claude-agent.ossa.yaml
  templates/agent-types/kagent.ossa.yaml
  templates/agent-types/langchain-agent.ossa.yaml
  templates/agent-types/openapi-agent.ossa.yaml
  templates/agent-types/swarm-agents.ossa.yaml
  templates/validators/capability-compatibility.ossa.yaml
  templates/validators/coordination-consistency.ossa.yaml
  templates/validators/pattern-requirements.ossa.yaml
  templates/validators/transport-compatibility.ossa.yaml
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, schema:validate-examples, validate:scripts-version, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

feat(api): add Marketplace & Plugin OpenAPI spec + fix Cedar typecheck
  openapi/marketplace-plugin.openapi.yaml
  src/services/interfaces/governance-provider.interface.ts
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

feat(ci): restructure publishing pipeline — dev/rc/stable flow
  .gitlab-ci.yml
  spec/v0.4/agent.schema.json
  src/services/governance/cedar-provider.ts
Due: ossa:generate-schema, agent:ossa-validator, validate:yaml, validate:gitlab-ci, agent:ci-fixer, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

fix(version): update all stale v0.4.5 references to v0.4.6
  README.md
  src/sdks/go/ossa/manifest.go
  src/sdks/python/examples/complete_agent_example.py
  src/sdks/python/ossa/manifest.py
  src/utils/version.ts
  src/validation/error-codes.ts
Due: none

chore(v0.5.0): initialize release/v0.5.x development branch
  .version.json
  CHANGELOG.md
  package-lock.json
  package.json
  spec/v0.5/agent-card.schema.json
  spec/v0.5/agent.schema.json
  spec/v0.5/conformance/profiles/baseline.json
  spec/v0.5/conformance/profiles/enterprise.json
  spec/v0.5/extensions/a2a/README.md
  spec/v0.5/extensions/a2a/a2a.schema.json
  spec/v0.5/extensions/ag2/ag2.schema.json
  spec/v0.5/extensions/cognition/cognition.schema.json
  spec/v0.5/extensions/cognition/thought-node.schema.json
  spec/v0.5/extensions/crewai/crewai.schema.json
  spec/v0.5/extensions/drupal/drupal.schema.json
  spec/v0.5/extensions/evals/evals.schema.json
  spec/v0.5/extensions/governance/governance-extension.yaml
  spec/v0.5/extensions/identity/identity.schema.json
  spec/v0.5/extensions/kagent/README.md
  spec/v0.5/extensions/kagent/kagent.schema.json
  spec/v0.5/extensions/langchain/langchain.schema.json
  spec/v0.5/extensions/langgraph/langgraph.schema.json
  spec/v0.5/extensions/mcp/README.md
  spec/v0.5/extensions/mcp/mcp.schema.json
  spec/v0.5/extensions/memory/memory.schema.json
  spec/v0.5/extensions/team/team.schema.json
  spec/v0.5/extensions/token-efficiency/token-efficiency.schema.json
  spec/v0.5/mcp.schema.json
  spec/v0.5/skill.schema.json
  spec/v0.5/validator.schema.json
Due: ossa:generate-schema, agent:ossa-validator, agent:mcp-server-builder, validate:yaml, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

chore: save SDK updates on release/v0.5.x
  src/sdks/go/go.mod
  src/sdks/go/go.sum
  src/sdks/go/ossa/manifest/manifest.go
  src/sdks/go/ossa/types/types.go
  src/sdks/go/ossa/validator/validator.go
  src/sdks/python/ossa/__init__.py
  src/sdks/python/ossa/adapters/__init__.py
  src/sdks/python/ossa/adapters/anthropic.py
  src/sdks/python/ossa/adapters/base.py
  src/sdks/python/ossa/adapters/openai.py
  src/sdks/python/ossa/agent.py
  src/sdks/python/ossa/bridges/__init__.py
  src/sdks/python/ossa/bridges/crewai.py
  src/sdks/python/ossa/bridges/langchain.py
  src/sdks/python/ossa/bridges/openai_agents.py
  src/sdks/python/ossa/builders.py
  src/sdks/python/ossa/cli.py
  src/sdks/python/ossa/events/__init__.py
  src/sdks/python/ossa/events/cloudevents.py
  src/sdks/python/ossa/exceptions.py
  src/sdks/python/ossa/manifest.py
  src/sdks/python/ossa/tracing/__init__.py
  src/sdks/python/ossa/tracing/w3c_baggage.py
  src/sdks/python/ossa/types.py
  src/sdks/python/ossa/validator.py
  src/sdks/python/pyproject.toml
  src/sdks/python/tests/__init__.py
  src/sdks/python/tests/conftest.py
  src/sdks/python/tests/test_bridges.py
  src/sdks/python/tests/test_builders.py
  src/sdks/python/tests/test_events.py
  src/sdks/python/tests/test_manifest.py
  src/sdks/python/tests/test_tracing.py
  src/sdks/python/tests/test_types.py
  src/sdks/python/tests/test_validator.py
Due: none

feat: complete Tier 1 NIST criteria (x-signature CLI, cdxgen SBOM, and spec linting)
  .gitlab-ci.yml
  spec/uadp/README.md
  src/cli/commands/sign.command.ts
  src/cli/index.ts
  src/sdks/go/cmd/ossa/main.go
  src/sdks/go/go.mod
  src/sdks/go/go.sum
  src/sdks/go/ossa.go
  src/sdks/go/ossa/builder.go
  src/sdks/go/ossa/manifest.go
  src/sdks/go/ossa/manifest/manifest.go
  src/sdks/go/ossa/ossa_test.go
  src/sdks/go/ossa/types.go
  src/sdks/go/ossa/types/types.go
  src/sdks/go/ossa/validator.go
  src/sdks/go/ossa/validator/validator.go
  src/services/trust/trust.service.ts
Due: agent:ossa-validator, validate:yaml, validate:gitlab-ci, agent:ci-fixer, schema:validate-examples, ossa:validate:security, validate:ossa:security

feat: implement Tier 2 v0.5 schema primitives (controls, consent, impact, transparency, cognition)
  spec/v0.5/agent.schema.json
  src/sdks/typescript/types.ts
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

test(conformance): add v0.5.0 NIST validation fixtures (Output D2)
  tests/fixtures/conformance/conformance-profile.md
  tests/fixtures/conformance/invalid-agent.yaml
  tests/fixtures/conformance/valid-agent.yaml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

feat(uadp): Universal AI Discovery Protocol v0.1.0 — spec, OpenAPI, JSON schemas, and SDKs
  .gitlab/components/workflow/golden/template.yml
  docs/specs/uadp.md
  openapi/uadp-asyncapi.yaml
  openapi/uadp-openapi.yaml
  sdk/go/client.go
  sdk/go/cmd/uadp-test/main.go
  sdk/go/go.mod
  sdk/go/server.go
  sdk/go/types.go
  sdk/go/validate.go
  sdk/python/pyproject.toml
  sdk/python/src/ossa_uadp/__init__.py
  sdk/python/src/ossa_uadp/client.py
  sdk/python/src/ossa_uadp/conformance.py
  sdk/python/src/ossa_uadp/server.py
  sdk/python/src/ossa_uadp/types.py
  sdk/python/src/ossa_uadp/validate.py
  sdk/typescript/package.json
  sdk/typescript/src/client.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/server.ts
  sdk/typescript/src/test.ts
  sdk/typescript/src/types.ts
  sdk/typescript/src/validate.ts
  sdk/typescript/tsconfig.json
  spec/uadp/README.md
  spec/uadp/openapi.yaml
  spec/uadp/schemas/uadp-agents-response.schema.json
  spec/uadp/schemas/uadp-federation-response.schema.json
  spec/uadp/schemas/uadp-manifest.schema.json
  spec/uadp/schemas/uadp-skills-response.schema.json
Due: ossa:generate-schema, agent:ossa-validator, validate:yaml, post-review:docs-sync, bot:wiki-sync, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

chore: sync OpenAPI specs from registry master
  README.md
  package-lock.json
  package.json
  sdk/typescript/package.json
  sdk/typescript/src/server.ts
  sdk/typescript/src/test.ts
  spec/uadp/README.md
  src/cli/commands/discover.ts
  src/cli/commands/verify.ts
  src/cli/commands/workspace.command.ts
Due: agent:ossa-validator, schema:validate-examples, validate:scripts-version, validate:adoption-blockers

fix(ci): upgrade docker:24 to docker:27 across all templates and examples
  .gitlab/templates/workflow/golden/template.yml
  examples/bridges/.gitlab-ci.yml
  examples/gitlab-agents/daily-code-scan/.gitlab-ci.yml
  examples/gitlab-agents/duo-comment-responder/.gitlab-ci.yml
  examples/gitlab-agents/mr-reviewer/.gitlab-ci.yml
  examples/gitlab-agents/pipeline-auto-fix/.gitlab-ci.yml
  examples/gitlab-agents/pre-commit-quality-check/.gitlab-ci.yml
  examples/gitlab-agents/pre-push-validation/.gitlab-ci.yml
  templates/ci-cd/gitlab-ci.deploy.yml
Due: validate:yaml, conformance:examples, schema:validate-examples, ossa:validate:security, validate:ossa:security

chore: add ai.json metadata for OSSA discovery
  ai.json
Due: none

fix: rebase-sync hook only rebases when behind origin
  lefthook.yml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

feat(audit): bootstrap audit rules catalog
  catalog/audit-rules/index.yaml
  catalog/audit-rules/rules/aerospike-default-namespace.yaml
  catalog/audit-rules/rules/aerospike-hardcoded-socket.yaml
  catalog/audit-rules/rules/aerospike-missing-prefix.yaml
  catalog/audit-rules/rules/aerospike-no-failover.yaml
  catalog/audit-rules/rules/aerospike-perm-ttl-missing.yaml
  catalog/audit-rules/rules/aerospike-queue-without-namespace.yaml
  catalog/audit-rules/rules/cedar-dangerous-functions.yaml
  catalog/audit-rules/rules/cedar-gate-disabled.yaml
  catalog/audit-rules/rules/cedar-hardcoded-api-key.yaml
  catalog/audit-rules/rules/cedar-merge-conflict.yaml
  catalog/audit-rules/rules/cedar-missing-compliance-engine.yaml
  catalog/audit-rules/rules/cedar-missing-ossa-manifest.yaml
  catalog/audit-rules/rules/cedar-no-direct-sql.yaml
  catalog/audit-rules/rules/drupal-empty-catch.yaml
  catalog/audit-rules/rules/drupal-hardcoded-credentials.yaml
  catalog/audit-rules/rules/drupal-unescaped-input.yaml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

fix(cli): include release-automation in published package
  .version.json
  package-lock.json
  package.json
Due: ossa:validate-versions, validate:scripts-version, validate:adoption-blockers

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
