Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, validate:scripts-version, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:version-sync:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - npm ci --legacy-peer-deps
  - echo "Checking version consistency..."
  - npm run version:check
  allow_failure: false

validate:scripts-version:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  before_script:
  - npm ci --legacy-peer-deps
  script:
  ...

docs:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: gitlab-lib-ci
    AGENT_TASK: docs-sync
    SOURCE_BRANCH: $CI_COMMIT_BRANCH

deploy:infra:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: infra-prod
    AGENT_TASK: deploy
    ENVIRONMENT: production
    MANIFEST_PATH: infrastructure/

deploy:ml:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: ml-prod
    AGENT_TASK: deploy-model
    MODEL_PATH: models/

drupal:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: drupal-prod
    AGENT_TASK: sync-content
    CONTENT_TYPE: ossa-agents

validate:ossa:security:
  validate

chore(tests): add Jest and unit test infrastructure
  .gitlab-ci.yml
Due: validate:ossa:security

feat(spec): OSSA v0.3.1 Messaging Extension + Automated Patch Version Management
  .gitlab-ci.yml
  .gitlab/agents/AGENT_CATALOG.md
  .gitlab/agents/mr-reviewer/manifest.ossa.yaml
  .gitlab/ci/release-workflow.yml
  .gitlab/ci/version-sync.yml
  .gitlab/scripts/detect-version.sh
  .lefthook/checks/prevent-hardcoded-versions.sh
  .version.json
  .wiki-config.json
  README.md
  build.env
  package.json
  scripts/ci-version-sync.ts
  scripts/sync-versions.ts
  spec/v0.3.0/ossa-0.3.0.schema.json
  src/cli/commands/validate.command.ts
  src/repositories/schema.repository.ts
  src/services/validation.service.ts
  src/services/validators/index.ts
  src/services/validators/messaging.validator.ts
  src/types/index.ts
  src/types/messaging.ts
  tests/unit/repositories/schema.repository.test.ts
  tests/unit/services/validators/messaging.validator.test.ts
Due: validate:version-sync, validate:scripts-version, docs:sync:agent, drupal:sync:agent, validate:ossa:security

chore(ci): migrate to perfect CI template
  .gitlab-ci.yml
  discord-bot/src/utils/ossa-validator.ts
  package-lock.json
  website/lib/version.ts
  website/lib/versions.json
  website/package.json
Due: validate:ossa:security

docs(readme): restructure for technical clarity and move links to bottom
  README.md
Due: validate:version-sync, docs:sync:agent

feat(ci): add automated changelog generation with git-cliff
  .gitlab-ci.yml
  CHANGELOG.md
  cliff.toml
Due: validate:ossa:security

feat(ci): automated changelog generation with git-cliff
  .gitlab-ci.yml
  cliff.toml
Due: validate:ossa:security

feat(schema): enhance v0.3.0 schema for enterprise agent manifests
  spec/v0.3.0/ossa-0.3.0.schema.json
Due: validate:version-sync, drupal:sync:agent

fix/sync main for mr123
  .gitlab-ci.yml
Due: validate:ossa:security

fix/final sync for mr123
  .gitlab-ci.yml
Due: validate:ossa:security

fix(release): clean v0.3.0 - remove premature v0.3.1 content
  spec/v0.3.0/ossa-0.3.0.schema.json
  spec/v0.3.1/adapters/crewai-messaging.md
  spec/v0.3.1/adapters/gitlab-agent-messaging.md
  spec/v0.3.1/adapters/kagent-messaging.md
  spec/v0.3.1/adapters/langchain-messaging.md
  spec/v0.3.1/adapters/langflow-messaging.md
  spec/v0.3.1/messaging.md
  spec/v0.3.1/ossa-0.3.1.schema.json
Due: validate:version-sync, drupal:sync:agent

Resolve "Make Website Fully Dynamic for Patch and Minor Releases"
  website/package.json
  website/scripts/fix-version-references.js
Due: none

fix(cli): auto-detect schema version from manifest apiVersion
  .gitlab/ci/components/ossa-agent-component.yml
  .gitlab/ci/webhook-agents.yml
  docs/integrations/gitlab-ultimate-observability.md
  examples/observability/gitlab-ci-template.yml
  src/cli/commands/migrate.command.ts
  src/cli/commands/validate.command.ts
  src/services/generation.service.ts
  src/services/migration.service.ts
  src/services/runtime/claude/manifest-parser.ts
  tests/integration/cli/generate.test.ts
  tests/integration/cli/validate.test.ts
  tests/unit/services/migration.service.test.ts
Due: docs:sync:agent, validate:ossa:security

Resolve "🔍 COMPREHENSIVE AUDIT: v0.3.0 Spec Compliance & Dogfooding Analysis"
  .gitlab/duo-agent-config.yaml
Due: validate:ossa:security

feat: make Whats New section 100% dynamic from spec CHANGELOGs
  website/app/page.tsx
  website/components/WhatsNewSection.tsx
  website/lib/release-highlights.json
  website/lib/version.ts
  website/package.json
  website/scripts/fetch-release-highlights.js
Due: none

feat: add ultimate GitLab Duo agent config
  .agents/claude/agent.ossa.yaml
  .agents/cody/agent.ossa.yaml
  .agents/copilot/agent.ossa.yaml
  .agents/cursor/agent.ossa.yaml
  .agents/example-agent/manifest.ossa.yaml
  .agents/jetbrains/agent.ossa.yaml
  .agents/kiro/agent.ossa.yaml
  .agents/orchestrators/meta-orchestrator/agent.yml
  .agents/vscode/agent.ossa.yaml
  .agents/windsurf/agent.ossa.yaml
  .agents/workers/drupal-migration-intelligence/agent.ossa.yaml
  .agents/workers/drupal-migration-intelligence/agent.yml
  .agents/workers/drupal-module-developer/agent.ossa.yaml
  .agents/workers/drupal-module-developer/agent.yml
  .agents/workers/drupal-security-compliance/agent.ossa.yaml
  .agents/workers/drupal-security-compliance/agent.yml
  .agents/workers/security-healer/agent.yml
  .gitlab/agents/gitlab-duo-ossa/duo-config-output.yaml
  .gitlab/agents/gitlab-duo-ossa/generate-duo-config.cjs
  .gitlab/agents/gitlab-duo-ossa/manifest.ossa.yaml
  package-lock.json
  spec/v0.3.0/ossa-0.3.0.schema.json
  src/cli/commands/init.command.ts
  src/cli/commands/migrate.command.ts
  src/cli/commands/schema.command.ts
  src/services/generation.service.ts
  src/services/migration.service.ts
  src/services/validators/messaging.validator.ts
  src/types/index.ts
  src/types/task.ts
  src/types/workflow.ts
  src/utils/version.ts
  tests/integration/platform-import.test.ts
  tests/unit/services/migration.service.test.ts
Due: validate:version-sync, drupal:sync:agent, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  validate:scripts-version: any of: package.json, scripts/**/*
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
