Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, validate:scripts-version, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  validate:scripts-version: any of: package.json, scripts/**/*
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

Duo
  packages/runtime/src/manifest.ts
  scripts/sync-version.ts
  src/bot/compliance-bot.ts
Due: validate:scripts-version

chore(release): update changelog [skip ci]
  CHANGELOG.md
Due: none

Release/v0.3.x
  .gitlab/agents/bots/bot-security-scanner.ossa.yaml
  .gitlab/ci/ossa-version-management.yml
  CHANGELOG.md
  packages/runtime/src/manifest.ts
  spec/v0.3.1/ossa-0.3.0.schema.json
  src/bot/compliance-bot.ts
Due: validate:version-sync, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, drupal:sync:agent, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

fix(ci): create-rc-tag and changelog URL fixes
  .gitlab/agents/bots/bot-ossa-compliance.ossa.yaml
  .gitlab/ci/release-workflow.yml
  .gitlab/release-automation/scripts/generate-changelog.ts
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

Resolve "Website Audit"
  .gitlab-ci.yml
  .gitlab/ci/review-apps.yml
  lefthook.yml
  website/app/page.tsx
  website/app/schema/page.tsx
  website/content/docs/aiflow-framework-integration-with-ossa.md
  website/content/docs/cli/run-command.md
  website/content/docs/deployment/github-mirroring.md
  website/content/docs/documentation.md
  website/content/docs/enterprise-benefits.md
  website/content/docs/migration-guides/drupal-eca-to-ossa.md
  website/content/docs/migration-guides/langchain-to-ossa.md
  website/content/docs/migration-guides/langflow-to-ossa.md
  website/content/docs/migration-guides/openai-to-ossa.md
  website/content/docs/migration-guides/readme.md
  website/content/docs/ossa-compliant-badge.md
  website/content/docs/positioning/adoption-guide.md
  website/content/docs/positioning/comparison-matrix.md
  website/content/docs/positioning/enterprise-benefits.md
  website/content/docs/positioning/value-narrative.md
  website/content/docs/schema-reference/taxonomy.md
  website/content/docs/schema-reference/tools.md
  website/content/docs/specification.md
  website/lib/release-highlights.json
  website/lib/validate.ts
  website/lib/version.ts
  website/lib/versions.json
  website/package.json
  website/public/examples.json
  website/scripts/validate-links.js
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore(release): update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

feat(identity): Comprehensive Agent Identity Extension for OSSA v0.3.1
  .gitignore
  spec/v0.3.1/examples/agent-with-identity.ossa.yaml
  spec/v0.3.1/examples/multi-provider-identity.ossa.yaml
  spec/v0.3.1/extensions/agent-identity.yaml
  spec/v0.3.1/ossa-0.3.1.schema.json
Due: validate:version-sync, validate:yaml, validate:ossa, agent:ossa-validator, drupal:sync:agent, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

feat(ci): generate TypeScript types in CI instead of committing
  .gitlab-ci.yml
  .version.json
  tests/unit/cli/commands/test.test.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore: remove backup file from repository
  .gitlab-ci.yml.bak
Due: none

Release/v0.3.x
  .gitignore
  .gitlab-ci.yml
  .gitlab/agents/bots/bot-ossa-compliance.ossa.yaml
  .gitlab/ci/release-workflow.yml
  .gitlab/release-automation/scripts/generate-changelog.ts
  .version.json
  CHANGELOG.md
  spec/v0.3.1/examples/agent-with-identity.ossa.yaml
  spec/v0.3.1/examples/multi-provider-identity.ossa.yaml
  spec/v0.3.1/extensions/agent-identity.yaml
  spec/v0.3.1/ossa-0.3.1.schema.json
  tests/unit/cli/commands/test.test.ts
Due: validate:version-sync, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, drupal:sync:agent, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security
