Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

docs: update Symphony + Drupal integration page for v0.3.0
  website/content/docs/integrations/symphony-drupal.md
Due: none

fix: change required field validations to warnings
  website/lib/validate.ts
Due: none

fix(validators): add type assertion for schema.type access
  src/services/validators/messaging.validator.ts
Due: none

fix(validators): add missing type assertion for schema.type
  src/services/validators/messaging.validator.ts
Due: none

fix(test-runner): handle undefined assertion.actual properly
  src/services/test-runner/test-runner.service.ts
Due: none

fix(test-runner): extract test assertions to typed variable
  src/services/test-runner/test-runner.service.ts
Due: none

fix(test-runner): handle undefined assertion.actual
  src/services/test-runner/test-runner.service.ts
Due: none

fix(examples): fix YAML syntax errors in workflow examples
  examples/workflows/batch-email-campaign.yaml
  examples/workflows/content-review-publish.yaml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

fix(test-runner): remove duplicate for loop line
  src/services/test-runner/test-runner.service.ts
Due: none

fix(examples): fix YAML validation errors
  examples/workflows/batch-email-campaign.yaml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

fix(examples): quote template expressions in YAML
  examples/workflows/batch-email-campaign.yaml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

fix(examples): simplify template expression to avoid YAML parsing issues
  examples/workflows/batch-email-campaign.yaml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

fix: replace bitnami/kubectl with alpine-based kubectl image to fix shell error
  .gitlab/ci/ossa-version-management.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Agent Discovery & Registry OpenAPI Spec
  openapi/agent-discovery.yaml
  openapi/schemas/discovery.json
Due: validate:yaml, ossa:validate:security, validate:ossa:security

duo
  src/adapters/openapi-adapter.ts
Due: none

Duo
  .gitlab/agents/ossa-validator-v0.3/manifest.ossa.yaml
  src/services/test-runner/test-runner.service.ts
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

duo
  .gitlab/agents/ossa-validator-v0.3/manifest.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

fix: address Duo agent feedback on MR #187
  .gitlab/scripts/detect-version.sh
  website/lib/validate.ts
Due: none

docs: consolidate documentation variants (issue #37)
  website/content/docs/aiflow-framework-integration-with-ossa.md
  website/content/docs/for-audiences/students-researchers.md
  website/content/docs/openapi-extensions/index.md
  website/content/docs/ossa-compliant-badge.md
Due: none
