Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(tests): clean Jest exit, no open-handle from logger
  jest.config.ts
  package.json
  src/utils/logger.ts
Due: validate:scripts-version, validate:adoption-blockers

test(logger): regression test for no pino-pretty transport in Jest
  tests/unit/utils/logger.test.ts
Due: none

feat(skills): ossa skills wizard, DI bind ClaudeSkillsService, validate description-only skills
  spec/extensions/skills-compatibility.md
  src/cli/commands/skills.command.ts
  src/cli/skills-wizard/skill-wizard.ts
  src/di-container.ts
  src/services/skills/claude-skills.service.ts
Due: agent:ossa-validator, schema:validate-examples

docs: add Project-Deep-Dive wiki page and document in AGENTS.md
  .gitlab/wiki-publish-manifest.json
  AGENTS.md
  docs/wiki/Project-Deep-Dive.md
  src/AGENTS.md
Due: post-review:docs-sync, bot:wiki-sync

feat(api): agents-md REST routes with configDir/wikiRoot; fix agent lifecycle type
  src/api/index.ts
  src/api/routes/agents-md.router.ts
  src/types/index.ts
Due: none

feat(agents-md): pass configDir and wikiRoot from CLI to discovery discover/maintain
  src/cli/commands/agents-md.command.ts
  src/services/agents-md/agents-md-discovery.service.ts
Due: none

chore: workspace router, CLI, DI, service, validate-package updates (WIP)
  src/api/routes/workspace.router.ts
  src/cli/commands/workspace.command.ts
  src/di-container.ts
  src/services/workspace/workspace.service.ts
  src/tools/validate-package.ts
Due: validate:scripts-version

feat(validate): hard-fail on revoked metadata.status or metadata.lifecycle
  src/cli/commands/validate.command.ts
Due: none

feat(workspace): enhance scaffold for deep directory registry discovery and explicit multi-worktree binding
  src/api/routes/workspace.router.ts
  src/cli/commands/validate.command.ts
  src/cli/commands/workspace.command.ts
  src/di-container.ts
  src/services/workspace/workspace.service.ts
Due: none

feat: add missing infrastructure schema
  spec/v0.4/agent.schema.json
  src/cli/commands/init.command.ts
  src/services/workspace/workspace.service.ts
  src/types/index.ts
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

ci: add release patch-on-main job for merge to main
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(identity): implement NIST Pillar 3 ECDSA Agent DIDs and fix URL hardcoding
  src/cli/commands/init.command.ts
  src/services/identity/identity.service.ts
  src/services/workspace/workspace.service.ts
  src/types/index.ts
Due: none

chore: preserve local changes on release/v0.4.x
  .eslintrc.json
  README.md
  spec/v0.4/agent.schema.json
  spec/v0.5/agent.schema.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

chore: preserve local changes on release/v0.4.x
  package.json
  src/packages/drupal-mcp-server/src/auth/oauth2.ts
  src/packages/drupal-mcp-server/src/client/drupal-client.ts
  src/packages/drupal-mcp-server/src/server.ts
  src/packages/drupal-mcp-server/src/tools/content.ts
  src/packages/drupal-mcp-server/src/tools/entities.ts
  src/tools/exporters/drupal.exporter.ts
  src/tools/exporters/gitlab-duo.exporter.ts
  src/tools/fix-versions.ts
  src/tools/framework-converters/src/cli.ts
  src/tools/framework-converters/src/converters/autogen.ts
  src/tools/framework-converters/src/converters/crewai.ts
  src/tools/framework-converters/src/converters/langflow.ts
  src/tools/framework-converters/src/types.ts
  src/tools/generators/generate-agents-catalog.ts
  src/tools/gitlab/update-existing-issues.ts
  src/tools/validate-no-symlinks.ts
  src/tools/validate-package.ts
  src/tools/validate-versions.ts
  src/tools/validation/openapi-validate-all.ts
  src/tools/validation/validate-openapi-extensions.ts
  src/tools/validation/version-validator.ts
  src/tools/vscode/src/commands.ts
  src/tools/vscode/src/completion.ts
  src/tools/vscode/src/extension.ts
  src/tools/vscode/src/hover.ts
  src/tools/vscode/src/validator.ts
Due: validate:scripts-version, validate:adoption-blockers

feat(mcp-bridge): implement OSSA MCP Bridge control plane (NIST Pillar 2)
  src/api/index.ts
  src/cli/index.ts
  src/di-container.ts
Due: none

feat(mcp-bridge): add McpBridgeService, router, and CLI command
  .npmrc
  src/api/routes/mcp.router.ts
  src/cli/commands/mcp.command.ts
  src/services/mcp/bridge.service.ts
  tests/cli/knowledge.command.test.ts
Due: agent:mcp-server-builder

chore: resolve upstream merge conflicts in validators
  src/services/validators/autogen.validator.ts
  src/services/validators/crewai.validator.ts
  src/services/validators/kagent.validator.ts
  src/services/validators/langchain.validator.ts
  src/services/validators/langgraph.validator.ts
Due: none
