Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

feat(token-rotation): add token rotation pattern + v0.4.4 release (Hour 5)
  CHANGELOG.md
  docs/patterns/token-rotation.md
  examples/infrastructure/token-rotation/README.md
  examples/infrastructure/token-rotation/manifest.ossa.yaml
  examples/infrastructure/token-rotation/openapi.yaml
  spec/v0.4/agent.schema.json
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, validate:yaml, validate:ossa, post-review:docs-sync, bot:wiki-sync, conformance:examples, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:changelog, ossa:validate:security, validate:ossa:security

feat(types): add agent taxonomy TypeScript types
  src/types/index.ts
Due: none

feat(templates): add agent type templates for v0.4.4
  templates/agent-types/claude-agent.ossa.yaml
  templates/agent-types/kagent.ossa.yaml
  templates/agent-types/langchain-agent.ossa.yaml
  templates/agent-types/openapi-agent.ossa.yaml
  templates/agent-types/swarm-agents.ossa.yaml
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate-versions, ossa:validate:security, validate:ossa:security

feat(validators): implement validators-as-agents foundation (Hour 1)
  spec/v0.4/validator.schema.json
  src/validation/index.ts
  src/validation/validator-registry.ts
  templates/validators/capability-compatibility.ossa.yaml
  templates/validators/coordination-consistency.ossa.yaml
  templates/validators/pattern-requirements.ossa.yaml
  templates/validators/transport-compatibility.ossa.yaml
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

chore: add integration summary and prepare for v0.4.4 release
  INTEGRATION-SUMMARY.md
Due: none

chore: remove tmp smoke test file
  tmp-smoke-test/package.json
Due: none

fix: resolve TypeScript conflicts between architect and taxonomy types
  src/services/ai-architect.service.ts
  src/types/architect.ts
  src/types/index.ts
  src/validation/validator-registry.ts
Due: none

fix: correct import paths in test files
  tests/cli/export.test.ts
  tests/e2e/schema-coverage.smoke.spec.ts
  tests/integration/agents-md-validation.test.ts
  tests/integration/migration-engine.test.ts
  tests/integration/npm-export.integration.test.ts
  tests/integration/platform-export.test.ts
Due: none

feat: implement agent registry commands (Issue #391)
  src/cli/commands/discover.ts
  src/cli/commands/generate-gaid.command.ts
  src/cli/commands/register.ts
  src/cli/commands/verify.ts
  src/cli/index.ts
  src/di-container.ts
  src/index.ts
  src/services/agent-protocol-client.ts
Due: none

feat: wizard GAID integration + comprehensive Agent ID Cards
  src/cli/commands/wizard-interactive.command.ts
  src/services/agent-protocol-client.ts
Due: none

feat: register GAID registry commands in CLI
  src/cli/index.ts
Due: none

test: add comprehensive export tests + testing strategy + fix DI errors
  TESTING_STRATEGY.md
  bin/ossa
  src/services/agent-protocol-client.ts
  tests/integration/cli/export.test.ts
Due: none

feat(gitlab): add GitLab Duo Flow Registry v1 export
  CHANGELOG.md
  examples/gitlab-duo/README.md
  examples/gitlab-duo/code-review-flow.yaml
  src/adapters/gitlab/converter.ts
  src/adapters/gitlab/flow-generator.ts
  src/adapters/gitlab/index.ts
  src/adapters/gitlab/types.ts
  tests/integration/gitlab-duo/flow-generator.test.ts
Due: validate:yaml, conformance:examples, schema:validate-examples, validate:changelog, ossa:validate:security, validate:ossa:security

docs: add comprehensive export integration summary
  EXPORT-INTEGRATION-COMPLETE.md
Due: none
