Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(security): address GitLab Duo security review comments
  .github/workflows/discord-notify.yml
  scripts/professionalize-content.ts
Due: validate:yaml, ossa:validate:security, validate:ossa:security

chore: cleanup project files and configuration
  .github/SUPPORT.md
  .github/workflows/welcome.yml
  package.json
  tools/vscode-ossa/PROJECT_SUMMARY.md
  tools/vscode-ossa/PUBLISHING.md
  tools/vscode-ossa/QUICKSTART.md
  tools/vscode-ossa/README.md
  tools/vscode-ossa/package.json
Due: validate:yaml, ossa:validate:security, validate:ossa:security

fix(release): bump version to 0.3.2 after v0.3.1 release
  .gitlab/ci/release-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore: update repository URLs after migration to ossa group
  .gitlab/agents/gitlab-duo-ossa/duo-config-output.yaml
  .gitlab/agents/gitlab-duo-ossa/manifest.ossa.yaml
  .gitlab/agents/ossa-agent/config-with-service-accounts.yaml
  .gitlab/agents/ossa-agent/config.yaml
  .gitlab/agents/ossa-agent/rbac.yaml
  .gitlab/agents/ossa-local/config.yaml
  .gitlab/ci/agents.yml
  .gitlab/ci/complete-deployment.yml
  .gitlab/ci/mirror-jobs.yml
  .gitlab/ci/post-release.yml
  .gitlab/ci/release-environments.yml
  .gitlab/ci/release-workflow.yml
  .gitlab/ci/review-app.yml
  .gitlab/ci/validation-jobs.yml
  .gitlab/components/ossa-validator/template.yml
  .gitlab/components/version-management/version-bump-agent.yml
  .gitlab/components/workflow/golden/template.yml
  .gitlab/docs/infrastructure/openapi/gitlab-agent.openapi.yaml
  .gitlab/docs/infrastructure/openapi/release-automation.openapi.yaml
  .gitlab/duo-agent-config.yaml
  .gitlab/release-automation/gitlab-ci-release.yml
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

chore: remove .env.local from package.json files array
  package.json
Due: none

Release v0.3.1 to main
  package.json
Due: none

fix: allow v0.3.x schema versions in documentation validation
  website/scripts/validate-links.js
Due: none

fix(release): proper npm dist-tag management
  .gitlab/ci/utilities.yml
  .gitlab/release-automation/scripts/release-buttons.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore: sync main into release/v0.3.x
  .env.local
  .gitlab/KAS_AUDIT.md
  package.json
Due: none

duo
  .env.local
Due: none

docs: add adoption priorities for framework integrations
  .gitlab/issues/ADOPTION_PRIORITIES.md
Due: none

fix failing pipeline
  .gitlab/ci/release-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): remove unsupported regex operators from GitLab CI rules
  .agents/bot-gitlab-ci-fixer.ossa.yaml
  .agents/bot-mr-reviewer.ossa.yaml
  .agents/bot-ossa-validator.ossa.yaml
  .agents/discord-bot/agent.ossa.yaml
  .agents/workflows/mr-agent-router.ossa.yaml
  .gitlab/agents/content-team/author.ossa.yaml
  .gitlab/agents/content-team/editor.ossa.yaml
  .gitlab/agents/content-team/moderator.ossa.yaml
  .gitlab/agents/content-team/orchestrator.ossa.yaml
  .gitlab/agents/content-team/publisher.ossa.yaml
  .gitlab/agents/content-team/researcher.ossa.yaml
  .gitlab/agents/discord-team/orchestrator.ossa.yaml
  .gitlab/agents/doc-validator.ossa.yaml
  .gitlab/agents/issue-triage/manifest.ossa.yaml
  .gitlab/agents/mr-manager/manifest.ossa.yaml
  .gitlab/agents/ossa-local/config.yaml
  .gitlab/agents/ossa-production/config.yaml
  .gitlab/agents/seo-optimizer/manifest.ossa.yaml
  .gitlab/ci/content-agents.yml
  .gitlab/ci/review-app.yml
  .gitlab/duo/flow-triggers.yml
  .gitlab/k8s/review-app.yaml
  bot/discord-bot.ossa.yaml
  k8s/deployment.yaml
  package.json
  website/content/docs/.wiki-sync-manifest.json
  website/public/redocly-config.yaml
  website/scripts/fetch-examples.js
  website/scripts/fetch-spec.js
  website/scripts/fetch-versions.js
  website/scripts/merge-docs-to-wiki.ts
  website/scripts/sync-version.js
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

chore(release): update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

fix(ci): add rebase before push in sync:auto job to handle concurrent commits
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security
