Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:k8s-resources:
  stage: validate
  image: node:20-slim
  before_script:
  - npm install -g ts-node typescript js-yaml @types/js-yaml @types/node
  script:
  - echo "ðŸ” Validating Kubernetes resource limits..."
  - ts-node examples/bridges/k8s/validate-resources.ts examples/bridges/k8s/
  allow_failure: false

validate:agent-team:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - 'echo "üîç Validating extension development team configuration..."
  
    ossa validate .gitlab/agents/extension-development-team.ossa.yaml
  
    ossa validate .gitlab/agents/examples/*.ossa.yaml
  
    echo "‚úÖ Agent team configuration valid"
  
    '

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

agent:ossa-validator:
  image: node:${NODE_VERSION:-20}-alpine
  before_script:
  - apk add --no-cache git curl jq bash
  - npm ci --legacy-peer-deps --prefer-offline --no-audit
  - npm run build
  variables:
    GITLAB_TOKEN: ${SERVICE_ACCOUNT_SECURITY_TOKEN:-${SERVICE_ACCOUNT_DEPLOYMENT_TOKEN:-${CI_JOB_TOKEN}}}
  ...

agent:drupal-standards-checker:
  image: node:${NODE_VERSION:-20}-alpine
  before_script:
  - apk add --no-cache git curl jq bash
  - npm ci --legacy-peer-deps --prefer-offline --no-audit
  - npm run build
  variables:
    GITLAB_TOKEN: ${SERVICE_ACCOUNT_DEPLOYMENT_TOKEN:-${CI_JOB_TOKEN}}
    agent_name: drupal-standards-checker
  script:
  ...

agent:mcp-server-builder:
  image: node:${NODE_VERSION:-20}-alpine
  before_script:
  - apk add --no-cache git curl jq bash
  - npm ci --legacy-peer-deps --prefer-offline --no-audit
  - npm run build
  variables:
    GITLAB_TOKEN: ${SERVICE_ACCOUNT_DEPLOYMENT_TOKEN:-${CI_JOB_TOKEN}}
    agent_name: mcp-server-builder
  script:
  ...

validate:ossa:
  stage: validate
  image: node:20-alpine
  before_script:
  - npm install -g @bluefly/openstandardagents
  script:
  ...

validate:ossa:security:
  validate

fix(lint): auto-fix prettier errors blocking v0.3.5 release
  .gitlab/ci/release-promote.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): revert to NPM_TOKEN authentication for npm publish
  .gitlab/ci/release-promote.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): remove confusing OIDC fallback logic from release:semantic
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

perf(ci): skip wasteful prepublishOnly hook in CI publish jobs
  .gitlab-ci.yml
  .gitlab/ci/release-promote.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): implement proper OIDC authentication for npm trusted publishers
  .gitlab-ci.yml
  .gitlab/ci/release-promote.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): use manual OSSA_NPMJS token, not OIDC
  .gitlab-ci.yml
  .gitlab/ci/release-promote.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(tests): comprehensive test infrastructure cleanup and smoke tests
  .gitignore
  jest.config.ts
  package.json
  tests/e2e/README.md
  tests/e2e/cli.smoke.spec.ts
  tests/e2e/npm-pack.smoke.spec.ts
  tests/e2e/schema-coverage.smoke.spec.ts
  tsconfig.test.json
Due: validate:scripts-version

fix(tests): remove duplicate smoke test directory
  tests/smoke/cli.test.ts
  tests/smoke/npm-pack.test.ts
  tests/smoke/schema-coverage.test.ts
Due: none

fix(tests): use production-grade smoke tests from tests/smoke
  tests/e2e/cli.smoke.spec.ts
  tests/e2e/npm-pack.smoke.spec.ts
  tests/e2e/schema-coverage.smoke.spec.ts
Due: none

feat(sdks): add automated SDK publishing and comprehensive infrastructure docs
  .gitlab-ci.yml
  .gitlab/ci/sdk-publish.yml
  SDK-INFRASTRUCTURE.md
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(ci): add comprehensive pre-push validation and SDK testing
  .gitlab/PRE-PUSH-VALIDATION.md
  .gitlab/ci/optimized-test-jobs.yml
  lefthook.yml
  package.json
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:scripts-version, ossa:validate:security, validate:ossa:security

fix(sdk): add tsconfig.json for TypeScript SDK to enable builds
  src/sdks/typescript/tsconfig.json
Due: none

fix(sdk): add package-lock.json and .gitignore for SDK build reproducibility
  src/sdks/shared/.gitignore
  src/sdks/typescript/.gitignore
  src/sdks/typescript/package-lock.json
Due: none

feat(adapters): export all framework adapters for public use
  src/index.ts
Due: none

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
