Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, validate:scripts-version, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:version-sync:
  needs: []
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - npm ci --legacy-peer-deps
  - npm run build
  - echo "Checking version consistency..."
  - npm run version:check
  allow_failure: false

validate:scripts-version:
  needs: []
  stage: validate
  image: node:${NODE_VERSION}-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm ci --legacy-peer-deps
  script:
  ...

validate:yaml:
  stage: validate
  image: python:3.11-slim
  script:
  - pip install yamllint
  - yamllint -d relaxed .

validate:ossa:
  stage: validate
  image: node:20-slim
  script:
  - npm install -g @bluefly/ossa-cli
  - ossa validate --strict
  allow_failure: false

validate:gitlab-ci:
  stage: validate
  image: alpine:latest
  script:
  - apk add --no-cache curl jq
  ...

agent:ossa-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:drupal-standards:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:ci-fixer:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:config-auditor:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:recipe-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:theme-tester:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

docs:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: gitlab-lib-ci
    AGENT_TASK: docs-sync
    SOURCE_BRANCH: $CI_COMMIT_BRANCH

deploy:infra:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: infra-prod
    AGENT_TASK: deploy
    ENVIRONMENT: production
    MANIFEST_PATH: infrastructure/

ossa:validate-all-agents:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NODE_ENV: production
  before_script:
  - apk add --no-cache git python3 make g++
  ...

fix: disable all platform-agents trigger jobs - use gitlab_components or local execution instead
  .gitlab/ci/agents.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(cli): implement ossa lint command
  src/cli/index.ts
Due: none

feat(cli): implement ossa command for issue #192
  src/cli/commands/diff.command.ts
  src/cli/index.ts
  src/di-container.ts
  src/services/git.service.ts
Due: none

feat: generate spec files in CI instead of committing to git
  .gitignore
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(ci): generate TypeScript types in CI instead of committing
  .gitlab-ci.yml
  .gitlab/ci/build-jobs.yml
  .gitlab/ci/milestone-workflow.yml
  .gitlab/ci/mirror-jobs.yml
  .gitlab/ci/post-release.yml
  .gitlab/ci/quality-gates.yml
  .gitlab/ci/rc-promotion.yml
  .gitlab/ci/rc-validation.yml
  .gitlab/ci/release-jobs.yml
  .gitlab/ci/test-jobs.yml
  .gitlab/ci/utilities.yml
  .gitlab/ci/validation-jobs.yml
  .gitlab/ci/version-detection.yml
  README.md
  src/types/generated/ossa-0.3.0.types.ts
  src/types/generated/ossa-0.3.0.zod.ts
  tests/integration/cli/generate.test.ts.bak5
  tests/unit/cli/commands/test.test.ts.bak5
  tests/unit/services/migration.service.test.ts.bak5
  tests/unit/task-schema.test.ts.bak2
  tests/unit/task-schema.test.ts.bak3
  tests/unit/task-schema.test.ts.bak4
  tests/unit/task-schema.test.ts.bak6
Due: validate:version-sync, validate:yaml, validate:gitlab-ci, agent:ci-fixer, docs:sync:agent, ossa:validate:security, validate:ossa:security

feat(ci): generate TypeScript types in CI instead of committing
  .gitlab/ci/agents.yml
  .gitlab/ci/milestone-workflow.yml
  src/testing/fixtures.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): add validate:documentation CI job
  .gitlab-ci.yml
  .gitlab/ci/validate-documentation.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

docs: add documentation for issue #348
  .gitlab/docs/bot-policies/responsibilities.md
Due: none

feat(cli): implement ossa command for issue #193
  src/cli/index.ts
Due: none

fix(test): use dynamic API version in migration tests
  tests/unit/services/migration.service.test.ts
Due: none

feat(cli): implement ossa command for issue #190
  src/cli/commands/serve.command.ts
  src/cli/index.ts
Due: none

docs: add documentation for issue #349
  .gitlab/docs/bot-policies/enforcer.md
Due: none

feat(ci): generate TypeScript types in CI instead of committing
  .agents/bot-dependency-updater.ossa.yaml
  .gitlab/ci/components/ossa-agent-component.yml
  .gitlab/ci/ossa-integration.yml
  .gitlab/ci/ossa-runners.yml
  .gitlab/ci/schema-automation.yml
  .version.json
  README.md
  package.json
  spec/v0.3.1/UNIFIED-SCHEMA.md
  spec/v0.3.1/adapters/drupal.md
  spec/v0.3.1/adapters/symfony.md
  spec/v0.3.1/agent-test.schema.json
  spec/v0.3.1/examples/drupal-content-writer.ossa.yaml
  spec/v0.3.1/examples/drupal-moderation-assistant.ossa.yaml
  spec/v0.3.1/examples/quick-wins/complete-agent-with-quick-wins.ossa.yaml
  spec/v0.3.1/extensions/drupal.md
  spec/v0.3.1/ossa-0.3.0.schema.json
  spec/v0.3.1/ossa-0.3.1.schema.json
  spec/v0.3.1/protocols/sse.md
  spec/v0.3.1/protocols/webrtc.md
  spec/v0.3.1/protocols/websocket.md
  spec/v0.3.1/schemas/agent-unified.yaml
  spec/v0.3.1/schemas/capabilities.yaml
  spec/v0.3.1/schemas/functions.yaml
  spec/v0.3.1/schemas/messaging/channel.schema.json
  spec/v0.3.1/schemas/messaging/delivery-receipt.schema.json
  spec/v0.3.1/schemas/messaging/message.schema.json
  spec/v0.3.1/schemas/messaging/subscription.schema.json
  spec/v0.3.1/schemas/runtime.yaml
  spec/v0.3.1/schemas/taxonomy.yaml
  spec/v0.3.1/schemas/unified-llm.yaml
  spec/v0.3.1/taxonomy.yaml
  src/bot/dependency-updater-bot.ts
  tests/unit/cli/commands/test.test.ts
Due: validate:version-sync, validate:scripts-version, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, docs:sync:agent, drupal:sync:agent, ossa:validate:security, validate:ossa:security

feat: implement CI pipeline bot (#286)
  .agents/bot-ci-pipeline.ossa.yaml
  src/bot/ci-pipeline-bot.ts
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate:security, validate:ossa:security

feat: implement security scanner bot (#284)
  .agents/bot-security-scanner.ossa.yaml
  .gitlab/agents/bots/bot-security-scanner.ossa.yaml
  .gitlab/ci/components/ossa-agent-component.yml
  .gitlab/ci/components/ossa-workflow-component.yml
  .gitlab/ci/pages.yml
  src/adapters/anthropic/runtime.ts
  src/bot/security-scanner-bot.ts
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

feat: implement architecture validator bot (#285)
  .agents/bot-architecture-validator.ossa.yaml
  src/bot/architecture-validator-bot.ts
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate:security, validate:ossa:security

feat(ci): generate TypeScript types in CI instead of committing
  .gitlab/issues/BUILDKIT_AGENTS_SPAWN_BUG.md
Due: none

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  validate:scripts-version: any of: package.json, scripts/**/*
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
