Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, pages, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  pages: any of: website/**/*, docs/**/*, spec/**/*.md, README.md
  validate:ossa:security: any of: **/*.yml, **/*.yaml

chore(release): v0.2.5 [skip ci]
  package-lock.json
  package.json
Due: validate:version-sync

chore: sync RELEASING.md to v0.2.5
  RELEASING.md
Due: none

fix: update README.md version references to v0.2.5
  README.md
Due: validate:version-sync, pages

fix: improve sync-versions.ts to handle pre-release versions
  scripts/sync-versions.ts
  website/content/docs/00-HOME.md
  website/content/docs/AIFlow-Framework-Integration-with-OSSA.md
  website/content/docs/examples/AIFlow-Framework-Integration-with-OSSA.md
  website/content/docs/for-audiences/Students-Researchers.md
  website/content/docs/getting-started.md
  website/content/docs/getting-started/Installation.md
  website/content/docs/integrations/aiflow.md
  website/content/docs/migration-guides/anthropic-mcp-to-ossa.md
  website/content/docs/migration-guides/crewai-to-ossa.md
  website/content/docs/migration-guides/drupal-eca-to-ossa.md
  website/content/docs/migration-guides/langchain-to-ossa.md
  website/content/docs/openapi-extensions/index.md
  website/content/docs/ossa-ci-cd-agents.md
  website/content/docs/ossa-compliant-badge.md
  website/content/docs/pre-release/index.md
  website/content/docs/versioning.md
Due: pages

fix(ci): decouple pages deployment from release pipeline
  .gitlab-ci.yml
Due: validate:ossa:security

refactor(ci): decouple releases from code flow - milestone-gated releases only
  .gitlab-ci.yml
Due: validate:ossa:security

fix(ci): correct workflow rules syntax
  .gitlab-ci.yml
Due: validate:ossa:security

fix(ci): remove unused setup stage
  .gitlab-ci.yml
Due: validate:ossa:security

fix(ci): restore working CI, make pages manual button
  .gitlab-ci.yml
Due: validate:ossa:security

fix(ci): fully decouple website from releases - manual buttons only
  .gitlab-ci.yml
Due: validate:ossa:security

fix(ci): MINIMAL - just pages deploy
  .gitlab-ci.yml
Due: validate:ossa:security

fix: sync website package-lock.json with package.json
  website/package-lock.json
Due: pages

fix: add missing axios dependency and restore full CI pipeline
  .gitlab-ci.yml
  src/cli/commands/gitlab-agent.command.ts
  src/cli/commands/run.command.ts
  src/services/gitlab-agent.service.ts
  src/services/runtime/openai.adapter.ts
  tests/integration/cli/validate.test.ts
  tests/integration/schema-validation.test.ts
  website/package-lock.json
  website/package.json
Due: pages, validate:ossa:security

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: validate:ossa:security

feat: add release checklist issue template
  .gitlab/issue_templates/Release Checklist.md
Due: none

fix(ci): use build:no-wiki to avoid wiki sync failure blocking pages deployment
  .gitlab-ci.yml
Due: validate:ossa:security

fix(wiki): use correct GitLab host and project path for wiki sync
  website/scripts/sync-wiki.ts
Due: pages

fix failing pipeline
  scripts/sync-versions.ts
  website/content/docs/ossa-ci-cd-agents.md
Due: pages

feat: add release gate variable and prepare 0.2.5-RC release
  .gitlab-ci.yml
  README.md
  RELEASING.md
  package.json
  scripts/sync-versions.ts
  spec/v0.2.5-RC/CHANGELOG.md
  spec/v0.2.5-RC/README.md
  spec/v0.2.5-RC/ossa-0.2.5-RC.schema.json
  spec/v0.2.5-RC/ossa-0.2.5-RC.yaml
  spec/v0.2.5/CHANGELOG.md
  spec/v0.2.5/README.md
  spec/v0.2.5/ossa-0.2.5.schema.json
  spec/v0.2.5/ossa-0.2.5.yaml
  spec/v0.2.6/CHANGELOG.md
  spec/v0.2.6/README.md
  spec/v0.2.6/migrations/v0.2.3-to-v0.2.4.md
  spec/v0.2.6/ossa-0.2.6.schema.json
  spec/v0.2.6/ossa-0.2.6.yaml
  website/.gitlab-ci.yml
  website/content/docs/00-HOME.md
  website/content/docs/AIFlow-Framework-Integration-with-OSSA.md
  website/content/docs/examples/AIFlow-Framework-Integration-with-OSSA.md
  website/content/docs/for-audiences/Students-Researchers.md
  website/content/docs/getting-started/Installation.md
  website/content/docs/integrations/aiflow.md
  website/content/docs/integrations/drupal.md
  website/content/docs/milestone-organization-v0.2.4.md
  website/content/docs/openapi-extensions/index.md
  website/content/docs/ossa-ci-cd-agents.md
  website/content/docs/ossa-compliant-badge.md
  website/content/docs/pre-release/index.md
  website/content/docs/v0.2.4-release-checklist.md
  website/content/docs/versioning.md
Due: validate:version-sync, pages, validate:ossa:security

fix: make pages job work on feature branches
  .gitlab-ci.yml
Due: validate:ossa:security

fix: remove invalid dependency on release:npm from pages job
  .gitlab-ci.yml
Due: validate:ossa:security

chore: sync all version references to 0.2.5-RC
  RELEASING.md
  website/content/docs/00-HOME.md
  website/content/docs/AIFlow-Framework-Integration-with-OSSA.md
  website/content/docs/examples/AIFlow-Framework-Integration-with-OSSA.md
  website/content/docs/for-audiences/Students-Researchers.md
  website/content/docs/getting-started.md
  website/content/docs/getting-started/Installation.md
  website/content/docs/integrations/aiflow.md
  website/content/docs/migration-guides/anthropic-mcp-to-ossa.md
  website/content/docs/migration-guides/crewai-to-ossa.md
  website/content/docs/migration-guides/drupal-eca-to-ossa.md
  website/content/docs/migration-guides/langchain-to-ossa.md
  website/content/docs/ossa-ci-cd-agents.md
Due: pages

fix: update version references to 0.2.5-RC
  RELEASING.md
  spec/v0.2.5-RC/ossa-0.2.5-RC.schema.json
  spec/v0.2.5-RC/ossa-0.2.5-RC.yaml
  website/content/docs/00-HOME.md
  website/content/docs/ossa-ci-cd-agents.md
Due: validate:version-sync, pages, validate:ossa:security

chore: update validation and generation scripts to 0.2.5-RC
  bin/validate-ossa-0.2.5-RC.ts
  package.json
Due: validate:version-sync

feat: automate version detection in npm scripts
  .gitlab-ci.yml
  bin/validate-ossa.ts
  package.json
  scripts/gen-types.js
  scripts/gen-zod.js
  scripts/get-version.js
  scripts/validate-schema.js
Due: validate:version-sync, validate:ossa:security

test: validate release process
  RELEASE_PROCESS_TEST_REPORT.md
Due: none

refactor: convert build scripts to TypeScript with Zod validation
  .gitlab-ci.yml
  package-lock.json
  package.json
  scripts/gen-types.ts
  scripts/gen-zod.ts
  scripts/schemas/package.schema.ts
  scripts/validate-schema.ts
Due: validate:version-sync, validate:ossa:security

chore: add shared utility libraries for build scripts
  scripts/lib/exec.ts
  scripts/lib/file-ops.ts
  scripts/lib/version.ts
Due: none

fix: make GitLab Pages deploy automatically on main branch
  .gitlab-ci.yml
Due: validate:ossa:security

fix: remove emojis from echo statements in pages job
  .gitlab-ci.yml
Due: validate:ossa:security

fix: remove all emojis from echo statements and fix MILESTONE_READY variable expansion
  .gitlab-ci.yml
Due: validate:ossa:security

fix: replace command grouping with if statement in pages job
  .gitlab-ci.yml
Due: validate:ossa:security

fix: replace CRITICAL with ERROR and update sync-versions to TypeScript
  .gitlab-ci.yml
Due: validate:ossa:security

fix: replace remaining CRITICAL with ERROR in echo statement
  .gitlab-ci.yml
Due: validate:ossa:security

fix: improve package.json path resolution with path.resolve and better error handling
  src/cli/index.ts
  tests/integration/schema-validation.test.ts
Due: none

fix: make package.json version loading lazy to avoid Jest module resolution issues
  src/cli/index.ts
Due: none

Remove js and rebuild in ZOD
  .gitlab-ci.yml
  .version-sync-verified
  openapi/gitlab-orchestrator.openapi.yaml
  package.json
  scripts/gen-types.js
  scripts/gen-zod.js
  scripts/get-version.js
  scripts/sync-versions.js
  scripts/sync-versions.ts
  scripts/validate-schema.js
  scripts/validate-schema.ts
  src/cli/index.ts
  tests/integration/cli/validate.test.ts
  website/public/openapi/gitlab-orchestrator.openapi.yml
Due: validate:version-sync, pages, validate:ossa:security

Converting more to zod
  .gitlab-ci.yml
  RELEASING.md
  lefthook.yml
  website/next.config.js
  website/next.config.ts
  website/tailwind.config.js
Due: pages, validate:ossa:security
