Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ossa-validator: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

refactor(cli): apply DRY pattern to remaining CLI commands
  src/cli/commands/agent-card.command.ts
  src/cli/commands/catalog/list.command.ts
  src/cli/commands/registry.command.ts
  src/cli/commands/release.command.ts
  src/cli/commands/schema.command.ts
  src/cli/commands/workspace.command.ts
Due: none

refactor(cli): apply DRY pattern to more CLI commands
  src/cli/commands/agents-md.command.ts
  src/cli/commands/export.command.ts
  src/cli/commands/generate.command.ts
  src/cli/commands/import.command.ts
  src/cli/commands/init.command.ts
  src/cli/commands/llms-txt.command.ts
  src/cli/commands/migrate.command.ts
  src/cli/commands/run.command.ts
  src/cli/commands/setup.command.ts
Due: none

fix(ci): add build step before test:unit
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): skip CLI integration tests until TypeScript errors fixed
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: make SDKs production-ready with Zod 4.x compatibility
  src/cli/commands/catalog/convert.command.ts
  src/cli/commands/catalog/validate.command.ts
  src/di-container.ts
  src/sdks/go/go.mod
  src/sdks/go/ossa/errors.go
  src/sdks/go/ossa/manifest.go
  src/sdks/go/ossa/types.go
  src/sdks/go/ossa/validator.go
  src/sdks/index.ts
  src/sdks/python/ossa/__init__.py
  src/sdks/python/ossa/cli.py
  src/sdks/python/ossa/exceptions.py
  src/sdks/python/ossa/manifest.py
  src/sdks/python/ossa/types.py
  src/sdks/python/ossa/validator.py
  src/sdks/python/pyproject.toml
  src/sdks/shared/index.ts
  src/sdks/shared/manifest-loader.ts
  src/sdks/shared/schema-validator.ts
  src/sdks/shared/types.ts
  src/sdks/shared/validation.ts
  src/sdks/typescript/client.ts
  src/sdks/typescript/manifest.ts
  src/sdks/typescript/validator.ts
  src/services/extension-team/extension-team-kickoff.service.ts
  src/services/release-automation/release-buttons.ts
  src/services/validation-zod.service.ts
  src/services/validators/dependencies.validator.ts
  src/types/index.ts
Due: none

duo
  src/sdks/go/ossa/manifest.go
  src/services/release-automation/release-buttons.ts
Due: none

fix(go-sdk): implement schemaPath JSON Schema validation
  src/sdks/go/ossa/validator.go
Due: none

fix: address MR review comments
  src/sdks/go/ossa/manifest.go
  src/services/release-automation/release-buttons.ts
Due: none

DUo
  .agents/bot-ossa-validator.ossa.yaml
  .gitlab/agents/triggers/gitlab-mr-events.ossa.yaml
  .gitlab/agents/triggers/scheduled-tasks.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

fix(ci): use exit codes instead of grep for validation
  .gitlab/ci/validation-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: add newline at end of swarm-config.json
  .claude/swarm-config.json
Due: none

fix(schema): enable validation of real-world agent manifests
  .agents/power/10-data-transformer.ossa.yaml
  .gitlab-ci.yml
  package-lock.json
  package.json
  spec/v0.3.3/ossa-0.3.3.schema.json
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

refactor: rename power-agents to ossa-templates
  .agents-workspace/registry/index.yaml
  .cursor/environment.json
  .gitlab-ci.yml
  .gitlab/ci/validation-jobs.yml
  examples/ossa-templates/01-code-assistant.ossa.yaml
  examples/ossa-templates/02-security-scanner.ossa.yaml
  examples/ossa-templates/03-ci-pipeline.ossa.yaml
  examples/ossa-templates/04-code-reviewer.ossa.yaml
  examples/ossa-templates/05-doc-generator.ossa.yaml
  examples/ossa-templates/06-compliance-validator.ossa.yaml
  examples/ossa-templates/07-workflow-orchestrator.ossa.yaml
  examples/ossa-templates/08-content-writer.ossa.yaml
  examples/ossa-templates/09-test-generator.ossa.yaml
  examples/ossa-templates/10-data-transformer.ossa.yaml
  examples/ossa-templates/README.md
  examples/showcase/ci-pipeline.ossa.yaml
  examples/showcase/code-assistant.ossa.yaml
  examples/showcase/code-reviewer.ossa.yaml
  examples/showcase/compliance-validator.ossa.yaml
  examples/showcase/content-writer.ossa.yaml
  examples/showcase/data-transformer.ossa.yaml
  examples/showcase/doc-generator.ossa.yaml
  examples/showcase/security-scanner.ossa.yaml
  examples/showcase/test-generator.ossa.yaml
  examples/showcase/workflow-orchestrator.ossa.yaml
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, schema:validate-examples, ossa:validate:security, validate:ossa:security

chore: merge release/v0.3.x to main - all fixes and templates
  .agents-workspace/registry/index.yaml
  .cursor/environment.json
  .gitlab-ci.yml
  .gitlab/ci/validation-jobs.yml
  examples/ossa-templates/01-code-assistant.ossa.yaml
  examples/ossa-templates/02-security-scanner.ossa.yaml
  examples/ossa-templates/03-ci-pipeline.ossa.yaml
  examples/ossa-templates/04-code-reviewer.ossa.yaml
  examples/ossa-templates/05-doc-generator.ossa.yaml
  examples/ossa-templates/06-compliance-validator.ossa.yaml
  examples/ossa-templates/07-workflow-orchestrator.ossa.yaml
  examples/ossa-templates/08-content-writer.ossa.yaml
  examples/ossa-templates/09-test-generator.ossa.yaml
  examples/ossa-templates/10-data-transformer.ossa.yaml
  examples/ossa-templates/README.md
  examples/showcase/ci-pipeline.ossa.yaml
  examples/showcase/code-assistant.ossa.yaml
  examples/showcase/code-reviewer.ossa.yaml
  examples/showcase/compliance-validator.ossa.yaml
  examples/showcase/content-writer.ossa.yaml
  examples/showcase/data-transformer.ossa.yaml
  examples/showcase/doc-generator.ossa.yaml
  examples/showcase/security-scanner.ossa.yaml
  examples/showcase/test-generator.ossa.yaml
  examples/showcase/workflow-orchestrator.ossa.yaml
  package-lock.json
  package.json
  spec/v0.3.3/ossa-0.3.3.schema.json
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

fix(ci): add semantic-release for automated npm publishing
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): check GITLAB_PUSH_TOKEN directly
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security
