Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

feat(adapter): Symfony Messenger OSSA Runtime Adapter
  src/adapters/symfony/index.ts
Due: none

feat(agent): Pipeline auto-fix and GitOps deployer agents
  .gitlab/agents/pipeline-fixer/manifest.ossa.yaml
Due: validate:ossa:security

refactor(agents): optimize GitLab agents with fallbacks and health checks
  .gitlab/agents/ci-cd/manifest.ossa.yaml
  .gitlab/agents/compliance-auditor/manifest.ossa.yaml
  .gitlab/agents/config-validator/manifest.ossa.yaml
  .gitlab/agents/cost-analyzer/manifest.ossa.yaml
  .gitlab/agents/db-migrator/manifest.ossa.yaml
  .gitlab/agents/doc-agent/manifest.ossa.yaml
  .gitlab/agents/issue-triage/manifest.ossa.yaml
  .gitlab/agents/monitoring-agent/manifest.ossa.yaml
  .gitlab/agents/mr-manager/manifest.ossa.yaml
  .gitlab/agents/performance-optimizer/manifest.ossa.yaml
  .gitlab/agents/release-orchestrator/manifest.ossa.yaml
  .gitlab/agents/rollback-coordinator/manifest.ossa.yaml
  .gitlab/agents/security-scanner/manifest.ossa.yaml
  .gitlab/agents/version-manager/manifest.ossa.yaml
Due: validate:ossa:security

feat(schema): Enhance MCP extension with resources and prompts
  spec/v0.3.0/ossa-0.3.0.schema.json
Due: drupal:sync:agent

fix(ci): allow release/* branches to merge to main
  .gitlab/ci/branch-policy.yml
Due: validate:ossa:security

fix(ci): remove development, ONLY allow release/* → main
  .gitlab/ci/branch-policy.yml
Due: validate:ossa:security

feat(agents): Release automation - validators, generators, real-world examples
  .gitlab-ci.yml
  .gitlab/agents/changelog-generator/manifest.ossa.yaml
  .gitlab/agents/example-validator/manifest.ossa.yaml
  .gitlab/agents/release-validator/manifest.ossa.yaml
  .gitlab/ci/release-automation.yml
  examples/real-world/gitlab-cicd-optimizer.ossa.yaml
  examples/real-world/rag-documentation-assistant.ossa.yaml
  package.json
Due: validate:ossa:security

fix: YAML syntax errors in examples
  examples/extensions/kagent-v1.yml
  examples/workflows/batch-email-campaign.yaml
  examples/workflows/content-review-publish.yaml
Due: validate:ossa:security

feat: GitHub mirror audit and management
  .github/workflows/close-prs.yml
Due: validate:ossa:security

fix: Handle multi-document YAML validation and fix indentation
  .gitlab/ci/release-automation.yml
  examples/bridges/k8s/deployment.yaml
Due: validate:ossa:security

feat(github): optimize GitHub mirror with OSSA-powered automation
  .github/workflows/close-prs.yml
Due: validate:ossa:security

feat(adapter): Symfony Messenger OSSA Runtime Adapter
  examples/adapters/symfony-messenger-task.yaml
  examples/adapters/symfony-messenger-workflow.yaml
  spec/v0.3.0/adapters/symfony.md
Due: drupal:sync:agent, validate:ossa:security

feat(sdk): Add CloudEvents v1.0 compliant emitter
  src/sdk/events/cloudevents-emitter.ts
  src/sdk/events/index.ts
Due: none

feat(ci): Dynamic version injection using npm version
  scripts/version-sync.ts
Due: none

fix(ci): Allow feature branches to target release/* branches
  .gitlab/ci/milestone-workflow.yml
Due: validate:ossa:security

feat(sdk): Add W3C Baggage support for multi-agent correlation
  src/sdk/tracing/index.ts
  src/sdk/tracing/w3c-baggage.ts
Due: none

feat(schema): Add encryption config to state storage
  spec/schema/components/encryption.schema.json
Due: drupal:sync:agent

feat(ci): Add ossa-local GitLab Kubernetes agent config
  .gitlab/agents/ossa-local/config.yaml
Due: validate:ossa:security

fix(ci): 100% autonomous release system with auto-tagging
  .gitlab-ci.yml
  .gitlab/CODEOWNERS
  .gitlab/agents/release-orchestrator/README.md
  .gitlab/agents/release-orchestrator/manifest.ossa.yaml
Due: validate:ossa:security

feat(ci): Add per-release environment tracking
  .gitlab-ci.yml
  .gitlab/ci/release-environments.yml
Due: validate:ossa:security
