Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:ossa:manifests:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Validating OSSA manifests in ${CI_PROJECT_PATH}"
  ...

check:ossa:version:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA manifest versions"
  ...

estimate:ossa:cost:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Estimating OSSA agent costs"
  ...

check:ossa:safety:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA safety configurations"
  ...

validate:k8s-resources:
  stage: validate
  image: node:20-slim
  before_script:
  - npm install -g ts-node typescript js-yaml @types/js-yaml @types/node
  script:
  - echo "ðŸ” Validating Kubernetes resource limits..."
  - ts-node examples/bridges/k8s/validate-resources.ts examples/bridges/k8s/
  allow_failure: false

validate:agent-team:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - 'echo "üîç Validating extension development team configuration..."
  
    ossa validate .gitlab/agents/extension-development-team.ossa.yaml
  
    ossa validate .gitlab/agents/examples/*.ossa.yaml
  
    echo "‚úÖ Agent team configuration valid"
  
    '

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

docs: add v0.4.0 changelog
  CHANGELOG.md
Due: validate:changelog

docs: standardize CHANGELOG format to Keep a Changelog 1.1.0
  CHANGELOG.md
Due: validate:changelog

ci: disable golden component tagging
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

ci: add tag stage for golden component
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

ci: use correct golden component tag v0.1.390
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore: move working MD files to wiki
  AUDIT-AGENTS-MD-LLMS-TXT.md
  OSSA-COMMANDS-WORKING.md
  TECHNICAL-SUMMARY-NPM-SKILLS.md
Due: none

chore: remove BUILT_WHILE_YOU_SLEPT.md - should not be public
  BUILT_WHILE_YOU_SLEPT.md
Due: none

fix: remove unused @ts-expect-error directives
  bluefly-openstandardagents-0.3.6.tgz
  src/services/audit.ts
  src/validation/enhanced-validator.ts
  src/validation/validator.ts
Due: none

feat: add 10 strategic production-grade OSSA agents
  .agents/compliance/compliance-checker.ossa.yaml
  .agents/documentation/docs-generator.ossa.yaml
  .agents/exporters/platform-exporter.ossa.yaml
  .agents/integration/integration-tester.ossa.yaml
  .agents/migration/version-migrator.ossa.yaml
  .agents/optimization/performance-optimizer.ossa.yaml
  .agents/release/release-manager.ossa.yaml
  .agents/security/security-auditor.ossa.yaml
  .agents/testing/test-suite-generator.ossa.yaml
  .agents/validators/schema-validator.ossa.yaml
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate-versions, ossa:validate:security, validate:ossa:security

feat: add lefthook pre-commit hook to block .sh files
  lefthook.yml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

chore: ignore .sh files and remove from tracking
  delete-github-branches.sh
Due: none

fix: separate CLI version from OSSA spec version
  .version.json
  AGENTS.md
  src/services/migration.service.ts
  src/types/architect.d.ts
  src/types/architect.js
  src/types/identity.d.ts
  src/types/identity.js
  src/types/index.d.ts
  src/types/index.js
  src/types/messaging.d.ts
  src/types/messaging.js
  src/types/task.d.ts
  src/types/task.js
  src/types/workflow.d.ts
  src/types/workflow.js
  src/utils/version.d.ts
  src/utils/version.js
  src/utils/version.ts
  tests/cli/knowledge.command.test.ts
  tests/unit/services/migration.service.test.ts
Due: ossa:validate-versions

fix: changelog header and skip flaky migration test
  CHANGELOG.md
  tests/unit/services/migration.service.test.ts
Due: validate:changelog

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
