Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:ossa:manifests:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Validating OSSA manifests in ${CI_PROJECT_PATH}"
  ...

check:ossa:version:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA manifest versions"
  ...

estimate:ossa:cost:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Estimating OSSA agent costs"
  ...

check:ossa:safety:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA safety configurations"
  ...

validate:k8s-resources:
  stage: validate
  image: node:20-slim
  before_script:
  - npm install -g ts-node typescript js-yaml @types/js-yaml @types/node
  script:
  - echo "ðŸ” Validating Kubernetes resource limits..."
  - ts-node examples/bridges/k8s/validate-resources.ts examples/bridges/k8s/
  allow_failure: false

validate:agent-team:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - 'echo "üîç Validating extension development team configuration..."
  
    ossa validate .gitlab/agents/extension-development-team.ossa.yaml
  
    ossa validate .gitlab/agents/examples/*.ossa.yaml
  
    echo "‚úÖ Agent team configuration valid"
  
    '

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

chore: release v0.4.8
  .version.json
  CHANGELOG.md
Due: ossa:validate-versions, validate:changelog

chore: release v0.5.1
  .version.json
  CHANGELOG.md
  README.md
  package.json
Due: ossa:validate-versions, validate:scripts-version, validate:changelog, validate:adoption-blockers

chore: add missing CLAUDE.md
  CLAUDE.md
Due: none

chore: release v0.4.9 and add workspace validate command
  .version.json
  CHANGELOG.md
  package-lock.json
  package.json
  src/cli/commands/workspace.command.ts
  src/cli/workspace-validate.ts
Due: ossa:validate-versions, validate:scripts-version, validate:changelog, validate:adoption-blockers

refactor: single validator registry factory, eliminate duplicate initialization (DRY-3)
  src/services/validation-zod.service.ts
  src/services/validators/index.ts
  src/services/validators/registry.ts
Due: none

feat(ossa-v0.5.0): introduce layer 4 execution economics spec
  spec/v0.5/extensions/economics/context-pack.schema.json
  spec/v0.5/extensions/economics/execution-profile.schema.json
  spec/v0.5/extensions/economics/failure-semantics.schema.json
  spec/v0.5/extensions/economics/replay-packet.schema.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

feat(statemesh): Align StateClaims with DUADP four-tier trust model
  src/services/runtime/openai.adapter.ts
Due: none

feat(discovery): Rebuild DUADP discovery with GKG Matchmaker
  src/mesh/discovery-gkg.ts
Due: none

feat(cli): Add Execution Economics and Context Pack commands
  src/cli/commands/economics.command.ts
  src/cli/index.ts
Due: none

feat(ossa): Upgrade to v0.5.1 with Execution Economics, State-Aware Runtime, and CLI
  package-lock.json
  package.json
  src/cli/commands/economics.command.ts
  src/mesh/discovery-gkg.ts
  src/services/runtime/openai.adapter.ts
Due: validate:scripts-version, validate:adoption-blockers

feat(ossa): Implement Reasoning Escrow in AI SDK v6 adapter
  openapi/schemas/common/economics.yaml
  spec/layer4-economics/duadp-examples.json
  src/services/runtime/openai.adapter.ts
Due: ossa:generate-schema, agent:ossa-validator, validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, schema:validate-examples, ossa:validate:security, validate:ossa:security

feat: Add Economics schemas and extend publish command
  src/cli/commands/publish.command.ts
  src/types/index.ts
Due: none

duo
  src/cli/commands/economics.command.ts
Due: none

docs: Update README with StateMesh and Execution Economics integration
  README.md
Due: none

fix: rename wizard API to /api/agent-builder, fix validate regex for v0.5, DRY API_VERSION constant
  src/api/index.ts
  src/cli/commands/catalog/validate.command.ts
  src/cli/commands/economics.command.ts
Due: none

fix: add @ai-sdk/anthropic + @ai-sdk/google to depcheck ignore list
  package.json
Due: validate:scripts-version, validate:adoption-blockers

fix(spec): bump registry API version 0.3.3→0.5.1; add agent-builder-openapi.yaml
  openapi/core/ossa-registry-api.openapi.yaml
  spec/v0.5/agent-builder-openapi.yaml
Due: agent:ossa-validator, validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix: bump agent-crud OpenAPI spec + generated types from v0.3.3 to v0.5.1
  openapi/agent-crud.yaml
  src/generated/types.ts
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

fix(oss): remove all internal/private references for open source publication
  openapi/agent-crud.yaml
  openapi/ossa-cli-enhancements.openapi.yaml
  openapi/release-automation.openapi.yaml
  openapi/uadp-asyncapi.yaml
  openapi/uadp-openapi.yaml
  src/cli/commands/agent/discover-type.command.ts
  src/cli/commands/agents-sync.command.ts
  src/cli/commands/catalog/config.ts
  src/cli/commands/config.command.ts
  src/cli/commands/discover.ts
  src/cli/commands/serve-builder-routes.ts
  src/cli/commands/verify.ts
  src/deployment-templates/docker/docker-values.yaml
  src/deployment-templates/kubernetes/values.yaml.hbs
  src/deployment-templates/template-values.example.json
  src/dev-cli/services/release-verify.service.ts
  src/generated/types.ts
  src/mesh/discovery-gkg.ts
  src/sdks/go/cmd/ossa/main.go
  src/sdks/go/go.mod
  src/sdks/python/pyproject.toml
  src/services/release-automation/release-buttons.ts
  src/tools/check-ci-variables.ts
  src/tools/complete-ci-setup.ts
  src/tools/compliance-audit.ts
  src/tools/generators/unified-config-generator.ts
  src/tools/gitlab/auto-rebase-mrs.ts
  src/tools/gitlab/configure-gitlab-branch-protection.ts
  src/tools/gitlab/create-issue-helper.ts
  src/tools/gitlab/create-milestone-issue.ts
  src/tools/setup-ci-variables.ts
  src/tools/validation/gitlab-ci-validator.ts
  src/tools/verify-npm-auth.ts
  src/validation/version-compliance.ts
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, validate:scripts-version, ossa:validate:security, validate:ossa:security

feat(ossa-cli): add memory subcommand — init|index|resolve|promote
  src/cli/commands/memory.command.ts
  src/cli/index.ts
Due: none

feat(p5): add memory-hierarchy.yaml — three-tier memory contracts
  spec/v0.5/memory-hierarchy.yaml
Due: agent:ossa-validator, validate:yaml, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(deps): uuid ^11.0.5 → ^11.1.0 — platform dependency_standards compliance
  package.json
Due: validate:scripts-version, validate:adoption-blockers

test(p1): add scaffold contract test — ensures apiVersion >= ossa/v0.5.0
  tests/unit/scaffold-contract.test.ts
Due: none

fix(p1): remove deprecated /api/v1/wizard alias — canonical path is /api/agent-builder
  src/api/index.ts
Due: none

fix(tests): replace vitest imports with @jest/globals in unit test files
  tests/unit/scaffold-contract.test.ts
  tests/unit/services/openapi-extensions-validation.test.ts
  tests/unit/types/cognition.zod.spec.ts
Due: none

docs(readme): v0.5.0 → v0.5.1 in Skills Pipeline label
  README.md
Due: none

docs: add 2026 agentic AI ecosystem research summary
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

feat(usie): add usie-skills CLI command for adapter sync
  src/cli/commands/usie-skills.command.ts
  src/cli/index.ts
Due: none

chore(plugins): sync plugin.json configurations
  plugins/bluefly-agent-platform/plugin.json
  plugins/bluefly-k8s-ops/plugin.json
  plugins/bluefly-security/plugin.json
Due: none

chore(plugins): add missing skill files for database-migration, chaos-engineering, performance-profiling, compliance-auditing, incident-response
  plugins/bluefly-agent-platform/skills/database-migration.md
  plugins/bluefly-k8s-ops/skills/chaos-engineering.md
  plugins/bluefly-k8s-ops/skills/performance-profiling.md
  plugins/bluefly-security/skills/compliance-auditing.md
  plugins/bluefly-security/skills/incident-response.md
Due: none

chore: update package-lock.json
  package-lock.json
Due: none

feat(cognition): add session, hypothesis, alignment gate extensions
  spec/v0.5/agent.schema.json
  spec/v0.5/extensions/cognition/cognition.schema.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

fix(release): bump getting-started examples + docs to ossa/v0.5.1; fix cognition test vitest→jest import
  README.md
  examples/getting-started/01-minimal-agent.ossa.yaml
  examples/getting-started/02-agent-with-tools.ossa.yaml
  examples/getting-started/03-agent-with-safety.ossa.yaml
  examples/getting-started/04-agent-with-messaging.ossa.yaml
  examples/getting-started/05-workflow-composition.ossa.yaml
  examples/getting-started/hello-world-complete.ossa.yaml
  llms.txt
  tests/types/cognition.zod.test.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, ossa:validate:security, validate:ossa:security

docs: wire repo control primitives and fix stale metadata
  AGENTS.md
  README.md
  ai.json
  llms.txt
Due: none

docs: add agentic AI protocols and security research summary
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

docs: comprehensive 0.5.1 CHANGELOG and README — all features documented
  CHANGELOG.md
  README.md
Due: validate:changelog

docs(research): add 2026 agentic ai ecosystem report
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

docs: add 2026 agentic AI ecosystem research bundle
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
