Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:yaml:
  stage: validate
  image: python:3.11-alpine
  before_script:
  - pip install yamllint --quiet
  script:
  - 'echo "üîç Validating YAML files..."
  
    yamllint -c .yamllint.yml . || true
  
    echo "‚úÖ YAML validation complete"
  
    '
  allow_failure: true

validate:ossa:
  stage: validate
  image: node:20-alpine
  before_script:
  - npm install -g @bluefly/openstandardagents
  script:
  ...

validate:gitlab-ci:
  stage: validate
  image: alpine:latest
  before_script:
  - apk add --no-cache curl jq
  script:
  ...

agent:ossa-validator:
  image: alpine:latest
  before_script:
  - apk add --no-cache curl jq
  variables:
    GIT_STRATEGY: none
  script:
  - invoke_agent "manifest-validator" "validate --strict"
  stage: agents
  allow_failure: true

agent:ci-fixer:
  image: alpine:latest
  before_script:
  - apk add --no-cache curl jq
  variables:
    GIT_STRATEGY: none
  script:
  - invoke_agent "pipeline-remediation" "validate"
  stage: agents
  allow_failure: true

agent:website-reviewer:
  image: alpine:latest
  before_script:
  - apk add --no-cache curl jq
  variables:
    GIT_STRATEGY: none
  script:
  - invoke_agent "merge-request-reviewer" "review --focus website"
  stage: agents
  allow_failure: true

post-review:docs-sync:
  stage: post-review
  image: node:20-alpine
  script:
  - 'echo "üìö Syncing documentation..."
  
    cd website
  
    npm ci --prefer-offline --no-audit
  
    npm run sync-wiki || true
  
    echo "‚úÖ Documentation sync complete"
  
    '
  when: manual
  allow_failure: true

docs:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: gitlab-lib-ci
    AGENT_TASK: docs-sync
    SOURCE_BRANCH: $CI_COMMIT_BRANCH

deploy:infra:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: infra-prod
    AGENT_TASK: deploy
    ENVIRONMENT: production
    MANIFEST_PATH: infrastructure/

deploy:ml:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: ml-prod
    AGENT_TASK: deploy-model
    MODEL_PATH: models/

fix: update schema JSON in spec/v0.2.5-RC/ and regenerate TypeScript types and Zod validators
  .gitlab/agents/compliance-auditor/manifest.ossa.yaml
  .gitlab/agents/config-validator/manifest.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

fix: format TypeScript types array in tsconfig.json for consistency
  packages/runtime/tsconfig.json
Due: none

feat: add unified config and enhanced agent generators
  package.json
  src/tools/generators/enhanced-agent-generator.ts
  src/tools/generators/unified-config-generator.ts
Due: none

chore: add released specs to .gitignore
  .gitignore
Due: none

fix: resolve CI config and version validation issues
  .claude/memory/version-management.md
  .gitlab-ci.yml
  .gitlab/agents/version-manager/manifest.ossa.yaml
  .gitlab/ci/_archived/docs-generation.yml
  .gitlab/ci/_archived/version-sync.yml
  .gitlab/ci/ossa-version-management.yml
  .gitlab/ci/release-jobs.yml
  .gitlab/ci/validation-jobs.yml
  .gitlab/docs/development/README.md
  .gitlab/docs/development/versioning.md
  .gitlab/docs/version-management-automation.md
  examples/reference-implementations/typescript-client/package.json
  package.json
  packages/runtime/package.json
  src/cli/commands/release.command.ts
  src/repositories/schema.repository.ts
  src/tools/docs/process-doc-templates.ts
  src/tools/validation/version-validator.ts
  src/tools/version/detect-ossa-version.ts
  src/tools/version/sync-versions.ts
  src/tools/version/unified-version-sync.ts
  src/tools/vscode-ossa/package.json
  src/utils/version.ts
  tests/unit/repositories/schema.repository.test.ts
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, ossa:validate-all-agents, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix: update version validator to skip .version.json
  src/tools/validation/version-validator.ts
Due: none

chore: clean up root directory and optimize for open source community
  .devfile.yaml
  .gitignore
  .gitlab/docs/internal/AGENTS.md
  .gitlab/docs/internal/RESTORATION_PLAN.md
  .gitlab/docs/internal/RESTORATION_STATUS.md
  .npmignore
  CONTRIBUTING.md
  README.md
  build.env
  llms-ctx-full.txt
  llms-ctx.txt
  package.json
Due: validate:yaml, docs:sync:agent, ossa:validate:security, validate:ossa:security

docs: add AGENTS.md and optimize llms.txt per standards
  AGENTS.md
  llms.txt
Due: none

docs: add AGENTS.md and llms.txt references to README
  README.md
Due: docs:sync:agent

feat(spec): add project manifest and llms.txt extension
  .ossa/project.ossa.yaml
  spec/v0.3.3/extensions/llms-txt.md
Due: validate:yaml, validate:ossa, agent:ossa-validator, drupal:sync:agent, schema:validate-examples, ossa:validate:security, validate:ossa:security

feat: generate AGENTS.md from project manifest
  AGENTS.md
  scripts/generate-agents-md.ts
Due: none

feat: implement llms.txt extension (complete)
  .ossa/project.ossa.yaml
  spec/v0.3.3/ossa-0.3.3.schema.json
  src/cli/commands/llms-txt.command.ts
  src/cli/index.ts
  src/di-container.ts
  src/services/llms-txt/llms-txt.service.ts
Due: validate:yaml, validate:ossa, agent:ossa-validator, drupal:sync:agent, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

refactor: align llms-txt with OpenAPI, CRUD, Zod, DRY, SOLID
  .ossa/project.ossa.yaml
  openapi/cli-commands.openapi.yaml
  spec/v0.3.3/ossa-0.3.3.schema.json
  src/cli/commands/llms-txt.command.ts
  src/cli/index.ts
  src/services/llms-txt/llms-txt.service.ts
  src/types/index.ts
  src/types/llms-txt.zod.ts
Due: validate:yaml, validate:ossa, agent:ossa-validator, drupal:sync:agent, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

fix(migrations): handle {{VERSION}} placeholder in version detection
  migrations/index.ts
  src/services/llms-txt/llms-txt.service.ts
Due: none

chore(release): prepare v0.3.3 release
  .version.json
  CHANGELOG.md
Due: none

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ossa-validator: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
