Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(ci): make build:dist optional with fallback for test jobs
  .gitlab/ci/optimized-test-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

refactor(dev-cli): enforce DRY, SOLID, Zod, and OpenAPI compliance
  src/dev-cli/src/services/file.service.ts
  src/dev-cli/src/services/git.service.ts
  src/dev-cli/src/services/npm.service.ts
  src/dev-cli/src/services/version-file.service.ts
Due: none

feat(cli): add interactive wizard for agent creation
  src/cli/commands/wizard.command.ts
  src/cli/index.ts
  src/dev-cli/src/services/version-release.service.ts
Due: none

fix(wizard): resolve TypeScript errors
  src/cli/commands/wizard.command.ts
Due: none

test: verify policy validator hook works
  test-hook.txt
Due: none

fix: restore governance docs and context files to root
  AGENTS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  llms-ctx-full.txt
  llms-ctx.txt
  llms.txt
Due: none

Duo
  migrations/index.ts
  openapi/dev-cli.openapi.yml
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

fix(types): add v0.3.4 Zod schema for validation
  src/types/generated/ossa-0.3.4.zod.ts
Due: none

feat(skills): implement Vercel agent-skills pattern for OSSA platform
  examples/agent-skills/SKILLS_CATALOG.md
  examples/ossa-templates/11-react-performance-expert.ossa.yaml
  src/services/skill-registry.service.test.ts
  src/services/skill-registry.service.ts
Due: agent:ossa-validator, validate:yaml, validate:ossa, schema:validate-examples, ossa:validate:security, validate:ossa:security

feat(agents): upgrade all agents to v0.3.5 and leverage new features
  .agents-workspace/registry/index.yaml
  .agents/bot-ossa-validator.ossa.yaml
  .agents/orchestrators/meta-orchestrator/manifest.ossa.yaml
  .agents/orchestrators/meta-orchestrator/manifest.ossa.yaml.v0.3.3.backup
  .agents/spec-healer/manifest.ossa.yaml
  .agents/workflows/mr-agent-router.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate:security, validate:ossa:security

feat(agents): complete upgrade of all worker agents to v0.3.5
  .agents/workers/drupal-migration-intelligence/agent.ossa.yaml
  .agents/workers/drupal-module-developer/agent.ossa.yaml
  .agents/workers/drupal-security-compliance/agent.ossa.yaml
  .agents/workers/security-healer/manifest.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate:security, validate:ossa:security

feat(agents): add cost-optimizer agent leveraging v0.3.5 features
  .agents/workers/cost-optimizer/manifest.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate:security, validate:ossa:security

feat(wizard): add code compliance and knowledge sources step
  src/cli/commands/wizard.command.ts
Due: none

feat(schema): add mandatory knowledge sources and code compliance to OSSA v0.3.5
  spec/v0.3.5/ossa-0.3.5.schema.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

feat(wizard): enhance knowledge graph integration and tracking
  src/cli/commands/wizard.command.ts
Due: none

feat(skills): add Vercel-compatible SKILL.md format alongside OSSA agents
  examples/agent-skills/react-best-practices/SKILL.md
  examples/agent-skills/react-best-practices/references/react-performance-guidelines.md
  src/services/skill-registry.service.ts
Due: schema:validate-examples

fix(skill-registry): resolve TypeScript errors for v0.3.4 compatibility
  spec/v0.3.5/ossa-0.3.5.schema.json
  src/services/skill-registry.service.ts
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

fix(skill-registry): update test to use tools instead of capabilities
  src/cli/commands/wizard.command.ts
  src/services/skill-registry.service.test.ts
Due: none
