Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:yaml:
  stage: validate
  image: python:3.11-slim
  script:
  - pip install yamllint
  - yamllint -d relaxed .

validate:ossa:
  stage: validate
  image: node:20-slim
  script:
  - npm install -g @bluefly/ossa-cli
  - ossa validate --strict
  allow_failure: false

validate:gitlab-ci:
  stage: validate
  image: alpine:latest
  script:
  - apk add --no-cache curl jq
  ...

agent:ossa-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:drupal-standards:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:ci-fixer:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:config-auditor:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:recipe-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:theme-tester:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

docs:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: gitlab-lib-ci
    AGENT_TASK: docs-sync
    SOURCE_BRANCH: $CI_COMMIT_BRANCH

deploy:infra:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: infra-prod
    AGENT_TASK: deploy
    ENVIRONMENT: production
    MANIFEST_PATH: infrastructure/

deploy:ml:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: ml-prod
    AGENT_TASK: deploy-model
    MODEL_PATH: models/

drupal:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: drupal-prod
    AGENT_TASK: sync-content
    CONTENT_TYPE: ossa-agents

ossa:validate-all-agents:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NODE_ENV: production
  before_script:
  - apk add --no-cache git python3 make g++
  ...

validate:ossa:security:
  validate

fix: WebRTC transport test timeout - comprehensive audit and fix
  tests/unit/transports/webrtc.test.ts
Due: none

fix(ci): accept active group range milestone for v0.3.x releases
  .gitlab-ci.yml
  .lefthook/checks/validate-gitlab-ci.sh
  lefthook.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

duo
  .gitlab/ci/release-workflow.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Release/v0.3.x
  .gitlab-ci.yml
  .gitlab/ci/release-workflow.yml
  .lefthook/checks/validate-gitlab-ci.sh
  lefthook.yml
  tests/unit/transports/webrtc.test.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): make release:audit optional for release:npm job
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): add main branch to release:audit rules
  .gitlab-ci.yml
  .gitlab/ci/milestone-workflow.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: set version to 0.3.0 (replace placeholder)
  package.json
Due: none

fix: regenerate package-lock.json with 0.3.0
  package-lock.json
Due: none

fix: replace remaining {{VERSION}} placeholders and version CHANGELOG
  CHANGELOG.md
  package.json
Due: none

fix: update wiki-config VERSION to 0.3.0
  .wiki-config.json
Due: none

chore(release): update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

feat: implement agent-driven documentation infrastructure
  .gitlab-ci.yml
  .gitlab/agents/doc-validator.ossa.yaml
  website/content/docs/schema-reference/agent-spec.md
  website/content/docs/schema-reference/ossa-manifest.md
  website/public/llms.txt
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

Release/v0.3.x
  .gitlab/agents/content-team/editor.ossa.yaml
  .gitlab/ci/merge-train-optimized.yml
  .gitlab/ci/release-workflow.yml
  CHANGELOG.md
  src/cli/commands/docs.command.ts
  src/cli/commands/lint.command.ts
  src/cli/index.ts
  tests/unit/task-schema.test.ts
  tests/unit/transports/webrtc.test.ts
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

fix: disable all platform-agents trigger jobs - use gitlab_components or local execution instead
  .gitlab/ci/agents.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
