Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(tests): fix schema validation tests and update CHANGELOG
  CHANGELOG.md
  tests/integration/schema-validation.test.ts
Due: none

feat(spec): add P0 critical gaps - Discovery, Communication, Lifecycle, Web Protocols
  spec/v0.3.4/ossa-0.3.4.schema.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

feat(spec): add forward-thinking agent capabilities
  spec/v0.3.4/ossa-0.3.4.schema.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

fix(version): restore dynamic versioning from git tags
  src/dev-cli/src/services/version-detection.service.ts
  src/dev-cli/src/services/version-release.service.ts
  src/dev-cli/src/services/version-sync.service.ts
  src/dev-cli/src/services/version-validate.service.ts
Due: none

fix(build): fix version-release service build error
  src/dev-cli/src/services/version-release.service.ts
Due: none

fix(build): add versionDetection property to VersionReleaseService
  src/dev-cli/src/services/version-release.service.ts
Due: none

fix(tests): support prerelease versions in Zod schema and fix validateMany
  src/services/validation.service.ts
  src/types/generated/ossa-0.3.4.zod.ts
  tests/integration/schema-validation.test.ts
Due: none

test: skip failing platform validator test temporarily
  tests/integration/schema-validation.test.ts
Due: none

chore: temporarily lower coverage threshold for AG2 integration
  jest.config.ts
Due: none

feat: Migrate to Golden CI/CD components (Epic #34)
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore: commit pending changes before migration
  spec/v0.3.5/CHANGELOG.md
  spec/v0.3.5/ENHANCEMENT-PLAN.md
  spec/v0.3.5/MIGRATION-v0.3.4-to-v0.3.5.md
  spec/v0.3.5/POSITIONING.md
  spec/v0.3.5/PRODUCTION-DEPLOYMENT.md
  spec/v0.3.5/README.md
  spec/v0.3.5/bat-framework.schema.json
  spec/v0.3.5/capability-discovery.schema.json
  spec/v0.3.5/checkpoint.schema.json
  spec/v0.3.5/completion-signals.schema.json
  spec/v0.3.5/examples/checkpoint-example.ossa.yaml
  spec/v0.3.5/examples/flow-example.ossa.yaml
  spec/v0.3.5/examples/forward-thinking-agent.ossa.yaml
  spec/v0.3.5/examples/moe-example.ossa.yaml
  spec/v0.3.5/feedback-loops.schema.json
  spec/v0.3.5/flow-kind.schema.json
  spec/v0.3.5/infrastructure-substrate.schema.json
  spec/v0.3.5/mixture-of-experts.schema.json
  spec/v0.3.5/moe-metrics.schema.json
  spec/v0.3.5/ossa-0.3.5.schema.json
  src/dev-cli/src/commands/v035.command.ts
  src/tools/docs/generate-v0.3.5-docs.ts
  src/tools/generators/merge-v0.3.5-schema.ts
  src/tools/validation/validate-v0.3.5-features.ts
  tests/integration/v0.3.5/backward-compatibility.test.ts
  tests/unit/v0.3.5/checkpointing.test.ts
  tests/unit/v0.3.5/completion-signals.test.ts
  tests/unit/v0.3.5/moe.test.ts
Due: ossa:generate-schema, agent:ossa-validator, validate:yaml, validate:ossa, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

feat: enable agent validation via golden component inputs
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore: restore stashed changes
  package.json
  src/dev-cli/src/index.ts
Due: none

fix(scripts): make all version references dynamic
  package.json
Due: none

fix(tests): exclude v0.3.5 tests until version is bumped
  jest.config.ts
Due: none
