Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:yaml:
  stage: validate
  image: python:3.11-slim
  script:
  - pip install yamllint
  - yamllint -d relaxed .

validate:ossa:
  stage: validate
  image: node:20-slim
  script:
  - npm install -g @bluefly/ossa-cli
  - ossa validate --strict
  allow_failure: false

validate:gitlab-ci:
  stage: validate
  image: alpine:latest
  script:
  - apk add --no-cache curl jq
  ...

agent:ossa-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:drupal-standards:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:ci-fixer:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:config-auditor:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:recipe-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:theme-tester:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

docs:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: gitlab-lib-ci
    AGENT_TASK: docs-sync
    SOURCE_BRANCH: $CI_COMMIT_BRANCH

deploy:infra:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: infra-prod
    AGENT_TASK: deploy
    ENVIRONMENT: production
    MANIFEST_PATH: infrastructure/

deploy:ml:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: ml-prod
    AGENT_TASK: deploy-model
    MODEL_PATH: models/

drupal:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: drupal-prod
    AGENT_TASK: sync-content
    CONTENT_TYPE: ossa-agents

content:validate-agents:
  stage: validate
  image: node:20-alpine
  script:
  - npm install -g ajv-cli
  ...

validate:ossa:security:
  validate

docs: update README examples to v0.3.2
  README.md
Due: docs:sync:agent

docs(readme): complete v0.3.2 update with Access Tiers, Workspace Governance, and new example
  README.md
Due: docs:sync:agent

fix(release): setup v0.3.2 spec and versioning after v0.3.1 release
  .gitlab-ci.yml
  README.md
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, docs:sync:agent, ossa:validate:security, validate:ossa:security

fix(openapi): resolve validation errors in OpenAPI specs
  openapi/agent-communication.yaml
  openapi/cli-commands.openapi.yaml
  openapi/core/ossa-registry.openapi.yaml
  openapi/reference-implementations/aiflow-bridge-api.openapi.yaml
  openapi/reference-implementations/gitlab-ml-recommender-api.openapi.yaml
  openapi/reference-implementations/quickstart-support-agent-api.openapi.yaml
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

fix(openapi): resolve validation errors in OpenAPI specs
  .gitlab/merge_request_templates/Default.md
  .gitlab/merge_request_templates/ci-pipeline.md
  .gitlab/merge_request_templates/drupal-feature.md
  .gitlab/merge_request_templates/hotfix.md
  .gitlab/merge_request_templates/ossa-agent.md
  .gitlab/merge_request_templates/recipe.md
  openapi/core/ossa-registry.openapi.yaml
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

fix(ci): add allow_failure to changelog and sync jobs
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore(release): update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

RELEASE v0.3.x
  .gitlab/merge_request_templates/Default.md
  .gitlab/merge_request_templates/ci-pipeline.md
  .gitlab/merge_request_templates/drupal-feature.md
  .gitlab/merge_request_templates/hotfix.md
  .gitlab/merge_request_templates/ossa-agent.md
  .gitlab/merge_request_templates/recipe.md
  openapi/agent-communication.yaml
  openapi/cli-commands.openapi.yaml
  openapi/core/ossa-registry.openapi.yaml
  openapi/reference-implementations/aiflow-bridge-api.openapi.yaml
  openapi/reference-implementations/gitlab-ml-recommender-api.openapi.yaml
  openapi/reference-implementations/quickstart-support-agent-api.openapi.yaml
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

fix(ci): trigger create-rc-tag on merge train to main
  .gitlab/ci/release-workflow.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(release): setup v0.3.2 spec and versioning after v0.3.1 release
  .gitlab/ci/release-workflow.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(schema): Add Skills compatibility extension
  spec/extensions/skills-compatibility.md
  spec/v0.3.2/ossa-0.3.2.schema.json
Due: drupal:sync:agent, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

docs(website): comprehensive v0.3.2 specification documentation
  .gitlab-ci.yml
  package-lock.json
  package.json
  scripts/lib/release-highlights.json
  scripts/lib/versions.json
  website/content/docs/00-home.md
  website/content/docs/access-tiers/approval-chains.md
  website/content/docs/access-tiers/index.md
  website/content/docs/access-tiers/overview.md
  website/content/docs/access-tiers/separation.md
  website/content/docs/access-tiers/tiers.md
  website/content/docs/configuration/environment-variables.md
  website/content/docs/configuration/llm-providers.md
  website/content/docs/implementation/runtime-integration.md
  website/content/docs/migration-guides/autogpt-to-ossa.md
  website/content/docs/protocols/delegation.md
  website/content/docs/protocols/index.md
  website/content/docs/protocols/sse.md
  website/content/docs/protocols/websocket.md
  website/content/docs/runtime/control-signals.md
  website/content/docs/runtime/execution-profiles.md
  website/content/docs/runtime/index.md
  website/content/docs/runtime/lifecycle.md
  website/content/docs/runtime/memory-model.md
  website/content/docs/schema-reference/a2a-protocol.md
  website/content/docs/schema-reference/access-tiers.md
  website/content/docs/schema-reference/index.md
  website/content/docs/schema-reference/llm-config.md
  website/content/docs/specification.md
  website/lib/version.ts
  website/lib/versions.json
  website/public/llms.txt
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): install git before using git commands in sync:auto job
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): allow changelog:generate to fail until push token configured
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): only run changelog:generate on release branches
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
