Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, validate:scripts-version, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  validate:scripts-version: any of: package.json, scripts/**/*
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(ci): Remove GitLab sync workflows, GitHub is primary repo
  .github/workflows/dependabot-comment.yml
  .github/workflows/issue-sync-to-gitlab.yml
  .github/workflows/pr-triage-to-gitlab.yml
Due: validate:ossa:security

fix(docs): Correct README to show GitHub as primary public repo
  README.md
Due: validate:version-sync, docs:sync:agent

spec(schema): Add kind: Workflow for mixed Task + Agent composition
  examples/tasks/batch-email-sender.yaml
  examples/tasks/data-transform.yaml
  examples/tasks/publish-content.yaml
  examples/workflows/batch-email-campaign.yaml
  examples/workflows/content-review-publish.yaml
  examples/workflows/simple-etl.yaml
  spec/v0.3.0/ossa-0.3.0.schema.json
  src/types/index.ts
  src/types/task.ts
  src/types/workflow.ts
  tests/unit/task-schema.test.ts
  tests/unit/workflow-schema.test.ts
Due: validate:version-sync, drupal:sync:agent, validate:ossa:security

feat(ci): Add ossa-local GitLab Kubernetes agent config
  .gitlab/agents/ossa-local/config.yaml
Due: validate:ossa:security

feat(ci): Add per-release environment tracking
  .gitlab-ci.yml
  .gitlab/ci/release-environments.yml
Due: validate:ossa:security

feat(agent): Add security-healer and meta-orchestrator agents
  .agents/orchestrators/meta-orchestrator/agent.yml
  .agents/workers/security-healer/agent.yml
Due: validate:ossa:security

feat(spec): Add runtime semantics, type system, and compliance profiles
  spec/v0.2.9/compliance-profiles.md
  spec/v0.2.9/runtime-semantics.md
  spec/v0.2.9/types.ts
Due: validate:version-sync, drupal:sync:agent

feat(release): milestone-gated releases with auto-close
  .gitlab-ci.yml
  src/types/policy.ts
Due: validate:ossa:security

feat(spec): GitLab Duo Platform integration specification
  spec/v0.2.9/gitlab-duo-integration.md
Due: validate:version-sync, drupal:sync:agent

feat(schema): Add identity block and OpenTelemetry semantic conventions
  spec/v0.2.9/ossa-0.2.9.schema.json
  spec/v0.2.9/semantic-conventions.md
Due: validate:version-sync, drupal:sync:agent

fix(ci): replace undefined AGENT_PLATFORM_GROUP with AGENT_PLATFORM_PROJECT
  .gitlab/ci/agents.yml
Due: validate:ossa:security

feat(ci): implement merge train best practices and milestone-driven workflow
  .gitlab-ci.yml
  .gitlab/CODEOWNERS
  .gitlab/ci/merge-train-optimized.yml
  .gitlab/ci/milestone-workflow.yml
Due: validate:ossa:security

feat(spec): A2A Protocol + Agent Manifest specifications
  spec/v0.2.9/agent.md
Due: validate:version-sync, drupal:sync:agent

feat(capabilities): add memory and ML capabilities for agent intelligence
  spec/v0.2.9/capabilities/index.yaml
  spec/v0.2.9/capabilities/memory.yaml
Due: validate:version-sync, drupal:sync:agent, validate:ossa:security

feat(spec): Security Model specification
  spec/v0.2.9/a2a-protocol.md
  spec/v0.2.9/conformance-testing.md
  spec/v0.2.9/security-model.md
Due: validate:version-sync, drupal:sync:agent

feat(schema): add runtimes configuration block for multi-platform execution
  spec/v0.2.9/ossa-0.2.9.schema.json
Due: validate:version-sync, drupal:sync:agent

chore: add swarm tasks v029
  swarm-tasks-v029.json
Due: none

feat(spec): Capability Schema and Registry specification
  spec/v0.2.9/capability-schema.md
Due: validate:version-sync, drupal:sync:agent

fix(ci): redesign release process with post-release cleanup
  .gitlab-ci.yml
  .gitlab/merge_request_templates/Default.md
Due: validate:ossa:security

chore: remove temp swarm tasks file
  swarm-tasks-v029.json
Due: none
