Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, validate:scripts-version, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  validate:scripts-version: any of: package.json, scripts/**/*
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix: resolve lint and build errors for v0.3.0 release
  .gitignore
  .npmignore
  package-lock.json
  package.json
  spec/v0.3.0/taxonomy.yaml
  src/mesh/client.ts
  src/services/agent-services/qdrant.service.ts
  tests/unit/utils/path-validator.test.ts
Due: validate:version-sync, validate:scripts-version, validate:yaml, drupal:sync:agent, ossa:validate:security, validate:ossa:security

feat(cli): implement ossa export command (#189)
  package-lock.json
  src/adapters/crewai-adapter.ts
  src/adapters/langchain-adapter.ts
  src/adapters/langflow-adapter.ts
  src/adapters/openapi-adapter.ts
  src/services/generation.service.ts
  tests/cli/export.test.ts
Due: none

feat(cli): implement ossa test command (#150)
  package-lock.json
  src/cli/commands/test.command.ts
  src/di-container.ts
  src/testing/fixtures.ts
  src/testing/index.ts
  src/testing/reporters/base.ts
  src/testing/reporters/console.ts
  src/testing/reporters/json.ts
  src/testing/runner.ts
  tests/unit/cli/commands/test.test.ts
Due: none

fix(ci): use local runners - shared minutes exhausted
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore(release): v0.3.0 release notes
  CHANGELOG.md
Due: none

fix(ci): use feature branches + MRs instead of direct push to protected branches
  .gitlab-ci.yml
  .gitlab/ci/webhook-sync.yml
  docker-compose.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): use local runners and disable security scans
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore(release): update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

spec: OSSA Drupal extension schema
  spec/v0.3.0/examples/drupal-content-writer.ossa.yaml
  spec/v0.3.0/examples/drupal-moderation-assistant.ossa.yaml
  spec/v0.3.0/extensions/drupal.md
Due: validate:version-sync, validate:yaml, validate:ossa, agent:ossa-validator, drupal:sync:agent, ossa:validate:security, validate:ossa:security

fix(ci): use local runners - shared minutes exhausted
  .agents/README.md
  .gitlab/wiki-content/architecture.md
  .gitlab/wiki-content/deployment.md
  .gitlab/wiki-content/development.md
  .gitlab/wiki-content/getting-started.md
  .gitlab/wiki-content/guides/migration.md
  .gitlab/wiki-content/guides/tutorials.md
  .gitlab/wiki-content/specification/agent-definition.md
  .gitlab/wiki-content/specification/overview.md
  .gitlab/wiki-content/specification/validation.md
  .gitlab/wiki-content/why-ossa.md
  .version.json
  bin/ossa-generate
  docs/integrations/gitlab-ultimate-observability.md
  examples/observability/gitlab-ci-template.yml
  scripts/lib/version.ts
  src/types/generated/ossa-0.3.0.types.ts
  src/types/generated/ossa-0.3.0.zod.ts
  tests/integration/cli/run.test.ts
  tests/unit/repositories/manifest.repository.test.ts
Due: validate:scripts-version, validate:yaml, validate:ossa, agent:ossa-validator, docs:sync:agent, ossa:validate:security, validate:ossa:security

fix(ci): exclude version utility files from placeholder check (cherry-pick)
  .gitlab/ci/ossa-version-management.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(schema): update OSSA v0.3.0 schema for env vars and flexibility
  .gitlab-ci.yml
  .gitlab/ci/ossa-version-management.yml
  .releaserc.json
  CHANGELOG.md
  docs/anthropic-adapter.md
  examples/adapters/mistral-README.md
  examples/adapters/mistral-agent.yaml
  examples/anthropic-adapter-example.ts
  examples/anthropic-simple.ts
  examples/mistral-adapter-example.ts
  examples/mistral-simple.ts
  examples/runtime-adapters/bedrock-claude-example.ossa.yaml
  package-lock.json
  package.json
  scripts/DEPRECATED.md
  spec/v0.3.0/ossa-0.3.0.schema.json
  spec/v0.3.0/schemas/taxonomy.yaml
  src/cli/commands/release.command.ts
  src/cli/commands/validate.command.ts
  src/cli/index.ts
  src/services/messaging/README.md
  src/services/messaging/example.ts
  src/services/messaging/index.ts
  src/services/messaging/memory-broker.ts
  src/services/messaging/messaging.service.ts
  src/services/messaging/messaging.types.ts
  src/services/runtime/README.md
  src/services/runtime/anthropic.adapter.ts
  src/services/runtime/azure.adapter.ts
  src/services/runtime/bedrock.adapter.ts
  src/services/runtime/gemini.adapter.ts
  src/services/runtime/mistral.adapter.ts
  src/services/runtime/ollama.adapter.ts
  src/services/validators/messaging.validator.ts
  tests/unit/anthropic.adapter.test.ts
Due: validate:version-sync, validate:scripts-version, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, docs:sync:agent, drupal:sync:agent, ossa:validate:security, validate:ossa:security

fix(ci): use local runners for release jobs - shared minutes exhausted
  .gitlab/ci/release-workflow.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): use local runners for pages job
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Revert "fix(ci): use local runners for pages job"
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): add timeout and reduce scope for accessibility job
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): use 'local' tag for all jobs
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security
