Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

chore(settings): Configure Squash Merge as Default for Feature Branches
  .gitlab/docs/development/SQUASH_MERGE_POLICY.md
  .gitlab/merge-request-settings.yml
  .gitlab/merge_request_templates/Default.md
  CONTRIBUTING.md
Due: validate:ossa:security

feat(github): optimize GitHub mirror with OSSA-powered automation
  .github/AGENTS.md
  .github/agents/github-issue-triage.ossa.yaml
  .github/agents/github-pr-triage.ossa.yaml
  .github/workflows/close-prs.yml
  .github/workflows/issue-sync-to-gitlab.yml
  .github/workflows/pr-comment.yml
  .github/workflows/pr-triage-to-gitlab.yml
  CONTRIBUTING.md
Due: validate:ossa:security

feat(spec): Formal Policy DSL Specification
  docs/specs/policy-dsl.md
  src/types/policy.ts
Due: docs:sync:agent

feat(ci): Enable GitLab Merge Trains for Protected Branches
  .gitlab-ci.yml
Due: validate:ossa:security

fix(security): use safe YAML parsing to prevent code injection (CWE-502)
  scripts/generate-agents-catalog.ts
Due: none

feat(buildkit): Automated GitLab Ultimate compliance audit system
  package-lock.json
  package.json
  scripts/README.md
  scripts/compliance-audit.ts
Due: none

feat(dogfooding): Add CI/CD optimization agent OSSA manifest
  .gitlab/agents/ci-cd/manifest.ossa.yaml
Due: validate:ossa:security

feat: Automated GitLab Releases with Milestone Integration
  .gitlab-ci.yml
  .gitlab/release-automation/README.md
  .gitlab/release-automation/scripts/generate-changelog.ts
Due: validate:ossa:security

fix(audit): replace deprecated Compliance Framework with Security Policies
  scripts/compliance-audit.ts
Due: none

feat(schema): add reasoning, prompts, and knowledge_graph blocks
  CHANGELOG.md
  examples/advanced/reasoning-agent.yaml
  spec/v0.2.9/ossa-0.2.9.schema.json
Due: drupal:sync:agent, validate:ossa:security

feat(schema): Add reasoning, prompts, and knowledge_graph blocks to OSSA v0.2.9
  CHANGELOG.md
  examples/advanced/reasoning-agent.yaml
  spec/v0.2.9/ossa-0.2.9.schema.json
Due: drupal:sync:agent, validate:ossa:security

feat(release): milestone-gated releases with auto-close
  .gitlab-ci.yml
  src/types/policy.ts
Due: validate:ossa:security

feat(schema): Add identity block and OpenTelemetry semantic conventions
  spec/v0.2.9/ossa-0.2.9.schema.json
  spec/v0.2.9/semantic-conventions.md
Due: drupal:sync:agent

feat(spec): Add runtime semantics, type system, and compliance profiles
  spec/v0.2.9/compliance-profiles.md
  spec/v0.2.9/runtime-semantics.md
  spec/v0.2.9/types.ts
Due: drupal:sync:agent

feat(agent): add security-healer and meta-orchestrator agents
  .agents/orchestrators/meta-orchestrator/agent.yml
  .agents/workers/security-healer/agent.yml
Due: validate:ossa:security

feat(spec): add GitLab Duo Platform integration specification
  spec/v0.2.9/gitlab-duo-integration.md
Due: drupal:sync:agent

feat(agent): Add security-healer and meta-orchestrator agents
  .agents/orchestrators/meta-orchestrator/agent.yml
  .agents/workers/security-healer/agent.yml
Due: validate:ossa:security

feat(spec): GitLab Duo Platform integration specification
  spec/v0.2.9/gitlab-duo-integration.md
Due: drupal:sync:agent

feat(spec): add Conformance Testing specification
  spec/v0.2.9/conformance-testing.md
Due: drupal:sync:agent

feat(spec): Security Model specification
  spec/v0.2.9/a2a-protocol.md
  spec/v0.2.9/conformance-testing.md
  spec/v0.2.9/security-model.md
Due: drupal:sync:agent
