Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, validate:scripts-version, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  validate:scripts-version: any of: package.json, scripts/**/*
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(ci): add timeout and retry to build job
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat: Add OrbStack Kubernetes deployment manifests
  deployment/orbstack/README.md
  deployment/orbstack/agent-chat.yaml
  deployment/orbstack/agent-router.yaml
  deployment/orbstack/agent-tracer.yaml
  deployment/orbstack/minio.yaml
  deployment/orbstack/mongodb.yaml
  deployment/orbstack/namespace.yaml
  deployment/orbstack/openstandardagents.yaml
  deployment/orbstack/postgresql.yaml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

fix: Audit cleanup - conflicts resolved
  .gitlab-ci.yml.bak
  .gitlab/ci/seo-automation.yml.bak
Due: validate:gitlab-ci, agent:ci-fixer

feat(spec): add quick-win capabilities to OSSA v0.3.0 spec (spec-only, no infrastructure)
  spec/v0.3.0/ossa-0.3.0.schema.json
Due: validate:version-sync, drupal:sync:agent

feat: Add self-healing runners and agent configurations
  .agents/bot-gitlab-ci-fixer.ossa.yaml
  .agents/bot-mr-reviewer.ossa.yaml
  .agents/bot-ossa-validator.ossa.yaml
  .agents/triggers/gitlab-mr-events.ossa.yaml
  .agents/triggers/scheduled-tasks.ossa.yaml
  .agents/workflows/mr-agent-router.ossa.yaml
  .gitlab-ci.yml
  .gitlab/ci/agent-integration.yml
  .gitlab/ci/autoscaler-setup.yml
  .gitlab/ci/ossa-runners.yml
  .gitlab/merge_request_templates/README.md
  .gitlab/merge_request_templates/ci-pipeline.md
  .gitlab/merge_request_templates/default.md
  .gitlab/merge_request_templates/hotfix.md
  .gitlab/merge_request_templates/ossa-agent.md
  .gitlab/merge_request_templates/website.md
  k8s/gitlab-runner-autoscaler.yaml
  k8s/gitlab-runner-self-healing.yaml
  k8s/gitlab-runner-setup.sh
  k8s/self-healing-config.yaml
  website/content/docs/autonomous-evolution/index.md
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(release-prep): implement critical audit recommendations for v0.3.x release
  .gitlab/agents/examples/dependency-example.ossa.yaml
  .gitlab/ci/components/multi-project-release.yml
  INTEGRATION_SUMMARY.md
  docs/ci/multi-project-release.md
  examples/ci/multi-project-release-example.yml
  examples/contracts/data-consumer.ossa.yaml
  examples/contracts/data-producer-v2.ossa.yaml
  examples/contracts/data-producer.ossa.yaml
  package-lock.json
  package.json
  spec/schema/components/dependencies.schema.json
  src/cli/commands/contract.command.ts
  src/cli/commands/dependencies.command.ts
  src/cli/index.ts
  src/di-container.ts
  src/mesh/client.ts
  src/services/agent-services/qdrant.service.ts
  src/services/validators/contract.validator.ts
  src/services/validators/dependencies.validator.ts
  tests/unit/utils/path-validator.test.ts
  tests/unit/validators/contract.validator.test.ts
  tests/unit/validators/dependencies.validator.test.ts
Due: validate:version-sync, validate:scripts-version, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, docs:sync:agent, drupal:sync:agent, ossa:validate:security, validate:ossa:security

fix(ci): Enable review apps deployment to OrbStack Kubernetes
  .gitlab-ci.yml
  .gitlab-ci.yml.bak2
  .gitlab/agents/content-team/README.md
  .gitlab/agents/ossa-production/config.yaml
  .gitlab/ci/review-app.yml
  .gitlab/ci/security-checks.yml
  AUTOMATION-SUMMARY.md
  AUTOMATION.md
  Dockerfile
  discord-bot/src/utils/ossa-validator.ts
  discord-bot/tsconfig.json
  package-lock.json
  pnpm-lock.yaml
  website/app/page.tsx
  website/components/GoogleAnalytics.tsx
  website/lib/release-highlights.json
  website/package.json
  website/scripts/fetch-release-highlights.js
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): enable dev tag creation on release branches
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(spec): add quick-win capabilities to OSSA v0.3.0 spec
  spec/v0.3.0/examples/quick-wins/complete-agent-with-quick-wins.ossa.yaml
Due: validate:version-sync, validate:yaml, validate:ossa, agent:ossa-validator, drupal:sync:agent, ossa:validate:security, validate:ossa:security

feat(schema): Implement v0.3.0 schema strengthening additions
  spec/v0.3.0/ossa-0.3.0.schema.json
Due: validate:version-sync, drupal:sync:agent

fix: resolve conflicts by merging main into release/v0.3.x
  .gitlab-ci.yml.bak
  .gitlab-ci.yml.bak2
Due: none

feat(schema): add all missing LLM providers to enum
  .gitlab-ci.yml
  spec/v0.3.0/ossa-0.3.0.schema.json
Due: validate:version-sync, validate:yaml, validate:gitlab-ci, agent:ci-fixer, drupal:sync:agent, ossa:validate:security, validate:ossa:security

feat: add 'Treating Agents as First-Class Citizens' tagline to homepage
  website/app/page.tsx
Due: none

feat: implement template system for dynamic versioning
  website/scripts/fix-version-references.js
Due: none

fix(ci): hotfix branches create dev tags only, not production releases
  .gitlab-ci.yml
  .releaserc.json
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore: add auto-agent quick actions to templates
  .gitlab/issue_templates/bug.md
  .gitlab/issue_templates/feature.md
Due: none

fix(codeowners): set @bluefly as default owner to unblock releases
  CODEOWNERS
Due: none

fix(codeowners): simplify .gitlab/CODEOWNERS to single owner @bluefly
  .gitlab/CODEOWNERS
Due: none

fix(codeowners): simplify root CODEOWNERS to single owner @bluefly
  CODEOWNERS
Due: none
