Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

chore: release 0.5.0 preparation
  .agents/agents/README.md
  plans/07-openstandardagents-all/07-master-plan.md
  plans/MasterList.md
  plans/PLAN-TO-FINISH-2026-03-08.md
  plans/completed/07-openstandardagents-all/Feature-merge-release-validate workflow-a2f4f003.plan.md
Due: agent:ossa-validator, validate:ossa

feat(confidence): add canonical confidence scoring SDK module
  src/confidence/index.ts
Due: none

chore: update @bluefly/duadp dependency to ^0.1.3 (user manual edit)
  package.json
Due: validate:scripts-version, validate:adoption-blockers

chore: correct version to 0.5.0 for release (user feedback)
  package.json
Due: validate:scripts-version, validate:adoption-blockers

chore: sync @bluefly/duadp to 0.1.3 and version adjustment
  package-lock.json
Due: none

chore: release 0.4.9 (patch bridge) per user request
  .version.json
  package.json
Due: ossa:validate-versions, validate:scripts-version, validate:adoption-blockers

docs: Three-Layer Agent Security Architecture + DUADP cross-reference
  README.md
Due: none

docs: remove NIST name-drops from Three-Layer section, let the substance speak
  README.md
Due: none

docs: add Cursor Cloud specific instructions to AGENTS.md
  AGENTS.md
Due: none

chore: update package-lock.json from npm install
  package-lock.json
Due: none

fix(ci): fix agents-discover --json flag and spectral ruleset URL
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

duo
  openapi/uadp-asyncapi.yaml
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

refactor: deduplicate agents-md repo discovery and drupal tool defaults
  src/cli/commands/agents-md/batch.command.ts
  src/cli/commands/agents-md/list.command.ts
  src/cli/commands/agents-md/repo-discovery.ts
  src/packages/drupal-mcp-server/src/tools/content.ts
  src/packages/drupal-mcp-server/src/tools/entities.ts
  src/packages/drupal-mcp-server/src/tools/tool-helpers.ts
  src/packages/drupal-mcp-server/tests/tools.test.ts
  tests/unit/cli/repo-discovery.test.ts
Due: none

refactor: share drupal tool action wrapper
  src/packages/drupal-mcp-server/src/tools/cache.ts
  src/packages/drupal-mcp-server/src/tools/content.ts
  src/packages/drupal-mcp-server/src/tools/entities.ts
  src/packages/drupal-mcp-server/src/tools/modules.ts
  src/packages/drupal-mcp-server/src/tools/tool-helpers.ts
  src/packages/drupal-mcp-server/tests/tool-helpers.test.ts
Due: none

docs(openapi): validate and sync REST API contract
  openapi/ossa-api.openapi.yaml
  openapi/registry.yaml
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

docs(research): add 2026 agentic AI protocols frameworks security report
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

docs: add 2026 agentic AI protocols and security research summary
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

ci: trigger fresh pipeline for !805
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat: add 3 OSSA-native dev agent manifests
  examples/agents/security-audit-agent.ossa.yaml
  examples/drupal/drupal-contributor.ossa.yaml
  examples/gitlab-agents/gitlab-ci-agent.ossa.yaml
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, ossa:validate:security, validate:ossa:security

refactor: reorganize agent definitions into .agents/agents/ and consolidate docs
  .agents/agents/compliance-checker/agent.ossa.yaml
  .agents/agents/docs-generator/agent.ossa.yaml
  .agents/agents/integration-tester/agent.ossa.yaml
  .agents/agents/performance-optimizer/agent.ossa.yaml
  .agents/agents/platform-exporter/agent.ossa.yaml
  .agents/agents/release-manager/agent.ossa.yaml
  .agents/agents/schema-validator/agent.ossa.yaml
  .agents/agents/security-auditor/agent.ossa.yaml
  .agents/agents/test-suite-generator/agent.ossa.yaml
  .agents/agents/version-migrator/agent.ossa.yaml
  docs/architecture/README.md
  docs/integrations/README.md
  docs/integrations/drupal-modules-audit.md
  docs/integrations/drupal/getting-started.md
  docs/integrations/gitlab/getting-started.md
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, post-review:docs-sync, bot:wiki-sync, ossa:validate-versions, ossa:validate:security, validate:ossa:security

chore: release v0.5.0 — bump version and update @bluefly/duadp to ^0.1.4
  .version.json
  package.json
Due: ossa:validate-versions, validate:scripts-version, validate:adoption-blockers
