Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

docs: add agentic ai landscape research summary
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

docs: add agentic ai landscape research
  .gitignore
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

docs: add agentic AI landscape research summary
  research-summary.zip
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

docs: add agentic ai landscape research
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

docs: add agent ecosystem research summary
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

docs: add agent ecosystem research summary
  .gitignore
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

docs: add agentic AI ecosystem research summary
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

docs: format agent ecosystem research
  research-summary/academia.md
  research-summary/blogs.md
  research-summary/frameworks.md
  research-summary/overview.md
  research-summary/protocols.md
  research-summary/reading-list.md
  research-summary/security.md
Due: none

feat(mcp): add stateless MCP 2026-07-28 transport declaration
  examples/stateless-mcp-agent.README.md
  examples/stateless-mcp-agent.ossa.yaml
  spec/v0.5/agent.schema.json
  src/adapters/mcp/adapter.ts
  src/cli/commands/export.command.ts
  src/mesh/types.ts
  src/services/agent-card-generator.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, agent:mcp-server-builder, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

test(mcp): cover stateless 2026-07-28 schema + adapter; fix lefthook tsx PATH
  lefthook.yml
  tests/unit/adapters/mcp-stateless-adapter.test.ts
  tests/unit/schema/mcp-stateless-protocol.test.ts
Due: agent:mcp-server-builder, validate:yaml, ossa:validate:security, validate:ossa:security
