Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:yaml:
  stage: validate
  image: python:3.11-slim
  script:
  - pip install yamllint
  - yamllint -d relaxed .

validate:ossa:
  stage: validate
  image: node:20-slim
  script:
  - npm install -g @bluefly/ossa-cli
  - ossa validate --strict
  allow_failure: false

validate:gitlab-ci:
  stage: validate
  image: alpine:latest
  script:
  - apk add --no-cache curl jq
  ...

agent:ossa-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:drupal-standards:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:ci-fixer:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:config-auditor:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:recipe-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:theme-tester:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

docs:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: gitlab-lib-ci
    AGENT_TASK: docs-sync
    SOURCE_BRANCH: $CI_COMMIT_BRANCH

deploy:infra:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: infra-prod
    AGENT_TASK: deploy
    ENVIRONMENT: production
    MANIFEST_PATH: infrastructure/

deploy:ml:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: ml-prod
    AGENT_TASK: deploy-model
    MODEL_PATH: models/

drupal:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: drupal-prod
    AGENT_TASK: sync-content
    CONTENT_TYPE: ossa-agents

content:validate-agents:
  stage: validate
  image: node:20-alpine
  script:
  - npm install -g ajv-cli
  ...

validate:ossa:security:
  validate

Duo
  tools/vscode-ossa/package.json
  tools/vscode-ossa/src/validator.ts
Due: none

fix: remove inline comments from openapi-validation.yml scripts
  .gitlab/ci/openapi-validation.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: remove trailing spaces from openapi-validation.yml echo statements
  .gitlab/ci/openapi-validation.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: force CI cache refresh for build-jobs.yml
  .gitlab/ci/build-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: rewrite generate:all job to fix YAML syntax error"
  .gitlab/ci/build-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore(release): update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

fix(tests): update e2e tests to use generate agent subcommand
  tests/e2e/full-workflow.test.ts
Due: none

fix(ci): simplify version-drift script to avoid YAML parse error
  .gitlab/ci/build-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore(examples): add showcase agents and remove deprecated v0.2.2 files
  examples/common_npm/agent-router.v0.2.2.ossa.yaml
  examples/drupal/gitlab-ml-recommender.v0.2.2.ossa.yaml
  examples/kagent/k8s-troubleshooter-v1.v0.2.2.ossa.yaml
  examples/showcase/ci-pipeline.ossa.yaml
  examples/showcase/code-assistant.ossa.yaml
  examples/showcase/code-reviewer.ossa.yaml
  examples/showcase/compliance-validator.ossa.yaml
  examples/showcase/content-writer.ossa.yaml
  examples/showcase/data-transformer.ossa.yaml
  examples/showcase/doc-generator.ossa.yaml
  examples/showcase/security-scanner.ossa.yaml
  examples/showcase/test-generator.ossa.yaml
  examples/showcase/workflow-orchestrator.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(ci): remove non-existent generate:types job dependency from test:lint
  .gitlab/ci/test-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(showcase): fix validation errors in showcase agents
  examples/showcase/ci-pipeline.ossa.yaml
  examples/showcase/code-assistant.ossa.yaml
  examples/showcase/code-reviewer.ossa.yaml
  examples/showcase/compliance-validator.ossa.yaml
  examples/showcase/content-writer.ossa.yaml
  examples/showcase/data-transformer.ossa.yaml
  examples/showcase/doc-generator.ossa.yaml
  examples/showcase/security-scanner.ossa.yaml
  examples/showcase/test-generator.ossa.yaml
  examples/showcase/workflow-orchestrator.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(ci): add git to validate:version-drift job
  .gitlab/ci/build-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
