Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

feat(spec): add forward-thinking agent capabilities
  .gitlab/ci/release-workflow.yml
  spec/v0.3/conformance/tests/enterprise/valid/enterprise-agent.yaml
  spec/v0.3/conformance/tests/enterprise/valid/production-agent.yaml
Due: agent:ossa-validator, validate:yaml, validate:gitlab-ci, agent:ci-fixer, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(ci): promote-rc-to-stable ONLY runs after ALL tests pass
  .gitlab/ci/release-promote.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

refactor(ci): DRY - single source of truth for test dependencies
  .gitlab/ci/caching.yml
  .gitlab/ci/release-promote.yml
  .gitlab/ci/release-workflow.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(conformance): add enterprise features to kagent-agent for 90% threshold
  spec/v0.3/conformance/tests/gitlab-kagent/valid/kagent-agent.yaml
Due: agent:ossa-validator, validate:yaml, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(conformance): add enterprise features to kagent-full for 90% threshold
  spec/v0.3/conformance/tests/gitlab-kagent/valid/kagent-full.yaml
Due: agent:ossa-validator, validate:yaml, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(conformance): add metadata.labels and annotations to kagent-full
  spec/v0.3/conformance/tests/gitlab-kagent/valid/kagent-full.yaml
Due: agent:ossa-validator, validate:yaml, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix: critical CI fixes and conformance test updates for v0.3.5
  .gitlab/ci/caching.yml
  .gitlab/ci/release-promote.yml
  .gitlab/ci/release-workflow.yml
  spec/v0.3/conformance/tests/gitlab-kagent/valid/kagent-agent.yaml
  spec/v0.3/conformance/tests/gitlab-kagent/valid/kagent-full.yaml
Due: agent:ossa-validator, validate:yaml, validate:gitlab-ci, agent:ci-fixer, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(lint+ci): fix lint errors and prevent RC after stable
  .gitlab/ci/release-promote.yml
  .gitlab/ci/release-workflow.yml
  src/dev-cli/src/commands/env-cleanup.command.ts
  src/services/validators/langchain.validator.ts
  src/services/validators/langgraph.validator.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: lint and CI fixes for v0.3.5 release
  .gitlab/ci/release-promote.yml
  .gitlab/ci/release-workflow.yml
  src/dev-cli/src/commands/env-cleanup.command.ts
  src/services/validators/langchain.validator.ts
  src/services/validators/langgraph.validator.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(ci): migrate to npm OIDC trusted publishers
  .gitlab/ci/release-promote.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat: add production-grade smoke tests for npm package validation
  .gitlab/ci/caching.yml
  .gitlab/ci/optimized-test-jobs.yml
  package.json
  tests/smoke/cli.test.ts
  tests/smoke/npm-pack.test.ts
  tests/smoke/schema-coverage.test.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:scripts-version, ossa:validate:security, validate:ossa:security

fix(ci): add --provenance flag to npm publish for OIDC authentication
  .gitlab/ci/release-promote.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): configure npm to use OIDC token from id_tokens
  .gitlab/ci/release-promote.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): remove --provenance flag - only needs OIDC auth not signing
  .gitlab/ci/release-promote.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security
