Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:ossa:manifests:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Validating OSSA manifests in ${CI_PROJECT_PATH}"
  ...

check:ossa:version:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA manifest versions"
  ...

estimate:ossa:cost:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Estimating OSSA agent costs"
  ...

check:ossa:safety:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA safety configurations"
  ...

validate:k8s-resources:
  stage: validate
  image: node:20-slim
  before_script:
  - npm install -g ts-node typescript js-yaml @types/js-yaml @types/node
  script:
  - echo "ðŸ” Validating Kubernetes resource limits..."
  - ts-node examples/bridges/k8s/validate-resources.ts examples/bridges/k8s/
  allow_failure: false

validate:agent-team:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - 'echo "üîç Validating extension development team configuration..."
  
    ossa validate .gitlab/agents/extension-development-team.ossa.yaml
  
    ossa validate .gitlab/agents/examples/*.ossa.yaml
  
    echo "‚úÖ Agent team configuration valid"
  
    '

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

fix: resolve all merge conflicts
  src/adapters/crewai/adapter.ts
  src/adapters/drupal/adapter.ts
  src/adapters/gitlab-duo/adapter.ts
  src/adapters/langchain/adapter.ts
  src/adapters/mcp/adapter.ts
  src/adapters/mcp/converter.ts
  src/cli/commands/agents-md.command.ts
  src/cli/commands/agents.command.ts
  src/cli/commands/agents/delete.command.ts
  src/cli/commands/agents/list.command.ts
  src/cli/commands/agents/show.command.ts
  src/cli/commands/audit.ts
  src/cli/commands/export-v2.command.ts
  src/cli/commands/wizard.command.ts
  src/cli/index.ts
  src/cli/templates/enhanced-templates.ts
  src/cli/utils/error-formatter.ts
  src/cli/utils/output.ts
  src/cli/wizard/engine/wizard-engine.ts
  src/cli/wizard/steps/14-workspace-registration.ts
  src/cli/wizard/ui/wizard-ui.ts
  src/sdks/python/.gitignore
  src/services/audit.ts
  src/services/taxonomy-service.ts
Due: agent:mcp-server-builder

fix: update z.record() call for Zod v4 compatibility
  src/services/taxonomy-service.ts
Due: none

chore: bump version to 0.4.0 and fix WizardOptions type
  package.json
  src/cli/wizard/types.ts
Due: validate:scripts-version, validate:adoption-blockers

docs: add validation gaps report for 0.4.0
  VALIDATION-GAPS-0.4.0.md
Due: none

fix: resolve critical TypeScript build errors for 0.4.0
  docs/project-plans/CONSOLIDATED-ACTION-ITEMS.md
  package-lock.json
  src/adapters/base/adapter.interface.ts
  src/adapters/gitlab-duo/adapter.ts
  src/adapters/langchain/adapter.ts
  src/adapters/mcp/converter.ts
  src/cli/commands/agents/show.command.ts
  src/cli/wizard/engine/wizard-engine.ts
  tests/services/knowledge.service.test.ts
Due: agent:mcp-server-builder, post-review:docs-sync, bot:wiki-sync

fix(openapi): add missing fields to AgentSpec and Metadata schemas
  openapi/schemas/common/agent.yaml
  openapi/schemas/common/metadata.yaml
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

feat: merge ossa-generator tools into wizard-export
  .version.json
  src/tools/exporters/drupal.exporter.ts
  src/tools/exporters/gitlab-duo.exporter.ts
  src/tools/exporters/langchain.exporter.ts
  src/tools/generators/agents-md.generator.ts
  src/tools/generators/cursorrules.generator.ts
  src/tools/generators/gen-types.ts
  src/tools/generators/llms-txt.generator.ts
  src/tools/generators/skill.generator.ts
Due: ossa:validate-versions, validate:scripts-version

fix: update gen-types to read from .version.json
  src/tools/generators/gen-types.ts
Due: validate:scripts-version

fix: regenerate types from OpenAPI and update type definitions
  openapi/agent-crud.yaml
  src/generated/types.ts
  src/types/index.ts
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

chore: clean up package.json and create v0.4.0 schema
  .version.json
  package.json
  spec/v0.4/extensions/a2a/README.md
  spec/v0.4/extensions/a2a/a2a.schema.json
  spec/v0.4/extensions/ag2/ag2.schema.json
  spec/v0.4/extensions/crewai/crewai.schema.json
  spec/v0.4/extensions/kagent/README.md
  spec/v0.4/extensions/kagent/kagent.schema.json
  spec/v0.4/extensions/langchain/langchain.schema.json
  spec/v0.4/extensions/langgraph/langgraph.schema.json
  spec/v0.4/extensions/mcp/README.md
  spec/v0.4/extensions/mcp/mcp.schema.json
  spec/v0.4/ossa-0.4.0.schema.json
Due: ossa:generate-schema, agent:ossa-validator, agent:mcp-server-builder, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:adoption-blockers

feat: implement API-first version:audit command
  package.json
  src/dev-cli/src/commands/version.command.ts
  src/dev-cli/src/services/version-audit.service.ts
Due: validate:scripts-version, validate:adoption-blockers

feat: complete API-first version management system + auto-fix hardcoded versions
  VALIDATION-GAPS-0.4.0.md
  docs/migration/v0.2-to-v0.3.md
  docs/roadmap/README.md
  docs/roadmap/cross-project-dependencies.md
  docs/roadmap/dependency-graph.md
  docs/roadmap/phase-1-specification.md
  docs/roadmap/phase-2-runtime-implementation.md
  docs/roadmap/phase-3-production-use-cases.md
  docs/roadmap/phase-4-knowledge-convergence.md
  docs/roadmap/success-metrics.md
  docs/roadmap/v0.3.x-to-v0.4.0.md
  docs/week3-export-adapters/WEEK-3-IMPLEMENTATION-COMPLETE.md
  docs/week3-export-adapters/adapter-interface.ts
  docs/week3-export-adapters/langchain-adapter.ts
  openapi/dev-cli.openapi.yml
  openapi/ossa-cli.yaml
  spec/registry/registry-spec.md
  src/adapters/base/adapter.interface.ts
  src/adapters/crewai/adapter.ts
  src/adapters/drupal/adapter.ts
  src/adapters/gitlab-duo/adapter.ts
  src/adapters/langchain/adapter.ts
  src/adapters/mcp/adapter.ts
  src/adapters/mcp/converter.ts
  src/dev-cli/src/commands/version.command.ts
  src/dev-cli/src/services/version-audit.service.ts
  src/dev-cli/src/services/version-check.service.ts
  src/dev-cli/src/services/version-status.service.ts
  tests/fixtures/test-agent.yaml
Due: agent:ossa-validator, agent:mcp-server-builder, validate:yaml, post-review:docs-sync, bot:wiki-sync, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, schema:validate-examples, ossa:validate:security, validate:ossa:security

refactor(spec): rename schema file and update to v{{VERSION}} placeholders
  spec/v0.4/agent.schema.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

feat(spec): add agent self-assessment and risk evaluation
  spec/v0.4/agent.schema.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
