Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:yaml:
  stage: validate
  image: python:3.11-slim
  script:
  - pip install yamllint
  - yamllint -d relaxed .

validate:ossa:
  stage: validate
  image: node:20-slim
  script:
  - npm install -g @bluefly/ossa-cli
  - ossa validate --strict
  allow_failure: false

validate:gitlab-ci:
  stage: validate
  image: alpine:latest
  script:
  - apk add --no-cache curl jq
  ...

agent:ossa-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:drupal-standards:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:ci-fixer:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:config-auditor:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:recipe-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:theme-tester:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

docs:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: gitlab-lib-ci
    AGENT_TASK: docs-sync
    SOURCE_BRANCH: $CI_COMMIT_BRANCH

deploy:infra:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: infra-prod
    AGENT_TASK: deploy
    ENVIRONMENT: production
    MANIFEST_PATH: infrastructure/

deploy:ml:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: ml-prod
    AGENT_TASK: deploy-model
    MODEL_PATH: models/

drupal:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: drupal-prod
    AGENT_TASK: sync-content
    CONTENT_TYPE: ossa-agents

content:validate-agents:
  stage: validate
  image: node:20-alpine
  script:
  - npm install -g ajv-cli
  ...

validate:ossa:security:
  validate

fix(ci): auto-deploy pages on main instead of manual
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): remove resource_group for auto pages deploy
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): remove environment block from pages job
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(version): Sync v0.3.2 from npm package
  package-lock.json
  pnpm-lock.yaml
  scripts/lib/release-highlights.json
  scripts/lib/versions.json
  scripts/website/fix-version-references.js
  scripts/website/sync-version.js
  website/content/docs/adapters/openai-adapter.md
  website/content/docs/architecture/multi-agent-workflows.md
  website/content/docs/cli/run-command.md
  website/content/docs/core-concepts/project-structure.md
  website/content/docs/ecosystem/framework-support.md
  website/content/docs/examples/migration-guides.md
  website/content/docs/examples/workflow-examples.md
  website/content/docs/getting-started.md
  website/content/docs/getting-started/running-agents.md
  website/content/docs/implementation/runtime-integration.md
  website/content/docs/integrations/symphony-drupal.md
  website/content/docs/migration-guides/anthropic-mcp-to-ossa.md
  website/content/docs/migration-guides/autogpt-to-ossa.md
  website/content/docs/migration-guides/crewai-to-ossa.md
  website/content/docs/migration-guides/drupal-eca-to-ossa.md
  website/content/docs/migration-guides/langchain-to-ossa.md
  website/content/docs/migration-guides/openai-to-ossa.md
  website/content/docs/openapi-extensions.md
  website/content/docs/openapi-extensions/root-extensions.md
  website/content/docs/ossa-compliant-badge.md
  website/content/docs/positioning/adoption-guide.md
  website/content/docs/positioning/value-narrative.md
  website/content/docs/pre-release/index.md
  website/content/docs/schema-reference/workflow-spec.md
  website/lib/release-highlights.json
  website/lib/version.ts
  website/lib/versions.json
  website/package.json
  website/tsconfig.tsbuildinfo
Due: validate:yaml, ossa:validate:security, validate:ossa:security

fix(ci): install git before using git commands in sync:auto
  .gitlab-ci.yml
  .gitlab/ci/review-apps.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore(release): update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

chore(ci): auto-sync OSSA spec, versions, examples, and wiki [skip ci]
  build.env
  scripts/lib/versions.json
  scripts/public/examples.json
  website/content/docs/.wiki-sync-manifest.json
  website/content/docs/home.md
  website/public/schemas/ossa-0.3.2.schema.json
Due: none

chore(gitignore): allow spec/v0.3.3 tracking
  .gitignore
Due: none

spec: add skills compatibility, runtime bindings, migration docs
  spec/extensions/skills-compatibility.md
  spec/v0.3.2/MIGRATION-v0.3.1-to-v0.3.2.md
  spec/v0.3.3/runtime-bindings/anthropic.yaml
Due: validate:yaml, drupal:sync:agent, schema:validate-examples, ossa:validate:security, validate:ossa:security

chore: remove deployment/orbstack (not spec)
  deployment/orbstack/README.md
  deployment/orbstack/agent-chat.yaml
  deployment/orbstack/agent-router.yaml
  deployment/orbstack/agent-tracer.yaml
  deployment/orbstack/minio.yaml
  deployment/orbstack/mongodb.yaml
  deployment/orbstack/namespace.yaml
  deployment/orbstack/openstandardagents.yaml
  deployment/orbstack/postgresql.yaml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

revert: restore deployment/orbstack + copy to platform-agents
  deployment/orbstack/README.md
  deployment/orbstack/agent-chat.yaml
  deployment/orbstack/agent-router.yaml
  deployment/orbstack/agent-tracer.yaml
  deployment/orbstack/minio.yaml
  deployment/orbstack/mongodb.yaml
  deployment/orbstack/namespace.yaml
  deployment/orbstack/openstandardagents.yaml
  deployment/orbstack/postgresql.yaml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

fix: sync package.json version to 0.3.3
  package.json
Due: none

fix: use dynamic versions in tests, add missing schema definitions
  spec/v0.3.3/ossa-0.3.3.schema.json
  tests/integration/agents-md-validation.test.ts
  tests/integration/cli/agents-md.command.test.ts
  tests/integration/examples/validate-all-examples.test.ts
  tests/integration/extensions/cursor-agents-md.test.ts
  tests/integration/platform-export.test.ts
  tests/test-helpers.ts
  tests/unit/cli/commands/run.command.test.ts
  tests/unit/repositories/manifest.repository.test.ts
  tests/unit/schema/agents-md-extension.test.ts
  tests/unit/services/agents-md/agents-md.service.test.ts
  tests/unit/services/runtime/openai.adapter.test.ts
  tests/unit/services/validation.service.test.ts
  tests/unit/services/validators/autogen.validator.test.ts
  tests/unit/services/validators/messaging.validator.test.ts
Due: drupal:sync:agent, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

fix: add .js extensions to ESM imports
  src/transports/index.ts
  src/types/index.ts
  src/types/workflow.ts
Due: none

chore: sync version references to v0.3.3
  README.md
Due: docs:sync:agent

feat(types): add Identity, Personality, and Prompts type definitions for OSSA v0.3.2
  src/types/identity.ts
  src/types/identity.zod.ts
  src/types/index.ts
  src/types/personality.ts
  src/types/personality.zod.ts
  src/types/prompts.ts
  src/types/prompts.zod.ts
Due: none

fix(schema): resolve TypeScript index signature conflict in AgentsMdExtension
  spec/v0.3.3/ossa-0.3.3.schema.json
Due: drupal:sync:agent, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
