Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:k8s-resources:
  stage: validate
  image: node:20-slim
  before_script:
  - npm install -g ts-node typescript js-yaml @types/js-yaml @types/node
  script:
  - echo "ðŸ” Validating Kubernetes resource limits..."
  - ts-node examples/bridges/k8s/validate-resources.ts examples/bridges/k8s/
  allow_failure: false

validate:agent-team:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - 'echo "üîç Validating extension development team configuration..."
  
    ossa validate .gitlab/agents/extension-development-team.ossa.yaml
  
    ossa validate .gitlab/agents/examples/*.ossa.yaml
  
    echo "‚úÖ Agent team configuration valid"
  
    '

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

agent:ossa-validator:
  image: node:${NODE_VERSION:-20}-alpine
  before_script:
  - apk add --no-cache git curl jq bash
  - npm ci --legacy-peer-deps --prefer-offline --no-audit
  - npm run build
  variables:
    GITLAB_TOKEN: ${SERVICE_ACCOUNT_SECURITY_TOKEN:-${SERVICE_ACCOUNT_DEPLOYMENT_TOKEN:-${CI_JOB_TOKEN}}}
  ...

agent:drupal-standards-checker:
  image: node:${NODE_VERSION:-20}-alpine
  before_script:
  - apk add --no-cache git curl jq bash
  - npm ci --legacy-peer-deps --prefer-offline --no-audit
  - npm run build
  variables:
    GITLAB_TOKEN: ${SERVICE_ACCOUNT_DEPLOYMENT_TOKEN:-${CI_JOB_TOKEN}}
    agent_name: drupal-standards-checker
  script:
  ...

agent:mcp-server-builder:
  image: node:${NODE_VERSION:-20}-alpine
  before_script:
  - apk add --no-cache git curl jq bash
  - npm ci --legacy-peer-deps --prefer-offline --no-audit
  - npm run build
  variables:
    GITLAB_TOKEN: ${SERVICE_ACCOUNT_DEPLOYMENT_TOKEN:-${CI_JOB_TOKEN}}
    agent_name: mcp-server-builder
  script:
  ...

validate:ossa:
  stage: validate
  image: node:20-alpine
  before_script:
  - npm install -g @bluefly/openstandardagents
  script:
  ...

validate:ossa:security:
  validate

feat: complete OSSA migration system + rename bot files to agent-*
  .gitlab-ci.yml
  .gitlab/ci/ossa-auto-migrate.yml
  docs/ci/ossa-auto-migration.md
  package.json
  src/bot/agent-architecture_validator.ts
  src/bot/agent-ci_pipeline.ts
  src/bot/agent-compliance.ts
  src/bot/agent-dependency_updater.ts
  src/bot/agent-security_scanner.ts
  src/cli/commands/migrate-batch.command.ts
  src/cli/index.ts
  src/cli/utils/manifest-discovery.ts
  src/cli/utils/migration-reporter.ts
  src/di-container.ts
  src/services/git-rollback.service.ts
  src/services/migration-transform.service.ts
  src/services/migration.service.ts
  src/services/version-detection.service.ts
  test-migration-batch/.ossa-migration-report-1768743867615.json
  test-migration-batch/already-migrated.ossa.yaml
  test-migration-batch/subdirectory/test-agent-3.ossa.yaml
  test-migration-batch/subdirectory/test-agent-3.v0.3.5.ossa.yaml
  test-migration-batch/test-agent-1.ossa.yaml
  test-migration-batch/test-agent-1.v0.3.5.ossa.yaml
  test-migration-batch/test-agent-2.ossa.yaml
  test-migration-batch/test-agent-2.v0.3.5.ossa.yaml
  tests/integration/migration-engine.test.ts
  tests/unit/services/git-rollback.service.spec.ts
  tests/unit/services/migration-transform.service.spec.ts
  tests/unit/services/version-detection.service.spec.ts
Due: agent:ossa-validator, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, post-review:docs-sync, bot:wiki-sync, validate:scripts-version, ossa:validate:security, validate:ossa:security

fix(ci): temporarily disable golden component causing invalid config error
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): correct golden component configuration
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat: add dual YAML/JSON format support to agent wizard
  src/cli/commands/agent-wizard.command.ts
Due: none

fix: add wizard supporting files and disable benchmarks job
  .gitlab-ci.yml
  src/cli/commands/agent-wizard.command.ts
  src/cli/wizard/data/agent-types.ts
  src/cli/wizard/data/llm-providers.ts
  src/cli/wizard/data/templates.ts
  src/cli/wizard/steps/01-agent-type.ts
  src/cli/wizard/steps/02-basic-info.ts
  src/cli/wizard/steps/03-domain-capability.ts
  src/cli/wizard/steps/04-llm-config.ts
  src/cli/wizard/steps/05-tools.ts
  src/cli/wizard/steps/06-autonomy.ts
  src/cli/wizard/steps/07-observability.ts
  src/cli/wizard/steps/08-deployment.ts
  src/cli/wizard/steps/09-advanced.ts
  src/cli/wizard/steps/10-review.ts
  src/cli/wizard/steps/index.ts
  src/cli/wizard/templates/critic-performance-analyzer.yaml
  src/cli/wizard/templates/monitor-system-health.yaml
  src/cli/wizard/templates/orchestrator-multi-agent.yaml
  src/cli/wizard/templates/planner-workflow-designer.yaml
  src/cli/wizard/templates/reviewer-code-quality.yaml
  src/cli/wizard/templates/worker-api-integrator.yaml
  src/cli/wizard/templates/worker-data-processor.yaml
  src/cli/wizard/types.ts
  src/cli/wizard/ui/console.ts
  src/cli/wizard/validators/index.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): remove broken golden component from release/v0.3.x
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): remove broken golden component
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): restore golden component without inputs, disable benchmarks
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: add missing dependencies and fix Node.js syntax errors
  .gitlab/ci/ossa-auto-migrate.yml
  bin/postinstall
  package.json
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:scripts-version, ossa:validate:security, validate:ossa:security

docs: reorganize documentation structure
  .kiro/config.json
  .kiro/settings/mcp.json
  .kiro/specs/scripts-migration-api-first/design.md
  .kiro/specs/scripts-migration-api-first/requirements.md
  .kiro/specs/scripts-migration-api-first/tasks.md
  .kiro/specs/website-brand-identity/design.md
  .kiro/specs/website-brand-identity/requirements.md
  .kiro/specs/website-brand-identity/tasks.md
  docs/README.md
  docs/advanced/ci-cd.md
  docs/advanced/observability.md
  docs/advanced/sdk-development.md
  docs/getting-started/QUICKSTART.md
  docs/reference/api/endpoints.md
  docs/reference/api/errors.md
  docs/reference/api/examples.md
  docs/reference/api/schemas.md
  docs/specifications/v0.3/enhancement-plan.md
  docs/specifications/v0.3/positioning.md
  docs/specifications/v0.3/production-deployment.md
Due: post-review:docs-sync, bot:wiki-sync

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
