Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, validate:scripts-version, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  validate:scripts-version: any of: package.json, scripts/**/*
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

chore: add swarm tasks v029
  swarm-tasks-v029.json
Due: none

fix(ci): redesign release process with post-release cleanup
  .gitlab-ci.yml
  .gitlab/merge_request_templates/Default.md
Due: validate:ossa:security

feat(spec): Capability Schema and Registry specification
  spec/v0.2.9/capability-schema.md
Due: validate:version-sync, drupal:sync:agent

feat(spec): Security Model specification
  spec/v0.2.9/a2a-protocol.md
  spec/v0.2.9/conformance-testing.md
  spec/v0.2.9/security-model.md
Due: validate:version-sync, drupal:sync:agent

feat(ci): add release automation with milestone-triggered release issues
  .gitlab/ci/release-automation.yml
  .gitlab/issue_templates/Release.md
Due: validate:ossa:security

spec(schema): Add kind: Workflow for mixed Task + Agent composition
  examples/tasks/batch-email-sender.yaml
  examples/tasks/data-transform.yaml
  examples/tasks/publish-content.yaml
  examples/workflows/batch-email-campaign.yaml
  examples/workflows/content-review-publish.yaml
  examples/workflows/simple-etl.yaml
  spec/v0.3.0/ossa-0.3.0.schema.json
  src/types/index.ts
  src/types/task.ts
  src/types/workflow.ts
  tests/unit/task-schema.test.ts
  tests/unit/workflow-schema.test.ts
Due: validate:version-sync, drupal:sync:agent, validate:ossa:security

fix(docs): Correct README to show GitHub as primary public repo
  README.md
Due: validate:version-sync, docs:sync:agent

fix(ci): 100% autonomous release system with auto-tagging
  .gitlab-ci.yml
  .gitlab/CODEOWNERS
  .gitlab/agents/release-orchestrator/README.md
  .gitlab/agents/release-orchestrator/manifest.ossa.yaml
Due: validate:ossa:security

Resolve "Release v0.2.9"
  scripts/generate-api-docs.ts
  scripts/generate-examples-docs.ts
  src/cli/commands/setup.command.ts
  src/services/release-automation/webhook.service.ts
  src/services/runtime/claude/claude-adapter.ts
Due: validate:scripts-version

fix(ci): update llms_txt2ctx CLI arguments
  .gitlab-ci.yml
  scripts/generate-llms-ctx.sh
Due: validate:scripts-version, validate:ossa:security

chore(release): update version references to v0.2.9
  README.md
  package.json
Due: validate:version-sync, validate:scripts-version, docs:sync:agent

fix(schema): make apiVersion pattern future-proof and tests dynamic
  spec/v0.2.9/ossa-0.2.9.schema.json
  tests/integration/schema-validation.test.ts
Due: validate:version-sync, drupal:sync:agent

feat(ci): Add per-release environment tracking
  .gitlab-ci.yml
  .gitlab/ci/release-environments.yml
Due: validate:ossa:security

fix(ci): Remove GitLab sync workflows, GitHub is primary repo
  .github/workflows/dependabot-comment.yml
  .github/workflows/issue-sync-to-gitlab.yml
  .github/workflows/pr-triage-to-gitlab.yml
Due: validate:ossa:security

feat(ci): Add ossa-local GitLab Kubernetes agent config
  .gitlab/agents/ossa-local/config.yaml
Due: validate:ossa:security

fix: add forward config to pass variables to triggered pipelines
  .gitlab/ci/agents.yml
Due: validate:ossa:security

feat(schema): Add kind: Task for deterministic workflow steps
  spec/v0.3.0/ossa-0.3.0.schema.json
  src/types/index.ts
Due: validate:version-sync, drupal:sync:agent

fix(ci): Simplify pre-merge validation to prevent timeouts
  .gitlab-ci.yml
Due: validate:ossa:security

fix(ci): Allow feature branches to target release/* branches
  .gitlab/ci/milestone-workflow.yml
Due: validate:ossa:security
