Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

docs(whitepaper): Unified Task Schema White Paper
  spec/whitepaper/unified-task-schema.md
Due: drupal:sync:agent

chore: sync main into release/v0.3.0
  .gitlab-ci.yml
  website/scripts/fetch-examples.js
  website/scripts/fetch-spec.js
Due: validate:ossa:security

🚀 Release/v0.3.0
  .gitlab/agents/ossa-production/config.yaml
  website/app/playground/page.tsx
  website/lib/validate.ts
Due: validate:ossa:security

fix: mobile docs sidebar responsiveness
  website/app/docs/[[...slug]]/page.tsx
  website/components/Logo.tsx
  website/components/docs/DocsSidebar.tsx
Due: none

fix(ci): install Playwright browsers before running e2e tests
  website/app/docs/[[...slug]]/page.tsx
  website/components/Logo.tsx
  website/components/docs/DocsSidebar.tsx
Due: none

feat(ci): Dynamic version injection using npm version
  scripts/version-sync.ts
Due: none

feat(extension): Add Knowledge Sources Extension
  spec/v0.3.0/ossa-0.3.0.schema.json
Due: drupal:sync:agent

feat(agent): Implement spec-healer agent
  .agents/spec-healer/manifest.ossa.yaml
  .gitlab/agents/spec-healer/manifest.ossa.yaml
Due: validate:ossa:security

spec(schema): Reusable JSON Schema components
  spec/schema/components/constraints.schema.json
  spec/schema/components/identity.schema.json
  spec/schema/components/index.json
  spec/schema/components/llm-config.schema.json
  spec/schema/components/metadata.schema.json
  spec/schema/components/tool.schema.json
Due: drupal:sync:agent

feat(schema): Add A2A protocol extension
  spec/schema/extensions/a2a.extension.schema.json
Due: drupal:sync:agent

feat(schema): Add encryption config to state storage
  spec/schema/components/encryption.schema.json
Due: drupal:sync:agent

spec: OSSA Testing Framework and AgentTest resource
  spec/schema/agent-test.schema.json
Due: drupal:sync:agent

spec(schema): Add activity_stream config component
  spec/schema/components/activity-stream.schema.json
Due: drupal:sync:agent

feat(sdk): Add W3C Baggage support for multi-agent correlation
  src/sdk/tracing/index.ts
  src/sdk/tracing/w3c-baggage.ts
Due: none

feat(sdk): Add CloudEvents v1.0 compliant emitter
  src/sdk/events/cloudevents-emitter.ts
  src/sdk/events/index.ts
Due: none

feat(agent): Implement wiki-healer agent
  .gitlab/agents/wiki-healer/manifest.ossa.yaml
Due: validate:ossa:security

feat(agent): Implement architecture-healer agent
  .gitlab/agents/architecture-healer/manifest.ossa.yaml
Due: validate:ossa:security

feat(agent): Implement dependency-healer agent
  .gitlab/agents/dependency-healer/manifest.ossa.yaml
Due: validate:ossa:security

feat(adapter): Drupal ECA/Maestro/FlowDrop OSSA Runtime Adapter
  src/adapters/drupal/index.ts
Due: none
