Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:ossa:manifests:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Validating OSSA manifests in ${CI_PROJECT_PATH}"
  ...

check:ossa:version:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA manifest versions"
  ...

estimate:ossa:cost:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Estimating OSSA agent costs"
  ...

check:ossa:safety:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA safety configurations"
  ...

validate:k8s-resources:
  stage: validate
  image: node:20-slim
  before_script:
  - npm install -g ts-node typescript js-yaml @types/js-yaml @types/node
  script:
  - echo "ðŸ” Validating Kubernetes resource limits..."
  - ts-node examples/bridges/k8s/validate-resources.ts examples/bridges/k8s/
  allow_failure: false

validate:agent-team:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - 'echo "üîç Validating extension development team configuration..."
  
    ossa validate .gitlab/agents/extension-development-team.ossa.yaml
  
    ossa validate .gitlab/agents/examples/*.ossa.yaml
  
    echo "‚úÖ Agent team configuration valid"
  
    '

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

feat(schema): add v0.5 identity, security posture, and protocol declarations
  examples/agent-manifests/v0.5-identity-security-protocols.ossa.yaml
  examples/agent-manifests/v0.5-minimal.ossa.yaml
  spec/v0.5/agent.schema.json
  src/types/index.ts
  src/types/protocols.ts
  src/types/security.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

refactor(adapters): extract BaseExporter to reduce export system duplication
  src/adapters/base/base-exporter.ts
  src/adapters/base/index.ts
  src/adapters/claude-code/adapter.ts
  src/adapters/cursor/adapter.ts
  src/adapters/mcp/adapter.ts
Due: agent:mcp-server-builder

chore(release): prepare v0.4.5 release notes
  CHANGELOG.md
Due: validate:changelog

chore: deploy ide-supercharger lefthook with rebase-sync + branch protection
  lefthook.yml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

feat(agent-card): comprehensive agent card generator with full OSSA feature extraction
  examples/getting-started/hello-world-complete.ossa.yaml
  examples/mcp/browser-puppeteer.ossa.yaml
  examples/showcase/full-power-agent.ossa.yaml
  spec/v0.4/agent-card.schema.json
  src/mesh/types.ts
  src/services/agent-card-generator.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, agent:mcp-server-builder, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

fix: standardize domains and fix YAML validation
  .gitlab/AGENT_DRIVEN_CI_PROPOSAL.md
  .gitlab/DUO-AGENT-PLATFORM.md
  .gitlab/agents/ossa-validator/config.yaml
  .gitlab/flows/autonomous-framework-orchestration.yaml
  .gitlab/flows/continuous-improvement-flow.yaml
  .gitlab/flows/enhanced-agent-orchestration.yaml
  .gitlab/flows/full-autonomous-cycle.yaml
  .gitlab/flows/issue-consolidation-flow.yaml
  .gitlab/flows/self-healing-flow.yaml
  .gitlab/triggers/ossa-agent-files.yaml
  .gitlab/webhooks/autonomous-webhook-config.json
  CHANGELOG.md
  agents/gitlab/duo-comment-responder.ossa.yaml
  agents/gitlab/mr-reviewer.ossa.yaml
  agents/gitlab/pipeline-auto-fix.ossa.yaml
  examples/gitlab-agents/DEPLOYMENT.md
  examples/gitlab-agents/duo-comment-responder/README.md
  examples/gitlab-agents/duo-comment-responder/webhook-config.json
  examples/gitlab-agents/k8s/deploy-all.yaml
  examples/gitlab-agents/mr-reviewer/README.md
  examples/gitlab-agents/mr-reviewer/webhook-config.json
  examples/gitlab-agents/pipeline-auto-fix/README.md
  examples/gitlab-agents/pipeline-auto-fix/webhook-config.json
  examples/mcp/browser-puppeteer.ossa.yaml
  lefthook.yml
  openapi/ossa-cli-enhancements.openapi.yaml
  openapi/release-automation.openapi.yaml
  spec/v0.4/agent-card.schema.json
  src/adapters/gitlab/agent-generator.ts
  src/cli/commands/discover.ts
  src/cli/commands/verify.ts
  src/cli/commands/wizard-interactive.command.ts
  src/cli/utils/standard-options.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, agent:mcp-server-builder, validate:yaml, validate:ossa, conformance:examples, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:changelog, ossa:validate:security, validate:ossa:security

feat(perfect-agent): export pipeline, schema, 14 adapters
  examples/hierarchical-agent.ossa.yaml
  examples/pipeline-agent.ossa.yaml
  examples/single-agent.ossa.yaml
  examples/swarm-agent.ossa.yaml
  examples/team-agent.ossa.yaml
  spec/v0.4/agent.schema.json
  spec/v0.4/extensions/evals/evals.schema.json
  spec/v0.4/extensions/identity/identity.schema.json
  spec/v0.4/extensions/team/team.schema.json
  src/adapters/base/adapter.interface.ts
  src/adapters/base/common-file-generator.ts
  src/adapters/base/perfect-agent-utils.ts
  src/adapters/claude-code/adapter.ts
  src/adapters/crewai/adapter.ts
  src/adapters/cursor/adapter.ts
  src/adapters/drupal/adapter.ts
  src/adapters/drupal/generator.ts
  src/adapters/drupal/manifest-exporter.ts
  src/adapters/gitlab-duo/adapter.ts
  src/adapters/langchain/adapter.ts
  src/adapters/mcp/adapter.ts
  src/adapters/mcp/converter.ts
  src/adapters/mobile-agent/adapter.ts
  src/adapters/npm/adapter.ts
  src/adapters/openai-agents/adapter.ts
  src/adapters/warp/adapter.ts
  src/cli/commands/export.command.ts
  src/services/agents-md/agents-md-generator.service.ts
  src/services/evals/evals-generator.service.ts
  src/services/governance/governance-generator.service.ts
  src/services/multi-agent/team-generator.service.ts
  src/services/observability/observability-generator.service.ts
  tests/integration/perfect-agent-export.test.ts
  tests/integration/team-patterns.test.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, agent:mcp-server-builder, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

fix: regenerate package-lock.json for CI
  package-lock.json
Due: none

fix(build): resolve merge conflicts in adapters
  src/adapters/claude-code/adapter.ts
  src/adapters/openai-agents/adapter.ts
  src/adapters/openai-agents/index.ts
Due: none

feat: multi-agent team topology and perfect agent export
  examples/hierarchical-crewai.ossa.yaml
  examples/single-agent.ossa.yaml
  examples/subagents-pipeline.ossa.yaml
  examples/swarm-handoff.ossa.yaml
  examples/team-lead-teammate.ossa.yaml
  package-lock.json
  spec/v0.4/agent.schema.json
  src/adapters/base/adapter.interface.ts
  src/adapters/base/common-file-generator.ts
  src/adapters/base/index.ts
  src/adapters/base/perfect-agent-utils.ts
  src/cli/commands/export.command.ts
  src/services/agents-md/agents-md-generator.service.ts
  src/services/multi-agent/team-generator.service.ts
  src/types/index.ts
  tests/integration/team-generator.test.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

docs: update README, CHANGELOG, llms.txt for v0.4.5 npm publish
  CHANGELOG.md
  README.md
  llms.txt
Due: validate:changelog

fix: consolidate duplicate lefthook configs and fix version-validator bugs
  .lefthook.yml
  lefthook.yml
  src/tools/validation/version-validator.ts
Due: validate:yaml, validate:scripts-version, ossa:validate:security, validate:ossa:security

fix: use execFileSync and finally block in validate-package cleanup
  tools/validate-package.ts
Due: none

feat: modernize Drupal adapters with Tool API, ECA, recipes, and PHP 8 attributes
  examples/drupal/content-moderator.ossa.yaml
  package.json
  spec/v0.4/extensions/drupal/drupal.schema.json
  src/adapters/drupal/adapter.ts
  src/adapters/drupal/drupal-utils.ts
  src/adapters/drupal/generator.ts
  src/adapters/drupal/index.ts
  src/adapters/drupal/manifest-exporter.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

chore: remove agents/gitlab; reference agents only in spec
  agents/gitlab/daily-code-scan.ossa.yaml
  agents/gitlab/duo-comment-responder.ossa.yaml
  agents/gitlab/mr-reviewer.ossa.yaml
  agents/gitlab/pipeline-auto-fix.ossa.yaml
  agents/gitlab/pre-commit-quality-check.ossa.yaml
  agents/gitlab/pre-push-validation.ossa.yaml
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate-versions, ossa:validate:security, validate:ossa:security

fix: resolve schema paths relative to package root instead of process.cwd()
  src/services/validators/autogen.validator.ts
  src/services/validators/crewai.validator.ts
  src/services/validators/kagent.validator.ts
  src/services/validators/langchain.validator.ts
  src/services/validators/langgraph.validator.ts
Due: none

feat(spec): add last_rotated_at/by for token rotation observability
  examples/infrastructure/token-rotation/README.md
  spec/v0.4/agent.schema.json
Due: ossa:generate-schema, agent:ossa-validator, conformance:examples, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
