Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, validate:scripts-version, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  validate:scripts-version: any of: package.json, scripts/**/*
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(types): resolve merge conflicts in index.ts
  src/types/index.ts
Due: none

fix: restore Logo URLs and lint fixes
  .gitlab-ci.yml
  .gitlab/scripts/detect-version.sh
  discord-bot/src/utils/ossa-validator.ts
  pnpm-lock.yaml
  website/components/Logo.tsx
  website/content/docs/versioning.md
Due: validate:ossa:security

fix(ci): remove development branch requirement, use release/* workflow
  .gitlab/ci/branch-policy.yml
  .gitlab/ci/milestone-workflow.yml
Due: validate:ossa:security

chore: sync main into release/v0.3.x
  .gitignore
  .gitlab-ci.yml
  discord-bot/package.json
  k8s/deployment.yaml
  website/lib/versions.json
Due: validate:ossa:security

fix(discord-bot): TypeScript error and add ESLint config
  discord-bot/.eslintrc.json
  discord-bot/src/utils/ossa-validator.ts
Due: none

🚀 Release/v0.3.x
  .gitignore
  .gitlab-ci-playwright.yml
  .gitlab-ci-visual.yml
  .gitlab-ci.yml
  .gitlab/AUTOMATION-QUICKREF.md
  .gitlab/ci/scheduled-sync.yml
  .gitlab/ci/webhook-sync.yml
  .gitlab/scripts/detect-version.sh
  AUTOMATION-SUMMARY.md
  AUTOMATION.md
  SETUP-INSTRUCTIONS.md
  discord-bot/.eslintrc.json
  discord-bot/package.json
  discord-bot/src/commands/bootstrap.ts
  discord-bot/src/commands/spec.ts
  discord-bot/src/handlers/moderation.ts
  discord-bot/src/index.ts
  discord-bot/src/utils/ossa-validator.ts
  k8s/deployment.yaml
  package-lock.json
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/review-app.sh
  scripts/setup-automation.sh
  tests/README.md
  tests/e2e/ecosystem-interactions.spec.ts
  tests/visual/ecosystem.spec.ts
  website/.eslintrc.json
  website/app/specification/page.tsx
  website/components/Logo.tsx
  website/content/blog/2025-12-07-unified-task-schema-whitepaper.md
  website/content/docs/versioning.md
  website/lib/version.ts
  website/lib/versions.json
  website/package-lock.json
  website/package.json
  website/public/examples.json
  website/scripts/generate-examples-index.js
  wiki/Local-Development.md
Due: validate:version-sync, validate:scripts-version, validate:ossa:security

fix(ci): remove development branch requirement, use release/* workflow
  .gitlab-ci.yml
  .gitlab/ci/components/ossa-agent-component.yml
  .gitlab/ci/components/ossa-workflow-component.yml
  .gitlab/ci/milestone-workflow.yml
  .gitlab/ci/ossa-integration.yml
  README.md
  package.json
Due: validate:version-sync, validate:scripts-version, docs:sync:agent, validate:ossa:security

Resolve "Adjust CI and Release Flow"
  .gitlab-ci.yml
  .releaserc.json
Due: validate:ossa:security

chore(agents): migrate Claude agents to OSSA v0.3.0 schema
  migrated/claude-agents/buildkit-orchestrator.ossa.yaml
  migrated/claude-agents/cicd-pipeline-manager.ossa.yaml
  migrated/claude-agents/debug-specialist.ossa.yaml
  migrated/claude-agents/demo-worker.ossa.yaml
  migrated/claude-agents/docs-writer.ossa.yaml
  migrated/claude-agents/drupal-module-specialist.ossa.yaml
  migrated/claude-agents/gitlab-expert.ossa.yaml
  migrated/claude-agents/ossa-compliance-critic.ossa.yaml
  migrated/claude-agents/refactor-specialist.ossa.yaml
  migrated/claude-agents/security-auditor.ossa.yaml
  migrated/claude-agents/test-generator.ossa.yaml
  migrated/tasks/drupal-sync.ossa.yaml
  migrated/tasks/git-commit.ossa.yaml
  migrated/tasks/npm-build.ossa.yaml
  migrated/tasks/npm-test.ossa.yaml
  migrated/tasks/phpcbf-fix.ossa.yaml
  migrated/tasks/phpcs-check.ossa.yaml
  migrated/workflows/ci-pipeline-fix.ossa.yaml
  migrated/workflows/drupal-module-development.ossa.yaml
  migrated/workflows/typescript-development.ossa.yaml
Due: validate:ossa:security

Resolve "feat(spec): Agent-to-Agent Messaging Extension for OSSA v0.3.1"
  examples/messaging/dependency-healer.ossa.yaml
  examples/messaging/incident-responder.ossa.yaml
  examples/messaging/routing-rules.ossa.yaml
  examples/messaging/security-scanner.ossa.yaml
  spec/v0.3.1/adapters/crewai-messaging.md
  spec/v0.3.1/adapters/gitlab-agent-messaging.md
  spec/v0.3.1/adapters/kagent-messaging.md
  spec/v0.3.1/adapters/langchain-messaging.md
  spec/v0.3.1/adapters/langflow-messaging.md
  spec/v0.3.1/messaging.md
  spec/v0.3.1/ossa-0.3.1.schema.json
Due: validate:version-sync, drupal:sync:agent, validate:ossa:security

fix(types): resolve TypeScript build errors and merge conflicts
  .gitlab/agents/TEMPLATE-v0.3.0-comprehensive.ossa.yaml
  .gitlab/agents/gitops-deployer/manifest.ossa.yaml
  .gitlab/ci/components/ossa-agent-component.yml
  .gitlab/ci/components/ossa-workflow-component.yml
  .gitlab/ci/ossa-integration.yml
  .gitlab/duo/triggers.yaml
  .gitlab/flows/code-review-flow.yaml
  .gitlab/flows/issue-triage-flow.yaml
  .gitlab/flows/pipeline-optimization-flow.yaml
  .gitlab/flows/release-orchestration-flow.yaml
  .gitlab/flows/security-remediation-flow.yaml
  .gitlab/tasks/close-milestone-task.ossa.yaml
  .gitlab/tasks/generate-changelog-task.ossa.yaml
  .gitlab/tasks/publish-npm-task.ossa.yaml
  .gitlab/workflows/release-workflow.ossa.yaml
  QUICK-REFERENCE.md
  eslint-report.json
  gl-code-quality-report.json
  scripts/update-agents-to-v0.3.0.ts
  spec/whitepaper/unified-task-schema.md
  test-results.xml
Due: validate:version-sync, validate:scripts-version, drupal:sync:agent, validate:ossa:security

docs: add GitLab Ultimate observability integration guide
  .gitlab/ci/docs-generation.yml
  .gitlab/ci/release-workflow.yml
  .version.json
  AGENTS.md
  docs/integrations/gitlab-ultimate-observability.md
  examples/observability/gitlab-ci-template.yml
  scripts/ci-version-sync.ts
  scripts/process-doc-templates.ts
Due: validate:scripts-version, docs:sync:agent, validate:ossa:security

fix: remove unsupported --task CLI option from agent jobs
  .gitlab/ci/agents.yml
  .gitlab/ci/components/ossa-agent-component.yml
Due: validate:ossa:security

fix(agents): update security-scanner manifest to comply with OSSA v0.3.0 schema
  .gitlab/agents/security-scanner/manifest.ossa.yaml
Due: validate:ossa:security

feat(website): make version updates fully dynamic for major/minor releases
  website/app/changelog/page.tsx
  website/app/layout.tsx
  website/app/page.tsx
  website/lib/get-version-for-metadata.ts
  website/scripts/sync-version.js
Due: none

feat: OSSA integration roadmap
  docs/README.md
  docs/roadmap/CHANGELOG.md
  docs/roadmap/README.md
  docs/roadmap/cross-project-dependencies.md
  docs/roadmap/dependency-graph.md
  docs/roadmap/phase-1-specification.md
  docs/roadmap/phase-2-runtime-implementation.md
  docs/roadmap/phase-3-production-use-cases.md
  docs/roadmap/phase-4-knowledge-convergence.md
  docs/roadmap/success-metrics.md
  docs/roadmap/v0.3.x-to-v0.4.0.md
Due: docs:sync:agent

feat(website): Make version updates fully dynamic for major/minor releases
  .gitlab-ci.yml.bak
  .gitlab/branch-protection.md
  .gitlab/duo/agents/version-auditor.yaml
  bot/.eslintrc.json
  bot/tsconfig.json
  discord-bot/package.json
  discord-bot/tsconfig.json
  drafts/STRATEGIC-PROMPT.md
  drafts/articles/ARTICLE-OPENAPI-VERSION.md
  drafts/articles/ARTICLE-WITH-LINKS.md
  drafts/social-media/SOCIAL-MEDIA-POSTS.md
  package-lock.json
  package.json
  pnpm-workspace.yaml
  website/app/page.tsx
  website/app/schema/page.tsx
  website/components/__tests__/Logo.test.tsx
  website/jest.config.js
  website/jest.setup.js
  website/lib/get-version-for-metadata.ts
  website/lib/version.ts
  website/lib/versions.json
  website/package.json
  website/scripts/audit-versions.js
  website/scripts/fetch-examples.js
  website/scripts/fix-examples-versions.js
  website/tsconfig.tsbuildinfo
Due: validate:version-sync, validate:scripts-version, validate:ossa:security

docs(workflow): add comprehensive Workflow kind documentation
  website/content/docs/architecture/multi-agent-workflows.md
  website/content/docs/examples/workflow-examples.md
  website/content/docs/schema-reference/index.md
  website/content/docs/schema-reference/workflow-spec.md
Due: none

feat(validator): add Workflow kind validation support
  discord-bot/src/utils/__tests__/ossa-validator.workflow.test.ts
  discord-bot/src/utils/ossa-validator.ts
Due: none
