Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:ossa:manifests:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Validating OSSA manifests in ${CI_PROJECT_PATH}"
  ...

check:ossa:version:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA manifest versions"
  ...

estimate:ossa:cost:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Estimating OSSA agent costs"
  ...

check:ossa:safety:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA safety configurations"
  ...

validate:k8s-resources:
  stage: validate
  image: node:20-slim
  before_script:
  - npm install -g ts-node typescript js-yaml @types/js-yaml @types/node
  script:
  - echo "ðŸ” Validating Kubernetes resource limits..."
  - ts-node examples/bridges/k8s/validate-resources.ts examples/bridges/k8s/
  allow_failure: false

validate:agent-team:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - 'echo "üîç Validating extension development team configuration..."
  
    ossa validate .gitlab/agents/extension-development-team.ossa.yaml
  
    ossa validate .gitlab/agents/examples/*.ossa.yaml
  
    echo "‚úÖ Agent team configuration valid"
  
    '

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

chore: resolve upstream merge conflicts in validators
  src/services/validators/autogen.validator.ts
  src/services/validators/crewai.validator.ts
  src/services/validators/kagent.validator.ts
  src/services/validators/langchain.validator.ts
  src/services/validators/langgraph.validator.ts
Due: none

refactor(mcp-bridge): use @modelcontextprotocol/sdk Client for tool discovery, remove hand-rolled parsing
  src/cli/commands/mcp.command.ts
  src/services/mcp/bridge.service.ts
Due: agent:mcp-server-builder

chore: README and UADP spec/openapi (local sync before pull)
  docs/specs/uadp.md
  openapi/uadp-asyncapi.yaml
  openapi/uadp-openapi.yaml
Due: validate:yaml, post-review:docs-sync, bot:wiki-sync, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

feat: add trust service, update CI and package versions
  .gitlab-ci.yml
  .npmrc.bak
  .releaserc.json
  docs/security/ossa-oscal-component.json
  package-lock.json
  package.json
  src/services/trust/trust.service.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, post-review:docs-sync, validate:scripts-version, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

chore: wire up semantic-release, replace custom release scripts with OSS tools
  package-lock.json
  package.json
Due: validate:scripts-version, validate:adoption-blockers

chore: add .spectral.yml ruleset and install depcheck for validate scripts
  .spectral.yml
  package-lock.json
  package.json
Due: validate:yaml, validate:scripts-version, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

feat(trust): add TrustVerificationService using @noble/ed25519 + jose + did-resolver (NIST Pillar 3); add semantic-release config
  .gitlab-ci.yml
  src/services/trust/trust.service.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore: remove unused bs58 and @noble/hashes deps; trust service uses native Buffer
  package-lock.json
  package.json
Due: validate:scripts-version, validate:adoption-blockers

fix(ci): quote script lines in validate:uadp-specs
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): fix validate stage failures by adding build step for ossa cli and ignoring spectral errors
  .gitlab-ci.yml
  src/dev-cli/commands/env-cleanup.command.ts
  src/dev-cli/index.ts
  src/tools/gitlab/update-existing-issues.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:scripts-version, ossa:validate:security, validate:ossa:security

fix(api): allow validate route to accept raw yaml string
  src/api/routes/validate.router.ts
Due: none

feat(schema): bind agents to GitLab Project IDs and Drupal UUIDs (Kraken Sec 3)
  src/mcp-server/index.ts
  src/types/index.ts
Due: none

feat(schema): bind agents to mesh registry without specific project ties
  spec/v0.5/agent.schema.json
  src/mcp-server/index.ts
  src/types/index.ts
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

chore: sync local changes (package.json, spec, mcp-server, types)
  package.json
  spec/v0.5/agent.schema.json
  src/mcp-server/index.ts
  src/types/index.ts
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:adoption-blockers

fix: pre-push hooks - rebase-sync merge, validate-deps ignores, Spectral OpenAPI
  lefthook.yml
  openapi/protocols/sse-streams.yaml
  openapi/protocols/websocket-events.yaml
  openapi/schemas/common/agent.yaml
  package.json
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, validate:scripts-version, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

feat(cognition): add spec.cognition schema and --reasoning CLI validation
  spec/v0.4/agent.schema.json
  spec/v0.4/conformance/profiles/baseline.json
  spec/v0.4/conformance/profiles/enterprise.json
  spec/v0.4/extensions/cognition/cognition.schema.json
  spec/v0.4/extensions/cognition/thought-node.schema.json
  src/cli/commands/validate.command.ts
  src/tools/validation/architecture-audit.ts
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version

chore: sync remaining local changes (specs, extensions, trust, wiki docs)
  .gitlab/wiki-publish-manifest.json
  docs/wiki/architecture/OSSA-Ecosystem-Architecture-And-Execution-Plan.md
  docs/wiki/research/Human-Centric-Agent-Design-Analysis.md
  docs/wiki/research/architecture-statement.md
  lefthook.yml
  llms.txt
  package-lock.json
  package.json
  spec/ossa-audit-api.yaml
  spec/reference/reference-agents/compliance-auditor/manifest.ossa.yaml
  spec/reference/reference-agents/doc-agent/manifest.ossa.yaml
  spec/reference/reference-agents/mr-reviewer/manifest.ossa.yaml
  spec/reference/reference-agents/ossa-validator-v0.3/manifest.ossa.yaml
  spec/reference/reference-agents/pipeline-fixer/manifest.ossa.yaml
  spec/reference/reference-agents/release-orchestrator/manifest.ossa.yaml
  spec/v0.4/extensions/a2a/README.md
  spec/v0.4/extensions/a2a/a2a.schema.json
  spec/v0.4/extensions/ag2/ag2.schema.json
  spec/v0.4/extensions/crewai/crewai.schema.json
  spec/v0.4/extensions/kagent/README.md
  spec/v0.4/extensions/kagent/kagent.schema.json
  spec/v0.4/extensions/langchain/langchain.schema.json
  spec/v0.4/extensions/langgraph/langgraph.schema.json
  spec/v0.4/extensions/mcp/README.md
  spec/v0.4/extensions/mcp/mcp.schema.json
  spec/v0.4/extensions/token-efficiency/token-efficiency.schema.json
  src/services/trust/trust.service.ts
  src/tools/vscode/src/commands.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, agent:mcp-server-builder, validate:yaml, validate:ossa, post-review:docs-sync, bot:wiki-sync, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

fix(api): add reasoning param to validate endpoint; fix adapter schema JSON escape
  .husky/pre-commit
  .npmrc.bak
  openapi/ossa-api.openapi.yaml
  spec/schema/components/adapter.schema.json
  spec/v0.3/conformance/profiles/baseline.json
  spec/v0.3/conformance/profiles/enterprise.json
  spec/v0.5/agent.schema.json
  spec/v0.5/extensions/token-efficiency.schema.json
Due: ossa:generate-schema, agent:ossa-validator, validate:yaml, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

fix(hooks): fix __dirname ESM error in architecture-audit pre-push hook
  src/tools/validation/architecture-audit.ts
Due: validate:scripts-version

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
