Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:k8s-resources:
  stage: validate
  image: node:20-slim
  before_script:
  - npm install -g ts-node typescript js-yaml @types/js-yaml @types/node
  script:
  - echo "ðŸ” Validating Kubernetes resource limits..."
  - ts-node examples/bridges/k8s/validate-resources.ts examples/bridges/k8s/
  allow_failure: false

validate:agent-team:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - 'echo "üîç Validating extension development team configuration..."
  
    ossa validate .gitlab/agents/extension-development-team.ossa.yaml
  
    ossa validate .gitlab/agents/examples/*.ossa.yaml
  
    echo "‚úÖ Agent team configuration valid"
  
    '

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

agent:ossa-validator:
  image: node:${NODE_VERSION:-20}-alpine
  before_script:
  - apk add --no-cache git curl jq bash
  - npm ci --legacy-peer-deps --prefer-offline --no-audit
  - npm run build
  variables:
    GITLAB_TOKEN: ${SERVICE_ACCOUNT_SECURITY_TOKEN:-${SERVICE_ACCOUNT_DEPLOYMENT_TOKEN:-${CI_JOB_TOKEN}}}
  ...

agent:drupal-standards-checker:
  image: node:${NODE_VERSION:-20}-alpine
  before_script:
  - apk add --no-cache git curl jq bash
  - npm ci --legacy-peer-deps --prefer-offline --no-audit
  - npm run build
  variables:
    GITLAB_TOKEN: ${SERVICE_ACCOUNT_DEPLOYMENT_TOKEN:-${CI_JOB_TOKEN}}
    agent_name: drupal-standards-checker
  script:
  ...

agent:mcp-server-builder:
  image: node:${NODE_VERSION:-20}-alpine
  before_script:
  - apk add --no-cache git curl jq bash
  - npm ci --legacy-peer-deps --prefer-offline --no-audit
  - npm run build
  variables:
    GITLAB_TOKEN: ${SERVICE_ACCOUNT_DEPLOYMENT_TOKEN:-${CI_JOB_TOKEN}}
    agent_name: mcp-server-builder
  script:
  ...

validate:ossa:
  stage: validate
  image: node:20-alpine
  before_script:
  - npm install -g @bluefly/openstandardagents
  script:
  ...

validate:ossa:security:
  validate

docs: reorganize documentation structure
  .kiro/config.json
  .kiro/settings/mcp.json
  .kiro/specs/scripts-migration-api-first/design.md
  .kiro/specs/scripts-migration-api-first/requirements.md
  .kiro/specs/scripts-migration-api-first/tasks.md
  .kiro/specs/website-brand-identity/design.md
  .kiro/specs/website-brand-identity/requirements.md
  .kiro/specs/website-brand-identity/tasks.md
  docs/README.md
  docs/advanced/ci-cd.md
  docs/advanced/observability.md
  docs/advanced/sdk-development.md
  docs/getting-started/QUICKSTART.md
  docs/reference/api/endpoints.md
  docs/reference/api/errors.md
  docs/reference/api/examples.md
  docs/reference/api/schemas.md
  docs/specifications/v0.3/enhancement-plan.md
  docs/specifications/v0.3/positioning.md
  docs/specifications/v0.3/production-deployment.md
Due: post-review:docs-sync, bot:wiki-sync

docs: remove excessive emojis for professional tone
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: none

fix: correct example validation errors for v0.3.5 schema
  examples/real-world/rag-documentation-assistant.ossa.yaml
  examples/unified/security-scanner.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix: use hardcoded logging level in security-scanner example
  examples/unified/security-scanner.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix: correct README with accurate project structure and remove fake claims
  README.md
Due: none

feat: add dual YAML/JSON format support to agent wizard
  src/cli/commands/agent-wizard.command.ts
Due: none

fix: add wizard supporting files and disable benchmarks job
  .gitlab-ci.yml
  package-lock.json
  package.json
  src/cli/commands/agent-wizard.command.ts
  src/cli/wizard/data/agent-types.ts
  src/cli/wizard/data/llm-providers.ts
  src/cli/wizard/data/templates.ts
  src/cli/wizard/steps/01-agent-type.ts
  src/cli/wizard/steps/02-basic-info.ts
  src/cli/wizard/steps/03-domain-capability.ts
  src/cli/wizard/steps/04-llm-config.ts
  src/cli/wizard/steps/05-tools.ts
  src/cli/wizard/steps/06-autonomy.ts
  src/cli/wizard/steps/07-observability.ts
  src/cli/wizard/steps/08-deployment.ts
  src/cli/wizard/steps/09-advanced.ts
  src/cli/wizard/steps/10-review.ts
  src/cli/wizard/steps/index.ts
  src/cli/wizard/templates/critic-performance-analyzer.yaml
  src/cli/wizard/templates/monitor-system-health.yaml
  src/cli/wizard/templates/orchestrator-multi-agent.yaml
  src/cli/wizard/templates/planner-workflow-designer.yaml
  src/cli/wizard/templates/reviewer-code-quality.yaml
  src/cli/wizard/templates/worker-api-integrator.yaml
  src/cli/wizard/templates/worker-data-processor.yaml
  src/cli/wizard/types.ts
  src/cli/wizard/ui/console.ts
  src/cli/wizard/validators/index.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:scripts-version, ossa:validate:security, validate:ossa:security

chore: add .DS_Store to .gitignore
  migrations/.gitignore
  src/sdks/python/.gitignore
  src/sdks/shared/.gitignore
Due: none

chore: add .DS_Store to .gitignore
  src/sdks/typescript/.gitignore
Due: none

feat: Add taxonomy system and Claude Skills integration
  docs/architecture/agent-folder-structure.md
  src/cli/commands/agent-wizard.command.ts
  src/cli/commands/scaffold.command.ts
  src/cli/commands/skills.command.ts
  src/cli/commands/taxonomy.command.ts
  src/cli/commands/workspace.command.ts
  src/cli/index.ts
  src/cli/wizard/data/taxonomy.ts
  src/cli/wizard/steps/03-domain-capability.ts
  src/cli/wizard/steps/12-agents-folder.ts
  src/cli/wizard/steps/13-openapi-generation.ts
  src/cli/wizard/steps/14-workspace-registration.ts
  src/cli/wizard/steps/index.ts
  src/sdks/python/ossa/__init__.py
  src/sdks/python/ossa/adapters/__init__.py
  src/sdks/python/ossa/adapters/anthropic.py
  src/sdks/python/ossa/adapters/base.py
  src/sdks/python/ossa/adapters/openai.py
  src/sdks/python/ossa/cli.py
  src/sdks/python/ossa/crud/__init__.py
  src/sdks/python/ossa/crud/controller.py
  src/sdks/python/ossa/crud/repository.py
  src/sdks/python/ossa/crud/service.py
  src/sdks/python/ossa/structure.py
  src/services/skills/claude-skills.service.ts
  src/services/structure/agents-folder.service.ts
Due: post-review:docs-sync, bot:wiki-sync

fix: remove IDE configs and hardcoded paths for portability
  .claude/agent-identity
  .claude/agents/README.md
  .claude/memory/version-management.md
  .claude/settings.json
  .claude/settings.local.json
  .claude/swarm-config.json
  .cursor/browser/config.json
  .cursor/commands/ossa-debug.md
  .cursor/commands/ossa-generate.md
  .cursor/commands/ossa-migrate.md
  .cursor/commands/ossa-openapi.md
  .cursor/commands/ossa-refactor.md
  .cursor/commands/ossa-release.md
  .cursor/commands/ossa-schema.md
  .cursor/commands/ossa-test.md
  .cursor/commands/ossa-validate.md
  .cursor/environment.json
  .cursor/guardrails.json
  .cursor/hooks/context-filter.ts
  .cursor/hooks/post-edit.ts
  .cursor/hooks/pre-edit.ts
  .cursor/hooks/pre-terminal.ts
  .cursor/rules/ossa-development.md
  .cursor/rules/problems.json
  .cursor/rules/typescript.md
  .cursor/settings.json
  .cursor/worktrees.json
  .gitignore
  .gitlab/ci/_archived/unused/review-apps.yml
  .gitlab/infrastructure/orbstack/README.md
  .migration-state.json
  src/cli/commands/agent-wizard.command.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat: add PUBLIC GitLab Duo Agent Platform integration for OSSA
  .gitlab/DUO-AGENT-PLATFORM.md
  .gitlab/agents/ossa-validator/config.yaml
  .gitlab/ci/duo-platform-features.yml
  .gitlab/triggers/ossa-agent-files.yaml
  .gitlab/workflows/ossa-validation-flow.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
