Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(ci): remove inaccessible GitLab component causing pipeline failures
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: restore golden component include to CI config
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): remove emojis from SDK publish scripts that break YAML parsing
  .gitlab/ci/sdk-publish.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

refactor(docs): reorganize spec documentation for clarity
  docs/specs/v0.3/enhancement-plan.md
  docs/specs/v0.3/positioning.md
  docs/specs/v0.3/production-deployment.md
  spec/reference/reference-agents/compliance-auditor/manifest.ossa.yaml
  spec/reference/reference-agents/doc-agent/manifest.ossa.yaml
  spec/reference/reference-agents/mr-reviewer/manifest.ossa.yaml
  spec/reference/reference-agents/mr-reviewer/system-prompt.md
  spec/reference/reference-agents/ossa-validator-v0.3/manifest.ossa.yaml
  spec/reference/reference-agents/ossa-validator-v0.3/system-prompt.md
  spec/reference/reference-agents/pipeline-fixer/manifest.ossa.yaml
  spec/reference/reference-agents/release-orchestrator/README.md
  spec/reference/reference-agents/release-orchestrator/manifest.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, post-review:docs-sync, bot:wiki-sync, schema:validate-examples, ossa:validate:security, validate:ossa:security

feat(agent): generalize OSSA validator agent for ANY project
  .gitlab/agent-k8s/README.md
  .gitlab/agent-k8s/ci-template.yml
  tools/framework-converters/examples/langchain-agent.json
  tools/framework-converters/package.json
  tools/framework-converters/src/cli.ts
  tools/framework-converters/src/converters/autogen.ts
  tools/framework-converters/src/converters/crewai.ts
  tools/framework-converters/src/converters/langchain.ts
  tools/framework-converters/src/index.ts
  tools/framework-converters/src/types.ts
  tools/framework-converters/tsconfig.json
  tools/vscode/.vscodeignore
  tools/vscode/language-configuration.json
  tools/vscode/package.json
  tools/vscode/snippets/ossa-snippets.json
  tools/vscode/src/commands.ts
  tools/vscode/src/completion.ts
  tools/vscode/src/extension.ts
  tools/vscode/src/hover.ts
  tools/vscode/src/validator.ts
  tools/vscode/tsconfig.json
Due: validate:yaml, ossa:validate:security, validate:ossa:security

docs: comprehensive .gitlab agent platform architecture
  .gitlab/README.md
Due: none

feat: production-grade Symfony/Drupal bundle for OSSA
  tools/symfony-bundle/.gitignore
  tools/symfony-bundle/.php-cs-fixer.php
  tools/symfony-bundle/CHANGELOG.md
  tools/symfony-bundle/LICENSE
  tools/symfony-bundle/Makefile
  tools/symfony-bundle/README.md
  tools/symfony-bundle/composer.json
  tools/symfony-bundle/config/services.yaml
  tools/symfony-bundle/phpstan.neon
  tools/symfony-bundle/phpunit.xml.dist
  tools/symfony-bundle/src/Agent/AgentExecutor.php
  tools/symfony-bundle/src/Agent/AgentLoader.php
  tools/symfony-bundle/src/Agent/AgentRegistry.php
  tools/symfony-bundle/src/Command/AgentExecuteCommand.php
  tools/symfony-bundle/src/Command/AgentListCommand.php
  tools/symfony-bundle/src/Command/AgentValidateCommand.php
  tools/symfony-bundle/src/Command/MCPServerListCommand.php
  tools/symfony-bundle/src/DependencyInjection/Configuration.php
  tools/symfony-bundle/src/DependencyInjection/OssaExtension.php
  tools/symfony-bundle/src/EventListener/AgentExecutionListener.php
  tools/symfony-bundle/src/Exception/AgentNotFoundException.php
  tools/symfony-bundle/src/Exception/UnsupportedProviderException.php
  tools/symfony-bundle/src/LLM/LLMProviderFactory.php
  tools/symfony-bundle/src/LLM/LLMProviderInterface.php
  tools/symfony-bundle/src/LLM/Provider/AnthropicProvider.php
  tools/symfony-bundle/src/LLM/Provider/AzureProvider.php
  tools/symfony-bundle/src/LLM/Provider/GoogleProvider.php
  tools/symfony-bundle/src/LLM/Provider/OpenAIProvider.php
  tools/symfony-bundle/src/MCP/MCPServerManager.php
  tools/symfony-bundle/src/MCP/MCPToolRegistry.php
  tools/symfony-bundle/src/Model/Agent.php
  tools/symfony-bundle/src/Model/AgentResponse.php
  tools/symfony-bundle/src/Observability/CostTracker.php
  tools/symfony-bundle/src/Observability/TelemetryService.php
  tools/symfony-bundle/src/OssaBundle.php
  tools/symfony-bundle/src/Validator/ManifestValidator.php
  tools/symfony-bundle/src/Validator/SafetyValidator.php
  tools/symfony-bundle/tests/Agent/AgentRegistryTest.php
  tools/symfony-bundle/tests/Model/AgentTest.php
Due: agent:drupal-standards-checker, validate:yaml, ossa:validate:security, validate:ossa:security

docs: Drupal quick start guide for OSSA bundle
  tools/symfony-bundle/DRUPAL.md
Due: none

refactor: move DRUPAL.md to wiki
  tools/symfony-bundle/DRUPAL.md
Due: none

fix(ci): add deploy stage for golden component train-model job
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): mark test:security and other test jobs as optional in needs
  .gitlab/ci/caching.yml
  .gitlab/ci/quality-gates.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(npm): regenerate package-lock.json to include lefthook
  package-lock.json
Due: none

fix(examples): correct observability metrics schema in gitlab-cicd-optimizer
  examples/real-world/gitlab-cicd-optimizer.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(examples): correct schema violations in example manifests
  examples/a2a/agent-handoff.ossa.yaml
  examples/a2a/service-discovery.ossa.yaml
  examples/autonomous-evolution/self-evolving-agent.ossa.yaml
  examples/claude-code/ossa-validator.ossa.yaml
  examples/contracts/data-producer.ossa.yaml
  examples/drupal/ai_agents_ossa-module/.agents/example-agent/agent.ossa.yaml
  examples/drupal/gitlab-ml-recommender.ossa.yaml
  examples/migrations/langchain/03-sequential-chain-after.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, schema:validate-examples, ossa:validate:security, validate:ossa:security
