Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(test-runner): extract test assertions to typed variable
  src/services/test-runner/test-runner.service.ts
Due: none

fix(test-runner): remove duplicate for loop line
  src/services/test-runner/test-runner.service.ts
Due: none

feat(sdk): Runtime SDK + reference implementations
  examples/coordinator-agent/README.md
  examples/coordinator-agent/index.ts
  examples/coordinator-agent/manifest.yaml
  examples/rag-agent/README.md
  examples/rag-agent/index.ts
  examples/rag-agent/manifest.yaml
  examples/workflow-agent/README.md
  examples/workflow-agent/index.ts
  examples/workflow-agent/manifest.yaml
  packages/runtime/README.md
  packages/runtime/jest.config.js
  packages/runtime/package.json
  packages/runtime/src/agent.ts
  packages/runtime/src/capabilities.ts
  packages/runtime/src/index.ts
  packages/runtime/src/manifest.ts
  packages/runtime/src/runtime.ts
  packages/runtime/src/types.ts
  packages/runtime/tests/agent.test.ts
  packages/runtime/tests/capabilities.test.ts
  packages/runtime/tests/runtime.test.ts
  packages/runtime/tsconfig.json
Due: validate:yaml, ossa:validate:security, validate:ossa:security

duo
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): make accessibility testing allow_failure conditional
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): use local runners for pages job
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

release: OSSA v0.3.0 Final Release
  package.json
  website/lib/version.ts
  website/package.json
  website/public/examples.json
  website/scripts/fix-version-references.js
Due: none

fix: update all version references to v0.3.0
  website/content/docs/00-home.md
  website/content/docs/aiflow-framework-integration-with-ossa.md
  website/content/docs/changelog.md
  website/content/docs/cli-reference/ossa-migrate.md
  website/content/docs/cli-reference/ossa-schema.md
  website/content/docs/deployment/github-mirroring.md
  website/content/docs/examples/aiflow-framework-integration-with-ossa.md
  website/content/docs/examples/migration-guides.md
  website/content/docs/for-audiences/developers.md
  website/content/docs/for-audiences/students-researchers.md
  website/content/docs/integrations/aiflow.md
  website/content/docs/integrations/symphony-drupal.md
  website/content/docs/migration-guides/openai-to-ossa.md
  website/content/docs/openapi-extensions.md
  website/content/docs/openapi-extensions/root-extensions.md
  website/content/docs/pre-release/index.md
  website/content/docs/releases/v0.2.6.md
  website/content/docs/schema-reference/index.md
  website/content/docs/schema-reference/ossa-manifest.md
  website/content/docs/versioning.md
  website/lib/get-version-for-metadata.ts
  website/public/examples.json
Due: none

ci: remove runner tags to use GitLab shared runners
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore(ci): auto-sync OSSA spec, versions, examples, and wiki [skip ci]
  website/public/examples.json
Due: none

Revert "fix(ci): use local runners for pages job"
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

hotfix(ci): use local runner for all jobs
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Release/v0.3.x
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Duo
  .gitlab-ci.yml
  .gitlab/ci/review-apps.yml
  .gitlab/scripts/detect-version.sh
  website/scripts/fix-version-references.js
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: set v0.3.0 as stable version (do not overwrite)
  website/lib/versions.json
Due: none

fix: update versions.json and playground to v0.3.0
  website/app/playground/page.tsx
  website/lib/versions.json
Due: none

chore(ci): auto-sync OSSA spec, versions, examples, and wiki [skip ci]
  website/lib/versions.json
Due: none

fix: prevent sync from downgrading stable version
  website/lib/versions.json
  website/scripts/fetch-versions.js
Due: none

refactor(ci): shorten review app URLs to use MR ID only
  .gitlab/ci/review-apps.yml
  .gitlab/k8s/review-app.yaml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security
