Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ossa-validator: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

chore: remove remaining shell script from infrastructure/
  infrastructure/k8s/monitoring/deploy.sh
Due: none

refactor: consolidate .gitlab/ structure - merge duplicates (DRY)
  .gitlab/config/duo-agent-config-root.yaml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

refactor: consolidate .gitlab/ structure following DRY principles
  .gitlab/components/multi-project-release/component.yml
  .gitlab/components/ossa-agent-execution/component.yml
  .gitlab/components/ossa-workflow-execution/component.yml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

refactor: remove all shell script files (.sh) - violates project rules
  .lefthook/checks/prevent-hardcoded-versions.sh
  .lefthook/checks/validate-gitlab-ci.sh
  examples/reference-implementations/curl-scripts/01-search-agents.sh
  examples/reference-implementations/curl-scripts/02-get-agent-details.sh
  examples/reference-implementations/curl-scripts/03-publish-agent.sh
  examples/reference-implementations/curl-scripts/04-a2a-messaging.sh
  examples/reference-implementations/curl-scripts/05-discovery.sh
Due: schema:validate-examples

fix: update version-validator.ts to use {{VERSION}} placeholder (not hardcoded 0.3.3)
  src/tools/validation/version-validator.ts
Due: none

feat: add OSSA Developer CLI with OpenAPI/Zod architecture
  openapi/dev-cli.openapi.yml
  scripts/dev-cli/README.md
  scripts/dev-cli/package.json
  scripts/dev-cli/schemas/spec.schema.ts
  scripts/dev-cli/schemas/version.schema.ts
  scripts/dev-cli/services/version-audit.service.ts
  scripts/dev-cli/src/commands/spec.command.ts
  scripts/dev-cli/src/commands/version.command.ts
  scripts/dev-cli/src/commands/workflow.command.ts
  scripts/dev-cli/src/index.ts
  scripts/dev-cli/tsconfig.json
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

feat: implement OSSA Developer CLI services
  scripts/dev-cli/src/services/spec-generate.service.ts
  scripts/dev-cli/src/services/spec-validate.service.ts
  scripts/dev-cli/src/services/version-release.service.ts
  scripts/dev-cli/src/services/version-sync.service.ts
  scripts/dev-cli/src/services/version-validate.service.ts
Due: none

feat: complete OSSA Developer CLI foundation
  scripts/dev-cli/bin/ossa-dev.js
Due: none

refactor: move dev-cli from scripts/ to src/ (production tool)
  package.json
  scripts/dev-cli/bin/ossa-dev.js
  src/dev-cli/README.md
  src/dev-cli/bin/ossa-dev.js
  src/dev-cli/package.json
  src/dev-cli/schemas/spec.schema.ts
  src/dev-cli/schemas/version.schema.ts
  src/dev-cli/services/version-audit.service.ts
  src/dev-cli/src/commands/spec.command.ts
  src/dev-cli/src/commands/version.command.ts
  src/dev-cli/src/commands/workflow.command.ts
  src/dev-cli/src/index.ts
  src/dev-cli/src/services/spec-generate.service.ts
  src/dev-cli/src/services/spec-validate.service.ts
  src/dev-cli/src/services/version-release.service.ts
  src/dev-cli/src/services/version-sync.service.ts
  src/dev-cli/src/services/version-validate.service.ts
  src/dev-cli/tsconfig.json
Due: none

feat: build framework integration system for adoption
  spec/v0.3.3/extensions/opentelemetry.md
  src/adapters/langfuse.adapter.ts
  src/adapters/langsmith.adapter.ts
  src/adapters/opentelemetry.adapter.ts
  src/adapters/phoenix.adapter.ts
  src/cli/commands/framework.command.ts
  src/cli/commands/langchain.command.ts
  src/cli/commands/langflow.command.ts
  src/cli/index.ts
  src/runtime/crewai.runtime.ts
  src/runtime/langchain.runtime.ts
  src/runtime/langflow.runtime.ts
  src/services/framework-import/langchain-importer.service.ts
  src/services/framework-import/langflow-importer.service.ts
Due: agent:ossa-validator, schema:validate-examples

fix: remove unused adapter references in runtime bridges
  src/runtime/crewai.runtime.ts
  src/runtime/langchain.runtime.ts
  src/runtime/langflow.runtime.ts
Due: none

fix: remove duplicate imports and fix loadManifest references
  src/cli/commands/langchain.command.ts
  src/cli/commands/langflow.command.ts
Due: none

feat: audit and improve .agents directory for DRY, validation, and OSSA showcase
  .agents/SUMMARY.md
  .agents/bot-ossa-validator.ossa.yaml
  .agents/orchestrators/meta-orchestrator/manifest.ossa.yaml
  .agents/spec-healer/manifest.ossa.yaml
  .agents/workers/drupal-migration-intelligence/agent.ossa.yaml
  .agents/workers/drupal-module-developer/agent.ossa.yaml
  .agents/workers/drupal-security-compliance/agent.ossa.yaml
  .agents/workers/security-healer/manifest.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate:security, validate:ossa:security

fix: resolve all TypeScript build errors
  .agents/DRUPAL-AGENTS-MIGRATION-PLAN.md
  src/adapters/langfuse.adapter.ts
  src/adapters/langsmith.adapter.ts
  src/adapters/opentelemetry.adapter.ts
  src/adapters/phoenix.adapter.ts
  src/cli/commands/framework.command.ts
  src/cli/commands/langchain.command.ts
  src/cli/commands/langflow.command.ts
  src/dev-cli/schemas/version.schema.ts
  src/dev-cli/src/commands/spec.command.ts
  src/dev-cli/src/commands/version.command.ts
  src/dev-cli/src/schemas/spec.schema.ts
  src/dev-cli/src/schemas/version.schema.ts
  src/dev-cli/src/services/spec-generate.service.ts
  src/dev-cli/src/services/spec-validate.service.ts
  src/dev-cli/src/services/version-release.service.ts
  src/dev-cli/src/services/version-sync.service.ts
  src/dev-cli/src/services/version-validate.service.ts
  src/runtime/langflow.runtime.ts
  src/services/framework-import/langchain-importer.service.ts
  src/services/framework-import/langflow-importer.service.ts
Due: validate:ossa, agent:ossa-validator

fix: resolve all remaining lint errors and warnings
  src/adapters/opentelemetry.adapter.ts
  src/cli/commands/dependencies.command.ts
  src/cli/commands/docs.command.ts
  src/cli/extensions/index.ts
  src/dev-cli/services/version-audit.service.ts
  src/repositories/manifest.repository.ts
  src/services/codegen/generators/zod.generator.ts
  src/services/framework-import/langchain-importer.service.ts
  src/tools/vscode-ossa/src/commands.ts
  src/tools/vscode-ossa/src/validator.ts
Due: none

feat(release): complete v0.3.3 release setup
  .gitlab-ci.yml
  .releaserc.json
  package.json
  src/adapters/anthropic/runtime.ts
  src/adapters/crewai-adapter.ts
  src/adapters/langchain-adapter.ts
  src/adapters/langflow-adapter.ts
  src/adapters/openapi-adapter.ts
  src/adapters/opentelemetry.adapter.ts
  src/bot/ci-pipeline-bot.ts
  src/bot/compliance-bot.ts
  src/cli/commands/agents-md.command.ts
  src/cli/commands/catalog/diff.command.ts
  src/cli/commands/catalog/pull.command.ts
  src/cli/commands/docs.command.ts
  src/cli/commands/extension-team.command.ts
  src/cli/commands/framework.command.ts
  src/cli/commands/generate.command.ts
  src/cli/commands/init.command.ts
  src/cli/commands/install.command.ts
  src/cli/commands/langchain.command.ts
  src/cli/commands/langflow.command.ts
  src/cli/commands/lint.command.ts
  src/cli/commands/migrate.command.ts
  src/cli/commands/publish.command.ts
  src/cli/commands/quickstart.command.ts
  src/cli/commands/registry.command.ts
  src/cli/commands/release.command.ts
  src/cli/commands/run.command.ts
  src/cli/commands/validate.command.ts
  src/cli/commands/workspace.command.ts
  src/cli/extensions/gitlab-release.commands.ts
  src/runtime/crewai.runtime.ts
  src/runtime/langflow.runtime.ts
  src/tools/check-ci-variables.ts
  src/tools/complete-ci-setup.ts
  src/tools/setup-ci-variables.ts
  src/tools/vscode-ossa/.eslintrc.json
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: add .js extensions to imports per Duo suggestions
  src/dev-cli/src/services/spec-generate.service.ts
  src/dev-cli/src/services/spec-validate.service.ts
Due: none

fix: add .js extensions to remaining imports per Duo suggestions
  package.json
  src/dev-cli/src/services/version-release.service.ts
  src/dev-cli/src/services/version-sync.service.ts
  src/dev-cli/src/services/version-validate.service.ts
  src/repositories/manifest.repository.ts
  src/repositories/schema.repository.ts
  src/tools/audit-mrs.ts
  src/tools/verify-npm-auth.ts
Due: none

fix: add metrics endpoint configuration per Duo suggestion
  .agents/workers/drupal-security-compliance/agent.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate:security, validate:ossa:security

chore: remove unused audit-mrs.ts file
  src/tools/audit-mrs.ts
Due: none
