Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:yaml:
  stage: validate
  image: python:3.11-slim
  script:
  - pip install yamllint
  - yamllint -d relaxed .

validate:ossa:
  stage: validate
  image: node:20-slim
  script:
  - npm install -g @bluefly/ossa-cli
  - ossa validate --strict
  allow_failure: false

validate:gitlab-ci:
  stage: validate
  image: alpine:latest
  script:
  - apk add --no-cache curl jq
  ...

agent:ossa-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:drupal-standards:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:ci-fixer:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:config-auditor:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:recipe-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:theme-tester:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

docs:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: gitlab-lib-ci
    AGENT_TASK: docs-sync
    SOURCE_BRANCH: $CI_COMMIT_BRANCH

deploy:infra:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: infra-prod
    AGENT_TASK: deploy
    ENVIRONMENT: production
    MANIFEST_PATH: infrastructure/

deploy:ml:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: ml-prod
    AGENT_TASK: deploy-model
    MODEL_PATH: models/

drupal:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: drupal-prod
    AGENT_TASK: sync-content
    CONTENT_TYPE: ossa-agents

validate:ossa:security:
  validate

feat: Implement 'Agents as First-Class Citizens' positioning
  .gitlab/agents/content-team/README.md
  .gitlab/agents/content-team/author.ossa.yaml
  .gitlab/agents/content-team/editor.ossa.yaml
  .gitlab/agents/content-team/moderator.ossa.yaml
  .gitlab/agents/content-team/orchestrator.ossa.yaml
  .gitlab/agents/content-team/publisher.ossa.yaml
  .gitlab/agents/content-team/researcher.ossa.yaml
  .gitlab/ci/content-agents.yml
  discord-bot/package.json
  discord-bot/src/utils/ossa-validator.ts
  discord-bot/tsconfig.json
  package-lock.json
  pnpm-lock.yaml
  website/app/page.tsx
  website/content/blog/agents-as-first-class-citizens.md
  website/content/docs/00-home.md
  website/content/docs/architecture/overview.md
  website/content/docs/enterprise-benefits.md
  website/lib/release-highlights.json
  website/package.json
  website/scripts/fetch-release-highlights.js
  website/tsconfig.json
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, validate:ossa:security

feat: Add autonomous evolution system for self-updating OSSA standard
  DEMO-ERROR-FORMATTER.md
Due: none

fix: git fetch authentication and release-version.env handling
  .gitlab/ci/release-workflow.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:ossa:security

fix: changelog job push authentication
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:ossa:security

fix: remove all .bak and .tmp files
  .gitlab-ci.yml.bak
  .gitlab-ci.yml.bak2
  .gitlab/ci/seo-automation.yml.bak
Due: validate:gitlab-ci, agent:ci-fixer

feat(ci): migrate to gitlab_components security components from MR 361
  .gitlab-ci.yml.bak
  .gitlab-ci.yml.bak2
  discord-bot/package.json
Due: none

fix failing pipeline
  .gitlab/ci/webhook-agents.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:ossa:security

Resolve "COMPREHENSIVE AUDIT REPORT: OSSA v0.3.x Release Readiness"
  .env.example
  .eslintrc.json
  .gitlab-ci.yml
  .gitlab/agents/tasks/code-review-agent.ossa.yaml
  .gitlab/agents/tasks/release-agent.ossa.yaml
  .gitlab/ci/pages.yml
  .prettierrc
  CHANGELOG.md
  examples/agent-mesh/README.ts
  examples/agent-mesh/basic-usage.ts
  package.json
  src/mesh/client.ts
  src/mesh/discovery.ts
  src/mesh/index.ts
  src/mesh/routing.ts
  src/mesh/types.ts
  src/repositories/manifest.repository.ts
  src/utils/path-validator.ts
  src/utils/yaml-parser.ts
  tests/unit/utils/path-validator.test.ts
  tests/unit/utils/yaml-parser.test.ts
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, validate:ossa:security

feat(ci): tag-based release strategy and final audit items
  .gitlab-ci.yml
  .gitlab/agents/tasks/changelog-generator.ossa.yaml
  .gitlab/agents/tasks/docs-updater.ossa.yaml
  .gitlab/agents/tasks/example-generator.ossa.yaml
  .gitlab/agents/tasks/example-validator.ossa.yaml
  .gitlab/agents/tasks/infra-healer.ossa.yaml
  .gitlab/agents/tasks/mr-automation.ossa.yaml
  .gitlab/agents/tasks/release-validator.ossa.yaml
  .gitlab/agents/tasks/security-healer.ossa.yaml
  .gitlab/agents/tasks/test-generator.ossa.yaml
  docs/GITLAB-ULTIMATE-OBSERVABILITY.md
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, docs:sync:agent, validate:ossa:security

feat(agents): 8 automation agents + GitLab Ultimate observability docs + CI fix
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:ossa:security

feat(ci): add auto-deploy to OrbStack Kubernetes for release branches
  .gitlab/ci/review-app.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:ossa:security

feat(ci): add auto-deploy to OrbStack Kubernetes
  .gitlab/ci/review-app.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:ossa:security

feat(spec): add Agent-to-Agent Messaging Extension for OSSA v0.3.1
  .gitlab-ci.yml
  .gitlab/agents/mr-reviewer/manifest.ossa.yaml
  .gitlab/ci/agent-integration.yml
  .gitlab/ci/components/ossa-agent-component.yml
  .gitlab/ci/ossa-integration.yml
  .gitlab/components/ossa-validator/component.yml
  DEMO-ERROR-FORMATTER.md
  README.md
  lefthook.yml
  spec/v0.3.0/ossa-0.3.0.schema.json
  src/cli/commands/validate.command.ts
  src/mesh/client.ts
  src/types/index.ts
  src/utils/version.ts
  tests/unit/services/validators/messaging.validator.test.ts
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, docs:sync:agent, drupal:sync:agent, validate:ossa:security

feat(ci): implement dynamic OSSA version management
  .gitlab-ci.yml
  .gitlab/ci/ossa-version-management.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:ossa:security

feat(spec): add Agent-to-Agent Messaging Extension for OSSA v0.3.1
  .gitlab/agents/security-scanner/manifest.ossa.yaml
  .gitlab/components/workflow/golden/enhanced-template.yml
Due: validate:yaml, validate:ossa, agent:ossa-validator, validate:ossa:security

feat(spec): add Agent-to-Agent Messaging Extension for OSSA v0.3.1
  .gitlab-ci.yml
  .gitlab/ci/ossa-version-management.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:ossa:security

feat(ci): automate version management with semantic-release
  .gitlab-ci.yml
  .gitlab/ci/ossa-version-management.yml
  .gitlab/scripts/detect-ossa-version.sh
  .gitlab/scripts/sync-version-placeholders.sh
  .releaserc.json
  package-lock.json
  package.json
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:ossa:security

feat(schema): implement v0.3.0 schema strengthening additions
  spec/v0.3.0/ossa-0.3.0.schema.json
Due: drupal:sync:agent

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
