Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix: add InversifyJS decorators to RegistryService
  package.json
  src/services/registry.service.ts
Due: validate:scripts-version

fix(critical): CLI now works after npm install -g
  CLI-COMMANDS.md
  package.json
  src/utils/version.ts
Due: validate:scripts-version

chore: update Python SDK version to 0.3.6
  src/sdks/python/pyproject.toml
Due: none

fix(python-sdk): Complete Python SDK - PRODUCTION READY
  src/sdks/python/ossa/__init__.py
  src/sdks/python/ossa/types.py
Due: none

fix: Handle import.meta.url in Jest test environment
  src/utils/version.ts
Due: none

chore(infra): Stabilize toolchain, linting, and validation
  .eslintrc.json
  .nvmrc
  lefthook.yml
  package.json
  spec/v0.3.6/README.md
  src/tools/validation/validate-openapi-extensions.ts
Due: agent:ossa-validator, validate:yaml, schema:validate-examples, validate:scripts-version, ossa:validate:security, validate:ossa:security

feat(sdk): Scaffold sdk-codegen and sdk-docs packages
  package.json
  packages/sdk-codegen/package.json
  packages/sdk-codegen/src/index.ts
  packages/sdk-codegen/tsconfig.json
  packages/sdk-docs/package.json
  packages/sdk-docs/src/index.ts
  packages/sdk-docs/tsconfig.json
  tsconfig.json
Due: validate:scripts-version

chore: cleanup quotes in sdk packages
  packages/sdk-codegen/src/index.ts
  packages/sdk-docs/src/index.ts
  tsconfig.json
Due: none

fix: resolve lint warnings and schema validation format errors
  package.json
  packages/sdk-codegen/src/index.ts
  packages/sdk-docs/src/index.ts
  tsconfig.json
Due: validate:scripts-version

feat(tier1): implement sdk-codegen and sdk-docs generators
  package-lock.json
  packages/sdk-codegen/src/generator.ts
  packages/sdk-codegen/src/index.ts
  packages/sdk-docs/src/generator.ts
  packages/sdk-docs/src/index.ts
Due: none

chore: audit cleanup - added types, comments, and strictness
  packages/sdk-codegen/src/generator.ts
  packages/sdk-docs/src/generator.ts
  src/services/ai-architect.service.ts
Due: none

docs: add comprehensive agent definition and structure guide
  README.md
  docs/agent-definition.md
Due: post-review:docs-sync, bot:wiki-sync

chore: stabilize v0.3.6 release, fix types, tests, and openapi compliance
  openapi/cli-commands.openapi.yaml
  package-lock.json
  package.json
  packages/sdk-codegen/src/generator.ts
  packages/sdk-docs/src/generator.ts
  schemas/capability-contract.v0.json
  schemas/identity.lock.schema.json
  schemas/identity.plan.schema.json
  src/cli/commands/capability/validate.ts
  src/cli/commands/generate/conformance.ts
  src/cli/commands/identity/plan.ts
  src/cli/wizard/steps/14-workspace-registration.ts
  src/dev-cli/bin/ossa-dev.js
  src/repositories/schema.repository.ts
  src/services/ai-architect.service.ts
  src/services/migration-transform.service.ts
  src/tools/generators/fix-schema-formats.js
  src/tools/generators/schema-to-python.js
  src/tools/generators/schema-to-snippets.js
  src/tools/generators/schema-to-typescript.js
  src/tools/validation/validate-all.js
  src/tools/validation/validate-examples.js
  src/types/architect.ts
  src/types/generated/ossa-v0.3.6.d.ts
  src/types/index.ts
  src/utils/version.ts
  tests/integration/cli/generate.test.ts
  tests/unit/repositories/schema.repository.test.ts
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, validate:scripts-version, ossa:validate:security, validate:ossa:security

chore: align CI with NAS runners and polish core services
  .gitlab-ci.yml
  src/cli/utils/error-formatter.ts
  src/repositories/manifest.repository.ts
  src/services/registry.service.ts
  src/testing/fixtures.ts
  src/testing/runner.ts
  src/types/index.ts
  src/validation/enhanced-validator.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore: align CI with NAS runners and polish core services
  openapi/agents-md-service.yaml
  src/services/agents-md/repo-agents-md.service.ts
  src/services/template-processor.service.ts
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

feat: implement AGENTS.md generation service and CLI integration, fix emails, and taxonomy
  examples/build-once-use-everywhere/agent.ossa.yaml
  examples/multi-platform/single-manifest/agent.ossa.yaml
  examples/v0.3.6/full-featured-v0.3.6.ossa.yaml
  examples/v0.3.6/gitlab-duo-composite-identity.ossa.yaml
  src/cli/commands/agents-md.command.ts
  src/cli/commands/agents-md/batch.command.ts
  src/cli/commands/agents-md/generate.command.ts
  src/cli/commands/agents-md/list.command.ts
  src/cli/commands/agents-md/validate.command.ts
  src/cli/commands/wizard.command.ts
  src/cli/utils/error-formatter.ts
  src/di-container.ts
  src/services/agents-md/agents-md.service.ts
  src/services/agents-md/repo-agents-md.service.ts
  src/services/git.service.ts
  src/services/template-processor.service.ts
  src/testing/fixtures.ts
  src/testing/runner.ts
  src/types/index.ts
  src/validation/enhanced-validator.ts
  src/validation/validator.ts
  tests/services/repo-agents-md.service.test.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, ossa:validate:security, validate:ossa:security

ci: implement flexible runner switcher
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security
