Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(ci): align quality:gates rules with test job rules
  .gitlab/ci/quality-gates.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): set security scanning jobs to allow_failure
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): remove broken GitLab SAST templates, use npm-based security
  .gitlab-ci.yml
  .gitlab/ci/security-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): remove production environment from release:semantic
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): implement fast/full gate model with real security gates and release prep
  .gitlab-ci.yml
  .gitlab/ci/optimized-test-jobs.yml
  .gitlab/ci/quality-gates.yml
  .gitlab/ci/rules.yml
  .gitlab/ci/security-jobs.yml
  openapi/dev-cli.openapi.yml
  package.json
  src/cli/commands/release.command.ts
  src/cli/index.ts
  src/dev-cli/schemas/version.schema.ts
  src/dev-cli/services/version-audit.service.ts
  src/dev-cli/src/commands/release-prep.command.ts
  src/dev-cli/src/commands/release.command.ts
  src/dev-cli/src/commands/version.command.ts
  src/dev-cli/src/index.ts
  src/dev-cli/src/schemas/release-prep.schema.ts
  src/dev-cli/src/schemas/release.schema.ts
  src/dev-cli/src/services/release-prep.service.ts
  src/dev-cli/src/services/release-verify.service.ts
  src/tools/lib/version.ts
  src/tools/version/bump-version.ts
  src/tools/version/ci-version-sync.ts
  src/tools/version/detect-ossa-version.ts
  src/tools/version/enhanced-version-manager.ts
  src/tools/version/sync-version.js
  src/tools/version/sync-version.ts
  src/tools/version/sync-versions.ts
  src/tools/version/unified-version-sync.ts
  src/tools/version/version-examples.ts
  src/tools/version/version-sync.ts
  tests/e2e/smoke.spec.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

feat(ci): fully automated RC to stable promotion and release
  .gitlab-ci.yml
  .gitlab/ci/release-promote.yml
  src/dev-cli/src/schemas/release.schema.ts
  src/dev-cli/src/services/release-verify.service.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): auto-promote RC to stable when RC tag is pushed
  .gitlab/ci/release-promote.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): fix publish-npm:stable to work in tag pipelines
  .gitlab/ci/release-promote.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Duo
  .agents/workers/drupal-module-developer/agent.ossa.yaml
  .agents/workers/drupal-security-compliance/agent.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate:security, validate:ossa:security

fix: resolve merge conflicts with release/v0.3.x
  src/cli/commands/release.command.ts
  src/tools/version/sync-versions.ts
  tests/e2e/smoke.spec.ts
Due: none

fix: remove merge conflict markers from all files
  .gitlab-ci.yml
  src/dev-cli/src/commands/version.command.ts
  src/dev-cli/src/index.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: remove final conflict marker from version.command.ts
  src/dev-cli/src/commands/version.command.ts
Due: none

fix: remove duplicate line causing syntax error
  src/dev-cli/src/commands/version.command.ts
Due: none

fix: remove orphaned audit command code causing syntax errors
  src/dev-cli/src/commands/version.command.ts
Due: none

fix: Re-enable GitLab security scanner jobs with proper configuration
  .gitlab-ci.yml
  .gitlab/ci/security-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: Resolve pipeline test failures in E2E and coverage checks
  .gitlab/ci/optimized-test-jobs.yml
  jest.config.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: resolve ALL remaining merge conflicts in CI and OpenAPI files
  .gitlab/ci/optimized-test-jobs.yml
  .gitlab/ci/quality-gates.yml
  .gitlab/ci/security-jobs.yml
  openapi/dev-cli.openapi.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security
