Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:agent-team:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - 'echo "üîç Validating extension development team configuration..."
  
    ossa validate .gitlab/agents/extension-development-team.ossa.yaml
  
    ossa validate .gitlab/agents/examples/*.ossa.yaml
  
    echo "‚úÖ Agent team configuration valid"
  
    '

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

agent:ossa-validator:
  image: node:${NODE_VERSION:-20}-alpine
  before_script:
  - apk add --no-cache git curl jq bash
  - npm ci --legacy-peer-deps --prefer-offline --no-audit
  - npm run build
  variables:
    GITLAB_TOKEN: ${SERVICE_ACCOUNT_SECURITY_TOKEN:-${SERVICE_ACCOUNT_DEPLOYMENT_TOKEN:-${CI_JOB_TOKEN}}}
  ...

agent:drupal-standards-checker:
  image: node:${NODE_VERSION:-20}-alpine
  before_script:
  - apk add --no-cache git curl jq bash
  - npm ci --legacy-peer-deps --prefer-offline --no-audit
  - npm run build
  variables:
    GITLAB_TOKEN: ${SERVICE_ACCOUNT_DEPLOYMENT_TOKEN:-${CI_JOB_TOKEN}}
    agent_name: drupal-standards-checker
  script:
  ...

agent:mcp-server-builder:
  image: node:${NODE_VERSION:-20}-alpine
  before_script:
  - apk add --no-cache git curl jq bash
  - npm ci --legacy-peer-deps --prefer-offline --no-audit
  - npm run build
  variables:
    GITLAB_TOKEN: ${SERVICE_ACCOUNT_DEPLOYMENT_TOKEN:-${CI_JOB_TOKEN}}
    agent_name: mcp-server-builder
  script:
  ...

validate:yaml:
  stage: validate
  image: python:3.11-alpine
  before_script:
  - pip install yamllint --quiet
  script:
  - 'echo "üîç Validating YAML files..."
  
    yamllint -c .yamllint.yml . || true
  
    echo "‚úÖ YAML validation complete"
  
    '
  allow_failure: true

validate:ossa:
  stage: validate
  image: node:20-alpine
  before_script:
  - npm install -g @bluefly/openstandardagents
  script:
  ...

validate:ossa:security:
  validate

feat(agents): optimize mr-agent-router to 100% v0.3.5
  .agents/workflows/mr-agent-router.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate:security, validate:ossa:security

feat(skills): create TypeScript, Accessibility, and Security skills
  examples/ossa-templates/12-typescript-type-safety-expert.ossa.yaml
  examples/ossa-templates/13-accessibility-champion.ossa.yaml
  examples/ossa-templates/14-security-hardening-agent.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(ci): fix validation jobs for v0.3.5 templates
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(typescript): fix OpenTelemetry adapter TypeScript errors
  src/adapters/opentelemetry.adapter.ts
Due: none

fix(typescript): use @ts-ignore for optional OpenTelemetry dependencies
  src/adapters/opentelemetry.adapter.ts
Due: none

fix(templates): correct domain values for TypeScript and Accessibility skills
  examples/ossa-templates/12-typescript-type-safety-expert.ossa.yaml
  examples/ossa-templates/13-accessibility-champion.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(templates): use valid domain 'frontend' for accessibility champion
  examples/ossa-templates/13-accessibility-champion.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(ci): fix regex for apiVersion extraction in validate:ossa-templates
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: Add OpenTelemetry dependencies and fix template validation
  examples/ossa-templates/12-typescript-type-safety-expert.ossa.yaml
  package.json
  src/adapters/opentelemetry.adapter.ts
Due: agent:ossa-validator, validate:yaml, validate:ossa, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(agents): complete v0.3.5 features for all agents
  .agents/orchestrators/meta-orchestrator/manifest.ossa.yaml
  .agents/workers/agent-optimizer-v035/manifest.ossa.yaml
  .agents/workers/branch-cleanup-agent/manifest.ossa.yaml
  .agents/workers/code-quality-fixer/manifest.ossa.yaml
  .agents/workers/documentation-updater/manifest.ossa.yaml
  .agents/workers/skills-completer/manifest.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate:security, validate:ossa:security

fix(agents): add missing expert to bot-ossa-validator
  .agents/bot-ossa-validator.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate:security, validate:ossa:security

fix(jest): resolve import.meta.url parsing error in v0.3.5 tests
  jest.config.ts
  src/tools/validation/validate-v0.3.5-features.ts
Due: none

fix(tests): add v0.3.5 test fixtures directory
  tests/fixtures/v0.3.5/.gitkeep
Due: none

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
