Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(ci): use NAS runners instead of SaaS runners
  .gitlab-ci.yml
  .gitlab/agent-k8s/ci-template.yml
  .gitlab/ci/_archived/unused/content-professionalization.yml
  .gitlab/ci/_archived/unused/mirror-jobs.yml
  .gitlab/ci/_archived/unused/rc-promotion.yml
  .gitlab/ci/_archived/unused/rc-validation.yml
  .gitlab/ci/_archived/unused/test-jobs.yml
  .gitlab/ci/_archived/unused/version-automation-duo.yml
  .gitlab/ci/_archived/unused/version-detection.yml
  .gitlab/ci/build-jobs.yml
  .gitlab/ci/duo-platform-features.yml
  .gitlab/ci/mirror-github.yml
  .gitlab/ci/optimized-test-jobs.yml
  .gitlab/ci/ossa-auto-migrate.yml
  .gitlab/ci/quality-gates.yml
  .gitlab/ci/release-promote.yml
  .gitlab/ci/release-workflow.yml
  .gitlab/ci/sdk-publish.yml
  .gitlab/ci/security-jobs.yml
  .gitlab/ci/validation-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

stash: preserve stash@{2} - opentelemetry eslint fixes
  package-lock.json
  src/adapters/opentelemetry.adapter.ts
  src/cli/commands/scaffold.command.ts
  src/tools/validation/validate-v0.3.5-features.ts
Due: validate:scripts-version

feat(taxonomy): OSSA agent taxonomy
  openapi/agent-taxonomy.yaml
  src/services/taxonomy-service.ts
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

feat: OSSA v0.3.6 revolutionary features - Phase 1 complete
  docs/v0.3.6-features.md
  examples/economics/marketplace-agent.ossa.json
  examples/genetics/breeding-agent.ossa.json
  examples/lifecycle/mentoring-agent.ossa.json
  examples/swarm/pso-optimizer.ossa.json
  package-lock.json
  spec/v0.3/MIGRATION-v0.3.5-to-v0.3.6.md
  spec/v0.3/ossa-0.3.6.schema.json
  src/adapters/opentelemetry.adapter.ts
  src/bot/agent-compliance.ts
  src/bot/agent-security_scanner.ts
  src/cli/commands/agent-wizard.command.ts
  src/types/generated/ossa-v0.3.6.d.ts
  src/validation/linter.ts
  src/validation/validator.ts
Due: ossa:generate-schema, agent:ossa-validator, post-review:docs-sync, bot:wiki-sync, conformance:examples, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

feat: production-grade CI/CD with auto-versioning and GitHub sync
  .gitlab-ci.yml
  .releaserc.json
  README.md
  package.json
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:scripts-version, ossa:validate:security, validate:ossa:security

ci: add vast-ai runner tags to all jobs
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(v0.3.6): Add revolutionary agent platform features
  spec/v0.3/ossa-0.3.6.schema.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

docs: remove marketing language from v0.3.6 documentation
  README.md
  spec/v0.3/ossa-0.3.6.schema.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

fix: correct retry config to use snake_case per schema
  examples/contracts/data-producer-v2.ossa.yaml
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, ossa:validate:security, validate:ossa:security

feat(schema): add v0.3.6 revolutionary agent features
  spec/v0.3/ossa-0.3.6.schema.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

fix: remove unverified percentage claims from documentation
  CHANGELOG.md
  docs/integrations/openai-swarm.md
  docs/specifications/v0.3/enhancement-plan.md
  docs/specifications/v0.3/positioning.md
  examples/v0.3.6/token-efficiency-economy.ossa.yaml
  package-lock.json
  package.json
  spec/v0.3/CHANGELOG.md
  spec/v0.3/README.md
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, post-review:docs-sync, bot:wiki-sync, conformance:examples, ossa:validate-versions, schema:validate-examples, validate:scripts-version, validate:changelog, ossa:validate:security, validate:ossa:security
