Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:ossa:manifests:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Validating OSSA manifests in ${CI_PROJECT_PATH}"
  ...

check:ossa:version:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA manifest versions"
  ...

estimate:ossa:cost:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Estimating OSSA agent costs"
  ...

check:ossa:safety:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA safety configurations"
  ...

validate:k8s-resources:
  stage: validate
  image: node:20-slim
  before_script:
  - npm install -g ts-node typescript js-yaml @types/js-yaml @types/node
  script:
  - echo "ðŸ” Validating Kubernetes resource limits..."
  - ts-node examples/bridges/k8s/validate-resources.ts examples/bridges/k8s/
  allow_failure: false

validate:agent-team:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - 'echo "üîç Validating extension development team configuration..."
  
    ossa validate .gitlab/agents/extension-development-team.ossa.yaml
  
    ossa validate .gitlab/agents/examples/*.ossa.yaml
  
    echo "‚úÖ Agent team configuration valid"
  
    '

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

fix(security): replace hardcoded npm token with env var reference
  .npmrc
Due: none

docs: update README with production-grade export system, wizard, registry, and MCP features
  README.md
Due: none

refactor: Drupal manifest-only export, shared DRY libraries, GitLab Duo triggers/flows/routers
  src/adapters/base/common-file-generator.ts
  src/adapters/base/index.ts
  src/adapters/base/manifest-validator.ts
  src/adapters/base/template-engine.ts
  src/adapters/drupal/index.ts
  src/adapters/drupal/manifest-exporter.ts
  src/adapters/drupal/production-exporter.legacy.ts
  src/adapters/gitlab/flow-generator.ts
  src/adapters/gitlab/index.ts
  src/adapters/gitlab/package-generator.ts
  src/adapters/gitlab/router-generator.ts
  src/adapters/gitlab/trigger-generator.ts
  src/adapters/langchain/adapter.ts
  src/adapters/npm/adapter.ts
  src/cli/commands/export.command.ts
  tests/integration/gitlab-duo-package.test.ts
Due: none

fix: wire GitLabDuoPackageGenerator into gitlab-agent export (30+ files)
  src/cli/commands/export.command.ts
Due: none

chore: consolidate validation, add registry URL config, fix test cleanup, migrate js-yaml
  src/adapters/base/manifest-validator.ts
  src/cli/commands/build.command.ts
  src/cli/commands/discover.ts
  src/cli/commands/generate-gaid.command.ts
  src/cli/commands/governance.command.ts
  src/cli/commands/migrate-langchain.command.ts
  src/cli/commands/register.ts
  src/cli/commands/verify.ts
  src/cli/utils/standard-options.ts
  src/di-container.ts
  src/services/migration/langchain-migration.service.ts
  src/services/validation-zod.service.ts
  src/services/validation.service.ts
  tests/unit/transports/sse.test.ts
  tests/unit/transports/webrtc.test.ts
  tests/unit/transports/websocket.test.ts
Due: none

fix: eliminate all hardcoded version strings, use getVersionInfo() everywhere
  .version.json
  src/adapters/agent-skills/exporter.ts
  src/adapters/crewai/adapter.ts
  src/adapters/npm/converter.ts
  src/cli/banner.ts
  src/mesh/discovery-providers.ts
  src/sdks/kagent/crd-generator.ts
  src/services/dev-server/websocket-server.ts
  src/services/export/npm/npm-exporter.ts
Due: ossa:validate-versions

fix: remaining test cleanup (websocket timer tracking, jest config, test setup)
  jest.config.ts
  json
  src/transports/websocket.ts
  tests/setup.ts
Due: none

fix: relax flaky timing assertion in logger test (20ms -> 15ms threshold)
  tests/unit/utils/logger.test.ts
Due: none

fix: export quality hardening for 0.4.4 release
  .gitlab-ci.yml
  .gitlab/ci/token-rotation.yml
  CHANGELOG.md
  README.md
  package.json
  src/adapters/agent-skills/exporter.ts
  src/adapters/base/adapter.interface.ts
  src/adapters/crewai/adapter.ts
  src/adapters/docker/docker-exporter.ts
  src/adapters/docker/generators.ts
  src/adapters/langchain/adapter.ts
  src/adapters/langchain/converter.ts
  src/adapters/mcp/adapter.ts
  src/cli/commands/export.command.ts
  tmp-smoke-test/package.json
Due: agent:mcp-server-builder, validate:yaml, validate:gitlab-ci, agent:ci-fixer, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

refactor: flatten .agents structure, add research docs
  .agents-workspace/orchestration/README.md
  .agents-workspace/policies/tool-allowlist.yaml
  .agents-workspace/registry/index.yaml
  .agents-workspace/shared-context/coding-standards.md
  .agents-workspace/shared-context/security-guidelines.md
  .agents/.gitkeep
  .agents/compliance-checker/agent.ossa.yaml
  .agents/compliance/AGENTS.md
  .agents/compliance/llms.txt
  .agents/docs-generator/agent.ossa.yaml
  .agents/documentation/AGENTS.md
  .agents/documentation/llms.txt
  .agents/exporters/AGENTS.md
  .agents/exporters/llms.txt
  .agents/integration-tester/agent.ossa.yaml
  .agents/integration/AGENTS.md
  .agents/integration/llms.txt
  .agents/migration/AGENTS.md
  .agents/migration/llms.txt
  .agents/optimization/AGENTS.md
  .agents/optimization/llms.txt
  .agents/performance-optimizer/agent.ossa.yaml
  .agents/platform-exporter/agent.ossa.yaml
  .agents/registry.yaml
  .agents/release-manager/agent.ossa.yaml
  .agents/release/AGENTS.md
  .agents/release/llms.txt
  .agents/schema-validator/agent.ossa.yaml
  .agents/security-auditor/agent.ossa.yaml
  .agents/security/AGENTS.md
  .agents/security/llms.txt
  .agents/test-suite-generator/agent.ossa.yaml
  .agents/testing/AGENTS.md
  .agents/testing/llms.txt
  .agents/validators/AGENTS.md
  .agents/validators/llms.txt
  .agents/version-migrator/agent.ossa.yaml
  docs/research/FEDERATED-AGENT-REGISTRY.md
  docs/research/PERFECT-AI-AGENT-2031-WHITEPAPER.md
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, post-review:docs-sync, bot:wiki-sync, ossa:validate-versions, ossa:validate:security, validate:ossa:security

fix: flaky logger timing test and sequential pre-push hooks
  lefthook.yml
  tests/unit/utils/logger.test.ts
Due: validate:yaml, ossa:validate:security, validate:ossa:security

feat(spec): add OSSA v0.5 sub-agent specification
  spec/v0.5/SUBAGENTS.md
  spec/v0.5/examples/ci-pipeline-agents.ossa.yaml
  spec/v0.5/examples/code-assistant.ossa.yaml
  spec/v0.5/examples/minimal-subagent.ossa.yaml
  spec/v0.5/subagent.types.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate-versions, schema:validate-examples, ossa:validate:security, validate:ossa:security

feat: agents-local CLI commands, typed tool params, bump to 0.4.5
  .agents/registry.yaml
  .version.json
  package.json
  src/adapters/base/tool-params.ts
  src/adapters/crewai/adapter.ts
  src/cli/commands/agents-local.command.ts
  src/cli/index.ts
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate-versions, validate:scripts-version, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

ci: replace project mirroring with CI-controlled GitHub sync
  .gitlab-ci.yml
  README.md
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

docs: Add comprehensive v0.4.5 changelog
  CHANGELOG.md
Due: validate:changelog

test: Skip failing kagent export test temporarily
  json
  tests/integration/cli/export.test.ts
Due: none

fix: Properly import AgentsMdService in DI container
  json
  src/di-container.ts
Due: none

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
