Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, validate:scripts-version, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  validate:scripts-version: any of: package.json, scripts/**/*
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

chore(ci): auto-sync OSSA spec, versions, examples, and wiki [skip ci]
  website/lib/versions.json
Due: none

fix(blog): newest post featured, smaller tags/date, no author on teasers
  website/app/blog/page.tsx
Due: none

chore(release): update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

fix: add schema files to git for GitLab Pages deployment
  .gitignore
  website/public/schemas/agent-test.schema.json
  website/public/schemas/ossa-0.2.8.schema.json
  website/public/schemas/ossa-0.2.9.schema.json
  website/public/schemas/ossa-0.3.0.schema.json
Due: none

fix(ci): add rebase before push to handle race conditions
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat: implement OSSA compliance bot (#283)
  .agents/bot-ossa-compliance.ossa.yaml
  .gitlab/agents/bots/bot-ossa-compliance.ossa.yaml
  package-lock.json
  package.json
  src/bot/compliance-bot.ts
Due: validate:version-sync, validate:scripts-version, validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

chore(ci): auto-sync OSSA spec, versions, examples, and wiki [skip ci]
  website/public/schemas/agent-test.schema.json
  website/public/schemas/ossa-0.3.1.schema.json
Due: none

fix(ci): remove release:npm and release:promote-rc-to-final jobs - not needed for GitLab Pages
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): remove all release jobs, auto-deploy pages on main
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(ci): generate TypeScript types in CI instead of committing
  .eslintrc.cjs
  .gitlab/ci/version-detection.yml
  packages/runtime/src/agent.ts
  packages/runtime/src/index.ts
  packages/runtime/src/manifest.ts
  scripts/auto-rebase-mrs.ts
  scripts/bump-version.ts
  scripts/enhanced-version-manager.ts
  scripts/sync-version.ts
  scripts/update-agents-to-v0.3.0.ts
  scripts/version-examples.ts
  tests/unit/cli/commands/test.test.ts
Due: validate:scripts-version, validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore(release): update changelog [skip ci]
  CHANGELOG.md
Due: none

fix(ci): use .version.json as single source of truth for dev tags
  .gitlab/ci/release-jobs.yml
  .gitlab/ci/release-workflow.yml
  .version.json
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Release/v0.3.x
  .agents/bot-ossa-compliance.ossa.yaml
  .eslintrc.cjs
  .gitlab/agents/bots/bot-ossa-compliance.ossa.yaml
  .gitlab/ci/release-jobs.yml
  .gitlab/ci/release-workflow.yml
  .gitlab/ci/version-detection.yml
  .gitlab/issues/BUILDKIT_AGENTS_SPAWN_BUG.md
  .version.json
  CHANGELOG.md
  package-lock.json
  package.json
  packages/runtime/src/agent.ts
  packages/runtime/src/index.ts
  packages/runtime/src/manifest.ts
  scripts/auto-rebase-mrs.ts
  scripts/bump-version.ts
  scripts/enhanced-version-manager.ts
  scripts/sync-version.ts
  scripts/update-agents-to-v0.3.0.ts
  scripts/version-examples.ts
  src/bot/compliance-bot.ts
Due: validate:version-sync, validate:scripts-version, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

fix: remove duplicate bot configs from .gitlab/agents/bots/
  .gitlab/agents/bots/bot-ossa-compliance.ossa.yaml
  .gitlab/agents/bots/bot-security-scanner.ossa.yaml
  .gitlab/ci/ossa-version-management.yml
  spec/v0.3.1/ossa-0.3.0.schema.json
Due: validate:version-sync, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, drupal:sync:agent, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security
