Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ossa-validator: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(spec): remove tools section from Task spec - not allowed for kind: Task
  examples/ossa-templates/10-data-transformer.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(spec): remove contracts field from Task spec - not allowed for kind: Task
  examples/ossa-templates/10-data-transformer.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(spec): fix capability names to match pattern - use underscores instead of dots
  examples/ossa-templates/10-data-transformer.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(ci): fix validation job issues
  package.json
  src/tools/version/sync-versions.ts
Due: none

fix(ci): make validate:version-sync non-blocking for release branches
  .gitlab/ci/validation-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): set validate:version-sync to allow_failure: true
  .gitlab/ci/validation-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(version-check): skip dist files in version check - they are build artifacts
  src/cli/commands/release.command.ts
Due: none

fix(ci): fix validate:version-sync script format - use multiline block
  .gitlab/ci/validation-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): simplify validate:version-sync script - version check now passes
  .gitlab/ci/validation-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

docs: update OSSA positioning - Open Standard for Software Agents
  .gitlab-ci.yml
  README.md
  llms.txt
  package.json
  spec/v0.3.3/ossa-0.3.3.schema.json
  src/cli/index.ts
Due: validate:yaml, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

docs: update quickstart and llms.txt with new positioning
  llms.txt
  src/cli/commands/quickstart.command.ts
Due: none

docs: complete OSSA positioning update to Software Agents
  CONTRIBUTING.md
  spec/extensions/openapi/ossa-openapi-extensions.schema.json
  spec/v0.3.3/extensions/llms-txt.md
  src/sdks/README.md
  src/sdks/go/README.md
  src/sdks/go/cmd/ossa/main.go
  src/sdks/python/README.md
  src/sdks/python/SDK_SUMMARY.md
  src/sdks/typescript/index.ts
  src/sdks/typescript/package.json
  src/tools/vscode-ossa/PROJECT_SUMMARY.md
  src/tools/vscode-ossa/README.md
  src/tools/vscode-ossa/package.json
Due: agent:ossa-validator, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

docs: fix remaining positioning references in examples and project manifest
  .ossa/project.ossa.yaml
  examples/getting-started/01-minimal-agent.ossa.yaml
  src/sdks/typescript/README.md
Due: validate:yaml, validate:ossa, agent:ossa-validator, schema:validate-examples, ossa:validate:security, validate:ossa:security

docs: fix remaining examples and Go SDK schema copy
  examples/rag-agent/index.ts
  src/sdks/go/ossa/schema/ossa-0.3.3.schema.json
Due: schema:validate-examples

chore: move orphaned CI config files to .gitlab/ci/_archived/
  .gitlab/ci/_archived/playwright.yml
  .gitlab/ci/_archived/trigger-id.txt
  .gitlab/ci/_archived/visual-regression.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore: remove scripts/ directory and update package.json references
  package.json
  scripts/process-doc-templates.ts
Due: none

chore: remove duplicate src/sdk/ directory
  src/sdk/events/cloudevents-emitter.ts
  src/sdk/events/index.ts
  src/sdk/tracing/index.ts
  src/sdk/tracing/w3c-baggage.ts
Due: none

chore: clean up bin/ directory - remove orphaned files
  bin/ossa-dev
  bin/ossa-export
  bin/ossa-generate
  bin/ossa-health
  bin/ossa-init
  bin/quickstart
  package.json
  src/tools/validation/validate-ossa.ts
Due: none
