Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix: update all version references to v0.3.0
  website/content/docs/00-home.md
  website/content/docs/aiflow-framework-integration-with-ossa.md
  website/content/docs/changelog.md
  website/content/docs/cli-reference/ossa-migrate.md
  website/content/docs/cli-reference/ossa-schema.md
  website/content/docs/deployment/github-mirroring.md
  website/content/docs/examples/aiflow-framework-integration-with-ossa.md
  website/content/docs/examples/migration-guides.md
  website/content/docs/for-audiences/developers.md
  website/content/docs/for-audiences/students-researchers.md
  website/content/docs/integrations/aiflow.md
  website/content/docs/integrations/symphony-drupal.md
  website/content/docs/migration-guides/openai-to-ossa.md
  website/content/docs/openapi-extensions.md
  website/content/docs/openapi-extensions/root-extensions.md
  website/content/docs/pre-release/index.md
  website/content/docs/releases/v0.2.6.md
  website/content/docs/schema-reference/index.md
  website/content/docs/schema-reference/ossa-manifest.md
  website/content/docs/versioning.md
  website/lib/get-version-for-metadata.ts
  website/public/examples.json
Due: none

fix: correct all v0.3.1 references to v0.3.0 for release
  examples/agent-mesh/README.ts
  examples/agent-mesh/basic-usage.ts
  examples/messaging/dependency-healer.ossa.yaml
  examples/messaging/incident-responder.ossa.yaml
  examples/messaging/routing-rules.ossa.yaml
  examples/messaging/security-scanner.ossa.yaml
  spec/v0.3.0/ossa-0.3.0.schema.json
  spec/v0.3.0/taxonomy.yaml
  src/services/validators/messaging.validator.ts
Due: validate:yaml, validate:ossa, agent:ossa-validator, drupal:sync:agent, ossa:validate:security, validate:ossa:security

Duo
  .gitlab-ci.yml
  .gitlab/ci/review-apps.yml
  .gitlab/scripts/detect-version.sh
  website/scripts/fix-version-references.js
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Duo
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore(ci): auto-sync OSSA spec, versions, examples, and wiki [skip ci]
  website/public/examples.json
Due: none

fix: update versions.json and playground to v0.3.0
  website/app/playground/page.tsx
  website/lib/versions.json
Due: none

chore(ci): auto-sync OSSA spec, versions, examples, and wiki [skip ci]
  website/lib/versions.json
Due: none

feat(k8s): add GitOps deployment with auto-update on main
  .gitlab-ci.yml
  .gitlab/agents/ossa-local/config.yaml
  k8s/deployment.yaml
  k8s/ingress.yaml
  k8s/namespace.yaml
  k8s/secret-gitlab-registry.yaml
  k8s/service.yaml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: replace hardcoded v0.3.1 with v0.3.0 in roadmap docs
  docs/roadmap/cross-project-dependencies.md
  docs/roadmap/phase-1-specification.md
  docs/roadmap/phase-2-runtime-implementation.md
  docs/roadmap/phase-3-production-use-cases.md
Due: docs:sync:agent

fix: replace all v0.3.1 references with v0.3.0
  CHANGELOG.md
  README.md
  docs/README.md
  docs/roadmap/CHANGELOG.md
  docs/roadmap/README.md
  docs/roadmap/cross-project-dependencies.md
  docs/roadmap/dependency-graph.md
  docs/roadmap/phase-1-specification.md
  docs/roadmap/success-metrics.md
  docs/roadmap/v0.3.x-to-v0.4.0.md
  sdks/python/CONTRIBUTING.md
Due: docs:sync:agent

fix: set v0.3.0 as stable version (do not overwrite)
  website/lib/versions.json
Due: none

refactor: convert detect-ossa-version from bash to TypeScript
  .gitlab/ci/ossa-version-management.yml
  scripts/detect-ossa-version.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: prevent sync from downgrading stable version
  website/lib/versions.json
  website/scripts/fetch-versions.js
Due: none

ci: use GitLab SaaS runners instead of local runners
  .gitlab/ci/release-workflow.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Release/v0.3.x
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(test-runner): handle undefined assertion.actual
  src/services/test-runner/test-runner.service.ts
Due: none

fix(test-runner): handle undefined assertion.actual properly
  src/services/test-runner/test-runner.service.ts
Due: none
