Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:examples, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

docs:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: gitlab-lib-ci
    AGENT_TASK: docs-sync
    SOURCE_BRANCH: $CI_COMMIT_BRANCH

deploy:infra:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: infra-prod
    AGENT_TASK: deploy
    ENVIRONMENT: production
    MANIFEST_PATH: infrastructure/

deploy:ml:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: ml-prod
    AGENT_TASK: deploy-model
    MODEL_PATH: models/

drupal:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_GROUP}
    strategy: depend
  variables:
    AGENT_NAME: drupal-prod
    AGENT_TASK: sync-content
    CONTENT_TYPE: ossa-agents

validate:examples:
  stage: validate
  image: node:20-alpine
  before_script:
  - apk add --no-cache yq jq bash
  - npm ci
  script:
  - echo "ðŸ”„ Syncing example versions..."
  - npm run version:examples
  - echo "ðŸ” Validating all examples..."
  ...

validate:ossa:security:
  validate

fix(ci): allow release branches to target other release branches
  .gitlab/ci/milestone-workflow.yml
  .gitlab/ci/release-v0.3.x.yml
Due: validate:ossa:security

fix(ci): remove all development branch references
  .gitlab/ci/milestone-workflow.yml
Due: validate:ossa:security

fix: restore spec/v0.3.0 directory from release/0.3.0 branch
  spec/v0.3.0/UNIFIED-SCHEMA.md
  spec/v0.3.0/adapters/drupal.md
  spec/v0.3.0/adapters/symfony.md
  spec/v0.3.0/agent-test.schema.json
  spec/v0.3.0/ossa-0.3.0.schema.json
  spec/v0.3.0/schemas/agent-unified.yaml
  spec/v0.3.0/schemas/capabilities.yaml
  spec/v0.3.0/schemas/functions.yaml
  spec/v0.3.0/schemas/runtime.yaml
  spec/v0.3.0/schemas/unified-llm.yaml
Due: drupal:sync:agent, validate:ossa:security

fix(ci): remove all development branch references and hardcoded values
  .gitlab-ci.yml
  .gitlab/ci/branch-policy.yml
  .gitlab/ci/pages.yml
  .gitlab/ci/release-automation.yml
  .gitlab/ci/release-v0.3.x.yml
  .gitlab/ci/review-app.yml
  .gitlab/ci/validate-no-hardcoded-models.yml
  .gitlab/ci/webhook-agents.yml
Due: validate:ossa:security

fix(ci): remove duplicate dev tag logic and make release-workflow generic
  .gitlab-ci.yml
  .gitlab/ci/release-workflow.yml
Due: validate:ossa:security

fix(ci): correct job dependency reference in create-release-tag
  .gitlab/ci/release-workflow.yml
Due: validate:ossa:security

fix(gitlab): restructure workflows to match GitLab Agent Platform schema
  .gitlab/duo_workflow.yml
  .gitlab/flows/component_workflow_flow.yaml
  .gitlab/flows/issue_automation_flow.yaml
  .gitlab/flows/mr_automation_flow.yaml
  .gitlab/flows/recipe_workflow_flow.yaml
  .gitlab/triggers/component_workflow.yaml
  .gitlab/triggers/issue_automation.yaml
  .gitlab/triggers/mr_automation.yaml
  .gitlab/triggers/recipe_workflow.yaml
Due: validate:ossa:security

fix(ci): use CI_JOB_TOKEN for Docker registry authentication
  .gitlab-ci.yml
Due: validate:ossa:security

feat: add OSSA validator flow and trigger for GitLab Agent Platform
  .gitlab/flows/ossa_validator_flow.yaml
  .gitlab/triggers/ossa_validator.yaml
Due: validate:ossa:security

feat(ci): add milestone-based version detection for minor/patch releases
  .gitlab-ci.yml
Due: validate:ossa:security

fix(ci): resolve merge conflicts and include release-workflow for dev tag creation
  .gitlab-ci.yml
  .gitlab/ci/release-automation.yml
Due: validate:ossa:security

docs: remove temporary status and audit documentation
  .gitlab-ci.yml
  .gitlab/docs/AUDIT_REPORT.md
  .gitlab/docs/CLUSTER-AGENT-AUDIT.md
  .gitlab/docs/CURRENT-STATE-SUMMARY.md
  .gitlab/docs/ENVIRONMENTS-AUDIT.md
  .gitlab/docs/MR-30-SERVICE-ACCOUNTS-CHECKLIST.md
  .gitlab/docs/VERSION-AUTOMATION-SUMMARY.md
  .gitlab/docs/release-0.2.6-status.md
Due: validate:ossa:security

fix(ci): make release creation failures fail pipeline instead of warning
  .gitlab-ci.yml
Due: validate:ossa:security

fix(codeowners): remove redundant docs/ rule covered by default owner
  .gitlab/CODEOWNERS
Due: none

fix(ci): make code:review:agent exit successfully when skipping
  .gitlab/ci/agents.yml
Due: validate:ossa:security

feat(ossa): comprehensive v0.3.0 agent ecosystem with KAgent and GitLab Duo integration
  .gitlab-ci.yml
  .gitlab/agents/TEMPLATE-v0.3.0-comprehensive.ossa.yaml
  .gitlab/agents/ci-cd/manifest.ossa.yaml
  .gitlab/agents/compliance-auditor/manifest.ossa.yaml
  .gitlab/agents/config-validator/manifest.ossa.yaml
  .gitlab/agents/cost-analyzer/manifest.ossa.yaml
  .gitlab/agents/db-migrator/manifest.ossa.yaml
  .gitlab/agents/doc-agent/manifest.ossa.yaml
  .gitlab/agents/gitops-deployer/manifest.ossa.yaml
  .gitlab/agents/issue-triage/manifest.ossa.yaml
  .gitlab/agents/monitoring-agent/manifest.ossa.yaml
  .gitlab/agents/mr-manager/manifest.ossa.yaml
  .gitlab/agents/performance-optimizer/manifest.ossa.yaml
  .gitlab/agents/pipeline-fixer/manifest.ossa.yaml
  .gitlab/agents/release-orchestrator/manifest.ossa.yaml
  .gitlab/agents/rollback-coordinator/manifest.ossa.yaml
  .gitlab/agents/security-scanner/manifest.ossa.yaml
  .gitlab/agents/version-manager/manifest.ossa.yaml
  .gitlab/ci/components/ossa-agent-component.yml
  .gitlab/ci/components/ossa-workflow-component.yml
  .gitlab/ci/ossa-integration.yml
  .gitlab/duo/triggers.yaml
  .gitlab/flows/code-review-flow.yaml
  .gitlab/flows/issue-triage-flow.yaml
  .gitlab/flows/pipeline-optimization-flow.yaml
  .gitlab/flows/release-orchestration-flow.yaml
  .gitlab/flows/security-remediation-flow.yaml
  .gitlab/tasks/close-milestone-task.ossa.yaml
  .gitlab/tasks/generate-changelog-task.ossa.yaml
  .gitlab/tasks/publish-npm-task.ossa.yaml
  .gitlab/workflows/release-workflow.ossa.yaml
  scripts/update-agents-to-v0.3.0.ts
  spec/v0.3.0/ossa-0.3.0.schema.json
Due: drupal:sync:agent, validate:ossa:security

fix(types): resolve TypeScript build errors
  docs/QUICK-REFERENCE.md
  docs/whitepaper/unified-task-schema.md
  src/services/agents-md/agents-md.service.ts
  src/services/generation.service.ts
Due: docs:sync:agent

fix(ci): remove invalid 'required' key from component inputs
  .gitlab/ci/components/ossa-agent-component.yml
  .gitlab/ci/components/ossa-workflow-component.yml
Due: validate:ossa:security

fix(security): replace hardcoded Slack webhook placeholder with env var
  .gitlab/agents/cost-analyzer/manifest.ossa.yaml
Due: validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:examples: any of: examples/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
