Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:examples, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:examples: any of: examples/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

feat(agent): Implement wiki-healer agent
  .gitlab/agents/wiki-healer/manifest.ossa.yaml
Due: validate:ossa:security

feat(adapter): Drupal ECA/Maestro/FlowDrop OSSA Runtime Adapter
  src/adapters/drupal/index.ts
Due: none

fix(docs): Correct README to show GitHub as primary public repo
  README.md
Due: docs:sync:agent

feat(extension): Add Knowledge Sources Extension
  spec/v0.3.0/ossa-0.3.0.schema.json
Due: drupal:sync:agent

docs(whitepaper): Unified Task Schema White Paper
  spec/whitepaper/unified-task-schema.md
Due: drupal:sync:agent

fix(ci): Simplify pre-merge validation to prevent timeouts
  .gitlab-ci.yml
Due: validate:ossa:security

chore: add swarm tasks v029
  swarm-tasks-v029.json
Due: none

chore: remove temp swarm tasks file
  swarm-tasks-v029.json
Due: none

spec(schema): Reusable JSON Schema components
  spec/schema/components/constraints.schema.json
  spec/schema/components/identity.schema.json
  spec/schema/components/index.json
  spec/schema/components/llm-config.schema.json
  spec/schema/components/metadata.schema.json
  spec/schema/components/tool.schema.json
Due: drupal:sync:agent

spec(schema): Add activity_stream config component
  spec/schema/components/activity-stream.schema.json
Due: drupal:sync:agent

feat(adapter): Drupal ECA/Maestro/FlowDrop OSSA Runtime Adapter
  examples/adapters/drupal-eca-mapping.yaml
  examples/adapters/drupal-flowdrop-mapping.yaml
  examples/adapters/drupal-maestro-mapping.yaml
  spec/v0.3.0/adapters/drupal.md
Due: drupal:sync:agent, validate:examples, validate:ossa:security

feat(agent): Implement dependency-healer agent
  .gitlab/agents/dependency-healer/manifest.ossa.yaml
Due: validate:ossa:security

fix(ci): Allow feature branches to target release/* branches
  .gitlab/ci/milestone-workflow.yml
Due: validate:ossa:security

refactor(agents): optimize GitLab agents with fallbacks and health checks
  .gitlab/agents/ci-cd/manifest.ossa.yaml
  .gitlab/agents/compliance-auditor/manifest.ossa.yaml
  .gitlab/agents/config-validator/manifest.ossa.yaml
  .gitlab/agents/cost-analyzer/manifest.ossa.yaml
  .gitlab/agents/db-migrator/manifest.ossa.yaml
  .gitlab/agents/doc-agent/manifest.ossa.yaml
  .gitlab/agents/issue-triage/manifest.ossa.yaml
  .gitlab/agents/monitoring-agent/manifest.ossa.yaml
  .gitlab/agents/mr-manager/manifest.ossa.yaml
  .gitlab/agents/performance-optimizer/manifest.ossa.yaml
  .gitlab/agents/release-orchestrator/manifest.ossa.yaml
  .gitlab/agents/rollback-coordinator/manifest.ossa.yaml
  .gitlab/agents/security-scanner/manifest.ossa.yaml
  .gitlab/agents/version-manager/manifest.ossa.yaml
Due: validate:ossa:security

fix(ci): allow release/* branches to merge to main
  .gitlab/ci/branch-policy.yml
Due: validate:ossa:security

feat(schema): Enhance MCP extension with resources and prompts
  spec/v0.3.0/ossa-0.3.0.schema.json
Due: drupal:sync:agent

feat(agent): Pipeline auto-fix and GitOps deployer agents
  .gitlab/agents/pipeline-fixer/manifest.ossa.yaml
Due: validate:ossa:security

feat(agents): Release automation - validators, generators, real-world examples
  .gitlab-ci.yml
  .gitlab/agents/changelog-generator/manifest.ossa.yaml
  .gitlab/agents/example-validator/manifest.ossa.yaml
  .gitlab/agents/release-validator/manifest.ossa.yaml
  .gitlab/ci/release-automation.yml
  examples/advanced/workflows/hybrid-model-strategy.yaml
  examples/bridges/k8s/deployment.yaml
  examples/extensions/kagent-v1.yml
  examples/real-world/gitlab-cicd-optimizer.ossa.yaml
  examples/real-world/rag-documentation-assistant.ossa.yaml
  examples/workflows/batch-email-campaign.yaml
  examples/workflows/content-review-publish.yaml
  package.json
  scripts/sync-example-versions.sh
Due: validate:examples, validate:ossa:security

fix: merge main into release/0.3.0
  .github/workflows/issue-sync-to-gitlab.yml
  .github/workflows/pr-triage-to-gitlab.yml
Due: validate:ossa:security

feat(schema): add reusable JSON Schema components
  examples/schema/reusable-components.yaml
Due: validate:examples, validate:ossa:security

feat(schema): enhance MCP extension with resources and prompts
  examples/extensions/mcp-full-featured.yaml
Due: validate:examples, validate:ossa:security

feat(schema): add encryption config to state storage
  examples/extensions/encryption-multi-provider.yaml
Due: validate:examples, validate:ossa:security

feat(agent): implement wiki-healer agent
  examples/agents/wiki-healer-production.yaml
Due: validate:examples, validate:ossa:security
