Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(schema): resolve AgentsMdExtension TypeScript conflict properly
  spec/v0.3.3/examples/access-tiers/code-critic.ossa.yaml
  spec/v0.3.3/examples/access-tiers/compliance-governor.ossa.yaml
  spec/v0.3.3/examples/access-tiers/deployment-operator.ossa.yaml
  spec/v0.3.3/examples/access-tiers/doc-generator.ossa.yaml
  spec/v0.3.3/examples/access-tiers/security-scanner.ossa.yaml
  spec/v0.3.3/examples/agent-with-identity.ossa.yaml
  spec/v0.3.3/examples/drupal-content-writer.ossa.yaml
  spec/v0.3.3/examples/drupal-moderation-assistant.ossa.yaml
  spec/v0.3.3/examples/multi-provider-identity.ossa.yaml
  spec/v0.3.3/examples/quick-wins/complete-agent-with-quick-wins.ossa.yaml
  spec/v0.3.3/examples/tasks/data-transform.ossa.yaml
  spec/v0.3.3/examples/tasks/publish-content.ossa.yaml
  spec/v0.3.3/examples/workflows/content-publishing.ossa.yaml
  spec/v0.3.3/examples/workflows/deployment-pipeline.ossa.yaml
  spec/v0.3.3/extensions/agents-md.md
  spec/v0.3.3/ossa-0.3.3.schema.json
  src/types/generated/ossa-0.3.3.types.ts
Due: validate:yaml, validate:ossa, agent:ossa-validator, drupal:sync:agent, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

fix(tests): align agents-md tests and examples with v0.3.3 schema
  examples/agents-md/code-agent.ossa.json
  examples/agents-md/monorepo-agent.ossa.yaml
  tests/integration/agents-md-validation.test.ts
Due: validate:yaml, validate:ossa, agent:ossa-validator, schema:validate-examples, ossa:validate:security, validate:ossa:security

chore(ci): auto-sync OSSA spec, versions, examples, and wiki
  docker-compose.yml
  pnpm-lock.yaml
  website/content/docs/adapters/openai-adapter.md
  website/content/docs/architecture/multi-agent-workflows.md
  website/content/docs/cli/run-command.md
  website/content/docs/core-concepts/project-structure.md
  website/content/docs/ecosystem/framework-support.md
  website/content/docs/examples/migration-guides.md
  website/content/docs/examples/workflow-examples.md
  website/content/docs/getting-started.md
  website/content/docs/getting-started/running-agents.md
  website/content/docs/integrations/symphony-drupal.md
  website/content/docs/migration-guides/anthropic-mcp-to-ossa.md
  website/content/docs/migration-guides/crewai-to-ossa.md
  website/content/docs/migration-guides/drupal-eca-to-ossa.md
  website/content/docs/migration-guides/langchain-to-ossa.md
  website/content/docs/migration-guides/openai-to-ossa.md
  website/content/docs/openapi-extensions.md
  website/content/docs/openapi-extensions/root-extensions.md
  website/content/docs/ossa-compliant-badge.md
  website/content/docs/positioning/adoption-guide.md
  website/content/docs/positioning/value-narrative.md
  website/content/docs/pre-release/index.md
  website/content/docs/schema-reference/workflow-spec.md
  website/package.json
Due: validate:yaml, ossa:validate:security, validate:ossa:security

chore(release): update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

chore(ci): auto-sync OSSA spec, versions, examples, and wiki [skip ci]
  build.env
  website/content/docs/.wiki-sync-manifest.json
Due: none

feat(v0.3.2): Update website with latest OSSA features
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/lib/release-highlights.json
  scripts/lib/versions.json
  scripts/public/examples.json
  website/content/docs/00-home.md
  website/content/docs/access-tiers/approval-chains.md
  website/content/docs/access-tiers/index.md
  website/content/docs/access-tiers/overview.md
  website/content/docs/access-tiers/separation.md
  website/content/docs/access-tiers/tiers.md
  website/content/docs/cli/run-command.md
  website/content/docs/configuration/environment-variables.md
  website/content/docs/configuration/llm-providers.md
  website/content/docs/ecosystem/framework-support.md
  website/content/docs/examples/migration-guides.md
  website/content/docs/for-audiences/developers.md
  website/content/docs/getting-started/running-agents.md
  website/content/docs/implementation/runtime-integration.md
  website/content/docs/migration-guides/autogpt-to-ossa.md
  website/content/docs/pre-release/index.md
  website/content/docs/protocols/delegation.md
  website/content/docs/protocols/index.md
  website/content/docs/protocols/sse.md
  website/content/docs/protocols/websocket.md
  website/content/docs/runtime/control-signals.md
  website/content/docs/runtime/execution-profiles.md
  website/content/docs/runtime/index.md
  website/content/docs/runtime/lifecycle.md
  website/content/docs/runtime/memory-model.md
  website/content/docs/schema-reference/llm-config.md
  website/content/docs/specification.md
  website/lib/release-highlights.json
  website/lib/version.ts
  website/lib/versions.json
  website/package.json
Due: none

chore(ci): auto-sync OSSA spec, versions, examples, and wiki [skip ci]
  build.env
  scripts/lib/versions.json
  scripts/public/examples.json
  website/content/docs/.wiki-sync-manifest.json
Due: none

chore(ci): auto-sync OSSA spec, versions, examples, and wiki [skip ci]
  build.env
  scripts/lib/versions.json
  scripts/public/examples.json
  website/content/docs/.wiki-sync-manifest.json
  website/lib/version.ts
Due: none

chore: commit remaining changes
  scripts/lib/release-highlights.json
  scripts/lib/versions.json
Due: none

feat: implement all 102 orphaned issues
  .gitlab/agents/bot-architecture-validator/bot-architecture-validator.ossa.yaml
  .gitlab/agents/bot-ci-pipeline/bot-ci-pipeline.ossa.yaml
  .gitlab/agents/bot-dependency-updater/bot-dependency-updater.ossa.yaml
  .gitlab/agents/bot-ossa-compliance/bot-ossa-compliance.ossa.yaml
  .gitlab/agents/bot-policy-enforcer/bot-policy-enforcer.ossa.yaml
  .gitlab/agents/bot-security-scanner/bot-security-scanner.ossa.yaml
  .gitlab/agents/bot-test-generator/bot-test-generator.ossa.yaml
  .gitlab/agents/bot-wiki-sync/bot-wiki-sync.ossa.yaml
  scripts/bots/bot-dependency-updater.ts
  scripts/bots/bot-policy-enforcer.ts
  scripts/bots/bot-security-scanner.ts
  scripts/bots/bot-wiki-sync.ts
  scripts/cli/commands/export.ts
  scripts/cli/commands/init.ts
  scripts/cli/commands/providers.ts
  scripts/cli/commands/run.ts
  scripts/cli/commands/validate.ts
  scripts/cli/ossa.ts
  website/content/docs/agents/catalog.md
  website/content/docs/automation/ci-integration.md
  website/content/docs/automation/dev-tag-automation.md
  website/content/docs/automation/enforcement-rules.md
  website/content/docs/automation/entry-requirements.md
  website/content/docs/automation/issue-lifecycle.md
  website/content/docs/automation/merge-train-configuration.md
  website/content/docs/automation/milestone-automation.md
  website/content/docs/automation/programmatic-api.md
  website/content/docs/automation/troubleshooting.md
  website/content/docs/cli-reference/ossa-providers.md
  website/content/docs/configuration/configuration-files.md
  website/content/docs/configuration/environment-variables.md
  website/content/docs/getting-started/installation.md
  website/content/docs/overview.md
  website/content/docs/related-pages.md
  website/content/docs/workflow-requirements.md
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

test: add tests for bots and CLI commands
  .gitlab-ci.yml
  .gitlab/ci/bot-jobs.yml
  tests/unit/bots/bot-policy-enforcer.test.ts
  tests/unit/bots/bot-security-scanner.test.ts
  tests/unit/bots/bot-wiki-sync.test.ts
  tests/unit/cli/validate.test.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat: complete all bot implementations and tests
  .gitlab/ci/bot-jobs.yml
  scripts/bots/bot-architecture-validator.ts
  scripts/bots/bot-ci-pipeline.ts
  scripts/bots/bot-test-generator.ts
  tests/unit/bots/bot-dependency-updater.test.ts
  tests/unit/cli/init.test.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: remove duplicate bots, use canonical agents from platform-agents
  .gitlab/agents/bot-architecture-validator/bot-architecture-validator.ossa.yaml
  .gitlab/agents/bot-ci-pipeline/bot-ci-pipeline.ossa.yaml
  .gitlab/agents/bot-dependency-updater/bot-dependency-updater.ossa.yaml
  .gitlab/agents/bot-ossa-compliance/bot-ossa-compliance.ossa.yaml
  .gitlab/agents/bot-policy-enforcer/bot-policy-enforcer.ossa.yaml
  .gitlab/agents/bot-security-scanner/bot-security-scanner.ossa.yaml
  .gitlab/agents/bot-test-generator/bot-test-generator.ossa.yaml
  .gitlab/agents/bot-wiki-sync/bot-wiki-sync.ossa.yaml
  .gitlab/ci/bot-jobs.yml
  scripts/bots/bot-architecture-validator.ts
  scripts/bots/bot-ci-pipeline.ts
  scripts/bots/bot-dependency-updater.ts
  scripts/bots/bot-policy-enforcer.ts
  scripts/bots/bot-security-scanner.ts
  scripts/bots/bot-test-generator.ts
  scripts/bots/bot-wiki-sync.ts
  tests/unit/bots/bot-dependency-updater.test.ts
  tests/unit/bots/bot-policy-enforcer.test.ts
  tests/unit/bots/bot-security-scanner.test.ts
  tests/unit/bots/bot-wiki-sync.test.ts
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

feat: add CODEOWNERS and CI guardrails to prevent duplicate agents
  .gitlab-ci.yml
  .gitlab/ci/guardrails.yml
  CODEOWNERS
  CONTRIBUTING.md
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security
