Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(ci): Allow feature branches to target release/* branches
  .gitlab/ci/milestone-workflow.yml
Due: validate:ossa:security

feat(ci): Automated MR manager agent and release workflow (#87)
  .gitlab/agents/mr-manager/manifest.ossa.yaml
Due: validate:ossa:security

fix(ci): add CI_JOB_TOKEN for private repo access
  .gitlab-ci.yml
Due: validate:ossa:security

feat(adapter): Drupal ECA/Maestro/FlowDrop OSSA Runtime Adapter
  examples/adapters/drupal-eca-mapping.yaml
  examples/adapters/drupal-flowdrop-mapping.yaml
  examples/adapters/drupal-maestro-mapping.yaml
  spec/v0.3.0/adapters/drupal.md
Due: drupal:sync:agent, validate:ossa:security

feat(adapter): Symfony Messenger OSSA Runtime Adapter
  examples/adapters/symfony-messenger-task.yaml
  examples/adapters/symfony-messenger-workflow.yaml
  spec/v0.3.0/adapters/symfony.md
Due: drupal:sync:agent, validate:ossa:security

hotfix(ci): add CI_JOB_TOKEN for private repo access
  .gitlab-ci.yml
Due: validate:ossa:security

fix(ci): sync milestone-workflow.yml to allow release/* targets
  .gitlab/ci/milestone-workflow.yml
Due: validate:ossa:security

Resolve "feat: GitLab Ultimate + OSSA Agent Platform Integration"
  .gitlab-ci.yml
  .gitlab/agents/ossa-production/config.yaml
  website/app/playground/page.tsx
  website/lib/validate.ts
Due: validate:ossa:security

fix(ci): use Job-Token header for CI_JOB_TOKEN auth
  website/scripts/fetch-examples.js
  website/scripts/fetch-spec.js
Due: none

fix(ci): remove invalid image+trigger combo in code:review:agent
  .gitlab/ci/agents.yml
Due: validate:ossa:security
