Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ossa-validator: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix: update job dependencies after release-jobs.yml removal
  .gitlab/ci/post-release.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

docs(ci): add comprehensive CI/CD architecture audit report
  .gitlab/docs/internal/ci-architecture-audit.md
  .gitlab/docs/internal/duo-changes-audit.md
Due: none

feat: Merge catalog commands from buildkit to OSSA
  src/cli/commands/catalog/config.ts
  src/cli/commands/catalog/convert.command.ts
  src/cli/commands/catalog/diff.command.ts
  src/cli/commands/catalog/index.ts
  src/cli/commands/catalog/list.command.ts
  src/cli/commands/catalog/pull.command.ts
  src/cli/commands/catalog/push.command.ts
  src/cli/commands/catalog/schemas.ts
  src/cli/commands/catalog/sync.command.ts
  src/cli/commands/catalog/validate.command.ts
  src/cli/index.ts
Due: none

DUO
  .agents/power/08-content-writer.ossa.yaml
  .claude/settings.local.json
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate:security, validate:ossa:security

fix: Add .js extensions to catalog command imports
  .agents-workspace/memory/version-management.md
  .gitlab/ci/platform-agents-integration.yml
  .gitlab/components/README.md
  .gitlab/config/duo-agent-config-ultimate.yaml
  .gitlab/docs/AGENT-IDENTITY-SETUP.md
  .gitlab/docs/DRY-REFACTORING-PLAN.md
  .gitlab/docs/GITLAB-ULTIMATE-SHOWCASE.md
  .gitlab/docs/PLATFORM-AGENTS-VERIFICATION.md
  .gitlab/docs/internal/HARDCODED-VALUES-AUDIT.md
  src/cli/commands/catalog/convert.command.ts
  src/cli/commands/catalog/diff.command.ts
  src/cli/commands/catalog/index.ts
  src/cli/commands/catalog/list.command.ts
  src/cli/commands/catalog/pull.command.ts
  src/cli/commands/catalog/push.command.ts
  src/cli/commands/catalog/sync.command.ts
  src/cli/commands/catalog/validate.command.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: Update buildkit reference to ossa in catalog list command
  src/cli/commands/catalog/list.command.ts
Due: none

duo
  .agents/bot-ossa-validator.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate:security, validate:ossa:security

fix: resolve merge conflicts in package.json
  package.json
Due: none

fix: merge feature/implement-102-orphaned-issues into release/v0.3.x
  spec/v0.3.0/UNIFIED-SCHEMA.md
  spec/v0.3.0/adapters/drupal.md
  spec/v0.3.0/adapters/symfony.md
  spec/v0.3.0/agent-test.schema.json
  spec/v0.3.0/examples/drupal-content-writer.ossa.yaml
  spec/v0.3.0/examples/drupal-moderation-assistant.ossa.yaml
  spec/v0.3.0/examples/quick-wins/complete-agent-with-quick-wins.ossa.yaml
  spec/v0.3.0/extensions/drupal.md
  spec/v0.3.0/ossa-0.3.0.schema.json
  spec/v0.3.0/protocols/sse.md
  spec/v0.3.0/protocols/webrtc.md
  spec/v0.3.0/protocols/websocket.md
  spec/v0.3.0/schemas/agent-unified.yaml
  spec/v0.3.0/schemas/capabilities.yaml
  spec/v0.3.0/schemas/functions.yaml
  spec/v0.3.0/schemas/messaging/channel.schema.json
  spec/v0.3.0/schemas/messaging/delivery-receipt.schema.json
  spec/v0.3.0/schemas/messaging/message.schema.json
  spec/v0.3.0/schemas/messaging/subscription.schema.json
  spec/v0.3.0/schemas/runtime.yaml
  spec/v0.3.0/schemas/taxonomy.yaml
  spec/v0.3.0/schemas/unified-llm.yaml
  spec/v0.3.0/taxonomy.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

DUO
  .agents/bot-ossa-validator.ossa.yaml
  .agents/power/08-content-writer.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate:security, validate:ossa:security

fix: correct variables syntax in platform-agents:version-bump rules
  .gitlab/ci/version-automation-duo.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: quote if condition with && operator in platform-agents:version-bump rules
  .gitlab/ci/version-automation-duo.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: rename platform-agents:version-bump to platform_agents_version_bump (colon in job name causes YAML parsing issues)
  .gitlab/ci/version-automation-duo.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: temporarily disable platform_agents_version_bump job to fix YAML parsing
  .gitlab/ci/version-automation-duo.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: comment out missing autonomous CI includes causing YAML parsing failures
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: resolve TypeScript errors in migrated scripts
  src/tools/compliance-audit.ts
  src/tools/generators/generate-agents-catalog.ts
  src/tools/gitlab/configure-gitlab-branch-protection.ts
  src/tools/gitlab/manage-milestone-mrs.ts
  src/tools/lib/exec.ts
  src/tools/lib/file-ops.ts
  src/tools/lib/version.ts
  src/tools/migration/update-agents-to-v0.3.0.ts
Due: none

fix: correct import paths for lib files and fix syntax error
  package-lock.json
  src/tools/generators/gen-types.ts
  src/tools/gitlab/manage-milestone-mrs.ts
Due: none
