Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:examples, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:examples: any of: examples/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

chore: move whitepaper to spec/whitepaper/ to avoid CODEOWNERS approval block
  spec/whitepaper/unified-task-schema.md
Due: drupal:sync:agent

fix(ci): sync milestone-workflow.yml to allow release/* targets
  src/types/index.ts
Due: none

fix(codeowners): set solo developer @Branch as owner for all files
  .gitlab/CODEOWNERS
  CODEOWNERS
Due: none

feat: add review app for OrbStack Kubernetes
  .gitlab-ci.yml
  .gitlab/REVIEW_APP_SETUP.md
  .gitlab/ci/review-app.yml
  README.md
Due: docs:sync:agent, validate:ossa:security

Edit CODEOWNERS
  .gitlab/CODEOWNERS
Due: none

fix(ci): remove development branch references, use release/* workflow
  .gitlab-ci.yml
Due: validate:ossa:security

fix(codeowners): ensure @Branch is owner for all paths
  CODEOWNERS
Due: none

fix(codeowners): replace @bluefly with @Branch for solo developer
  CODEOWNERS
Due: none

Resolve "Clean up and pre-release v0.3.0"
  .gitignore
  docs/IMPLEMENTATION-SUMMARY.md
Due: docs:sync:agent

Edit CODEOWNERS
  CODEOWNERS
Due: none

feat(ci): implement release/v0.3.x workflow with dev tag automation
  .gitlab-ci.yml
  .gitlab/ci/release-v0.3.x.yml
  src/types/policy.ts
Due: validate:ossa:security

feat: implement release/v0.3.x workflow with dev tag automation
  .gitlab-ci.yml
  .gitlab/ci/release-v0.3.x.yml
  src/types/policy.ts
Due: validate:ossa:security

fix(eslint): disable incompatible TypeScript ESLint rules
  discord-bot/src/commands/bootstrap.ts
  discord-bot/src/commands/spec.ts
  discord-bot/src/handlers/moderation.ts
  discord-bot/src/index.ts
  discord-bot/src/utils/ossa-validator.ts
  website/.eslintrc.json
Due: none

Release v0.3.0 - Discord Bot, Automation, Testing
  SETUP-INSTRUCTIONS.md
Due: none

chore(ci): remove release-v0.3.x workflow
  .gitlab-ci.yml
  .gitlab/ci/release-v0.3.x.yml
Due: validate:ossa:security

fix(scripts): add missing lib utilities following DRY/Zod/OpenAPI principles
  .gitignore
  scripts/gen-zod.ts
  scripts/lib/exec.ts
  scripts/lib/file-ops.ts
  scripts/lib/version.ts
Due: none
