Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, validate:scripts-version, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  validate:scripts-version: any of: package.json, scripts/**/*
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

feat(spec): Conformance Testing specification
  spec/v0.2.9/conformance-testing.md
Due: validate:version-sync, drupal:sync:agent

feat(spec): A2A Protocol + Agent Manifest specifications
  spec/v0.2.9/agent.md
Due: validate:version-sync, drupal:sync:agent

feat(spec): add Capability Schema and Registry specification
  spec/v0.2.9/capability-schema.md
Due: validate:version-sync, drupal:sync:agent

feat(spec): Capability Schema and Registry specification
  spec/v0.2.9/capability-schema.md
Due: validate:version-sync, drupal:sync:agent

chore: add swarm tasks v029
  swarm-tasks-v029.json
Due: none

chore: remove temp swarm tasks file
  swarm-tasks-v029.json
Due: none

feat(schema): add runtimes configuration block for multi-platform execution
  spec/v0.2.9/ossa-0.2.9.schema.json
Due: validate:version-sync, drupal:sync:agent

feat(capabilities): add memory and ML capabilities for agent intelligence
  spec/v0.2.9/capabilities/index.yaml
  spec/v0.2.9/capabilities/memory.yaml
Due: validate:version-sync, drupal:sync:agent, validate:ossa:security

fix(ci): redesign release process with post-release cleanup
  .gitlab-ci.yml
  .gitlab/merge_request_templates/Default.md
Due: validate:ossa:security

fix(ci): replace undefined AGENT_PLATFORM_GROUP with AGENT_PLATFORM_PROJECT
  .gitlab/ci/agents.yml
Due: validate:ossa:security

feat(ci): implement merge train best practices and milestone-driven workflow
  .gitlab-ci.yml
  .gitlab/CODEOWNERS
  .gitlab/ci/merge-train-optimized.yml
  .gitlab/ci/milestone-workflow.yml
Due: validate:ossa:security

feat(ci): add release automation with milestone-triggered release issues
  .gitlab/ci/release-automation.yml
  .gitlab/issue_templates/Release.md
Due: validate:ossa:security

Resolve "Release v0.2.9"
  scripts/generate-api-docs.ts
  scripts/generate-examples-docs.ts
  src/cli/commands/setup.command.ts
  src/services/release-automation/webhook.service.ts
  src/services/runtime/claude/claude-adapter.ts
Due: validate:scripts-version

chore(release): update version references to v0.2.9
  README.md
  package.json
Due: validate:version-sync, validate:scripts-version, docs:sync:agent

fix(schema): make apiVersion pattern future-proof and tests dynamic
  spec/v0.2.9/ossa-0.2.9.schema.json
  tests/integration/schema-validation.test.ts
Due: validate:version-sync, drupal:sync:agent

fix(ci): update llms_txt2ctx CLI arguments
  .gitlab-ci.yml
  scripts/generate-llms-ctx.sh
Due: validate:scripts-version, validate:ossa:security

fix(ci): 100% autonomous release system with auto-tagging
  .gitlab-ci.yml
  .gitlab/CODEOWNERS
  .gitlab/agents/release-orchestrator/README.md
  .gitlab/agents/release-orchestrator/manifest.ossa.yaml
Due: validate:ossa:security
