Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:ossa:manifests:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Validating OSSA manifests in ${CI_PROJECT_PATH}"
  ...

check:ossa:version:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA manifest versions"
  ...

estimate:ossa:cost:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Estimating OSSA agent costs"
  ...

check:ossa:safety:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA safety configurations"
  ...

validate:k8s-resources:
  stage: validate
  image: node:20-slim
  before_script:
  - npm install -g ts-node typescript js-yaml @types/js-yaml @types/node
  script:
  - echo "ðŸ” Validating Kubernetes resource limits..."
  - ts-node examples/bridges/k8s/validate-resources.ts examples/bridges/k8s/
  allow_failure: false

validate:agent-team:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - 'echo "üîç Validating extension development team configuration..."
  
    ossa validate .gitlab/agents/extension-development-team.ossa.yaml
  
    ossa validate .gitlab/agents/examples/*.ossa.yaml
  
    echo "‚úÖ Agent team configuration valid"
  
    '

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

fix: skip .php template refs in validate-deps so Symfony adapter passes
  src/tools/validate-dependencies.ts
Due: validate:scripts-version

fix: bundle ajv/ajv-formats for global CLI; symfony export, skills pipeline, marketplace catalog
  package-lock.json
  package.json
  src/adapters/symfony/platform-adapter.ts
  src/cli/commands/export.command.ts
  src/cli/commands/skills.command.ts
  src/cli/commands/wizard-api-first.command.ts
  src/cli/commands/wizard-interactive.command.ts
  src/data/marketplace-skills-catalog.ts
  src/data/platform-matrix.ts
  src/di-container.ts
  src/services/skills-pipeline/index.ts
  src/services/skills-pipeline/skills-install.service.ts
  tests/unit/adapters/symfony/platform-adapter.test.ts
Due: validate:scripts-version, validate:adoption-blockers

chore: stop tracking AGENTS.md, llms.txt, .cursorrules (local only; exclude from public)
  .cursorrules
  AGENTS.md
  llms.txt
Due: none

docs: add llms.txt for AI assistant context
  llms.txt
Due: none

fix(ci): switch from shared runners to oracle runner (shared runners disabled at group)
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): set oracle tag on .base-runner (was empty after shared runner removal)
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

ci: add default tags [oracle] and fix empty wiki:publish tags
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore: preserve local changes before sync (refs skills/marketplace plan)
  src/adapters/drupal/drupal-utils.ts
  src/cli/commands/export.command.ts
  src/data/platform-matrix.ts
Due: none

chore: update skills command
  src/cli/commands/skills.command.ts
Due: none

feat(skills): catalog, show, attach CLI and list --json for API/UI
  examples/kagent/ossa-kagent-mcp-tools.ossa.yaml
  src/cli/commands/export.command.ts
  src/cli/commands/skills.command.ts
  src/services/skills/claude-skills.service.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, ossa:validate:security, validate:ossa:security

chore: sync to release branch
  CHANGELOG.md
  package.json
  src/cli/commands/config.command.ts
  src/cli/commands/skills.command.ts
  src/cli/commands/wizard-api-first.command.ts
  src/cli/commands/wizard-interactive.command.ts
  src/cli/index.ts
  src/config/cli-config.ts
Due: validate:scripts-version, validate:changelog, validate:adoption-blockers

feat(api): add POST /api/v1/validate for manifest validation
  src/api/index.ts
  src/api/routes/validate.router.ts
Due: none

fix(di): bind ManifestCrudService for validate/export API
  src/di-container.ts
Due: none

fix(env): document default api port 3000
  .env.example
  spec/v0.4/agent.schema.json
  spec/v0.5/agent.schema.json
  src/cli/commands/lint.command.ts
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

fix(hooks): ensure deps before pre-push validate so tsx is available in fresh worktrees
  lefthook.yml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

feat(schema): add drupal identifier integration and revocation semantics to OSSA schema
  .agents/compliance-checker/agent.ossa.yaml
  .agents/docs-generator/agent.ossa.yaml
  .agents/integration-tester/agent.ossa.yaml
  .agents/performance-optimizer/agent.ossa.yaml
  .agents/platform-exporter/agent.ossa.yaml
  .agents/release-manager/agent.ossa.yaml
  .agents/schema-validator/agent.ossa.yaml
  .agents/security-auditor/agent.ossa.yaml
  .agents/test-suite-generator/agent.ossa.yaml
  .agents/version-migrator/agent.ossa.yaml
  lefthook.yml
  spec/schema/components/metadata.schema.json
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

feat(lint): add revocation_at and drupal-identifiers rules (refs #448)
  src/cli/commands/lint.command.ts
Due: none

fix(reference): quote package name in ossa-validator-v0.3 args for YAML parse
  spec/reference/reference-agents/ossa-validator-v0.3/manifest.ossa.yaml
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate-versions, schema:validate-examples, ossa:validate:security, validate:ossa:security

feat(api): agents-md REST router and ensure-uuid; v0.4 validators and schemas
  .agents/compliance-checker/agent.ossa.yaml
  .agents/docs-generator/agent.ossa.yaml
  .agents/integration-tester/agent.ossa.yaml
  .agents/performance-optimizer/agent.ossa.yaml
  .agents/platform-exporter/agent.ossa.yaml
  .agents/release-manager/agent.ossa.yaml
  .agents/schema-validator/agent.ossa.yaml
  .agents/security-auditor/agent.ossa.yaml
  .agents/test-suite-generator/agent.ossa.yaml
  .agents/version-migrator/agent.ossa.yaml
  examples/agent-manifests/v0.4-identity-security-protocols-full.ossa.yaml
  examples/agent-manifests/v0.4-minimal-identity-security-protocols.ossa.yaml
  lefthook.yml
  spec/reference/reference-agents/compliance-auditor/manifest.ossa.yaml
  spec/reference/reference-agents/doc-agent/manifest.ossa.yaml
  spec/reference/reference-agents/mr-reviewer/manifest.ossa.yaml
  spec/reference/reference-agents/pipeline-fixer/manifest.ossa.yaml
  spec/reference/reference-agents/release-orchestrator/manifest.ossa.yaml
  spec/schema/components/metadata.schema.json
  spec/v0.4/agent.schema.json
  spec/v0.4/mcp.schema.json
  spec/v0.4/skill.schema.json
  spec/v0.5/agent.schema.json
  spec/v0.5/extensions/token-efficiency.schema.json
  spec/v1/mcp.schema.json
  spec/v1/skill.schema.json
  src/adapters/openai-agents/adapter.ts
  src/api/index.ts
  src/api/routes/agents-md.router.ts
  src/cli/commands/ensure-uuid.command.ts
  src/cli/commands/lint.command.ts
  src/cli/index.ts
  src/types/index.ts
  src/types/protocols.ts
  src/types/security.ts
  src/validation/validator.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

fix(tests): clean Jest exit, no open-handle from logger
  jest.config.ts
  package.json
  src/utils/logger.ts
Due: validate:scripts-version, validate:adoption-blockers

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
