Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ossa-validator: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(ci): add semantic-release for automated npm publishing
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): use Node 22 for semantic-release compatibility
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

duo
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

docs: fix data-transformer section header
  examples/ossa-templates/README.md
Due: schema:validate-examples

chore(release): promote v0.3.3 to main
  .gitlab-ci.yml
  examples/ossa-templates/README.md
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, schema:validate-examples, ossa:validate:security, validate:ossa:security

feat(ci): optimize CI/CD with GitLab Ultimate features
  .gitlab-ci.yml
  .gitlab/ci/VERIFICATION.md
  .gitlab/ci/build-jobs.yml
  .gitlab/ci/caching.yml
  .gitlab/ci/optimized-test-jobs.yml
  .gitlab/ci/security-jobs.yml
  .gitlab/ci/validation-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

ci: optimize CI/CD with GitLab Ultimate features
  .gitlab/ci/caching.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): add extends to sast_iac job to fix missing script error
  .gitlab/ci/security-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): add script to sast_iac job
  .gitlab/ci/security-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): remove extends from test:lint and test:security to fix script conflicts
  .gitlab/ci/optimized-test-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): quote script lines with || operators to fix YAML parsing
  .gitlab/ci/optimized-test-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(spec): revert data-transformer to kind: Task and remove Agent-specific fields
  examples/ossa-templates/10-data-transformer.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(ci): make validate:ossa independent - remove dependency on build:dist
  .gitlab/ci/validation-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): make all validate jobs independent - remove build:dist dependencies
  .gitlab/ci/validation-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): change detect-release-version stage from version-detect to .pre
  .gitlab/ci/release-workflow.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(spec): remove invalid handler field from Task spec
  examples/ossa-templates/10-data-transformer.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(spec): fix Task spec structure - move batch/retry to spec level, fix capabilities format, remove tools
  examples/ossa-templates/10-data-transformer.ossa.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, schema:validate-examples, ossa:validate:security, validate:ossa:security
