Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix: resolve all remaining test failures
  tests/unit/transports/websocket.test.ts
Due: none

fix: remove duplicate channelMap declaration in WebRTC test
  tests/unit/transports/webrtc.test.ts
Due: none

fix: remove duplicate channel declaration in WebRTC test
  tests/unit/transports/webrtc.test.ts
Due: none

fix: reuse existing channel variable in WebRTC test
  tests/unit/transports/webrtc.test.ts
Due: none

fix: remove all duplicate channelMap declarations
  tests/unit/transports/webrtc.test.ts
Due: none

fix: add channelMap declaration in send message test
  tests/unit/transports/webrtc.test.ts
Due: none

fix: sync all version placeholders to 0.3.0 for release validation
  .gitlab/agents/version-manager/manifest.ossa.yaml
  .gitlab/ci/docs-generation.yml
  .gitlab/ci/ossa-version-management.yml
  .gitlab/ci/version-sync.yml
  .wiki-config.json
  examples/agents-md/monorepo-agent.ossa.yaml
  examples/claude-code/code-reviewer.ossa.yaml
  examples/claude-code/ossa-validator.ossa.yaml
  examples/common_npm/agent-router.ossa.yaml
  examples/common_npm/agent-router.v0.2.2.ossa.yaml
  examples/drupal/gitlab-ml-recommender.ossa.yaml
  examples/drupal/gitlab-ml-recommender.v0.2.2.ossa.yaml
  examples/getting-started/hello-world-complete.ossa.yaml
  examples/integration-patterns/agent-to-agent-orchestration.ossa.yaml
  examples/kagent/compliance-validator.ossa.yaml
  examples/kagent/cost-optimizer.ossa.yaml
  examples/kagent/documentation-agent.ossa.yaml
  examples/kagent/k8s-troubleshooter-v1.ossa.yaml
  examples/kagent/k8s-troubleshooter-v1.v0.2.2.ossa.yaml
  examples/kagent/k8s-troubleshooter.ossa.yaml
  examples/kagent/security-scanner.ossa.yaml
  examples/multi-agent/conditional-router.ossa.yaml
  examples/multi-agent/parallel-execution.ossa.yaml
  examples/multi-agent/sequential-pipeline.ossa.yaml
  examples/openai/basic-agent.ossa.yaml
  examples/quickstart/support-agent.ossa.yaml
  examples/real-world/gitlab-cicd-optimizer.ossa.yaml
  examples/real-world/rag-documentation-assistant.ossa.yaml
  package-lock.json
  package.json
  scripts/detect-ossa-version.ts
  scripts/lib/version.ts
  scripts/process-doc-templates.ts
  scripts/sync-versions.ts
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

fix: WebRTC null pointer and infinite loop
  src/transports/webrtc.ts
Due: none

fix: resolve test failures blocking v0.3.0 release
  jest.config.ts
  src/adapters/anthropic/runtime.ts
  src/cli/utils/error-formatter.ts
  src/messaging/broker.ts
  src/messaging/protocols/memory.ts
  src/transports/webrtc.ts
  src/transports/websocket.ts
  tests/unit/transports/webrtc.test.ts
  tests/unit/transports/websocket.test.ts
Due: none

chore(release): update changelog [skip ci]
  CHANGELOG.md
Due: none

fix: resolve test failures blocking v0.3.0 release
  .gitlab/ci/ossa-version-management.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

docs: Create consolidated OSSA specification document
  website/content/docs/specification.md
Due: none

Release/v0.3.0
  .gitlab/ci/ossa-version-management.yml
  CHANGELOG.md
  jest.config.ts
  src/adapters/anthropic/client.ts
  src/adapters/anthropic/config.ts
  src/adapters/anthropic/runtime.ts
  src/adapters/crewai-adapter.ts
  src/adapters/langchain-adapter.ts
  src/cli/utils/error-formatter.ts
  src/messaging/broker.ts
  src/messaging/channels.ts
  src/messaging/protocols/memory.ts
  src/transports/webrtc.ts
  src/transports/websocket.ts
  tests/unit/adapters/anthropic.test.ts
  tests/unit/transports/sse.test.ts
  tests/unit/transports/webrtc.test.ts
  tests/unit/transports/websocket.test.ts
  tests/unit/workflow-schema.test.ts
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: create RC tag on release merge, inline version detection
  .gitlab/ci/release-workflow.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: skip agent trigger jobs when AGENT_PLATFORM_PROJECT not set
  .gitlab/ci/agents.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

docs: Mark Symphony + Drupal integration page as complete (Issue #32)
  website/content/docs/integrations/symphony-drupal.md
Due: none

chore(release): update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

fix: set package.json version to 0.3.0
  package.json
Due: none

Revert "fix: set package.json version to 0.3.0"
  package.json
Due: none

fix(ci): block invalid branch names and fix content agent
  .gitlab-ci.yml
  .gitlab/ci/content-agents.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: resolve merge conflicts and add error handling
  .gitlab/ci/review-apps.yml
  website/content/docs/deployment/github-mirroring.md
  website/content/docs/examples/aiflow-framework-integration-with-ossa.md
  website/content/docs/integrations/aiflow.md
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security
