Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, validate:scripts-version, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:version-sync:
  needs: []
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - npm ci --legacy-peer-deps
  - npm run build
  - echo "Checking version consistency..."
  - npm run version:check
  allow_failure: false

validate:scripts-version:
  needs: []
  stage: validate
  image: node:${NODE_VERSION}-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm ci --legacy-peer-deps
  script:
  ...

validate:yaml:
  stage: validate
  image: python:3.11-slim
  script:
  - pip install yamllint
  - yamllint -d relaxed .

validate:ossa:
  stage: validate
  image: node:20-slim
  script:
  - npm install -g @bluefly/ossa-cli
  - ossa validate --strict
  allow_failure: false

validate:gitlab-ci:
  stage: validate
  image: alpine:latest
  script:
  - apk add --no-cache curl jq
  ...

agent:ossa-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:drupal-standards:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:ci-fixer:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:config-auditor:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:recipe-validator:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

agent:theme-tester:
  stage: agents
  image: curlimages/curl:latest
  variables:
    GIT_STRATEGY: none
  before_script:
  ...

docs:sync:agent:
  stage: .post
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: gitlab-lib-ci
    AGENT_TASK: docs-sync
    SOURCE_BRANCH: $CI_COMMIT_BRANCH

deploy:infra:agent:
  stage: deploy
  trigger:
    project: ${AGENT_PLATFORM_PROJECT}
    strategy: depend
  variables:
    AGENT_NAME: infra-prod
    AGENT_TASK: deploy
    ENVIRONMENT: production
    MANIFEST_PATH: infrastructure/

ossa:validate-all-agents:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NODE_ENV: production
  before_script:
  - apk add --no-cache git python3 make g++
  ...

Release/v0.3.x
  .gitignore
  .gitlab-ci.yml
  .gitlab/agents/bots/bot-ossa-compliance.ossa.yaml
  .gitlab/ci/release-workflow.yml
  .gitlab/release-automation/scripts/generate-changelog.ts
  .version.json
  CHANGELOG.md
  spec/v0.3.1/examples/agent-with-identity.ossa.yaml
  spec/v0.3.1/examples/multi-provider-identity.ossa.yaml
  spec/v0.3.1/extensions/agent-identity.yaml
  spec/v0.3.1/ossa-0.3.1.schema.json
  tests/unit/cli/commands/test.test.ts
Due: validate:version-sync, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, drupal:sync:agent, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

fix(mobile): improve schema page responsiveness + fix CI workflow rules
  .claude/settings.local.json
  package-lock.json
  website/app/about/page.tsx
  website/app/blog/[slug]/page.tsx
  website/app/blog/page.tsx
  website/app/brand/page.tsx
  website/app/design-guide/page.tsx
  website/app/docs/[[...slug]]/page.tsx
  website/app/docs/core-concepts/project-structure/page.tsx
  website/app/error.tsx
  website/app/examples/page.tsx
  website/app/global-error.tsx
  website/app/playground/page.tsx
  website/app/schema/page.tsx
  website/app/specification/page.tsx
  website/components/InstallCommand.tsx
  website/components/docs/MarkdownContent.tsx
  website/components/examples/ExamplesViewer.tsx
  website/components/schema/SchemaExplorer.tsx
  website/lib/ajv-types.ts
  website/lib/get-version-for-metadata.ts
  website/lib/release-highlights.json
  website/lib/validate.ts
  website/lib/version-types.ts
  website/lib/version.ts
  website/package.json
  website/tsconfig.json
  website/tsconfig.tsbuildinfo
Due: none

chore(release): update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

chore(release): update changelog [skip ci]
  CHANGELOG.md
Due: none

Resolve "SEO Optimization for Next.js Agent Platform"
  .gitlab/ci/review-apps.yml
  website/app/changelog/page.tsx
  website/app/examples/page.tsx
  website/app/page.tsx
  website/app/playground/page.tsx
  website/app/schema/page.tsx
  website/components/InstallCommand.tsx
  website/components/examples/ExamplesViewer.tsx
  website/lib/get-version-for-metadata.ts
  website/lib/validate.ts
  website/tsconfig.tsbuildinfo
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: update OSSA_VERSION to 0.3.1 on main
  website/lib/version.ts
Due: none

fix: update versions.json to 0.3.1 on main
  website/lib/versions.json
Due: none

feat(ci): generate TypeScript types in CI instead of committing
  .env.local
  .gitignore
  .gitlab/KAS_AUDIT.md
  .gitlab/ci/mirror-jobs.yml
  .gitlab/ci/pages.yml
  .gitlab/ci/post-release.yml
  .gitlab/ci/rc-promotion.yml
  .gitlab/ci/rc-validation.yml
  .gitlab/ci/release-environments.yml
  .gitlab/ci/release-jobs.yml
  .gitlab/ci/review-app.yml
  .gitlab/ci/version-detection.yml
  README.md
  openapi/cli-commands.openapi.yaml
  package-lock.json
  package.json
  spec/v0.3.1/ossa-0.3.1.schema.json
  src/cli/commands/agents.command.ts
  src/cli/index.ts
  tests/integration/cli/generate.test.ts.bak5
  tests/unit/cli/commands/test.test.ts.bak5
  tests/unit/services/migration.service.test.ts.bak5
  tests/unit/task-schema.test.ts.bak2
  tests/unit/task-schema.test.ts.bak3
  tests/unit/task-schema.test.ts.bak4
  tests/unit/task-schema.test.ts.bak6
Due: validate:version-sync, validate:scripts-version, validate:yaml, validate:gitlab-ci, agent:ci-fixer, docs:sync:agent, drupal:sync:agent, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

fix(ci): use .version.json as single source of truth for dev tags
  .env.local
  .gitignore
  .gitlab/KAS_AUDIT.md
  .gitlab/ci/mirror-jobs.yml
  .gitlab/ci/pages.yml
  .gitlab/ci/post-release.yml
  .gitlab/ci/rc-promotion.yml
  .gitlab/ci/rc-validation.yml
  .gitlab/ci/release-environments.yml
  .gitlab/ci/release-jobs.yml
  .gitlab/ci/review-app.yml
  .gitlab/ci/version-detection.yml
  CHANGELOG.md
  README.md
  openapi/cli-commands.openapi.yaml
  package-lock.json
  package.json
  spec/v0.3.1/ossa-0.3.1.schema.json
  src/cli/commands/agents.command.ts
  src/cli/index.ts
  tests/integration/cli/generate.test.ts.bak5
  tests/unit/cli/commands/test.test.ts.bak5
  tests/unit/services/migration.service.test.ts.bak5
  tests/unit/task-schema.test.ts.bak2
  tests/unit/task-schema.test.ts.bak3
  tests/unit/task-schema.test.ts.bak4
  tests/unit/task-schema.test.ts.bak6
Due: validate:version-sync, validate:scripts-version, validate:yaml, validate:gitlab-ci, agent:ci-fixer, docs:sync:agent, drupal:sync:agent, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

feat(ci): add content professionalization automation
  .github/SUPPORT.md
  .github/stale.yml
  .github/workflows/discord-notify.yml
  .github/workflows/welcome.yml
  .gitignore
  .gitlab-ci.yml
  .gitlab/ci/content-professionalization.yml
  CODE_OF_CONDUCT.md
  SECURITY.md
  package-lock.json
  package.json
  scripts/professionalize-content.ts
Due: validate:version-sync, validate:scripts-version, validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: resolve pipeline failures in release:audit job
  .gitlab/ci/release-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(ci): configure release-based merge trains
  .env.local
  .gitlab-ci.yml
  .gitlab/ci/release-jobs.yml
  .gitlab/ci/release-merge-trains.yml
  package.json
Due: validate:version-sync, validate:scripts-version, validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: remove .env.local and KAS_AUDIT.md from git tracking
  .gitlab/KAS_AUDIT.md
Due: none

fix(security): address GitLab Duo security review comments
  .github/workflows/discord-notify.yml
  scripts/professionalize-content.ts
Due: validate:scripts-version, validate:yaml, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  validate:scripts-version: any of: package.json, scripts/**/*
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
