Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ossa-validator: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix: correct service account quote syntax in YAML
  .gitlab/ci/autonomous-framework.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: properly quote all service account names in YAML
  .gitlab/ci/autonomous-complete.yml
  .gitlab/ci/autonomous-framework.yml
  .gitlab/ci/autonomous-integration.yml
  .gitlab/ci/autonomous-issue-management.yml
  .gitlab/ci/autonomous-mr-management.yml
  .gitlab/ci/autonomous-schedules.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat: add enhanced agent orchestration with A2A, analytics, and intelligent routing
  .gitlab-ci.yml
  .gitlab/ci/enhanced-orchestration.yml
  .gitlab/flows/enhanced-agent-orchestration.yaml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat: add issue consolidation and auto-completion flow
  .gitlab-ci.yml
  .gitlab/ci/issue-consolidation.yml
  .gitlab/flows/issue-consolidation-flow.yaml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

refactor: clean up npm package - separate build tooling from user package
  .npmignore
  package.json
Due: none

feat: Generate Zod schemas from OpenAPI specs
  scripts/generate-zod-now.mjs
  src/types/generated/openapi/agent-communication.zod.ts
  src/types/generated/openapi/agent-crud.zod.ts
  src/types/generated/openapi/agent-discovery.zod.ts
  src/types/generated/openapi/agent-identity.zod.ts
  src/types/generated/openapi/common-schemas.zod.ts
  src/types/generated/openapi/drupal-agent-api.openapi.zod.ts
  src/types/generated/openapi/github-sync.zod.ts
  src/types/generated/openapi/helm-generator.openapi.zod.ts
  src/types/generated/openapi/ossa-core-api.openapi.zod.ts
  src/types/generated/openapi/ossa-registry-api.openapi.zod.ts
  src/types/generated/openapi/ossa-registry.openapi.zod.ts
  src/types/generated/openapi/self-evolving-ecosystem.openapi.zod.ts
  src/types/generated/openapi/sse-streams.zod.ts
  src/types/generated/openapi/unified-agent-gateway.openapi.zod.ts
  src/types/generated/openapi/websocket-events.zod.ts
Due: none

feat: Generate Zod schemas from OpenAPI specs
  package-lock.json
  package.json
  scripts/generate-zod-direct.mjs
  src/types/generated/openapi/agent-communication.zod.ts
  src/types/generated/openapi/agent-crud.zod.ts
  src/types/generated/openapi/agent-discovery.zod.ts
  src/types/generated/openapi/agent-identity.zod.ts
  src/types/generated/openapi/common-schemas.zod.ts
  src/types/generated/openapi/github-sync.zod.ts
  src/types/generated/openapi/self-evolving-ecosystem.openapi.zod.ts
Due: none

fix: Resolve Zod schema circular references with topological sort
  scripts/generate-zod-direct.mjs
  src/types/generated/openapi/agent-communication.zod.ts
  src/types/generated/openapi/agent-crud.zod.ts
  src/types/generated/openapi/agent-discovery.zod.ts
  src/types/generated/openapi/agent-identity.zod.ts
  src/types/generated/openapi/common-schemas.zod.ts
  src/types/generated/openapi/github-sync.zod.ts
  src/types/generated/openapi/self-evolving-ecosystem.openapi.zod.ts
Due: none

fix: restore src/tools/ migration from 97ce8f6d22
  src/tools/autonomous-evolution.ts
  src/tools/compliance-audit.ts
  src/tools/docs/generate-api-docs.ts
  src/tools/docs/generate-cli-docs.ts
  src/tools/docs/generate-config-docs.ts
  src/tools/docs/generate-errors-docs.ts
  src/tools/docs/generate-examples-docs.ts
  src/tools/docs/generate-schema-docs.ts
  src/tools/docs/generate-types-docs.ts
  src/tools/docs/lowercase-docs.ts
  src/tools/docs/process-doc-templates.ts
  src/tools/docs/professionalize-content.ts
  src/tools/eslint-to-codequality.cjs
  src/tools/generators/fix-schema-formats.js
  src/tools/generators/gen-types.ts
  src/tools/generators/gen-zod.ts
  src/tools/generators/generate-agents-catalog.ts
  src/tools/generators/schema-to-python.js
  src/tools/generators/schema-to-snippets.js
  src/tools/generators/schema-to-typescript.js
  src/tools/gitlab/auto-rebase-mrs.ts
  src/tools/gitlab/configure-gitlab-branch-protection.ts
  src/tools/gitlab/create-issue-helper.ts
  src/tools/gitlab/create-milestone-issue.ts
  src/tools/gitlab/manage-milestone-mrs.ts
  src/tools/migration/update-agents-to-v0.3.0.ts
  src/tools/schemas/package.schema.ts
  src/tools/validation/validate-all.js
  src/tools/validation/validate-examples.js
  src/tools/validation/validate-openapi-extensions.ts
  src/tools/validation/validate-schema.ts
  src/tools/version/bump-version.ts
  src/tools/version/ci-version-sync.ts
  src/tools/version/detect-ossa-version.ts
  src/tools/version/enhanced-version-manager.ts
  src/tools/version/sync-version.js
  src/tools/version/sync-version.ts
  src/tools/version/sync-versions.ts
  src/tools/version/version-examples.ts
  src/tools/version/version-sync.ts
Due: none

fix: restore src/tools/ migration from 83a5389dd9
  src/tools/autonomous-evolution.ts
  src/tools/compliance-audit.ts
  src/tools/docs/generate-api-docs.ts
  src/tools/docs/generate-cli-docs.ts
  src/tools/docs/generate-config-docs.ts
  src/tools/docs/generate-errors-docs.ts
  src/tools/docs/generate-examples-docs.ts
  src/tools/docs/generate-schema-docs.ts
  src/tools/docs/generate-types-docs.ts
  src/tools/docs/lowercase-docs.ts
  src/tools/docs/process-doc-templates.ts
  src/tools/docs/professionalize-content.ts
  src/tools/eslint-to-codequality.cjs
  src/tools/generators/fix-schema-formats.js
  src/tools/generators/gen-types.ts
  src/tools/generators/gen-zod.ts
  src/tools/generators/generate-agents-catalog.ts
  src/tools/generators/schema-to-python.js
  src/tools/generators/schema-to-snippets.js
  src/tools/generators/schema-to-typescript.js
  src/tools/gitlab/auto-rebase-mrs.ts
  src/tools/gitlab/configure-gitlab-branch-protection.ts
  src/tools/gitlab/create-issue-helper.ts
  src/tools/gitlab/create-milestone-issue.ts
  src/tools/gitlab/manage-milestone-mrs.ts
  src/tools/migration/update-agents-to-v0.3.0.ts
  src/tools/schemas/package.schema.ts
  src/tools/validation/validate-all.js
  src/tools/validation/validate-examples.js
  src/tools/validation/validate-openapi-extensions.ts
  src/tools/validation/validate-schema.ts
  src/tools/version/bump-version.ts
  src/tools/version/ci-version-sync.ts
  src/tools/version/detect-ossa-version.ts
  src/tools/version/enhanced-version-manager.ts
  src/tools/version/sync-version.js
  src/tools/version/sync-version.ts
  src/tools/version/sync-versions.ts
  src/tools/version/version-examples.ts
  src/tools/version/version-sync.ts
Due: none

fix: move deployment/orbstack to infrastructure/orbstack and update paths
  infrastructure/orbstack/README.md
  infrastructure/orbstack/agent-chat.yaml
  infrastructure/orbstack/agent-router.yaml
  infrastructure/orbstack/agent-tracer.yaml
  infrastructure/orbstack/minio.yaml
  infrastructure/orbstack/mongodb.yaml
  infrastructure/orbstack/namespace.yaml
  infrastructure/orbstack/openstandardagents.yaml
  infrastructure/orbstack/postgresql.yaml
Due: validate:yaml, deploy:infra:agent, ossa:validate:security, validate:ossa:security

fix: restore spec files that were deleted
  spec/extensions/openapi/ossa-openapi-extensions.schema.json
  spec/registry/openapi.yaml
Due: validate:yaml, agent:ossa-validator, drupal:sync:agent, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

fix: restore missing spec files deleted in 4f80c58490
  spec/extensions/a2a-messaging.md
  spec/extensions/manifest-extensions.md
  spec/extensions/skills-compatibility.md
  spec/registry/README.md
  spec/registry/registry-api.schema.json
  spec/registry/registry-spec.md
Due: agent:ossa-validator, drupal:sync:agent, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

fix: restore missing spec files deleted in ecb6abb514
  spec/extensions/a2a-messaging.md
  spec/extensions/manifest-extensions.md
  spec/extensions/skills-compatibility.md
  spec/registry/README.md
  spec/registry/registry-api.schema.json
  spec/registry/registry-spec.md
Due: agent:ossa-validator, drupal:sync:agent, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

fix: consolidate tools/ into src/tools/ for DRY structure
  src/tools/vscode-ossa/.eslintrc.json
  src/tools/vscode-ossa/.gitignore
  src/tools/vscode-ossa/.vscodeignore
  src/tools/vscode-ossa/CHANGELOG.md
  src/tools/vscode-ossa/DEVELOPMENT.md
  src/tools/vscode-ossa/LICENSE
  src/tools/vscode-ossa/PROJECT_SUMMARY.md
  src/tools/vscode-ossa/PUBLISHING.md
  src/tools/vscode-ossa/QUICKSTART.md
  src/tools/vscode-ossa/README.md
  src/tools/vscode-ossa/language-configuration.json
  src/tools/vscode-ossa/package.json
  src/tools/vscode-ossa/snippets/ossa-snippets.json
  src/tools/vscode-ossa/src/commands.ts
  src/tools/vscode-ossa/src/extension.ts
  src/tools/vscode-ossa/src/validator.ts
  src/tools/vscode-ossa/tsconfig.json
Due: none

fix: consolidate tools/ into src/tools/ and update references
  .cursorrules
  .devfile.yaml
  .env.example
  .eslintrc.cjs
  .eslintrc.json
  .gitlab-ci-trigger
  .gitlab/agents/schema-automation.ossa.yaml
  .gitlab/agents/tasks/schema-to-snippets.ossa.yaml
  .gitlab/ci/build-jobs.yml
  .npmignore
  .npmrc
  .prettierignore
  .prettierrc
  .prettierrc.json
  .redocly.yaml
  .releaserc.json
  .spectral.yaml
  .version.json
  .wiki-config.json
  AGENTS.md
  CODE_OF_CONDUCT.md
  LICENSE
  SECURITY.md
  llms.txt
  src/tools/vscode-ossa/DEVELOPMENT.md
  src/tools/vscode-ossa/PROJECT_SUMMARY.md
  src/tools/vscode-ossa/PUBLISHING.md
  src/tools/vscode-ossa/QUICKSTART.md
  src/tools/vscode-ossa/README.md
  src/types/generated/ossa-0.3.2.types.ts
  src/types/generated/ossa-0.3.2.zod.ts
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

fix: replace shell script with TypeScript - shell scripts forbidden per policy
  src/tools/vscode-ossa/install-and-test.ts
Due: none

fix: consolidate src/sdk into sdks/typescript for DRY structure
  sdks/typescript/events/cloudevents-emitter.ts
  sdks/typescript/events/index.ts
  sdks/typescript/tracing/index.ts
  sdks/typescript/tracing/w3c-baggage.ts
Due: none

chore: remove obsolete schema automation workflow file
  .gitlab/agents/schema-automation.ossa.yaml
  .gitlab/docs/WORKSPACE-AGENT-INTEGRATION.md
  .gitlab/docs/infrastructure/gitlab-kubernetes-agents.md
  .gitlab/docs/infrastructure/ossa-agent-ecosystem-for-gitlab-kubernetes-deployments.md
  .gitlab/docs/version-management-automation.md
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security
