Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix(di): add @inject to AgentsMdApiService for Inversify resolution
  src/services/agents-md/agents-md-api.service.ts
Due: none

chore: sync local changes before rebase and push
  src/tools/validation/openapi-validate-all.ts
Due: validate:scripts-version

docs: use canonical path blueflyio/agent-platform/tools/gitlab_components in roadmap
  docs/roadmap/cross-project-dependencies.md
  docs/roadmap/v0.3.x-to-v{{VERSION}}.md
Due: post-review:docs-sync, bot:wiki-sync

feat: version compliance, validate --min-api-version, ESM validator, schema
  .gitlab-ci.yml
  .gitlab/wiki-publish-manifest.json
  .gitlab/wiki-publish-runner.cjs
  .gitlab/wiki-publish.cjs
  README.md
  docs/openapi/discovery.md
  docs/wiki/Discovery-and-Registry.md
  docs/wiki/OSSA-CLI-Reference.md
  docs/wiki/Platform-Matrix.md
  examples/kagent/README.md
  package.json
  spec/v0.4/agent.schema.json
  src/cli/commands/agent-wizard.command.ts
  src/cli/commands/export.command.ts
  src/cli/commands/import.command.ts
  src/cli/commands/platforms.command.ts
  src/cli/commands/validate.command.ts
  src/cli/index.ts
  src/cli/wizard/steps/08a-target-platforms.ts
  src/cli/wizard/steps/index.ts
  src/data/platform-matrix.ts
  src/packages/drupal-mcp-server/README.md
  src/sdk.ts
  src/services/generation.service.ts
  src/services/import/framework-to-ossa.ts
  src/tools/framework-converters/src/converters/langflow.ts
  src/tools/framework-converters/src/index.ts
  src/validation/validator.ts
  src/validation/version-compliance.ts
Due: ossa:generate-schema, agent:ossa-validator, validate:yaml, validate:gitlab-ci, agent:ci-fixer, post-review:docs-sync, bot:wiki-sync, conformance:examples, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

refactor: MCP server audit cleanup and memory management wizard step
  .gitlab-ci.yml
  README.md
  docs/guides/mcp-server.md
  llms.txt
  package.json
  spec/v0.4/agent.schema.json
  spec/v0.4/extensions/memory/memory.schema.json
  src/adapters/claude-agent-sdk/adapter.ts
  src/adapters/claude-agent-sdk/index.ts
  src/adapters/claude-agent-sdk/types.ts
  src/adapters/index.ts
  src/cli/commands/agent-wizard.command.ts
  src/cli/commands/wizard-interactive.command.ts
  src/cli/wizard/steps/09e-memory-management.ts
  src/cli/wizard/steps/index.ts
  src/mcp-server/__tests__/mcp-server.spec.ts
  src/mcp-server/index.ts
Due: ossa:generate-schema, agent:ossa-validator, agent:mcp-server-builder, validate:yaml, validate:gitlab-ci, agent:ci-fixer, post-review:docs-sync, bot:wiki-sync, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

fix(#443): extract shared manifest scan utility from MCP inline code
  src/mcp-server/index.ts
  src/utils/manifest-scanner.ts
Due: none

feat: merge #442 config-only export + #444 validate/publish DI into release
  src/adapters/anthropic/config-adapter.ts
  src/adapters/autogen/config-adapter.ts
  src/adapters/base/adapter.interface.ts
  src/adapters/crewai/adapter.ts
  src/adapters/docker/config-adapter.ts
  src/adapters/gitlab-duo/adapter.ts
  src/adapters/index.ts
  src/adapters/kubernetes/config-adapter.ts
  src/adapters/langchain/adapter.ts
  src/adapters/openai-agents/config-adapter.ts
  src/adapters/semantic-kernel/config-adapter.ts
  src/mcp-server/index.ts
Due: none

fix(mcp): wire ossa_validate platform and ossa_publish to DI (#444)
  src/mcp-server/index.ts
  src/services/registry.service.ts
  src/services/validation-zod.service.ts
  src/services/validation.service.ts
  src/types/index.ts
Due: none

feat: add OSSA Skill and MCP Server manifest types, schemas, and CLI
  examples/skills/drupal-code-analysis/skill.ossa.yaml
  examples/skills/git-commit-review/skill.ossa.yaml
  examples/skills/tdd-workflow/skill.ossa.yaml
  spec/v1/mcp.schema.json
  spec/v1/skill.schema.json
  src/adapters/symfony/platform-adapter.ts
  src/cli/commands/skills.command.ts
  src/converters/skill-md-converter.ts
  src/types/index.ts
  src/types/mcp-server-manifest.ts
  src/types/skill.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, ossa:generate-schema, agent:ossa-validator, agent:mcp-server-builder, validate:yaml, validate:ossa, conformance:examples, ossa:validate-versions, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

fix: validate-deps checks optional/peer deps and skips non-JS imports
  package.json
  src/tools/validate-dependencies.ts
Due: validate:scripts-version, validate:adoption-blockers

fix: update MCP server integration test for 10 tools
  tests/integration/mcp-server.integration.test.ts
Due: agent:mcp-server-builder

fix: add @anthropic-ai/claude-agent-sdk to dependencies
  package-lock.json
  package.json
Due: validate:scripts-version, validate:adoption-blockers

feat: API-first refactor — headless services, REST API, OpenAPI spec
  .gitlab/issues/ADOPTION_PRIORITIES.md
  examples/kagent/ossa-kagent-anthropic.ossa.yaml
  examples/kagent/ossa-kagent-mcp-tools.ossa.yaml
  examples/kagent/ossa-kagent-multi-tool.ossa.yaml
  openapi/ossa-api.openapi.yaml
  src/adapters/index.ts
  src/api/index.ts
  src/api/middleware/cors.ts
  src/api/middleware/error-handler.ts
  src/api/middleware/request-id.ts
  src/api/middleware/validate.ts
  src/api/routes/convert.router.ts
  src/api/routes/export.router.ts
  src/api/routes/health.router.ts
  src/api/routes/manifests.router.ts
  src/api/routes/skills.router.ts
  src/api/routes/version.router.ts
  src/api/routes/wizard.router.ts
  src/api/routes/workspace.router.ts
  src/api/server.ts
  src/cli/commands/export.command.ts
  src/cli/commands/serve.command.ts
  src/data/platform-matrix.ts
  src/di-container.ts
  src/mcp-server/index.ts
  src/sdks/kagent/crd-generator.ts
  src/sdks/kagent/kubectl-apply.ts
  src/sdks/kagent/types.ts
  src/services/convert/convert.service.ts
  src/services/export/export.service.ts
  src/services/manifest/manifest-crud.service.ts
  src/services/mcp-manifest/mcp-manifest.service.ts
  src/services/skills/skill-manifest.service.ts
  src/services/wizard/wizard-state.service.ts
  src/services/workspace/workspace.service.ts
Due: validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, agent:ossa-validator, agent:mcp-server-builder, validate:yaml, validate:ossa, conformance:examples, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, schema:validate-examples, ossa:validate:security, validate:ossa:security

feat: FusionInventory adapter, GitLab Duo agents, cleanup stale .md docs
  .gitlab/AGENT_DRIVEN_CI_PROPOSAL.md
  .gitlab/DUO-AGENT-PLATFORM.md
  .gitlab/FIX-MR-TARGETS.md
  .gitlab/KAS_AUDIT.md
  .gitlab/MERGE_TRAIN.md
  .gitlab/PRE-PUSH-VALIDATION.md
  .gitlab/README.md
  .gitlab/REVIEW_APP_SETUP.md
  .gitlab/ci/VERIFICATION.md
  .gitlab/duo/agent-config.yml
  .gitlab/duo/flows/ossa-code-reviewer.yaml
  .gitlab/duo/flows/ossa-release-manager.yaml
  .gitlab/duo/flows/ossa-security-scanner.yaml
  .gitlab/duo/flows/ossa-spec-review-flow.yaml
  .gitlab/duo/flows/ossa-validator.yaml
  src/adapters/fusioninventory/config-adapter.ts
  src/adapters/fusioninventory/types.ts
  src/adapters/index.ts
  src/data/platform-matrix.ts
Due: validate:yaml, ossa:validate:security, validate:ossa:security

feat: add AGENTS.md and Duo chat-rules for best-practice GitLab Duo integration
  .gitignore
  .gitlab/duo/chat-rules.md
  AGENTS.md
Due: none

chore: sync uncommitted work
  .gitignore
  .gitlab/AGENT_DRIVEN_CI_PROPOSAL.md
  .gitlab/DUO-AGENT-PLATFORM.md
  .gitlab/FIX-MR-TARGETS.md
  .gitlab/KAS_AUDIT.md
  .gitlab/MERGE_TRAIN.md
  .gitlab/PRE-PUSH-VALIDATION.md
  .gitlab/README.md
  .gitlab/REVIEW_APP_SETUP.md
  .gitlab/ci/VERIFICATION.md
  .gitlab/issues/ADOPTION_PRIORITIES.md
  package-lock.json
  package.json
  src/AGENTS.md
  src/adapters/index.ts
  src/cli/commands/export.command.ts
  src/cli/commands/serve.command.ts
  src/cli/commands/skills.command.ts
  src/data/platform-matrix.ts
  src/di-container.ts
  src/mcp-server/index.ts
  src/sdks/kagent/crd-generator.ts
  src/sdks/kagent/types.ts
  src/services/registry.service.ts
  src/services/validation-zod.service.ts
  src/services/validation.service.ts
  src/tools/validate-dependencies.ts
  src/types/index.ts
  tests/integration/mcp-server.integration.test.ts
Due: agent:mcp-server-builder, validate:scripts-version, validate:adoption-blockers

chore: typecheck fixes and .npmrc update
  .npmrc
  src/sdks/kagent/types.ts
  src/services/manifest/manifest-crud.service.ts
  src/types/index.ts
Due: none

docs(skills): reference buildkit platform doctor in catalog
  examples/agent-skills/SKILLS_CATALOG.md
Due: conformance:examples, schema:validate-examples

chore: adapters index updates
  src/adapters/index.ts
Due: none

fix: skip .php template refs in validate-deps so Symfony adapter passes
  src/tools/validate-dependencies.ts
Due: validate:scripts-version
