Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

Duo
  .gitlab-ci.yml
  .gitlab/ci/review-apps.yml
  .gitlab/scripts/detect-version.sh
  website/scripts/fix-version-references.js
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore(ci): auto-sync OSSA spec, versions, examples, and wiki [skip ci]
  website/public/examples.json
Due: none

refactor(ci): shorten review app URLs to use MR ID only
  .gitlab/ci/review-apps.yml
  .gitlab/k8s/review-app.yaml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore(ci): auto-sync OSSA spec, versions, examples, and wiki [skip ci]
  website/lib/versions.json
Due: none

fix: prevent sync from downgrading stable version
  website/lib/versions.json
  website/scripts/fetch-versions.js
Due: none

feat(k8s): add GitOps deployment with auto-update on main
  .gitlab-ci.yml
  .gitlab/agents/ossa-local/config.yaml
  k8s/deployment.yaml
  k8s/ingress.yaml
  k8s/namespace.yaml
  k8s/secret-gitlab-registry.yaml
  k8s/service.yaml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: update versions.json and playground to v0.3.0
  website/app/playground/page.tsx
  website/lib/versions.json
Due: none

fix(ci): use apk instead of apt-get for Alpine-based kubectl image
  .gitlab/ci/review-apps.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Release/v0.3.x
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

Revert "fix(ci): use local runners for pages job"
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

hotfix(ci): use local runner for all jobs
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

ci: switch to GitLab SaaS runners (Ultimate tier)
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): use local runners for pages job
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

docs: update to v0.3.0 for release
  website/content/docs/00-home.md
  website/content/docs/readme.md
  website/content/docs/schema-reference/index.md
Due: none

fix: ensure all docs use GitLab URLs (GitLab = master/private)
  website/content/docs/agents/catalog.md
  website/content/docs/aiflow-framework-integration-with-ossa.md
  website/content/docs/changelog.md
  website/content/docs/deployment/github-mirroring.md
  website/content/docs/documentation.md
  website/content/docs/ecosystem/framework-support.md
  website/content/docs/ecosystem/overview.md
  website/content/docs/examples/aiflow-framework-integration-with-ossa.md
  website/content/docs/examples/catalog.md
  website/content/docs/examples/migration-guides.md
  website/content/docs/for-audiences/enterprises.md
  website/content/docs/for-audiences/students-researchers.md
  website/content/docs/getting-started.md
  website/content/docs/getting-started/hello-world.md
  website/content/docs/getting-started/index.md
  website/content/docs/integrations/aiflow.md
  website/content/docs/migration-guides/00-index.md
  website/content/docs/migration-guides/drupal-eca-to-ossa.md
  website/content/docs/migration-guides/index.md
  website/content/docs/migration-guides/langchain-to-ossa.md
  website/content/docs/migration-guides/langflow-to-ossa.md
  website/content/docs/openapi-extensions.md
  website/content/docs/openapi-extensions/index.md
  website/content/docs/ossa-compliant-badge.md
  website/content/docs/pre-release/index.md
  website/content/docs/templates/blog-post.md
  website/content/docs/use-cases/00-index.md
  website/content/docs/versioning.md
Due: none

docs: update Symphony + Drupal integration page for v0.3.0
  website/content/docs/integrations/symphony-drupal.md
Due: none

feat(sdk): create @ossa/runtime package with reference implementations (#40)
  src/services/validators/messaging.validator.ts
Due: none

feat(agents): Add OSSA Validator v0.3 agent
  .gitlab/agents/ossa-validator-v0.3/manifest.ossa.yaml
  .gitlab/agents/ossa-validator-v0.3/system-prompt.md
Due: validate:yaml, validate:ossa, agent:ossa-validator, ossa:validate-all-agents, ossa:validate:security, validate:ossa:security
