Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:version-sync, validate:scripts-version, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:version-sync: any of: package.json, README.md, spec/**/*
  validate:scripts-version: any of: package.json, scripts/**/*
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

feat(schema): Add v0.3.0 schema strengthening definitions
  spec/v0.3.0/ossa-0.3.0.schema.json
Due: validate:version-sync, drupal:sync:agent

chore: remove obsolete files with hardcoded versions
  .agents/README.old.md
  .agents/workflows/mr-agent-router.ossa.yaml
  .gitlab/ci/agent-integration.yml
  .gitlab/merge_request_templates/Default.md
  .gitlab/merge_request_templates/ci-pipeline.md
  .gitlab/merge_request_templates/drupal-feature.md
  .gitlab/merge_request_templates/hotfix.md
  .gitlab/merge_request_templates/ossa-agent.md
  .gitlab/merge_request_templates/recipe.md
  bin/validate-ossa-0.2.2.ts
  bin/validate-ossa-0.2.4.ts
  docs/integrations/gitlab-ultimate-observability.md
  examples/observability/gitlab-ci-template.yml
Due: docs:sync:agent, validate:ossa:security

fix: eliminate remaining hardcoded versions and colors
  .agents/discord-bot/agent.ossa.yaml
  .gitlab-ci.yml.bak
  .gitlab/agents/audit/manifest.ossa.yaml
  .gitlab/agents/orchestrator/manifest.ossa.yaml
  .kiro/settings/mcp.json
  bot/discord-bot.ossa.yaml
  bot/src/commands/about.ts
  bot/src/commands/ossa-schema.ts
  bot/src/commands/ossa-validate.ts
  bot/src/config/version.ts
  discord-bot/src/handlers/gitlab-webhook.ts
  website/app/brand/page.tsx
  website/app/page.tsx
  website/app/page.tsx.bak
  website/app/page.tsx.bak2
Due: validate:ossa:security

fix: eliminate remaining hardcoded versions and colors
  bot/src/services/llm-router.ts
  discord-bot/.env.example
  discord-bot/README.md
  discord-bot/src/config.ts
  discord-bot/src/utils/llm-router.ts
  website/.env.example
  website/app/blog/[slug]/page.tsx
  website/app/docs/[[...slug]]/page.tsx
  website/app/examples/page.tsx
  website/app/layout.tsx
  website/app/playground/layout.tsx
  website/app/robots.ts
  website/app/sitemap.ts
  website/components/GoogleAnalytics.tsx
Due: none

fix: Resolve conflicts and TypeScript errors for MR 423
  package-lock.json
  src/cli/commands/info.command.ts
  src/cli/commands/install.command.ts
  src/cli/commands/publish.command.ts
  src/cli/commands/search.command.ts
  src/cli/index.ts
  src/services/registry/registry.service.ts
Due: none

fix: sync:auto use git remote set-url for authentication
  .gitlab-ci.yml
Due: validate:ossa:security

fix: add seo-automation.yml to release branch
  .gitlab/ci/seo-automation.yml
Due: validate:ossa:security

fix: add seo-automation.yml include to CI
  .gitlab-ci.yml
Due: validate:ossa:security

fix: sync:auto authentication
  .gitlab-ci.yml
Due: validate:ossa:security

feat: Test Runner - Implement ossa test command (#155)
  src/cli/commands/test.command.ts
  src/services/test-runner/test-runner.service.ts
Due: none

fix: resolve conflicts for MR #123
  .gitlab-ci.yml.bak
  .gitlab-ci.yml.bak2
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: validate:ossa:security

feat: Deploy & Lifecycle Commands - Add ossa deploy and ossa status (#154)
  package.json
  src/cli/commands/deploy.command.ts
  src/services/deployment/deployment.service.ts
Due: validate:version-sync, validate:scripts-version

feat: Anthropic Runtime Adapter - Add Claude runtime support (#153)
  .gitlab/ci/ossa-runners.yml
  .gitlab/runners/README.md
  .gitlab/runners/ossa-runner-config.toml
Due: validate:ossa:security

fix: add seo-automation include to CI
  .gitlab-ci.yml
Due: validate:ossa:security

fix(discord-bot): TypeScript error and add ESLint config
  .gitlab-ci.yml
  .gitlab/agents/seo-optimizer/manifest.ossa.yaml
  .gitlab/ci/seo-automation.yml.bak
  website/components/GoogleAnalytics.tsx
Due: validate:ossa:security
