Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:ossa:manifests, check:ossa:version, estimate:ossa:cost, check:ossa:safety, validate:k8s-resources, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, conformance:baseline, conformance:enterprise, conformance:gitlab-kagent, conformance:examples, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-versions, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, validate:scripts-version, validate:changelog, validate:adoption-blockers, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:ossa:manifests:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Validating OSSA manifests in ${CI_PROJECT_PATH}"
  ...

check:ossa:version:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA manifest versions"
  ...

estimate:ossa:cost:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Estimating OSSA agent costs"
  ...

check:ossa:safety:
  image: node:20-alpine
  before_script:
  - apk add --no-cache curl jq
  - npm install -g @bluefly/openstandardagents@latest
  - ossa --version
  tags:
  - self-hosted
  - docker
  - linux
  stage: validate
  script:
  - echo "Checking OSSA safety configurations"
  ...

validate:k8s-resources:
  stage: validate
  image: node:20-slim
  before_script:
  - npm install -g ts-node typescript js-yaml @types/js-yaml @types/node
  script:
  - echo "ðŸ” Validating Kubernetes resource limits..."
  - ts-node examples/bridges/k8s/validate-resources.ts examples/bridges/k8s/
  allow_failure: false

validate:agent-team:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - 'echo "üîç Validating extension development team configuration..."
  
    ossa validate .gitlab/agents/extension-development-team.ossa.yaml
  
    ossa validate .gitlab/agents/examples/*.ossa.yaml
  
    echo "‚úÖ Agent team configuration valid"
  
    '

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

feat(skills-pipeline): implement real research, hardened generator, export publish flow, and honest adapter status
  README.md
  lefthook.yml
  src/adapters/base/adapter.interface.ts
  src/adapters/claude-code/adapter.ts
  src/adapters/crewai/adapter.ts
  src/adapters/cursor/adapter.ts
  src/adapters/drupal/adapter.ts
  src/adapters/drupal/generator.ts
  src/adapters/drupal/manifest-exporter.ts
  src/adapters/gitlab-duo/adapter.ts
  src/adapters/langchain/adapter.ts
  src/adapters/mcp/adapter.ts
  src/adapters/mcp/converter.ts
  src/adapters/npm/adapter.ts
  src/adapters/registry/platform-registry.ts
  src/adapters/warp/adapter.ts
  src/cli/commands/export.command.ts
  src/services/export/anthropic/anthropic-exporter.ts
  src/services/skills-pipeline/skills-export.service.ts
  src/services/skills-pipeline/skills-generator.service.ts
  src/services/skills-pipeline/skills-research.service.ts
  tests/services/skills-pipeline/skills-export.service.test.ts
  tests/services/skills-pipeline/skills-research.service.test.ts
Due: agent:mcp-server-builder, validate:yaml, ossa:validate:security, validate:ossa:security

feat(id-card): add Agent ID Card with nickname, provenance, and Merkle-chained audit trail
  spec/v0.4/agent.schema.json
  src/cli/commands/agent-wizard.command.ts
  src/cli/commands/wizard-api-first.command.ts
  src/types/generated/ossa-0.3.4.types.ts
  src/types/generated/ossa-0.3.4.zod.ts
  src/types/index.ts
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

feat(id-card): add IdCardService with reusable audit trail management
  src/cli/commands/agent-wizard.command.ts
  src/cli/commands/import.command.ts
  src/cli/commands/init.command.ts
  src/cli/commands/upgrade.command.ts
  src/cli/commands/wizard-api-first.command.ts
  src/services/id-card.service.ts
  tests/services/id-card.service.test.ts
Due: none

feat(adapter): add MobileAgent (X-PLUG) platform adapter
  src/adapters/index.ts
  src/adapters/mobile-agent/adapter.ts
Due: none

feat(extension): add Drupal CMS extension to OSSA v0.4 schema
  spec/v0.4/agent.schema.json
  spec/v0.4/extensions/drupal/drupal.schema.json
  src/adapters/drupal/manifest-exporter.ts
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

fix: remove circular self-dependency causing CI failure
  package-lock.json
  package.json
Due: validate:scripts-version, validate:adoption-blockers

fix: update package-lock.json after removing circular dependency
  package-lock.json
Due: none

fix: force Docker executor for all CI jobs
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: use GitLab shared runner tags for Docker executor
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

docs: update README with accurate v0.4.5 metrics and SDK versions
  README.md
Due: none

fix: update version references from 0.4.4 to 0.4.5
  TESTING_STRATEGY.md
  tests/a2a/a2a-mesh.test.ts
  tests/a2a/mcp-integration.test.ts
Due: agent:mcp-server-builder

security: fix 4 GitLabDuo vulnerabilities
  src/services/generation.service.ts
  src/services/skills-pipeline/skills-export.service.ts
  src/services/skills-pipeline/skills-research.service.ts
Due: none

test: fix skills-export test for execFileSync change
  tests/services/skills-pipeline/skills-export.service.test.ts
Due: none

chore: Phase 1 cleanup - remove forbidden docs, add SBOM generation
  .gitignore
  .gitlab-ci.yml
  AGENTS.md
  ARCHITECTURE.md
  PUBLISHING.md
  TESTING_STRATEGY.md
  VALIDATION.md
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

chore: remove sbom.json from git tracking
  sbom.json
Due: none

Phase 1: Repository Cleanup - Remove Forbidden Docs & Add SBOM Generation
  .gitignore
  .gitlab-ci.yml
  AGENTS.md
  ARCHITECTURE.md
  PUBLISHING.md
  TESTING_STRATEGY.md
  VALIDATION.md
  sbom.json
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(ci): add GitLab Ultimate features with auto-package and manual npm publish
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(tests): add @octokit to Jest transformIgnorePatterns for ESM compatibility
  jest.config.ts
  src/services/skills-pipeline/skills-export.service.ts
  tests/services/skills-pipeline/skills-export.service.test.ts
Due: none

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:ossa:manifests: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:version: any of: **/*.ossa.yaml, **/*.ossa.yml
  estimate:ossa:cost: any of: **/*.ossa.yaml, **/*.ossa.yml
  check:ossa:safety: any of: **/*.ossa.yaml, **/*.ossa.yml
  validate:k8s-resources: any of: examples/bridges/k8s/*.yaml, examples/bridges/k8s/*.yml
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  conformance:baseline: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/baseline/**/*
  conformance:enterprise: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/enterprise/**/*
  conformance:gitlab-kagent: any of: spec/v0.3/conformance/**/*, src/services/conformance/**/*, spec/v0.3/conformance/tests/gitlab-kagent/**/*, extensions/kagent/**/*
  conformance:examples: any of: examples/**/*, src/services/conformance/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-versions: any of: **/*.ossa.yaml, **/*.ossa.yml, **/*.ossa.json, .version.json
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  validate:scripts-version: any of: package.json, src/tools/**/*
  validate:changelog: any of: CHANGELOG.md
  validate:adoption-blockers: any of: package.json, spec/v0.3/adoption-blockers.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
