Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:drupal-standards, agent:ci-fixer, agent:config-auditor, agent:recipe-validator, agent:theme-tester, docs:sync:agent, deploy:infra:agent, deploy:ml:agent, drupal:sync:agent, content:validate-agents, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yml, **/*.yaml
  validate:ossa: any of: **/*.ossa.yaml, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:ossa-validator: any of: **/*.ossa.yaml, .agents/**/*
  agent:drupal-standards: any of: web/modules/**/*, web/themes/**/*, web/profiles/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*
  agent:config-auditor: any of: config/**/*, web/sites/*/config/**/*
  agent:recipe-validator: any of: recipes/**/*
  agent:theme-tester: any of: web/themes/**/*, **/*.css, **/*.scss
  docs:sync:agent: any of: docs/**/*, README.md
  deploy:infra:agent: any of: infrastructure/**/*
  deploy:ml:agent: any of: models/**/*
  drupal:sync:agent: any of: spec/**/*
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

chore(release): update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

fix(release): setup v0.3.2 spec and versioning after v0.3.1 release
  .gitignore
  .gitlab/ci/release-workflow.yml
  .version.json
  package.json
  spec/v0.3.2/UNIFIED-SCHEMA.md
  spec/v0.3.2/adapters/drupal.md
  spec/v0.3.2/adapters/symfony.md
  spec/v0.3.2/agent-test.schema.json
  spec/v0.3.2/examples/agent-with-identity.ossa.yaml
  spec/v0.3.2/examples/drupal-content-writer.ossa.yaml
  spec/v0.3.2/examples/drupal-moderation-assistant.ossa.yaml
  spec/v0.3.2/examples/multi-provider-identity.ossa.yaml
  spec/v0.3.2/examples/quick-wins/complete-agent-with-quick-wins.ossa.yaml
  spec/v0.3.2/extensions/agent-identity.yaml
  spec/v0.3.2/extensions/drupal.md
  spec/v0.3.2/ossa-0.3.2.schema.json
  spec/v0.3.2/protocols/sse.md
  spec/v0.3.2/protocols/webrtc.md
  spec/v0.3.2/protocols/websocket.md
  spec/v0.3.2/schemas/agent-unified.yaml
  spec/v0.3.2/schemas/capabilities.yaml
  spec/v0.3.2/schemas/functions.yaml
  spec/v0.3.2/schemas/messaging/channel.schema.json
  spec/v0.3.2/schemas/messaging/delivery-receipt.schema.json
  spec/v0.3.2/schemas/messaging/message.schema.json
  spec/v0.3.2/schemas/messaging/subscription.schema.json
  spec/v0.3.2/schemas/runtime.yaml
  spec/v0.3.2/schemas/taxonomy.yaml
  spec/v0.3.2/schemas/unified-llm.yaml
  spec/v0.3.2/taxonomy.yaml
Due: validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, drupal:sync:agent, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

fix: sync version references to v0.3.2
  README.md
  package.json
Due: docs:sync:agent

duo
  .gitlab/ci/release-workflow.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(spec): add separation of duties and access tiers to OSSA v0.3.2
  spec/v0.3.2/access_tiers.yaml
  spec/v0.3.2/examples/access-tiers/README.md
  spec/v0.3.2/examples/access-tiers/code-critic.ossa.yaml
  spec/v0.3.2/examples/access-tiers/compliance-governor.ossa.yaml
  spec/v0.3.2/examples/access-tiers/deployment-operator.ossa.yaml
  spec/v0.3.2/examples/access-tiers/doc-generator.ossa.yaml
  spec/v0.3.2/examples/access-tiers/security-scanner.ossa.yaml
  spec/v0.3.2/ossa-0.3.2.schema.json
  spec/v0.3.2/taxonomy.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, drupal:sync:agent, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

chore(release): Add v0.3.2 changelog entry
  CHANGELOG.md
Due: none

fix(ci): Fix release:audit sha256sum command
  .gitlab/ci/release-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

spec(runtime): Add agent lifecycle and memory specification (#34)
  spec/v0.3.2/runtime/RUNTIME.md
  spec/v0.3.2/runtime/memory-model.yaml
  spec/v0.3.2/runtime/runtime.yaml
Due: validate:yaml, drupal:sync:agent, schema:validate-examples, ossa:validate:security, validate:ossa:security

feat(openapi): Add OSSA OpenAPI extensions schema (#175)
  package.json
  scripts/validate-openapi-extensions.ts
  spec/extensions/openapi/ossa-openapi-extensions.schema.json
Due: drupal:sync:agent, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

chore(ci): Archive 28 unused CI configuration files (#374)
  .gitlab/ci/_archived/README.md
  .gitlab/ci/_archived/agent-integration.yml
  .gitlab/ci/_archived/analytics.yml
  .gitlab/ci/_archived/auto-release.yml
  .gitlab/ci/_archived/autonomous-evolution.yml
  .gitlab/ci/_archived/autonomous-workflows.yml
  .gitlab/ci/_archived/autoscaler-setup.yml
  .gitlab/ci/_archived/complete-deployment.yml
  .gitlab/ci/_archived/docs-generation.yml
  .gitlab/ci/_archived/evolution-dashboard.yml
  .gitlab/ci/_archived/intelligence-automation.yml
  .gitlab/ci/_archived/mirror-github.yml
  .gitlab/ci/_archived/ossa-integration.yml
  .gitlab/ci/_archived/pages.yml
  .gitlab/ci/_archived/predictive-analysis.yml
  .gitlab/ci/_archived/release-automation.yml
  .gitlab/ci/_archived/release-environments.yml
  .gitlab/ci/_archived/resource-validation.yml
  .gitlab/ci/_archived/review-app.yml
  .gitlab/ci/_archived/runner-maintenance.yml
  .gitlab/ci/_archived/runner-optimization.yml
  .gitlab/ci/_archived/scheduled-research.yml
  .gitlab/ci/_archived/schema-automation.yml
  .gitlab/ci/_archived/self-evolving.yml
  .gitlab/ci/_archived/self-healing-setup.yml
  .gitlab/ci/_archived/self-healing.yml
  .gitlab/ci/_archived/validate-documentation.yml
  .gitlab/ci/_archived/validate-no-hardcoded-models.yml
  .gitlab/ci/_archived/version-sync.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

feat(ci): Add OpenAPI validation pipeline (#176)
  .gitlab-ci.yml
  .gitlab/ci/agent-integration.yml
  .gitlab/ci/analytics.yml
  .gitlab/ci/auto-release.yml
  .gitlab/ci/autonomous-evolution.yml
  .gitlab/ci/autonomous-workflows.yml
  .gitlab/ci/autoscaler-setup.yml
  .gitlab/ci/complete-deployment.yml
  .gitlab/ci/docs-generation.yml
  .gitlab/ci/evolution-dashboard.yml
  .gitlab/ci/intelligence-automation.yml
  .gitlab/ci/mirror-github.yml
  .gitlab/ci/openapi-validation.yml
  .gitlab/ci/ossa-integration.yml
  .gitlab/ci/pages.yml
  .gitlab/ci/predictive-analysis.yml
  .gitlab/ci/release-automation.yml
  .gitlab/ci/release-environments.yml
  .gitlab/ci/resource-validation.yml
  .gitlab/ci/review-app.yml
  .gitlab/ci/runner-maintenance.yml
  .gitlab/ci/runner-optimization.yml
  .gitlab/ci/scheduled-research.yml
  .gitlab/ci/schema-automation.yml
  .gitlab/ci/self-evolving.yml
  .gitlab/ci/self-healing-setup.yml
  .gitlab/ci/self-healing.yml
  .gitlab/ci/validate-documentation.yml
  .gitlab/ci/validate-no-hardcoded-models.yml
  .gitlab/ci/version-sync.yml
  .spectral.yaml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

spec(v0.3.2): Add Task/Workflow examples and infrastructure specs (#429, #426)
  spec/v0.3.2/examples/tasks/data-transform.ossa.yaml
  spec/v0.3.2/examples/tasks/publish-content.ossa.yaml
  spec/v0.3.2/examples/workflows/content-publishing.ossa.yaml
  spec/v0.3.2/examples/workflows/deployment-pipeline.ossa.yaml
  spec/v0.3.2/infrastructure/service-ports.yaml
  spec/v0.3.2/protocols/delegation.yaml
Due: validate:yaml, validate:ossa, agent:ossa-validator, drupal:sync:agent, schema:validate-examples, ossa:validate:security, validate:ossa:security

fix(ci): clean up release:audit script YAML syntax
  .gitlab/ci/release-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): clean up release:audit script YAML syntax
  .gitlab-ci.yml
  .gitlab/ci/release-environments.yml
  .gitlab/ci/release-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security
