Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ossa-validator, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ossa-validator: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml

fix: remove extra closing brace in manage-milestone-mrs.ts
  src/tools/gitlab/manage-milestone-mrs.ts
Due: none

fix: correct import paths in gen-zod and validate-schema (use ../lib/ not ./lib/)
  src/tools/generators/gen-zod.ts
  src/tools/validation/validate-schema.ts
Due: none

fix: resolve all remaining TypeScript errors
  src/tools/compliance-audit.ts
  src/tools/gitlab/configure-gitlab-branch-protection.ts
  src/tools/lib/exec.ts
Due: none

fix: use type assertion for ProtectedBranches.protect API call
  src/tools/gitlab/configure-gitlab-branch-protection.ts
Due: none

feat(schema): add 9 framework extension definitions for broader OSSA adoption
  spec/v0.3.3/ossa-0.3.3.schema.json
Due: agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

fix: add docs placeholder script and exclude generated files from build
  scripts/process-doc-templates.ts
  tsconfig.json
Due: none

feat(schema): add Kubernetes and kagent.dev extensions for kind cluster deployments
  spec/v0.3.3/ossa-0.3.3.schema.json
Due: agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

fix(ci): remove broken platform-agents include, fix optional key syntax
  .gitlab-ci.yml
  .gitlab/ci/post-release.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(ci): add missing stages for all included CI files
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

refactor(ci): strip down to spec-focused pipeline - validate schema, run tests, release
  .gitlab-ci.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix(schema): add missing properties for production agents
  package.json
  spec/v0.3.3/ossa-0.3.3.schema.json
Due: agent:ossa-validator, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets

feat(sdks): add multi-language SDK support
  src/sdks/go/README.md
  src/sdks/go/cmd/ossa/main.go
  src/sdks/go/go.mod
  src/sdks/go/ossa/manifest.go
  src/sdks/go/ossa/ossa_test.go
  src/sdks/go/ossa/schema/ossa-0.3.3.schema.json
  src/sdks/go/ossa/types.go
  src/sdks/go/ossa/validator.go
  src/sdks/python/ossa/__init__.py
  src/sdks/python/pyproject.toml
  src/sdks/typescript/README.md
  src/sdks/typescript/index.ts
  src/sdks/typescript/package.json
  src/sdks/typescript/types.ts
Due: none

feat(openapi): comprehensive CLI OpenAPI spec - 100% coverage
  openapi/cli-commands.openapi.yaml
Due: validate:yaml, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate:security, validate:ossa:security

feat(cli): add extension system for platform-specific commands
  src/cli/commands/release.command.ts
  src/cli/extensions/gitlab-release.commands.ts
  src/cli/extensions/gitlab.extension.ts
  src/cli/extensions/index.ts
  src/cli/index.ts
Due: none

feat(cli): add --output json flag to validate and test commands
  src/cli/commands/test.command.ts
  src/cli/commands/validate.command.ts
Due: none

refactor(cli): apply DRY and SOLID principles to CLI utilities
  src/cli/commands/test.command.ts
  src/cli/commands/validate.command.ts
  src/cli/extensions/gitlab-release.commands.ts
  src/cli/extensions/index.ts
  src/cli/index.ts
  src/cli/utils/gitlab-config.ts
  src/cli/utils/index.ts
  src/cli/utils/output.ts
Due: none

refactor(cli): add shared manifest loading utilities (DRY)
  src/cli/commands/diff.command.ts
  src/cli/commands/lint.command.ts
  src/cli/utils/index.ts
  src/cli/utils/manifest-loader.ts
Due: none

refactor(cli): apply DRY to dependencies and contract commands
  src/cli/commands/contract.command.ts
  src/cli/commands/dependencies.command.ts
Due: none
