Repository blueflyio/openstandardagents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: roadmap:validate, roadmap:parse, roadmap:sync:linear, validate:agent-team, ossa:generate-schema, agent:ossa-validator, agent:drupal-standards-checker, agent:mcp-server-builder, validate:yaml, validate:ossa, validate:gitlab-ci, agent:ci-fixer, agent:website-reviewer, post-review:docs-sync, bot:wiki-sync, content:validate-agents, validate:openapi:ossa-extensions, validate:openapi:spectral, validate:openapi:schema, validate:openapi:examples, validate:openapi:report, ossa:validate-all-agents, schema:validate-examples, schema:generate-python, schema:generate-typescript, schema:generate-snippets, ossa:validate:security, validate:ossa:security

roadmap:validate:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üìã Validating ROADMAP.md"
  - npm install
  - npm run roadmap:validate ROADMAP.md || echo "Validation warnings"
  artifacts:
    reports:
      junit: roadmap-validation.xml
    paths:
    - roadmap-validation.json

roadmap:parse:
  stage: roadmap
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Parsing roadmap to structured format"
  - npm install
  - npm run roadmap:parse ROADMAP.md --output roadmap.json
  - npm run roadmap:export --format yaml --output roadmap.yaml
  artifacts:
    paths:
    - roadmap.json
    - roadmap.yaml
  ...

roadmap:sync:linear:
  stage: roadmap
  image: node:${NODE_VERSION}
  dependencies:
  - roadmap:parse
  script:
  - echo "üîÑ Syncing roadmap to Linear"
  - npm install
  ...

validate:agent-team:
  stage: validate
  image: node:${NODE_VERSION}-alpine
  script:
  - 'echo "üîç Validating extension development team configuration..."
  
    ossa validate .gitlab/agents/extension-development-team.ossa.yaml
  
    ossa validate .gitlab/agents/examples/*.ossa.yaml
  
    echo "‚úÖ Agent team configuration valid"
  
    '

ossa:generate-schema:
  image: node:${OSSA_NODE_VERSION}-alpine
  variables:
    NPM_CONFIG_LEGACY_PEER_DEPS: '1'
  before_script:
  - apk add --no-cache git python3 make g++
  - npm ci --legacy-peer-deps
  - npm run build
  - "if [ ! -f \"dist/cli/index.js\" ]; then\n  echo \"ERROR: OSSA CLI not built\"\n  exit 1\nfi\n"
  stage: build
  ...

agent:ossa-validator:
  image: node:${NODE_VERSION:-20}-alpine
  before_script:
  - apk add --no-cache git curl jq bash
  - npm ci --legacy-peer-deps --prefer-offline --no-audit
  - npm run build
  variables:
    GITLAB_TOKEN: ${SERVICE_ACCOUNT_SECURITY_TOKEN:-${SERVICE_ACCOUNT_DEPLOYMENT_TOKEN:-${CI_JOB_TOKEN}}}
  ...

agent:drupal-standards-checker:
  image: node:${NODE_VERSION:-20}-alpine
  before_script:
  - apk add --no-cache git curl jq bash
  - npm ci --legacy-peer-deps --prefer-offline --no-audit
  - npm run build
  variables:
    GITLAB_TOKEN: ${SERVICE_ACCOUNT_DEPLOYMENT_TOKEN:-${CI_JOB_TOKEN}}
    agent_name: drupal-standards-checker
  script:
  ...

agent:mcp-server-builder:
  image: node:${NODE_VERSION:-20}-alpine
  before_script:
  - apk add --no-cache git curl jq bash
  - npm ci --legacy-peer-deps --prefer-offline --no-audit
  - npm run build
  variables:
    GITLAB_TOKEN: ${SERVICE_ACCOUNT_DEPLOYMENT_TOKEN:-${CI_JOB_TOKEN}}
    agent_name: mcp-server-builder
  script:
  ...

validate:yaml:
  stage: validate
  image: python:3.11-alpine
  before_script:
  - pip install yamllint --quiet
  script:
  - 'echo "üîç Validating YAML files..."
  
    yamllint -c .yamllint.yml . || true
  
    echo "‚úÖ YAML validation complete"
  
    '
  allow_failure: true

validate:ossa:
  stage: validate
  image: node:20-alpine
  before_script:
  - npm install -g @bluefly/openstandardagents
  script:
  ...

validate:ossa:security:
  validate

fix(tests): add v0.3.5 test fixtures directory
  tests/fixtures/v0.3.5/.gitkeep
Due: none

feat: Add platform-specific templates to scaffold command
  src/cli/commands/scaffold.command.ts
  templates/platforms/cursor/code-assistant/manifest.ossa.yaml
  templates/platforms/drupal/content-agent/manifest.ossa.yaml
  templates/platforms/gitlab/ci-agent/manifest.ossa.yaml
  templates/platforms/kubernetes/operator-agent/manifest.ossa.yaml
  templates/platforms/langflow/workflow-agent/manifest.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate:security, validate:ossa:security

feat: Add VS Code extension for OSSA
  extensions/vscode/src/completion.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/hover.ts
  extensions/vscode/src/validator.ts
  extensions/vscode/tsconfig.json
  templates/platforms/cursor/code-assistant/manifest.ossa.yaml
  templates/platforms/drupal/content-agent/manifest.ossa.yaml
  templates/platforms/gitlab/ci-agent/manifest.ossa.yaml
  templates/platforms/kubernetes/operator-agent/manifest.ossa.yaml
  templates/platforms/langflow/workflow-agent/manifest.ossa.yaml
Due: agent:ossa-validator, validate:yaml, validate:ossa, ossa:validate:security, validate:ossa:security

docs: Add platform integration guides
  docs/integration/drupal/getting-started.md
  docs/integration/gitlab/getting-started.md
Due: post-review:docs-sync, bot:wiki-sync

fix(eslint): disable explicit-function-return-types rule causing 2195 errors
  .eslintrc.json
Due: none

fix(eslint): exclude test files from type-checking to resolve parsing errors
  .eslintrc.json
Due: none

fix: achieve production-grade code quality for v0.3.5 release
  .eslintrc.json
  src/dev-cli/src/commands/migrate.command.ts
  src/dev-cli/src/services/agent-migration.service.ts
  src/repositories/schema.repository.ts
  src/services/conformance/profile-loader.service.ts
  tests/integration/cli/generate.test.d.ts
  tests/integration/cli/validate.test.d.ts
  tests/integration/examples/validate-all-examples.test.d.ts
  tests/setup.d.ts
  tests/unit/cli/deploy.test.ts
  tests/unit/repositories/manifest.repository.test.d.ts
  tests/unit/repositories/schema.repository.test.d.ts
  tests/unit/services/generation.service.test.d.ts
  tests/unit/services/migration.service.test.d.ts
  tests/unit/services/validation.service.test.d.ts
  tests/unit/services/validation.service.test.ts
  tests/unit/validators/contract.validator.test.ts
  tests/unit/validators/dependencies.validator.test.ts
  tests/unit/validators/kagent.validator.test.ts
  tsconfig.test.json
Due: none

feat: add environment cleanup tool for GitLab environment management
  package.json
  src/dev-cli/src/commands/env-cleanup.command.ts
  src/dev-cli/src/index.ts
Due: none

fix: update conformance profiles to match expected schema format
  spec/v0.3/conformance/profiles/baseline.json
  spec/v0.3/conformance/profiles/enterprise.json
  spec/v0.3/conformance/profiles/gitlab-kagent.json
Due: ossa:generate-schema, agent:ossa-validator, schema:validate-examples

fix: correct shell syntax error in conformance CI jobs
  .gitlab/ci/conformance-jobs.yml
Due: validate:yaml, validate:gitlab-ci, agent:ci-fixer, ossa:validate:security, validate:ossa:security

fix: update conformance test manifests to match profile requirements
  spec/v0.3/conformance/tests/baseline/valid/basic-agent.yaml
  spec/v0.3/conformance/tests/baseline/valid/minimal-agent.yaml
  spec/v0.3/conformance/tests/enterprise/valid/enterprise-agent.yaml
  spec/v0.3/conformance/tests/enterprise/valid/production-agent.yaml
  spec/v0.3/conformance/tests/gitlab-kagent/valid/kagent-agent.yaml
  spec/v0.3/conformance/tests/gitlab-kagent/valid/kagent-full.yaml
Due: agent:ossa-validator, validate:yaml, schema:validate-examples, ossa:validate:security, validate:ossa:security

refactor: consolidate VS Code extension into extensions/vscode
  .gitlab/components/workflow/golden/enhanced-template.yml
  extensions/vscode/.vscodeignore
  extensions/vscode/language-configuration.json
  extensions/vscode/package.json
  extensions/vscode/snippets/ossa-snippets.json
  extensions/vscode/src/commands.ts
  extensions/vscode/src/completion.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/hover.ts
  extensions/vscode/src/validator.ts
  src/repositories/schema.repository.ts
  src/tools/vscode-ossa/.eslintrc.json
  src/tools/vscode-ossa/.gitignore
  src/tools/vscode-ossa/CHANGELOG.md
  src/tools/vscode-ossa/DEVELOPMENT.md
  src/tools/vscode-ossa/LICENSE
  src/tools/vscode-ossa/PROJECT_SUMMARY.md
  src/tools/vscode-ossa/PUBLISHING.md
  src/tools/vscode-ossa/QUICKSTART.md
  src/tools/vscode-ossa/README.md
  src/tools/vscode-ossa/install-and-test.ts
  src/tools/vscode-ossa/src/extension.ts
  src/tools/vscode-ossa/src/validator.ts
  src/tools/vscode-ossa/tsconfig.json
Due: validate:yaml, ossa:validate:security, validate:ossa:security

fix: remove hardcoded paths and unvalidated claims
  .gitignore
  README.md
  src/services/codegen/generators/openapi-zod.generator.ts
Due: none

fix: remove all hardcoded developer paths
  .gitlab/issues/ADOPTION_PRIORITIES.md
  .gitlab/issues/BUILDKIT_AGENTS_SPAWN_BUG.md
  hooks/pre-push.sample
  src/sdks/python/SDK_SUMMARY.md
  src/tools/validation/validate-ossa.ts
  src/types/generated/openapi/agent-communication.zod.ts
  src/types/generated/openapi/agent-crud.zod.ts
  src/types/generated/openapi/agent-discovery.zod.ts
  src/types/generated/openapi/agent-identity.zod.ts
  src/types/generated/openapi/drupal-agent-api.openapi.zod.ts
  src/types/generated/openapi/github-sync.zod.ts
  src/types/generated/openapi/helm-generator.openapi.zod.ts
  src/types/generated/openapi/ossa-core-api.openapi.zod.ts
  src/types/generated/openapi/ossa-registry-api.openapi.zod.ts
  src/types/generated/openapi/ossa-registry.openapi.zod.ts
  src/types/generated/openapi/self-evolving-ecosystem.openapi.zod.ts
  src/types/generated/openapi/sse-streams.zod.ts
  src/types/generated/openapi/unified-agent-gateway.openapi.zod.ts
  src/types/generated/openapi/websocket-events.zod.ts
Due: none

docs: clarify Python SDK status in README
  README.md
Due: none

fix: remove common_npm local folder reference and use npm package names
  .gitlab/components/workflow/golden/enhanced-template.yml
Due: validate:yaml, ossa:validate:security, validate:ossa:security

Path conditions:
  roadmap:validate: any of: ROADMAP.md, roadmaps/**/*.md
  roadmap:parse: any of: ROADMAP.md
  roadmap:sync:linear: any of: ROADMAP.md
  validate:agent-team: any of: .gitlab/agents/**/*.ossa.yaml
  ossa:generate-schema: any of: spec/**/*.json
  agent:ossa-validator: ((any of: **/*.ossa.yaml, **/*.ossa.yml, spec/**/*) or (any of: spec/**/*)) or (any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*, spec/**/*)
  agent:drupal-standards-checker: any of: **/*.module, **/*.php, **/composer.json
  agent:mcp-server-builder: any of: **/mcp/**, **/*mcp*.ts, **/*mcp*.js
  validate:yaml: any of: **/*.yaml, **/*.yml
  validate:ossa: any of: **/*.ossa.yaml, **/*.ossa.yml, .gitlab/agents/**/*, .agents/**/*
  validate:gitlab-ci: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:ci-fixer: any of: .gitlab-ci.yml, .gitlab/ci/**/*.yml
  agent:website-reviewer: any of: website/**/*
  post-review:docs-sync: any of: wiki/**/*, docs/**/*
  bot:wiki-sync: any of: website/content/docs/**/*.md, docs/**/*.md
  content:validate-agents: any of: .gitlab/agents/content-team/**/*
  validate:openapi:ossa-extensions: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:spectral: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:schema: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:examples: (any of: openapi/**/*, spec/extensions/openapi/**/*, scripts/validate-openapi-extensions.ts) or (any of: openapi/**/*)
  validate:openapi:report: any of: openapi/**/*
  ossa:validate-all-agents: any of: .gitlab/agents/**/*.ossa.yaml, .gitlab/agents/**/*.ossa.yml
  schema:validate-examples: any of: spec/**/*, examples/**/*
  schema:generate-python: any of: spec/**/*.schema.json
  schema:generate-typescript: any of: spec/**/*.schema.json
  schema:generate-snippets: any of: spec/**/*.schema.json
  ossa:validate:security: any of: **/*.yml, **/*.yaml, **/security/**/*
  validate:ossa:security: any of: **/*.yml, **/*.yaml
