Repository blueflyio/openstandardagents: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

Path conditions:
  eslint: any of: src/**/*.{js,ts,tsx}
  prettier: any of: **/*.{js,ts,tsx,json,md,scss,css,yaml,yml}

feat: achieve 100% TypeScript build success for v0.1.9 release
  ROADMAP.md
  dist/core/integration/platform-integration.d.ts.map
  dist/core/integration/platform-integration.js
  dist/core/integration/platform-integration.js.map
  dist/core/registry/capability-matcher.js
  dist/core/registry/capability-matcher.js.map
  dist/core/registry/index.d.ts.map
  dist/core/registry/index.js
  dist/core/registry/index.js.map
  dist/core/registry/registry-api.js
  dist/core/registry/registry-api.js.map
  dist/core/registry/registry-core.js
  dist/core/registry/registry-core.js.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  src/core/integration/platform-integration.ts
  src/core/registry/capability-matcher.ts
  src/core/registry/index.ts
  src/core/registry/registry-api.ts
  src/core/registry/registry-core.ts
  src/index.ts
  src/mcp-server/index.ts
  src/mcp-server/tools/ossa-tools.ts
Due: eslint, prettier

Release v0.1.9: OSSA Master Orchestrator with GitLab CI Integration
  CHANGELOG.md
  README.md
  docs/.gitlab-components-usage.md
  jest.config.cjs
  tests/basic.test.ts
  tests/setup.ts
Due: prettier

feat: add migration manifest for v0.1.9 specification separation
  migration-manifest.json
Due: none

fix: CI pipeline for OSSA specification package
  .gitlab-ci.yml
  jest.config.js
Due: none

fix: remove invalid empty cache key configuration
  .gitlab-ci.yml
Due: none

docs: update ROADMAP with v0.1.9 migration plan for specification separation
  ROADMAP.md
Due: none

docs: add handoff documentation for GitLab agent
  docs/handoff-to-gitlab-agent.md
Due: prettier

feat: enhance golden component with specified inputs and TypeScript validation
  .gitlab-ci.yml
  .gitlab/components/workflow/golden/component.yml
  .gitlab/components/workflow/golden/template.yml
  .gitlab/validate-golden.sh
  package.json
  scripts/validate-golden.ts
Due: prettier

fix: repair critical development infrastructure
  .eslintrc.js
  CLAUDE.md
  docs/releases/v0.1.9.md
  jest.config.js
  package-lock.json
  package.json
Due: prettier

fix: remove all fake URLs and correct metadata for v0.1.9 release
  README.md
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/specification/validator.d.ts
  dist/specification/validator.d.ts.map
  dist/specification/validator.js
  dist/specification/validator.js.map
  package.json
  src/api/agent-manifest.schema.json
  src/api/specification.openapi.yml
  src/api/workflow.schema.json
  src/index.ts
  src/specification/validator.ts
  tests/basic.test.ts
Due: eslint, prettier

fix: correct YAML syntax error in detect:version job
  .gitlab-ci.yml
Due: none

feat: implement 55 REBUILD projects audit system
  src/api/rebuild-audit.openapi.yml
Due: prettier

feat: implement automated project discovery and intelligence system
  src/api/project-discovery.openapi.yml
Due: prettier

fix: correct GitLab CI script syntax errors
  .gitlab-ci.yml
Due: none

fix: exclude auto-merge jobs from main branch execution
  .gitlab-ci.yml
Due: none

fix: make CI pass and produce tag
  .gitlab-ci.yml
  CI_FIX_SUMMARY.md
  docs/MIGRATION_COMPLETE.md
  docs/OSSA_STANDARDS.md
  docs/claude-desktop-integration.md
  docs/config-files.md
  src/mcp-server-implementation.ts
Due: prettier

fix: ensure all jobs use npm install instead of npm ci
  .gitlab-ci.yml
Due: none

feat: add auto-tagging, auto-merge to development, and release tagging
  .gitlab-ci.yml
Due: none

feat(ci): implement semantic release with branching conventions
  .gitlab-ci.yml
  CHANGELOG.md
  docs/BRANCHING_CONVENTIONS.md
Due: prettier

fix(ci): simplify to basic tagging workflow first
  .gitlab-ci.yml
Due: none

feat(ci): restore complete semantic release workflow
  .gitlab-ci.yml
Due: none

revert: restore original working CI from commit 82acdd289
  .gitlab-ci.yml
Due: none

feat: Add agent definitions and orchestrator from ossa-orchestrator-implementation
  .agents/.DS_Store
  src/cli/commands/ossa.ts
  src/core/orchestrator/index.ts
  src/core/orchestrator/ossa-orchestrator.ts
Due: eslint, prettier

fix: Remove agent directories from root - belong in .agents/
  capability-mapping-analyzer/README.md
  capability-mapping-analyzer/agent.yml
  capability-mapping-analyzer/openapi.yaml
  cli-creation-architect/README.md
  cli-creation-architect/agent.yml
  cli-creation-architect/openapi.yaml
  config-validation-expert/README.md
  config-validation-expert/agent.yml
  config-validation-expert/openapi.yaml
  master-orchestration-coordinator/README.md
  master-orchestration-coordinator/agent.yml
  master-orchestration-coordinator/openapi.yaml
  naming-convention-enforcer/README.md
  naming-convention-enforcer/agent.yml
  naming-convention-enforcer/openapi.yaml
  opcua-protocol-architect/README.md
  opcua-protocol-architect/agent.yml
  opcua-protocol-architect/openapi.yaml
  performance-metrics-collector/README.md
  performance-metrics-collector/agent.yml
  performance-metrics-collector/openapi.yaml
  performance-optimization-agent/README.md
  performance-optimization-agent/agent.yml
  performance-optimization-agent/openapi.yaml
  security-audit-orchestrator/README.md
  security-audit-orchestrator/agent.yml
  security-audit-orchestrator/openapi.yaml
  template-generation-specialist/README.md
  template-generation-specialist/agent.yml
  template-generation-specialist/openapi.yaml
  training-pipeline-orchestrator/README.md
  training-pipeline-orchestrator/agent.yml
  training-pipeline-orchestrator/openapi.yaml
  whisper-integration-specialist/README.md
  whisper-integration-specialist/agent.yml
  whisper-integration-specialist/openapi.yaml
Due: prettier

feat: implement comprehensive ADK integration for OSSA framework
  ADK_REVISION_PLAN.md
  agent_schema_comparison.md
  docs/adk-integration.md
  examples/adk-integration/code-review-workflow.yml
  examples/adk-integration/customer-support.yml
  examples/adk-integration/data-pipeline.yml
  general_agent_schema.yml
  src/adk/adapters/index.ts
  src/adk/agents/custom-agent.ts
  src/adk/agents/index.ts
  src/adk/agents/llm-agent.ts
  src/adk/agents/workflow-agent.ts
  src/adk/index.ts
  src/adk/orchestration/index.ts
  src/adk/state/index.ts
  src/adk/tools/index.ts
Due: eslint, prettier

fix: complete incomplete template literal in mcp-server-implementation
  package-lock.json
  src/core/mcp-server-implementation.ts
Due: eslint, prettier

feat: update ADK integration with agent implementations
  src/adk/agents/custom-agent.ts
  src/adk/agents/index.ts
  src/adk/agents/llm-agent.ts
  src/adk/agents/workflow-agent.ts
  src/adk/index.ts
Due: eslint, prettier

fix: resolve TypeScript build errors for ADK integration
  src/adk/adapters/index.ts
  src/adk/orchestration/index.ts
  src/adk/tools/index.ts
  src/core/mcp-server-implementation.ts
  src/services/worktree/branching-strategy.ts
  src/services/worktree/git-worktree-manager.ts
  src/types/index.ts
Due: eslint, prettier

fix: resolve more TypeScript errors
  dist/types/index.d.ts
  dist/types/index.d.ts.map
  dist/types/index.js.map
  src/cli/commands/worktree.ts
  src/core/index.ts
  src/services/worktree/branching-strategy.ts
  src/services/worktree/git-worktree-manager.ts
Due: eslint, prettier

fix: achieve zero TypeScript errors - build passes!
  src/cli/commands/worktree.ts
  src/core/mcp-server-implementation.ts
  src/core/orchestrator/ossa-orchestrator.ts
  src/services/orchestration/worktree-orchestrator.ts
  src/services/worktree/git-worktree-manager.ts
Due: eslint, prettier

fix: GitLab CI configuration for OSSA v0.1.9
  .gitlab-ci.yml
  .gitlab/components/workflow/golden/template.yml
Due: prettier

fix: Critical GitLab CI configuration fixes
  .gitlab-ci.yml
  .gitlab/components/workflow/golden/template.yml
Due: prettier

feat: Consolidate valuable work from backup branches
  ROADMAP_consolidated.md
  docs/voice-agent-compliance_consolidated.md
  src/mcp/crud-server.ts
Due: eslint, prettier

fix: Temporarily exclude MCP directory from TypeScript build
  COMPLIANCE-ENGINE_backup.md
  Dockerfile
  src/mcp/crud-server.ts
  tsconfig.json
Due: eslint, prettier

fix: Resolve MCP server TypeScript typing issues
  package-lock.json
  package.json
  src/mcp/simple-server.ts
  tsconfig.json
Due: eslint, prettier

docs: Complete professional README rewrite with accurate information
  README.md
Due: none
