Repository blueflyio/openstandardagents: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint src/**/*.ts --fix
  stage_fixed: true

prettier:
  run: npx prettier --write --list-different src/**/*.ts tests/**/*.ts *.json *.md
  stage_fixed: true

fix: Systematic cleanup - make all scripts and tests work properly
  .eslintrc.cjs
  package.json
  scripts/validate-schemas.cjs
  tests/basic.test.ts
  tsconfig.json
Due: prettier

refactor: Clean up project structure and organize files
  .gitignore
  config/common_npm/consolidated-policies.json
  docs/.gitlab-components-usage.md
  docs/ADK_REVISION_PLAN.md
  docs/CHANGELOG-v0.1.9.md
  docs/coordination-plans/agent-efficiency-optimization.py
  docs/coordination-plans/cognitive-orchestration-master-plan.md
  docs/coordination-plans/cognitive-orchestration-status-dashboard.md
  docs/coordination-plans/deployment-completion-summary.md
  docs/coordination-plans/infrastructure-setup-workflow.yaml
  docs/coordination-plans/maximum-parallel-deployment.md
  docs/coordination-plans/phase1-execution-log.md
  docs/coordination-plans/phase2-aiml-execution.md
  docs/coordination-plans/phase3-api-development-parallel.md
  docs/coordination-plans/phase4-governance-security-parallel.md
  docs/deployment/100-agent-deployment-strategy.md
  docs/deployment/agent-deployment-scripts.sh
  docs/migration/agent_schema_comparison.md
  docs/migration/general_agent_schema.yml
  docs/migration/migration-manifest.json
  extension/manifest.json
  jest.config.cjs
  lefthook.yml
  playwright.config.ts
  services/config/openapitools.json
  services/scripts/parallel-recovery.sh
  services/worktree/branching-strategy.ts
  services/worktree/git-worktree-manager.ts
  settings.local.json
  src/api/agent-worktree-schema.json
Due: prettier

fix: Resolve OpenAPI 3.1 validation issues
  src/api/ossa-complete.openapi.yml
Due: prettier

clean up branches
  scripts/activate-with-existing-qdrant.ts
  scripts/monitor-activation.sh
  scripts/vortex-federated-integration.ts
Due: prettier

feat: add modern GitLab Pages documentation site
  .gitlab-ci.yml
  public/assets/favicon.svg
  public/assets/script.js
  public/assets/style.css
  public/docs/getting-started/index.md
  public/docs/getting-started/readme.md
  public/docs/overview/index.md
  public/docs/specification/index.md
  public/index.html
Due: prettier

feat: add infrastructure for OpenAPI documentation portal
  ROADMAP.md
  __DELETE_LATER/agents/voice-assistant/agent-manifest.yml
  __DELETE_LATER/test-old/ACDL_TEST_PLAN.md
  __DELETE_LATER/test-old/TESTING.md
  __DELETE_LATER/test-old/api/acdl-discovery.spec.ts
  __DELETE_LATER/test-old/api/acdl-matching.spec.ts
  __DELETE_LATER/test-old/api/acdl-registration.spec.ts
  __DELETE_LATER/test-old/api/acdl.spec.ts
  __DELETE_LATER/test-old/api/generated.spec.mjs
  __DELETE_LATER/test-old/api/openapi.spec.ts
  __DELETE_LATER/test-old/api/operations.json
  __DELETE_LATER/test-old/api/sample.api.test.ts
  __DELETE_LATER/test-old/fixtures/requests/example.json
  __DELETE_LATER/test-old/fixtures/responses/example.json
  __DELETE_LATER/test-old/mocks/acdl-mock-server.ts
  __DELETE_LATER/test-old/playwright.config.ts
  __DELETE_LATER/test-old/setup.ts
  __DELETE_LATER/test-old/specification/validator.test.ts
  __DELETE_LATER/test-old/unit/sample.unit.test.ts
  __DELETE_LATER/tools/gitlab-ci-gitflow-test.yml
  __DELETE_LATER/tools/scripts/lint-openapi.mjs
  __DELETE_LATER/tools/scripts/lint-openapi.sh
  __DELETE_LATER/tools/scripts/render-openapi.mjs
  __DELETE_LATER/tools/scripts/render-openapi.sh
  docs/CLEANUP_REPORT.md
  docs/DOCUMENTATION_TAXONOMY.md
  docs/README.md
  docs/api/README.md
  docs/overview/README.md
  docs/specifications/README.md
  infrastructure/docker/docker-compose.openapi.yml
  infrastructure/docker/nginx-portal.conf
  infrastructure/orbstack/launch-api-portal.sh
  infrastructure/scripts/ossa-api
  scripts/docs-pipeline.sh
  scripts/docs-safe-reorg.sh
  scripts/generate-api-docs.sh
  scripts/organize-docs.sh
  scripts/standardize-all-projects.sh
Due: prettier

docs: transform README to enterprise-grade technical specification
  README.md
Due: none

fix: resolve SSH authentication in GitLab CI
  .gitlab/components/workflow/golden/template.yml
Due: prettier

ci: trigger pipeline for SSH authentication fix
  .gitlab-ci-trigger
Due: none

ci: add fix/* branches to workflow rules
  .gitlab-ci.yml
Due: none

fix: restore all CI stages and jobs
  .gitlab-ci.yml
Due: none

fix: complete SSH authentication restoration with libcrypto fixes
  .gitlab-ci-trigger
  .gitlab-ci.yml
  .gitlab/components/workflow/golden/template.yml
Due: prettier

fix: comprehensive SSH authentication with multiple key type support
  .gitlab/components/workflow/golden/template.yml
Due: prettier

fix: resolve Alpine SSH authentication with OpenSSL support
  .gitlab/components/workflow/golden/template.yml
Due: prettier

fix: repair CI pipeline with proper OSSA commands
  .gitlab-ci.yml
  .gitlab/templates/workflow/golden/template.yml
  package.json
Due: prettier

fix: disable golden template include to fix CI job conflicts
  .gitlab-ci.yml
  package.json
Due: none

fix: golden template is a GitLab component, not a regular include
  .gitlab-ci.yml
Due: none

feat: add missing OpenAPI specifications for all agents
  .agents/critics/code-reviewer/openapi.yaml
  .agents/integrators/api-connector/openapi.yaml
  .agents/integrators/communication-multiprotocol/openapi.yaml
  .agents/integrators/mcp-enhanced/openapi.yaml
  .agents/judges/quality-assessor/openapi.yaml
  .agents/monitors/system-monitor/openapi.yaml
  .agents/orchestrators/example-orchestrator/openapi.yaml
  .agents/workers/analytics-agent/openapi.yaml
  .agents/workers/data-agent/openapi.yaml
  .agents/workers/security-agent/openapi.yaml
  .agents/workers/task-heavy/openapi.yaml
Due: prettier

fix: Update GitLab CI configuration
  .gitlab-ci.yml
Due: none

fix: add core-js dependency to resolve CI pipeline failure
  package-lock.json
  package.json
Due: none

test: verify CI can create tags
  .gitlab-ci-test.txt
Due: none

fix: add token authentication for CI tag pushing
  .gitlab-ci.yml
Due: none

feat: create multiple environment tags in CI
  .gitlab-ci.yml
Due: none

feat: implement OSSA taxonomy tools and documentation
  docs/CAPABILITY-MATRIX.md
  docs/OSSA-TAXONOMY.md
  docs/capability-matrix.html
  docs/capability-matrix.json
  scripts/generate-capability-matrix.cjs
  scripts/migrate-agents.cjs
  src/validators/ossa-compliance.ts
Due: eslint, prettier

feat: add OSSA management API and migration scripts
  OSSA-MIGRATION-SUMMARY.md
  agent_compliance_audit.sh
  ossa-migration-report.json
  ossa-validation-report.json
  scripts/backup-agents.cjs
  scripts/clean-ossa-structure.sh
  scripts/generate-capability-matrix.cjs
  scripts/migrate-agents.cjs
  scripts/multi-repo-ossa-migration.cjs
  scripts/validate-migration.cjs
  src/api/ossa-audit.openapi.yml
  src/api/ossa-management.openapi.yml
  src/services/ossa-management.service.ts
  src/validators/ossa-compliance.ts
Due: eslint, prettier

feat: add OSSA audit CLI command with OpenAPI-first architecture
  package-lock.json
  package.json
  src/cli/commands/audit.ts
Due: eslint, prettier

feat: implement OSSA-BuildKit roadmap integration bridge
  .gitlab-ci.yml
  OSSA-MIGRATION-SUMMARY.md
  package.json
  packages/ossa-roadmap-bridge/package.json
  packages/ossa-roadmap-bridge/src/index.ts
  packages/ossa-specification/schemas/roadmap.schema.json
  packages/ossa-specification/schemas/v1.0/agent-manifest.schema.json
Due: prettier

fix: replace GitLab CI with comprehensive OSSA pipeline
  .gitlab-ci-old.yml
  .gitlab-ci.yml
Due: none

chore: clean up unused GitLab CI files
  .gitlab-ci-old.yml
  .gitlab-ci-ossa.yml
  .gitlab-ci-test.txt
  .gitlab-ci-trigger
Due: none

unfucked the build: fixed typescript duplicate ossa property and added test scripts
  README.md
  infrastructure/scripts/ossa
  package-lock.json
  packages/ossa-api/src/routes/agents.ts
  packages/ossa-api/src/services/agent-service.ts
  packages/ossa-roadmap-bridge/package.json
  packages/ossa-specification/package.json
  packages/ossa-specification/src/types/agent.ts
  packages/ossa-validator/package.json
  spec/schemas/agent-manifest.json
Due: prettier

fix: resolve CI pipeline dependency issues
  .gitlab-ci.yml
Due: none

fix: completely simplify CI to working baseline
  .gitlab-ci.yml
Due: none

fix: remove template include - use standalone CI
  .gitlab-ci.yml
Due: none

docs: update README to reflect OSSA as pure specification standard
  README.md
Due: none

feat: configure fast-forward merge strategy with merge train support
  .gitlab-ci.yml
  .gitlab/MERGE_WORKFLOW.md
  .gitlab/merge_request_settings.yml
Due: prettier

fix: update CI to use rules instead of only for proper pipeline triggering
  .gitlab-ci.yml
Due: none

Path conditions:
  eslint: any of: src/**/*.{js,ts,tsx}
  prettier: any of: **/*.{js,ts,tsx,json,md,scss,css,yaml,yml}
